# Dependency/Build Directories
node_modules
npm-debug.log
.npm

# Project Files
.git
.gitignore
.dockerignore
Dockerfile
fly.toml # Fly.io configuration file

# Environment/Configuration Files
.env
.DS_Store
*.log

# Development/Testing files and directories (adjust as needed)
test
tests
docs
coverage
tmp
*~
# Any files generated during development or testing, e.g.:
dist
build
