<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Expansion and Contraction
	  </h1>
      <p>
</p><p class="section-e"><b>7.3.3.9. Expansion and Contraction</b></p> <p class="subsection-e"><b>  (1) </b>The <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a> and <a href ="http://thehandyforce.com/insulation/" title ="Sprayfoam insulation in Toronto">installation</a> of every piping system shall, where necessary, include means to accommodate expansion and contraction of the piping system caused by <a href ="http://thehandyforce.com/insulation/" title ="Instulation Installtion in Toronto">temperature</a> change or <i><a href ="http://thehandyforce.com/electrical/" title ="Electricians in Toronto">building</a></i>shrinkage.</p> 
	  
      
	  
	  
	  
	  
    </div>