<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Indirect Connections
	  </h1>
      <p>
</p><p class="section-e"><b>7.3.3.11. Indirect Connections</b></p> <p class="subsection-e"><b>  (1) </b>Where a <i>fixture</i> or device is<i> indirectly connected</i>, the connections shall be made by terminating the <i>fixture drain</i> above the <i>flood level rim</i> of a <i>directly connected</i> <i>fixture</i> to form an <i>air break</i>.</p> <p class="subsection-e"><b>  (2) </b>The size of the <i>air break</i> shall be at least 25 mm.</p> 
	  
      
	  
	  
	  
	  
    </div>