<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Copper Joints Used Underground
	  </h1>
      <p>
</p><p class="section-e"><b>7.3.3.12. copper Joints Used Underground</b></p> <p class="subsection-e"><b>  (1) </b>Except as provided in Sentence (2), joints in copper tubes installed underground shall be,</p> <p class="clause-e">  (a) made with either flared or compression fittings, or</p> <p class="clause-e">  (b) brazed using a brazing alloy within the American Welding Society’s AWS-BCuP range.</p> <p class="subsection-e"><b>  (2) </b>Compression fittings shall not be used underground under a <i>building</i>.</p> <p class="ruleb-e">7.3.4. support of Piping</p> 
	  
      
	  
	  
	  
	  
    </div>