<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Capability of Support
	  </h1>
      <p>
</p><p class="section-e"><b>7.3.4.1. Capability of support</b></p> <p class="subsection-e"><b>  (1) </b>Piping shall be provided with support that is capable of keeping the pipe in alignment and bearing the weight of the pipe and its contents.</p> <p class="subsection-e"><b>  (2) </b>Every floor or wall mounted water closet bowl shall be securely attached to the floor or wall by means of a flange and shall be stable.</p> <p class="subsection-e"><b>  (3) </b>Every wall mounted <i>fixture</i> shall be supported so that no strain is transmitted to the piping.</p> 
	  
      
	  
	  
	  
	  
    </div>