<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Independence of Support
	  </h1>
      <p>
</p><p class="section-e"><b>7.3.4.2. Independence of <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a></b></p> <p class="subsection-e"><b>  (1) </b>Piping, <i>fixtures</i>, tanks or devices shall be <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>ed independently of each other.</p> 
	  
      
	  
	  
	  
	  
    </div>