<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Support for Vertical Piping
	  </h1>
      <p>
</p><p class="section-e"><b>7.3.4.4. <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a> for Vertical Piping</b></p> <p class="subsection-e"><b>  (1) </b>Except as provided in Sentence (2), vertical piping shall be <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>ed at its base and at the <a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a> level of alternate <i>storeys</i>by rests, each of which can bear the weight of <a href ="http://thehandyforce.com/plumbing/" title ="Plubing leak repair in Toronto">pipe</a> that is between it and the rest above it.</p> <p class="subsection-e"><b>  (2) </b>The maximum spacing of <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>s shall be 7.5 m.</p> 
	  
      
	  
	  
	  
	  
    </div>