<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Plumbing Fixtures and Bathrooms Finishes
	  </h1>
      <p>
</p><p class="section-e"><b>3.1.13.3. Plumbing Fixtures and Bathrooms Finishes</b></p> <p class="subsection-e"><b>  (1) </b>The <i>flame-spread rating</i> of interior wall and ceiling finishes for a bathroom in a <i>suite</i> of <i>residential occupancy</i> shall be not more than 200.</p> <p class="subsection-e"><b>  (2) </b><i>Plumbing fixtures</i> shall have a <i>flame-spread rating</i> not more than 200.</p> 
	  
      
	  
	  
	  
	  
    </div>