<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Compression Fittings
	  </h1>
      <p>
</p><p class="section-e"><b>7.3.4.8. Compression Fittings</b></p> <p class="subsection-e"><b>  (1) </b>No compression fitting connecting to plain end pipe or tube shall be used in a <i>plumbing system</i> unless the pipe or tube and fittings are sufficiently stayed, clamped, anchored or buttressed so as to prevent separation during normal service of the system allowing for surge pressures.</p> 
	  
      
	  
	  
	  
	  
    </div>