<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Backfill of Pipe Trench
	  </h1>
      <p>
</p><p class="section-e"><b>7.3.5.1. Backfill of <a href ="http://thehandyforce.com/plumbing/" title ="Plubing leak repair in Toronto">pipe</a> Trench</b></p> <p class="subsection-e"><b>  (1) </b>Where piping is installed underground, the backfill shall be carefully placed and tamped to a height of 300 mm over the top of the <a href ="http://thehandyforce.com/plumbing/" title ="Plubing leak repair in Toronto">pipe</a> and shall be free of <a href ="http://thehandyforce.com/interlock/" title ="Interlock Brick Layer in Toronto">stone</a>s, boulders, cinders and frozen earth.</p> 
	  
      
	  
	  
	  
	  
    </div>