<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Isolation from Loads
	  </h1>
      <p>
</p><p class="section-e"><b>7.3.5.3. Isolation from Loads</b></p> <p class="subsection-e"><b>  (1) </b>Where piping passes through or under a <a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a>, it shall be installed so that the <a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a> does not bear on the <a href ="http://thehandyforce.com/plumbing/" title ="Plubing leak repair in Toronto">pipe</a>.</p> 
	  
      
	  
	  
	  
	  
    </div>