<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Protection from Condensation
	  </h1>
      <p>
</p><p class="section-e"><b>7.3.5.6. Protection from Condensation</b></p> <p class="subsection-e"><b>  (1) </b>Piping used for internal <i>leaders</i>, which may be subject to condensation, shall be installed in a manner that limits the risk of damage to the <i><a href ="http://thehandyforce.com/exterior/" title ="Certified home renovator">building</a> </i>due to condensation.</p> 
	  
      
	  
	  
	  
	  
    </div>