<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Tests of Pipes in Drainage Systems
	  </h1>
      <p>
</p><p class="section-e"><b>7.3.6.2. Tests of <a href ="http://thehandyforce.com/plumbing/" title ="Plubing leak repair in Toronto">pipe</a>s in <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Professional East York Basement Renvator">drainage</a> Systems</b></p> <p class="subsection-e"><b>  (1) </b>Every <a href ="http://thehandyforce.com/plumbing/" title ="Plubing leak repair in Toronto">pipe</a> in a <i><a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Professional East York Basement Renvator">drainage</a> system</i>, except an external <i>leader</i> or <i>fixture <a href ="http://thehandyforce.com/electrical/" title ="Handyman electrial">outlet</a> pipe</i>, shall be capable of withstanding without leakage a <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> test, air test and final test.</p> 
	  
      
	  
	  
	  
	  
    </div>