<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Tests of Venting Systems
	  </h1>
      <p>
</p><p class="section-e"><b>7.3.6.3. Tests of <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Best Bathroom Renovations in Toronto">venting</a> ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renovation inspiration">venting Systems</b></p> <p class="subsection-e"><b>  (1) </b>Every <i><a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Best Bathroom Renovations in Toronto">venting</a> ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renovation inspiration">venting system</i> shall be capable of withstanding without leakage a <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> test, air test and final test.</p> 
	  
      
	  
	  
	  
	  
    </div>