<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Water Tests in Drain, Waste and Vent Systems
	  </h1>
      <p>
</p><p class="section-e"><b>7.3.6.4. water Tests in Drain, Waste and vent Systems</b></p> <p class="subsection-e"><b>  (1) </b>Where a water test is made, all joints shall be tested with a water column of not less than 3 m.</p> <p class="subsection-e"><b>  (2) </b>In making a water test,</p> <p class="clause-e">  (a) every opening except the highest shall be tightly closed with a testing plug or a test cap, and</p> <p class="clause-e">  (b) the system or the section shall be kept filled with water for 15 min.</p> 
	  
      
	  
	  
	  
	  
    </div>