<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Air Tests
	  </h1>
      <p>
</p><p class="section-e"><b>7.3.6.5. Air Tests</b></p> <p class="subsection-e"><b>  (1) </b>Where an air test is made, it shall be conducted in accordance with the manufacturer’s instructions for the piping materials, and,</p> <p class="clause-e">  (a) air shall be forced into the system until a gauge pressure of 35 kPa is created, and</p> <p class="clause-e">  (b) this pressure shall be maintained for at least 15 min without a drop in pressure.</p> 
	  
      
	  
	  
	  
	  
    </div>