<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Ball Tests
	  </h1>
      <p>
</p><p class="section-e"><b>7.3.6.7. Ball Tests</b></p> <p class="subsection-e"><b>  (1) </b>Where a ball test is made, a hard ball dense enough not to float shall be rolled through the pipe.</p> <p class="subsection-e"><b>  (2) </b>The diameter of the ball shall be not less than 50 mm where the <i>size</i> of the pipe is 4 in. or more.</p> <p class="ruleb-e">7.3.7. Testing of Potable water Systems</p> 
	  
      
	  
	  
	  
	  
    </div>