<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Water Tests
	  </h1>
      <p>
</p><p class="section-e"><b>7.3.7.3. water Tests</b></p> <p class="subsection-e"><b>  (1) </b>Where a water test is made, all air shall be expelled from the system before <i>fixture</i> control valves or faucets are closed.</p> <p class="subsection-e"><b>  (2) </b><i>Potable</i> water shall be used to test a <i>potable</i> <i>water system</i>.</p> <p class="ruleb-e">Section 7.4. drainage Systems</p> <p class="ruleb-e">7.4.1. application</p> 
	  
      
	  
	  
	  
	  
    </div>