<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Application of Drainage Systems
	  </h1>
      <p>
</p><p class="section-e"><b>7.4.1.1. <a href ="http://thehandyforce.com/businesses/" title ="Business Services in Toronto">application</a> of Drainage Systems</b></p> <p class="subsection-e"><b>  (1) </b>This Section applies to <i><a href ="http://thehandyforce.com/plumbing/" title ="East York Plumbing Repairs">sanitary</a> drainage systems</i> and <i>storm <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Professional East York Basement Renvator">drainage</a> systems</i>.</p> <p class="ruleb-e">7.4.2. Connections to <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Professional East York Basement Renvator">drainage</a> Systems</p> 
	  
      
	  
	  
	  
	  
    </div>