<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Plumbing Fixtures
	  </h1>
      <p>
</p><p class="section-e"><b>7.4.3.1. Plumbing Fixtures</b></p> <p class="subsection-e"><b>  (1) </b><i><a href ="http://thehandyforce.com/plumbing/" title ="East York Plumbing Repairs">sanitary</a> units</i>, bathtubs and <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Quality Bathroom Renovator in Toronto">shower</a> baths shall not be installed adjacent to <a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a> and <a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a> <a href ="http://thehandyforce.com/tiling/" title ="Professional Tile installer in Toronto">surface</a>s that are pervious to <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a>.</p> 
	  
      
	  
	  
	  
	  
    </div>