<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Equipment Restrictions Upstream of Interceptors
	  </h1>
      <p>
</p><p class="section-e"><b>7.4.3.3. Equipment Restrictions Upstream of Interceptors</b></p> <p class="subsection-e"><b>  (1) </b>Except as provided in Sentence (2), equipment discharging waste with organic solids shall not be located upstream of an <i>interceptor</i>.</p> <p class="subsection-e"><b>  (2) </b>If a food scrap <i>interceptor</i> has been installed upstream of the grease <i>interceptor</i>, equipment discharging waste with organic solids may discharge through a grease <i>interceptor</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>