<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Fixtures Located in Chemical Storage Locations
	  </h1>
      <p>
</p><p class="section-e"><b>7.4.3.4. Fixtures Located in Chemical Storage Locations</b></p> <p class="subsection-e"><b>  (1) </b>A <a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a> drain or other <i>fixture</i> located in an oil transformer vault, a high voltage room or any room where flammable, dangerous or toxic chemicals are stored or handled shall not be connected to a <i><a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Professional East York Basement Renvator">drainage</a> system</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>