<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Macerating Toilet System
	  </h1>
      <p>
</p><p class="section-e"><b>7.4.3.5. Macerating Toilet System</b></p> <p class="subsection-e"><b>  (1) </b>A maceration toilet system shall only be installed,</p> <p class="clause-e">  (a) where no connection to a gravity <i><a href ="http://thehandyforce.com/plumbing/" title ="East York Plumbing Repairs">sanitary</a> drainage system </i>is available, and</p> <p class="clause-e">  (b) in accordance with the manufacturer’s instructions.</p> 
	  
      
	  
	  
	  
	  
    </div>