<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Drains Serving Elevator Pits
	  </h1>
      <p>
</p><p class="section-e"><b>7.4.3.6. Drains Serving Elevator Pits</b></p> <p class="subsection-e"><b>  (1) </b>If a <a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a> drain is provided in an elevator pit, it shall be installed in accordance with Section 2.2. of ASME A17.1 / CSA B44, "Safety Code for Elevators and Escalators".</p> <p class="ruleb-e">7.4.4. Treatment of Sewage and Wastes</p> 
	  
      
	  
	  
	  
	  
    </div>