<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Sewage Treatment
	  </h1>
      <p>
</p><p class="section-e"><b>7.4.4.1. Sewage Treatment</b></p> <p class="subsection-e"><b>  (1) </b>Where a <i>fixture</i> or equipment discharges <i>sewage</i> or waste that may damage or impair the <i><a href ="http://thehandyforce.com/plumbing/" title ="East York Plumbing Repairs">sanitary</a> drainage system</i> or the functioning of a <i><a href ="http://thehandyforce.com/plumbing/" title ="East York Plumbing Repairs">sanitary</a> sewage</i> works or <i><a href ="http://thehandyforce.com/plumbing/" title ="East York Plumbing Repairs">sanitary</a> sewage</i> system, provision shall be made for treatment of the <i>sewage</i> or waste before it is discharged to the <i><a href ="http://thehandyforce.com/plumbing/" title ="East York Plumbing Repairs">sanitary</a> drainage system</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>