<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Protection for Drainage System
	  </h1>
      <p>
</p><p class="section-e"><b>7.4.4.2. Protection for drainage System</b></p> <p class="subsection-e"><b>  (1) </b>Where a <i>fixture</i> discharges <i>sewage</i> or <i>clear water waste</i>that has been heated, the <i>drainage system</i> shall be suitable for the temperature of the <i>sewage</i> or <i>clear water waste</i> being discharged.</p> 
	  
      
	  
	  
	  
	  
    </div>