<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Protection for Drainage System
	  </h1>
      <p>
</p><p class="section-e"><b>7.4.4.2. Protection for <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Professional East York Basement Renvator">drainage</a> System</b></p> <p class="subsection-e"><b>  (1) </b>Where a <i>fixture</i> discharges <i>sewage</i> or <i>clear <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> waste</i>that has been heated, the <i><a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Professional East York Basement Renvator">drainage</a> system</i> shall be suitable for the <a href ="http://thehandyforce.com/insulation/" title ="Instulation Installtion in Toronto">temperature</a> of the <i>sewage</i> or <i>clear <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> waste</i> being discharged.</p> 
	  
      
	  
	  
	  
	  
    </div>