<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Neutralizing and Dilution Tanks
	  </h1>
      <p>
</p><p class="section-e"><b>7.4.4.4. Neutralizing and Dilution Tanks</b></p> <p class="subsection-e"><b>  (1) </b>Where a <i>fixture</i> or equipment discharges corrosive or acid waste, it shall discharge into a neutralizing or diluting tank that is connected to the <i>sanitary drainage system</i>through,</p> <p class="clause-e">  (a) a <i>trap</i>, or</p> <p class="clause-e">  (b)<i>  indirect connection</i>.</p> <p class="subsection-e"><b>  (2) </b>Each neutralizing or diluting tank shall have a method for neutralizing the liquid.</p> <p class="ruleb-e">7.4.5. Traps</p> 
	  
      
	  
	  
	  
	  
    </div>