<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Traps for Storm Drainage Systems
	  </h1>
      <p>
</p><p class="section-e"><b>7.4.5.2. Traps for Storm drainage Systems</b></p> <p class="subsection-e"><b>  (1) </b>Where a <i>storm drainage system</i> is connected to a public combined sewer, a <i>trap</i> shall be installed between any opening in the system and the drain or sewer, except that no <i>trap</i> is required if the opening is the upper end of a <i>leader</i> that terminates,</p> <p class="clause-e">  (a) at a roof that is used only for weather protection,</p> <p class="clause-e">  (b) not less than 1 000 mm above or not less than 3.5 m in any other direction from any air inlet, openable window or door, and</p> <p class="clause-e">  (c) not less than 1 800 mm from a property line.</p> 
	  
      
	  
	  
	  
	  
    </div>