<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Connection of Subsoil Drainage Pipe to a Sanitary Drainage System
	  </h1>
      <p>
</p><p class="section-e"><b>7.4.5.3. Connection of Subsoil drainage Pipe to a sanitary Drainage System</b></p> <p class="subsection-e"><b>  (1) </b>Except as permitted in Sentence (2), no foundation drain or <i>subsoil drainage pipe</i> shall connect to a <i>sanitary drainage system</i>.</p> <p class="subsection-e"><b>  (2) </b>Where a <i>storm drainage system</i> is not available or <i>soil</i> conditions prevent drainage to a culvert or dry well, a foundation drain or <i>subsoil drainage pipe</i> may connect to a <i>sanitary drainage system</i>.</p> <p class="subsection-e"><b>  (3) </b>Where a <i>subsoil drainage pipe</i> may be connected to a <i>sanitary drainage system</i>, the connection shall be made on the upstream side of a <i>trap</i>with a <i>cleanout</i> or a trapped sump.</p> 
	  
      
	  
	  
	  
	  
    </div>