<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Location and Cleanout for Building Traps
	  </h1>
      <p>
</p><p class="section-e"><b>7.4.5.4. Location and Cleanout for building Traps</b></p> <p class="subsection-e"><b>  (1) </b>Where a <i>building</i> <i>trap</i>is installed, it shall,</p> <p class="clause-e">  (a) be provided with a <i>cleanout</i> fitting on the upstream side of and directly over the <i>trap</i>,</p> <p class="clause-e">  (b) be located upstream of the <i>building</i> <i>cleanout</i>, and</p> <p class="clause-e">  (c) be located,</p> <p class="subclause-e">  (i) inside the <i>building</i> as close as practical to the place where the <i>building drain</i> leaves the <i>building</i>, or</p> <p class="subclause-e">  (ii) outside the <i>building</i> in a manhole.</p> 
	  
      
	  
	  
	  
	  
    </div>