<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Trap Seals
	  </h1>
      <p>
</p><p class="section-e"><b>7.4.5.5. Trap Seals</b></p> <p class="subsection-e"><b>  (1) </b>Provision shall be made for maintaining the <i>trap</i>seal of a floor drain or a <i>hub drain</i> by the use of a <i>trap</i> seal primer, by using the drain as a receptacle for an <i>indirectly connected</i> drinking fountain, or by equally effective means.</p> <p class="subsection-e"><b>  (2) </b>Where a mechanical device is installed to furnish water to a <i>trap</i>, the pipe or tube conveying water from the device to the <i>trap</i> shall be at least ⅜ in. inside diameter.</p> <p class="ruleb-e">7.4.6. Arrangement of drainage Piping</p> 
	  
      
	  
	  
	  
	  
    </div>