<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Separate Systems
	  </h1>
      <p>
</p><p class="section-e"><b>7.4.6.1. Separate Systems</b></p> <p class="subsection-e"><b>  (1) </b>No vertical <i><a href ="http://thehandyforce.com/decks/" title ="Deck builder in Toronto">soil</a></i> or <i>waste <a href ="http://thehandyforce.com/plumbing/" title ="Plubing leak repair in Toronto">pipe</a></i> shall conduct both <i><a href ="http://thehandyforce.com/plumbing/" title ="East York Plumbing Repairs">sanitary</a> sewage</i> and <i>storm</i> <i>sewage</i>.</p> <p class="subsection-e"><b>  (2) </b>There shall be no unused open ends in a <i><a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Professional East York Basement Renvator">drainage</a> system</i> and <i>dead ends</i> shall be so graded that <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> will not collect in them.</p> 
	  
      
	  
	  
	  
	  
    </div>