<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Separate Systems
	  </h1>
      <p>
</p><p class="section-e"><b>7.4.6.1. Separate Systems</b></p> <p class="subsection-e"><b>  (1) </b>No vertical <i>soil</i> or <i>waste pipe</i> shall conduct both <i>sanitary sewage</i> and <i>storm</i> <i>sewage</i>.</p> <p class="subsection-e"><b>  (2) </b>There shall be no unused open ends in a <i>drainage system</i> and <i>dead ends</i> shall be so graded that water will not collect in them.</p> 
	  
      
	  
	  
	  
	  
    </div>