<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Location of Soil or Waste Pipes
	  </h1>
      <p>
</p><p class="section-e"><b>7.4.6.2. Location of soil or Waste pipes</b></p> <p class="subsection-e"><b>  (1) </b>A <i>soil</i> or <i>waste pipe</i> shall not be located directly above,</p> <p class="clause-e">  (a) non-pressure <i>potable</i>water storage tanks,</p> <p class="clause-e">  (b) manholes in pressure <i>potable</i> water storage tanks, or</p> <p class="clause-e">  (c) food-handling or processing equipment.</p> 
	  
      
	  
	  
	  
	  
    </div>