<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Building Drain Ends
	  </h1>
      <p>
</p><p class="section-e"><b>7.4.6.6. <a href ="http://thehandyforce.com/interior/basement-renovations/" title ="East York Basement Renovations">building</a> Drain Ends</b></p> <p class="subsection-e"><b>  (1) </b>Where a <i>building drain</i> enters a <i>building</i> above the elevation of the bottom of the wall of a <i>building</i>, the <i>building drain</i>may be deemed to terminate at the first point that the drainage pipe changes direction from the horizontal to the vertical.</p> <p class="ruleb-e">7.4.7. Cleanouts</p> 
	  
      
	  
	  
	  
	  
    </div>