<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Minimum Slope
	  </h1>
      <p>
</p><p class="section-e"><b>7.4.8.1. Minimum Slope</b></p> <p class="subsection-e"><b>  (1) </b>Except as provided in Sentences (2) and (3), every <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Professional East York Basement Renvator">drainage</a> pipe that has a <i>size</i> of 3 in. or less shall have a downward slope in the direction of flow of at least 1 in 50.</p> <p class="subsection-e"><b>  (2) </b>Sentence (1) does not apply to a <i>force main</i>.</p> <p class="subsection-e"><b>  (3) </b>Where it is not possible to comply with Sentence (1), a lesser slope may be used if it will produce a gravity flow of not less than 0.6 m per second.</p> 
	  
      
	  
	  
	  
	  
    </div>