<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Noncombustible Construction
	  </h1>
      <p>
</p><p class="section-e"><b>3.1.13.8. Noncombustible Construction</b></p> <p class="subsection-e"><b>  (1) </b>In a <i>building</i> required to be of <i>noncombustible construction</i>,</p> <p class="clause-e">  (a) the <i>flame-spread ratings</i> required by Subsection 3.1.5. shall apply in addition to the requirements in this Subsection, and</p> <p class="clause-e">  (b) the <i>flame-spread ratings</i> for <i>exits</i> in this Subsection shall also apply to any surface in the <i>exit</i> that would be exposed by cutting through the material in any direction, except that this requirement does not apply to doors, <i>heavy timber construction</i> in a <i>sprinklered building</i> and <i>fire-retardant treated wood</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>