<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Serving Water Closets
	  </h1>
      <p>
</p><p class="section-e"><b>7.4.9.2. Serving water Closets</b></p> <p class="subsection-e"><b>  (1) </b>The <i>size</i> of every drainage pipe that serves a water closet shall be at least 3 in.</p> <p class="subsection-e"><b>  (2) </b>The <i>size</i> of every horizontal drainage pipe downstream of the third water closet <i>fixture drain</i>connection shall be at least 4 in.</p> <p class="subsection-e"><b>  (3) </b>The <i>size</i> of every <i>soil</i><i>stack</i> that serves more than six water closets shall be at least 4 in.</p> <p class="subsection-e"><b>  (4) </b>The <i>size</i> of the discharge pipe serving a macerating toilet system shall be at least ¾ in.</p> <p class="subsection-e"><b>  (5) </b>No <i>vertical leg</i> of the drainage pipe from a water closet or other <i>fixture</i> that has an integral siphonic flushing action shall exceed 1 000 mm.</p> 
	  
      
	  
	  
	  
	  
    </div>