<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Minimum Size of Building Drains and Sewers
	  </h1>
      <p>
</p><p class="section-e"><b>7.4.9.4. Minimum Size of <a href ="http://thehandyforce.com/electrical/" title ="Electricians in East York">building</a> Drains and Sewers</b></p> <p class="subsection-e"><b>  (1) </b>Every <i><a href ="http://thehandyforce.com/plumbing/" title ="East York Plumbing Repairs">sanitary</a> building drain</i> and every <i><a href ="http://thehandyforce.com/plumbing/" title ="East York Plumbing Repairs">sanitary</a> building sewer</i> shall be at least 4 in. in <i>size</i>.</p> <p class="subsection-e"><b>  (2) </b>Every <i>storm building drain</i> and every <i>storm building sewer</i> shall be at least 4 in. in <i>size</i>.</p> <p class="ruleb-e">7.4.10. Hydraulic Loads</p> 
	  
      
	  
	  
	  
	  
    </div>