<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Total Load on a Pipe
	  </h1>
      <p>
</p><p class="section-e"><b>7.4.10.1. Total Load on a pipe</b></p> <p class="subsection-e"><b>  (1) </b>The hydraulic load on a pipe is the total load from,</p> <p class="clause-e">  (a) every <i>fixture</i>that is connected to the system upstream of the pipe,</p> <p class="clause-e">  (b) every <i>fixture</i>for which provision is made for future connection upstream of the pipe, and</p> <p class="clause-e">  (c) all roofs and paved surfaces that drain into the system upstream of the pipe.</p> 
	  
      
	  
	  
	  
	  
    </div>