<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Stack Vents
	  </h1>
      <p>
</p><p class="section-e"><b>7.5.4.1. Stack vents</b></p> <p class="subsection-e"><b>  (1) </b>The upper end of every <i>soil</i> or <i>waste stack</i> shall terminate in a <i>stack vent</i> and the <i>stack vent</i> shall terminate in <i>open air</i> outside the <i>building,</i>or connect directly or through a <i>header</i> to another <i>stack vent</i> or <i>vent stack</i> that does terminate in <i>open air</i> outside the <i>building</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>