<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Offset Relief Vents
	  </h1>
      <p>
</p><p class="section-e"><b>7.5.4.4. Offset Relief vents</b></p> <p class="subsection-e"><b>  (1) </b>A <i>soil</i> or <i>waste stack </i>that has a <i>nominally horizontal offset </i>more than 1 500 mm long and above which the upper vertical portion of the stack passes through more than 2 <i>storeys</i> and receives a hydraulic load of more than 100 <i>fixture units </i>shall be vented by an <i>offset relief vent </i>connected to the vertical section immediately above the <i>offset</i>, and by another <i>offset relief vent</i><i>,</i></p> <p class="clause-e">  (a) connected to the lower vertical section at or above the highest <i>soil </i>or <i>waste pipe </i>connection, or</p> <p class="clause-e">  (b) extended as a vertical continuation of the lower section.</p> 
	  
      
	  
	  
	  
	  
    </div>