<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Fixtures Draining into Vent Pipes
	  </h1>
      <p>
</p><p class="section-e"><b>7.5.4.5. Fixtures Draining into vent pipes</b></p> <p class="subsection-e"><b>  (1) </b>The <i>trap arm </i>of a <i>fixture</i>that has a hydraulic load of not more than 1 ½ <i>fixture units </i>may be connected to the vertical section of a <i>circuit vent</i>, <i>additional circuit vent</i>, <i>offset relief vent</i> or<i> yoke vent</i>, provided that,</p> <p class="clause-e">  (a) not more than two <i>fixtures</i> are connected to the <i>vent pipe</i>,</p> <p class="clause-e">  (b) where two <i>fixtures</i>are connected to the <i>vent pipe</i>, the connection is by means of a double fitting, in accordance with Table 7.2.4.5., and</p> <p class="clause-e">  (c) the section of the <i>vent pipe </i>that acts as a <i>wet vent </i>conforms to the requirements regarding <i>wet vents</i>.</p> <p class="ruleb-e">7.5.5. Miscellaneous vent Pipes</p> 
	  
      
	  
	  
	  
	  
    </div>