<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Venting of Sanitary Sewage Sumps
	  </h1>
      <p>
</p><p class="section-e"><b>7.5.5.1. <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Best Bathroom Renovations in Toronto">venting</a> ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renovation inspiration">venting of <a href ="http://thehandyforce.com/plumbing/" title ="East York Plumbing Repairs">sanitary</a> Sewage Sumps</b></p> <p class="subsection-e"><b>  (1) </b>Every sump or tank that receives <i><a href ="http://thehandyforce.com/plumbing/" title ="East York Plumbing Repairs">sanitary</a> sewage</i> shall be provided with a <i><a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renovation inspiration">vent</a> <a href ="http://thehandyforce.com/plumbing/" title ="Plubing leak repair in Toronto">pipe</a></i>that is connected to the top of the sump or tank.</p> 
	  
      
	  
	  
	  
	  
    </div>