<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Venting of Corrosive Drain Piping and Dilution Tanks
	  </h1>
      <p>
</p><p class="section-e"><b>7.5.5.3. <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Best Bathroom Renovations in Toronto">venting</a> ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renovation inspiration">venting of Corrosive Drain Piping and Dilution Tanks</b></p> <p class="subsection-e"><b>  (1) </b><i><a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Best Bathroom Renovations in Toronto">venting</a> ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renovation inspiration">venting systems</i>for drain piping or dilution tanks conveying corrosive waste shall extend independently and terminate in <i>open air</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>