<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Vent Pipe Connections
	  </h1>
      <p>
</p><p class="section-e"><b>7.5.6.2. vent pipe Connections</b></p> <p class="subsection-e"><b>  (1) </b>Every <i>vent pipe</i> in a <i>plumbing system </i>shall be installed so as to be direct as possible to a <i>vent stack</i> or <i>open air</i>, as the case may be, and so that any horizontal run below the flood level of the <i>fixture</i> to which the <i>vent pipe</i> is installed is eliminated where structurally possible.</p> <p class="subsection-e"><b>  (2) </b>Except for <i>wet vents</i>, where a <i>vent pipe</i> is connected to a <i>nominally horizontal</i> <i>soil</i> or <i>waste pipe</i>, the connection shall be above the horizontal centre line of the <i>soil</i> or <i>waste pipe</i>.</p> <p class="subsection-e"><b>  (3) </b>Unused <i>vent pipes </i>installed for future connections shall be permanently capped with an end <i>cleanout</i>or an adapter and plug.</p> 
	  
      
	  
	  
	  
	  
    </div>