<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Elevator Cars
	  </h1>
      <p>
</p><p class="section-e"><b>3.1.13.11. Elevator Cars</b></p> <p class="subsection-e"><b>  (1) </b>The <a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a> and <a href ="http://thehandyforce.com/drywall/" title ="Drywall repair and installation in Toronto">ceiling</a> surfaces of elevator cars shall have a <i>flame-spread rating</i> not more than 75.</p> <p class="subsection-e"><b>  (2) </b>The <a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a>, <a href ="http://thehandyforce.com/drywall/" title ="Drywall repair and installation in Toronto">ceiling</a> and <a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a> <a href ="http://thehandyforce.com/tiling/" title ="Professional Tile installer in Toronto">surface</a>s of elevator cars shall have a smoke developed classification not more than 450.</p> <p class="ruleb-e">3.1.14. Roof Assemblies</p> 
	  
      
	  
	  
	  
	  
    </div>