<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Connection of Vents above Fixtures Served
	  </h1>
      <p>
</p><p class="section-e"><b>7.5.6.4. Connection of vents above Fixtures Served</b></p> <p class="subsection-e"><b>  (1) </b>Except for a <i>wet vent</i>, every <i>vent pipe </i>shall extend above the <i>flood level rim </i>of every <i>fixture </i>that it serves before being connected to another <i>vent pipe</i>.</p> <p class="subsection-e"><b>  (2) </b>No <i>vent pipe </i>shall be connected in such a manner that a blockage in a <i>soil</i> or <i>waste pipe </i>would cause waste to drain through the <i>vent pipe </i>to the <i>drainage system</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>