<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Additional Circuit Vents and Relief Vents
	  </h1>
      <p>
</p><p class="section-e"><b>7.5.7.3. Additional circuit Vents and Relief vents</b></p> <p class="subsection-e"><b>  (1) </b>Except as provided in Article 7.5.7.1. and in Sentence 7.5.3.1.(7), the minimum <i>size </i>of an <i>additional circuit vent </i>or <i>relief vent </i>installed in conjunction with a <i>circuit vent </i>is permitted to be one <i>size </i>smaller than the required <i>size </i>of the <i>circuit vent</i>, but need not be larger than 2 in.</p> <p class="subsection-e"><b>  (2) </b>The <i>size </i>of the <i>soil</i>or<i> waste pipe </i>acting as a <i>relief vent </i>in accordance with Sentence 7.5.3.1.(4) shall be in conformance with Table 7.4.10.6., 7.4.10.7. or 7.5.8.1. or Article 7.5.7.1., whichever <i>size </i>is the largest considering the hydraulic load drained into the <i>soil </i>or <i>waste pipe</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>