<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Offset Relief Vents
	  </h1>
      <p>
</p><p class="section-e"><b>7.5.7.4. Offset Relief <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renovation inspiration">vent</a>s</b></p> <p class="subsection-e"><b>  (1) </b>Except as provided in Article 7.5.7.1., the minimum <i>size </i>of an <i>offset relief <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renovation inspiration">vent</a></i>is permitted to be one <i>size </i>smaller than the <i>size </i>of the <i>stack <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renovation inspiration">vent</a></i>.</p> 
	  
      
	  
	  
	  
	  
    </div>