<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Yoke Vents
	  </h1>
      <p>
</p><p class="section-e"><b>7.5.7.5. Yoke <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renovation inspiration">vent</a>s</b></p> <p class="subsection-e"><b>  (1) </b><i>Yoke <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renovation inspiration">vent</a>s</i>required by Sentence 7.5.4.3.(1) are permitted to be one <i>size</i>smaller than the <i>size </i>of the smallest <a href ="http://thehandyforce.com/plumbing/" title ="Plubing leak repair in Toronto">pipe</a> to which they are connected.</p> 
	  
      
	  
	  
	  
	  
    </div>