<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Vent Pipes for Manholes
	  </h1>
      <p>
</p><p class="section-e"><b>7.5.7.6. <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renovation inspiration">vent</a> <a href ="http://thehandyforce.com/plumbing/" title ="Plubing leak repair in Toronto">pipe</a>s for Manholes</b></p> <p class="subsection-e"><b>  (1) </b>The minimum <i>size </i>of a <i><a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renovation inspiration">vent</a> <a href ="http://thehandyforce.com/plumbing/" title ="Plubing leak repair in Toronto">pipe</a> </i>that serves a manhole within a <i><a href ="http://thehandyforce.com/services/" title ="East York professional renovations">building</a> </i>shall be 2 in.</p> 
	  
      
	  
	  
	  
	  
    </div>