<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Vents for Sanitary Sewage Sumps or Tanks, Dilution Tanks and Macerating Toilet Systems
	  </h1>
      <p>
</p><p class="section-e"><b>7.5.7.7. vents for sanitary Sewage Sumps or Tanks, Dilution Tanks and Macerating Toilet Systems</b></p> <p class="subsection-e"><b>  (1) </b>Except as provided in Sentences (2) and (3), the minimum <i>size</i> of the <i>vent pipe</i> for a <i>sanitary sewage</i> sump or tank, or dilution tank shall be one <i>size </i>smaller than the <i>size</i>of the largest <i>branch</i> or <i>fixture drain </i>draining to the sump or tank.</p> <p class="subsection-e"><b>  (2) </b>The <i>size</i> of every <i>vent pipe </i>for a <i>sanitary sewage </i>sump or tank, or dilution tank shall be not less than 2 in., but need not be greater than 4 in.</p> <p class="subsection-e"><b>  (3) </b>The <i>size</i> of every <i>vent pipe </i>for a macerating toilet system with a sump or tank shall be not less than 1 ½ in.</p> <p class="ruleb-e">7.5.8. Sizing of vent pipes</p> 
	  
      
	  
	  
	  
	  
    </div>