<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Individual Vents and Dual Vents
	  </h1>
      <p>
</p><p class="section-e"><b>7.5.8.2. Individual vents and Dual vents</b></p> <p class="subsection-e"><b>  (1) </b>The <i>size </i>of <i>individual vents</i> and <i>dual vents </i>shall be determined using Table 7.5.7.1. according to the largest <i>trap</i>served.</p> <p class="subsection-e"><b>  (2) </b>When sizing an <i>individual vent </i>or a <i>dual vent</i>, the length is not taken into consideration.</p> 
	  
      
	  
	  
	  
	  
    </div>