<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Lengths for other Vent Pipes
	  </h1>
      <p>
</p><p class="section-e"><b>7.5.8.5. Lengths for other vent pipes</b></p> <p class="subsection-e"><b>  (1) </b>When sizing an <i>additional circuit vent</i>, <i>offset relief vent</i>, <i>relief vent</i>,<i>yoke vent </i>and the <i>vent pipe </i>for an <i>interceptor</i>, dilution tank, <i>sanitary sewage</i> tank or sump, or manhole, length is not taken into consideration.</p> <p class="ruleb-e">7.5.9. Air Admittance Valves</p> 
	  
      
	  
	  
	  
	  
    </div>