<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Design
	  </h1>
      <p>
</p><p class="section-e"><b>7.6.1.1. design</b></p> <p class="subsection-e"><b>  (1) </b>Every <i>fixture</i> supplied with separate hot and cold water controls shall have the hot water control on the left and the cold on the right.</p> <p class="subsection-e"><b>  (2) </b>Where hot and cold water are mixed and the temperature is regulated by a single, unmarked, manual control, a movement to the left shall increase the temperature and a movement to the right shall decrease the temperature.</p> <p class="subsection-e"><b>  (3) </b>In a hot <i>water distribution system</i> of a<i> developed length </i>of more than 30 m or supplying more than 4 <i>storeys</i>, the water temperature shall be maintained by,</p> <p class="clause-e">  (a) recirculation, or</p> <p class="clause-e">  (b) a self-regulating heat tracing system.</p> 
	  
      
	  
	  
	  
	  
    </div>