<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Shut-off Valves
	  </h1>
      <p>
</p><p class="section-e"><b>7.6.1.4. Shut-off Valves</b></p> <p class="subsection-e"><b>  (1) </b>Except for a single-family dwelling, every <i>riser</i>shall be provided with a shut-off valve at the source of supply.</p> <p class="Pnote-e">Note: On July 1, 2017, Sentence 7.6.1.4.(1) of Division B of the Regulation is amended by striking out "Except for a single-family dwelling" at the beginning and substituting "Except for a <i>house</i> containing not more than one <i>dwelling unit</i>". (See: O. Reg. 139/17, s. 55)</p> 
	  
      
	  
	  
	  
	  
    </div>