<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Water Closets
	  </h1>
      <p>
</p><p class="section-e"><b>7.6.1.5. <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> Closets</b></p> <p class="subsection-e"><b>  (1) </b>Every <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> closet shall be provided with a shut-off valve on its <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> supply <a href ="http://thehandyforce.com/plumbing/" title ="Plubing leak repair in Toronto">pipe</a>.</p> 
	  
      
	  
	  
	  
	  
    </div>