<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Suites
	  </h1>
      <p>
</p><p class="section-e"><b>7.6.1.6. Suites</b></p> <p class="subsection-e"><b>  (1) </b>Shut-off valves shall be installed in every <i>suite</i>in a <i><a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="East York Bathroom Renovation">building</a></i> of <i><a href ="http://thehandyforce.com/insulation/" title ="East York Home Energy Efficiency">residential</a> occupancy</i> as may be necessary to ensure that when the supply to one <i>suite</i> is shut off the supply to the remainder of the <i>building</i> is not interrupted.</p> 
	  
      
	  
	  
	  
	  
    </div>