<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Public Washrooms
	  </h1>
      <p>
</p><p class="section-e"><b>7.6.1.7. Public <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Handyman Bathroom Toronto">washroom</a>s</b></p> <p class="subsection-e"><b>  (1) </b>The <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> supply to each <i>fixture</i> in a <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Handyman Bathroom Toronto">washroom</a> for <i>public use</i> shall be individually valved and each valve shall be <i>accessible</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>