<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Tanks
	  </h1>
      <p>
</p><p class="section-e"><b>7.6.1.8. Tanks</b></p> <p class="subsection-e"><b>  (1) </b>Every water pipe that supplies a hot water tank, pressure vessel, <i>plumbing</i> <i>appliance</i> or water using device shall be provided with a shut-off valve located close to the tank, pressure vessel, <i>plumbing appliance</i> or water using device.</p> 
	  
      
	  
	  
	  
	  
    </div>