<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Tanks
	  </h1>
      <p>
</p><p class="section-e"><b>7.6.1.8. Tanks</b></p> <p class="subsection-e"><b>  (1) </b>Every <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> <a href ="http://thehandyforce.com/plumbing/" title ="Plubing leak repair in Toronto">pipe</a> that supplies a hot <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> tank, <a href ="http://thehandyforce.com/plumbing/" title ="Increase water pressure with a Toronto Plumber">pressure</a> vessel, <i>plumbing</i> <i>appliance</i> or <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> using device shall be provided with a shut-off valve located close to the tank, <a href ="http://thehandyforce.com/plumbing/" title ="Increase water pressure with a Toronto Plumber">pressure</a> vessel, <i>plumbing appliance</i> or <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> using device.</p> 
	  
      
	  
	  
	  
	  
    </div>