<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Protection for Exterior Water Supply
	  </h1>
      <p>
</p><p class="section-e"><b>7.6.1.9. Protection for exterior Water Supply</b></p> <p class="subsection-e"><b>  (1) </b>Every pipe that passes through an exterior wall to supply water to the exterior of the <i>building</i> shall be provided with,</p> <p class="clause-e">  (a) a frost-proof hydrant with a separate shut-off valve located inside the <i>building</i>, or</p> <p class="clause-e">  (b) a stop-and-waste cock located inside the <i>building</i> and close to the wall.</p> 
	  
      
	  
	  
	  
	  
    </div>