<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Check Valves
	  </h1>
      <p>
</p><p class="section-e"><b>7.6.1.10. Check Valves</b></p> <p class="subsection-e"><b>  (1) </b>A <i>check valve</i> shall be installed at the <i><a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Home waterproofing in East York">building</a></i> end of the <i><a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> <a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">service</a> pipe</i> where the <a href ="http://thehandyforce.com/plumbing/" title ="Plubing leak repair in Toronto">pipe</a> is made of plastic that is suitable for cold <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> use only.</p> 
	  
      
	  
	  
	  
	  
    </div>