<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Flushing Devices
	  </h1>
      <p>
</p><p class="section-e"><b>7.6.1.11. flushing Devices</b></p> <p class="subsection-e"><b>  (1) </b>Every flushing device that serves a water closet or one or more urinals shall have sufficient capacity and be adjusted to deliver at each operation a volume of water that will thoroughly flush the <i>fixture</i> or <i>fixtures</i> that it serves.</p> <p class="subsection-e"><b>  (2) </b>Where a manually operated flushing device is installed, it shall serve only one <i>fixture</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>