<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Solar Domestic Hot Water Systems
	  </h1>
      <p>
</p><p class="section-e"><b>7.6.1.13. Solar Domestic Hot water Systems</b></p> <p class="subsection-e"><b>  (1) </b>Except as provided in Sentence (2), a system for solar heating of <i>potable</i> water shall be installed in accordance with good engineering practice.</p> <p class="subsection-e">  <b>(2) </b>Packaged systems for solar heating of <i>potable</i> water in <i>residential occupancies</i> shall be installed in conformance with CAN/CSA-F383, "installation of Packaged Solar Domestic Hot water Systems".</p> 
	  
      
	  
	  
	  
	  
    </div>