<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Water Hammer
	  </h1>
      <p>
</p><p class="section-e"><b>7.6.1.14. <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> Hammer</b></p> <p class="subsection-e"><b>  (1) </b>Provision shall be made to protect the <i><a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> distribution system</i> from the adverse effects of <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> hammer.</p> 
	  
      
	  
	  
	  
	  
    </div>