<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Thermal Expansion
	  </h1>
      <p>
</p><p class="section-e"><b>7.6.1.16. Thermal Expansion</b></p> <p class="subsection-e"><b>  (1) </b>Protection against thermal expansion shall be required when a <i>check valve </i>is required by Article 7.6.1.10., a <i>backflow preventer</i> is required by Article 7.6.2.2., or a pressure reducing valve is required by Article 7.6.3.3.</p> <p class="ruleb-e">7.6.2. Protection from Contamination</p> 
	  
      
	  
	  
	  
	  
    </div>