<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Thermal Expansion
	  </h1>
      <p>
</p><p class="section-e"><b>7.6.1.16. Thermal Expansion</b></p> <p class="subsection-e"><b>  (1) </b>Protection against thermal expansion shall be required when a <i>check valve </i>is required by Article 7.6.1.10., a <i><a href ="http://thehandyforce.com/plumbing/" title ="Toronto backflow valve installation">backflow</a> pre<a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renovation inspiration">vent</a>er</i> is required by Article 7.6.2.2., or a <a href ="http://thehandyforce.com/plumbing/" title ="Increase water pressure with a Toronto Plumber">pressure</a> reducing valve is required by Article 7.6.3.3.</p> <p class="ruleb-e">7.6.2. Protection from Contamination</p> 
	  
      
	  
	  
	  
	  
    </div>