<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Connection of Systems
	  </h1>
      <p>
</p><p class="section-e"><b>7.6.2.1. Connection of Systems</b></p> <p class="subsection-e"><b>  (1) </b>Connections to <i>potable</i> <i>water systems</i> shall be designed and installed so that non-<i>potable</i> water or substances that may render the water non-<i>potable</i> cannot enter the system.</p> <p class="subsection-e"><b>  (2) </b>No connection shall be made between a <i>potable</i><i>water system</i> supplied with water from a <i>drinking water system</i> and any other <i>potable</i><i>water system</i> without the consent of the <i>water purveyor</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>