<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Roof Coverings
	  </h1>
      <p>
</p><p class="section-e"><b>3.1.15.2. Roof Coverings</b></p> <p class="subsection-e"><b>  (1) </b>Except as provided by Sentences (2) and (3), every roof covering shall have a Class A, B or C classification as determined in accordance with Article 3.1.15.1.</p> <p class="subsection-e"><b>  (2) </b>A roof covering is not required to have a Class A, B or C classification for,</p> <p class="clause-e">  (a) a tent,</p> <p class="clause-e">  (b) an <i>air-supported structure</i>, or</p> <p class="clause-e">  (c) a <i>building</i>of Group A, Division 2 <i>occupancy</i> not more than 2 <i>storeys</i> in <i>building height</i>and not more than 1 000 m<sup>2</sup> in <i>building area</i>, provided the roof covering is underlaid with <i>noncombustible</i>material.</p> <p class="subsection-e">  <b>(3) </b><i>Combustible</i> roof coverings on <i>buildings</i>within the scope of Article 3.2.2.43A. or 3.2.2.50A. shall have a Class A classification.</p> <p class="ruleb-e">3.1.16. Fabrics</p> 
	  
      
	  
	  
	  
	  
    </div>