<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Cleaning of Systems
	  </h1>
      <p>
</p><p class="section-e"><b>7.6.2.8. Cleaning of Systems</b></p> <p class="subsection-e"><b>  (1) </b>A newly installed part of a <i>potable <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> system </i>shall be cleaned and then <a href ="http://thehandyforce.com/plumbing/" title ="Toilet replacement in Toronto">flush</a>ed with <i>potable</i><a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> before the system is put into operation.</p> 
	  
      
	  
	  
	  
	  
    </div>