<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Static Pressure
	  </h1>
      <p>
</p><p class="section-e"><b>7.6.3.3. Static <a href ="http://thehandyforce.com/plumbing/" title ="Increase water pressure with a Toronto Plumber">pressure</a></b></p> <p class="subsection-e"><b>  (1) </b>Where the static <a href ="http://thehandyforce.com/plumbing/" title ="Increase water pressure with a Toronto Plumber">pressure</a> at any <i>fixture</i>may <a href ="http://thehandyforce.com/guarantee/" title ="Reliable Contractors">exceed</a> 550 kPa, a <a href ="http://thehandyforce.com/plumbing/" title ="Increase water pressure with a Toronto Plumber">pressure</a> reducing valve conforming to Article 7.2.10.12. shall be installed to limit the maximum static <a href ="http://thehandyforce.com/plumbing/" title ="Increase water pressure with a Toronto Plumber">pressure</a> at the <i>fixture</i> to 550 kPa.</p> 
	  
      
	  
	  
	  
	  
    </div>