<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Temperature Control Devices
	  </h1>
      <p>
</p><p class="section-e"><b>7.6.5.3. temperature Control Devices</b></p> <p class="subsection-e"><b>  (1) </b>A <i>water distribution system </i>supplying hot water to any bathtub, shower or hand basin that is accessible to a patient or resident in a Group B, Division 2 or 3 occupancy or a resident of a group home,<i>home for special care </i>or residence for adults with developmental disabilities shall have one or more temperature gauges and control devices that are,</p> <p class="clause-e">  (a) accessible only to supervisory staff, and</p> <p class="clause-e">  (b) capable of being adjusted to ensure that the temperature of the water supplied to the <i>fixtures</i>does not exceed 49°C.</p> <p class="ruleb-e">Section 7.7. Non-Potable water Systems</p> <p class="ruleb-e">7.7.1. Connection</p> 
	  
      
	  
	  
	  
	  
    </div>