<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Non-Potable Connection
	  </h1>
      <p>
</p><p class="section-e"><b>7.7.1.1. Non-Potable Connection</b></p> <p class="subsection-e"><b>  (1) </b>Except as permitted by Sentences (2) and (3), a non-<i>potable</i> <i>water system</i> shall not be connected to a <i>potable</i> <i>water system</i>.</p> <p class="subsection-e"><b>  (2) </b>Make-up water may be supplied to the non-<i>potable water system</i> by,</p> <p class="clause-e">  (a) a reduced pressure <i>backflow preventer</i>, or</p> <p class="clause-e">  (b) an <i>air gap</i>.</p> <p class="subsection-e"><b>  (3) </b>Where a clothes washer is supplied by a <i>rainwater</i>system and a <i>potable water system</i>, the <i>potable water system</i> shall be protected by dual <i>check valve backflow preventers</i> conforming to CSA B64.6, "Dual Check Valve (DuC) backflow Preventers" for,</p> <p class="clause-e">  (b) premise isolation.</p> <p class="ruleb-e">7.7.2. Identification</p> 
	  
      
	  
	  
	  
	  
    </div>