<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Markings Required
	  </h1>
      <p>
</p><p class="section-e"><b>7.7.2.1. Markings Required</b></p> <p class="subsection-e"><b>  (1) </b>Non-<i>potable</i> water piping shall be identified by markings that are permanent, distinct and easily recognized.</p> <p class="subsection-e"><b>  (2) </b>Non-<i>potable water system</i> for re-use purposes shall be marked in accordance with Section 12 of CAN/CSA-B128.1, "design and installation of Non-Potable water Systems".</p> <p class="subsection-e"><b>  (3) </b>A sign containing the words <b>Non-Potable water, Do Not Drink</b>shall be in letters at least 25 mm high with a 5 mm stroke and posted immediately above a <i>fixture</i> that is permitted to receive non-<i>potable</i> water.</p> <p class="ruleb-e">7.7.3. Location</p> 
	  
      
	  
	  
	  
	  
    </div>