<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Pipes
	  </h1>
      <p>
</p><p class="section-e"><b>7.7.3.1. <a href ="http://thehandyforce.com/plumbing/" title ="Plubing leak repair in Toronto">pipe</a>s</b></p> <p class="subsection-e"><b>  (1) </b>Non-<i>potable</i> <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> piping shall not be located,</p> <p class="clause-e">  (a) where food is prepared in a food processing plant,</p> <p class="clause-e">  (b) above food-handling equipment,</p> <p class="clause-e">  (c) above a non-pressurized <i>potable</i> <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> tank, or</p> <p class="clause-e">  (d) above a cover of a pressurized <i>potable</i> <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> tank.</p> 
	  
      
	  
	  
	  
	  
    </div>