<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Outlets
	  </h1>
      <p>
</p><p class="section-e"><b>7.7.3.2. outlets</b></p> <p class="subsection-e"><b>  (1) </b>Except as permitted in Sentence 7.1.5.3.(3), an outlet from a non-<i>potable</i> <i>water system</i> shall not be located where it can discharge into,</p> <p class="clause-e">  (a) a sink or lavatory,</p> <p class="clause-e">  (b) a <i>fixture</i>into which an outlet from a <i>potable</i> <i>water system</i> is discharged, or</p> <p class="clause-e">  (c) a <i>fixture</i>that is used for a purpose related to the preparation, handling or dispensing of food, drink or products that are intended for human consumption.</p> <p class="ruleb-e">7.7.4. Non-Potable water Systems for Re-use Purposes</p> 
	  
      
	  
	  
	  
	  
    </div>