<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Definitions
	  </h1>
      <p>
</p><p class="section-e"><b>8.1.1.2. Definitions</b></p> <p class="subsection-e"><b>  (1) </b>In this Part,</p> <p class="firstdef-e"><i>soil</i> means in-situ, naturally occurring, unconsolidated mineral or organic material, at the earth's surface that is at least 100 mm thick and capable of supporting plant growth, and includes material compacted or cemented by soil forming processes, but does not include displaced materials such as gravel dumps, mine spoils, or like deposits.</p> <p class="ruleb-e">8.1.2. application</p> 
	  
      
	  
	  
	  
	  
    </div>