<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Dance Floor
	  </h1>
      <p>
</p><p class="section-e"><b>3.1.17.2. Dance <a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a></b></p> <p class="subsection-e"><b>  (1) </b>The <i>occupant load</i> of a room in which a dance <a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a> is situated shall be calculated in respect of that portion of the room that is not occupied by the dance <a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a>.</p> 
	  
      
	  
	  
	  
	  
    </div>