<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Application
	  </h1>
      <p>
</p><p class="section-e"><b>8.2.2.1. <a href ="http://thehandyforce.com/businesses/" title ="Business Services in Toronto">application</a></b></p> <p class="subsection-e"><b>  (1) </b>This Subsection applies to any tank used in a <i>sewage system</i> for collecting, treating, holding or storing <i><a href ="http://thehandyforce.com/plumbing/" title ="East York Plumbing Repairs">sanitary</a> sewage</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>