<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Construction Requirements
	  </h1>
      <p>
</p><p class="section-e"><b>8.3.3.1. Construction Requirements</b></p> <p class="subsection-e"><b>  (1) </b>An <i>earth pit privy</i> shall be <i>constructed</i> in the following manner:</p> <p class="clause-e">  (a) the bottom of the pit shall be at least 900 mm above the <i>high ground water table</i>,</p> <p class="clause-e">  (b) the sides of the pit shall be reinforced so as to prevent their collapse,</p> <p class="clause-e">  (c) the pit shall be surrounded on all sides and on its bottom by not less than 600 mm of <i>soil</i>or <i>leaching bed fill</i>, and</p> <p class="clause-e">  (d) the <i>soil</i>or <i>leaching bed fill</i> around the base of the sides of the superstructure of the <i>earth pit privy</i> shall be raised or mounded to a height of at least 150 mm above ground level.</p> <p class="ruleb-e">8.3.4. Privy Vaults and Pail Privy</p> 
	  
      
	  
	  
	  
	  
    </div>