<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Construction Requirements
	  </h1>
      <p>
</p><p class="section-e"><b>8.3.4.1. Construction Requirements</b></p> <p class="subsection-e"><b>  (1) </b>A <i>privy vault</i> or a <i>pail privy</i> shall be <i>constructed</i> in the following manner:</p> <p class="clause-e">  (a) the container or structure that is to be used for the holding or storage of <i>sanitary sewage</i>shall be watertight and made of a material that can be easily cleaned,</p> <p class="clause-e">  (b) the <i>soil</i>or <i>leaching bed fill</i> around the base of the sides of the superstructure shall be raised or mounded to a height of at least 150 mm above ground level, and</p> <p class="clause-e">  (c) the surface of the ground in the area of the <i>privy vault</i> or <i>pail privy</i> shall be so graded that surface drainage will be diverted away from the privy.</p> <p class="ruleb-e">8.3.5. Portable Privy</p> 
	  
      
	  
	  
	  
	  
    </div>