<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Application
	  </h1>
      <p>
</p><p class="section-e"><b>8.4.1.2. application</b></p> <p class="subsection-e"><b>  (1) </b>A Class 2 <i>sewage system</i> shall be designed only for the treatment and disposal of <i>greywater</i>.</p> <p class="subsection-e"><b>  (2) </b>The total daily design flow for a Class 2 <i>sewage system</i> shall be calculated based on the <i>fixtures</i>discharging to the system as follows:</p> <p class="clause-e">  (a) 200 L per <i>fixture unit</i> where there is a supply of pressurized water, and</p> <p class="clause-e">  (b) 125 L per <i>fixture unit </i>where there is no supply of pressurized water.</p> <p class="ruleb-e">8.4.2. design and Construction Requirements</p> 
	  
      
	  
	  
	  
	  
    </div>