<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Maximum Sewage Flow
	  </h1>
      <p>
</p><p class="section-e"><b>8.4.2.2. Maximum Sewage Flow</b></p> <p class="subsection-e"><b>  (1) </b>A Class 2 <i>sewage system</i> shall not be <i>constructed</i> where the daily <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a> <i>grey<a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a></i>flow to the system <a href ="http://thehandyforce.com/guarantee/" title ="Reliable Contractors">exceed</a>s 1 000 L/day.</p> 
	  
      
	  
	  
	  
	  
    </div>