<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Sizing
	  </h1>
      <p>
</p><p class="section-e"><b>8.4.2.3. Sizing</b></p> <p class="subsection-e"><b>  (1) </b>A Class 2 <i>sewage system</i> shall be <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a>ed and <i>constructed</i> so that the loading rate to the side <a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a>s shall be not more than the value calculated using the formula,</p> <p class="equation-e"><span><img width="69" height="41" src="120332_eV010_files/image020.gif"></span></p> <p class="Ssubsection-e">where,</p> <p class="equationind1-e">  L<sub>R</sub> =<i>  loading rate</i> of the side<a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a>s in litres per day/m<sup>2</sup>, and</p> <p class="equationind1-e">  T =<i>  percolation time</i>.</p> <p class="ruleb-e">Section 8.5. Class 3 Sewage Systems</p> <p class="ruleb-e">8.5.1. General Requirements</p> 
	  
      
	  
	  
	  
	  
    </div>