<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Septic Tank Systems
	  </h1>
      <p>
</p><p class="section-e"><b>8.6.2.1. Septic Tank Systems</b></p> <p class="subsection-e"><b>  (1) </b>An <i>effluent </i>filter shall be installed in the outlet flow path of every <i>septic tank</i> that discharges <i>effluent </i>to a <i>leaching bed</i>.</p> <p class="subsection-e"><b>  (2) </b>The <i>septic tank</i> <i>effluent</i>filter required by Sentence (1) shall,</p> <p class="clause-e">  (a) conform to the requirements of NSF/ANSI 46, "Evaluation of Components and Devices Used in Wastewater Treatment Systems",</p> <p class="clause-e">  (b) be sized to filter particles of 1.6 mm,</p> <p class="clause-e">  (c) have a minimum area of 550 cm<sup>2</sup>, and</p> <p class="clause-e">  (d) be installed in accordance with the manufacturer’s recommendations.</p> <p class="subsection-e"><b>  (3) </b>A secured access opening to allow for regular maintenance of the <i>effluent</i> filter shall be provided at the ground surface.</p> 
	  
      
	  
	  
	  
	  
    </div>