<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Limitation on Installation
	  </h1>
      <p>
</p><p class="section-e"><b>8.7.1.2. Limitation on <a href ="http://thehandyforce.com/insulation/" title ="Sprayfoam insulation in Toronto">installation</a></b></p> <p class="subsection-e"><b>  (1) </b>The <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a> and <a href ="http://thehandyforce.com/insulation/" title ="Sprayfoam insulation in Toronto">installation</a> of a <i>shallow buried trench</i>, <i>Type A dispersal bed</i> or <i>Type B dispersal bed</i> shall be carried out by a person competent in this field of work.</p> <p class="ruleb-e">8.7.2. <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a> and Construction Requirements</p> 
	  
      
	  
	  
	  
	  
    </div>