<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Limitation on Installation
	  </h1>
      <p>
</p><p class="section-e"><b>8.7.1.2. Limitation on installation</b></p> <p class="subsection-e"><b>  (1) </b>The design and installation of a <i>shallow buried trench</i>, <i>Type A dispersal bed</i> or <i>Type B dispersal bed</i> shall be carried out by a person competent in this field of work.</p> <p class="ruleb-e">8.7.2. design and Construction Requirements</p> 
	  
      
	  
	  
	  
	  
    </div>