<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | General Requirements
	  </h1>
      <p>
</p><p class="section-e"><b>8.7.8.1. General Requirements</b></p> <p class="subsection-e"><b>  (1)</b> Except as provided in Sentence (2) and Sentence 8.7.8.2.(2), a <i>Type B dispersal bed</i> shall conform to the requirements of Article 8.7.2.1.</p> <p class="subsection-e"><b>  (2)</b> A<i>Type B dispersal bed</i> shall not be located in an area that has an average slope that exceeds one unit vertically to seven units horizontally.</p> 
	  
      
	  
	  
	  
	  
    </div>