<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Occupancies of the Same Classification
	  </h1>
      <p>
</p><p class="section-e"><b>3.1.2.2. Occupancies of the Same Classification</b></p> <p class="subsection-e"><b>  (1) </b>Any <i>building</i> is deemed to be occupied by a single <i>major occupancy</i>, notwithstanding its use for more than one <i>major occupancy</i>, provided that all <i>occupancies</i> are classified as belonging to the same Group classification or, where the Group is divided into Divisions, as belonging to the same Division classification described in Table 3.1.2.1.</p> 
	  
      
	  
	  
	  
	  
    </div>