<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Sizing of Holding Tanks
	  </h1>
      <p>
</p><p class="section-e"><b>8.8.2.2. Sizing of Holding Tanks</b></p> <p class="subsection-e"><b>  (1) </b>All<i> holding tanks </i>used in <a href ="http://thehandyforce.com/insulation/" title ="East York Home Energy Efficiency">residential</a> dwellings shall have a minimum 7 day holding capacity based on the total daily <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a> <i><a href ="http://thehandyforce.com/plumbing/" title ="East York Plumbing Repairs">sanitary</a> sewage</i> flow.</p> <p class="ruleb-e">Section 8.9. Operation and Maintenance</p> <p class="ruleb-e">8.9.1. General</p> 
	  
      
	  
	  
	  
	  
    </div>