<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | General
	  </h1>
      <p>
</p><p class="section-e"><b>8.9.2.2. General</b></p> <p class="subsection-e"><b>  (1) </b>Every <i>sewage system</i> shall be operated in accordance with,</p> <p class="clause-e">  (a) the basis on which the <i>construction</i> and use of the <i>sewage system</i> was approved or required under the Act or predecessor legislation, as the case may be, and</p> <p class="clause-e">  (b) the requirements of the manufacturer of the <i>sewage system</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>