<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Class 5 Sewage Systems
	  </h1>
      <p>
</p><p class="section-e"><b>8.9.2.5. Class 5 Sewage Systems</b></p> <p class="subsection-e"><b>  (1) </b>Every Class 5 <i>sewage system </i>shall be operated in accordance with the agreement referred to in Sentence 8.8.1.2.(2).</p> <p class="subsection-e"><b>  (2) </b>No Class 5 <i>sewage system</i> shall be operated once it is filled with <i>sanitary sewage</i>until such time as the <i>sanitary sewage</i> is removed from the <i>sewage system</i>.</p> <p class="ruleb-e">8.9.3. Maintenance</p> 
	  
      
	  
	  
	  
	  
    </div>