<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | General
	  </h1>
      <p>
</p><p class="section-e"><b>8.9.3.2. General</b></p> <p class="subsection-e"><b>  (1) </b>Every <i>sewage system</i> shall be maintained so that,</p> <p class="clause-e">  (a) the <i>construction</i>of the <i>sewage system </i>remains in accordance with,</p> <p class="subclause-e">  (i) the basis on which the <i>construction</i> and use of the <i>sewage system</i> was approved or required under the Act or predecessor legislation, as the case may be, and</p> <p class="subclause-e">  (ii) the requirements of the manufacturer of the <i>sewage system</i>, and</p> <p class="clause-e">  (b) all components of the <i>sewage system</i> function in their intended manner.</p> <p class="subsection-e"><b>  (2) </b>The land in the vicinity of a <i>sewage system</i>shall be maintained in a condition that will not cause damage to, or impair the functioning of, the <i>sewage system</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>