<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Self-Service Storage Buildings
	  </h1>
      <p>
</p><p class="section-e"><b>9.1.1.3. Self-<a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">service</a> Storage <a href ="http://thehandyforce.com/fence/" title ="East York fence builder">building</a>s</b></p> <p class="subsection-e">  <b>(1) </b><i>Self-<a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">service</a> storage buildings</i> shall conform to the requirements in Section 3.10.</p> 
	  
      
	  
	  
	  
	  
    </div>