<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Proximity to Existing above Ground Electrical Conductors
	  </h1>
      <p>
</p><p class="section-e"><b>9.1.1.5. Proximity to Existing above Ground Electrical Conductors</b></p> <p class="subsection-e"><b>  (1) </b>Where a <i>building</i> is constructed in close proximity to existing above ground electrical conductors, the requirements of Subsection 3.1.19. shall apply.</p> 
	  
      
	  
	  
	  
	  
    </div>