<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Building in Flood Plains
	  </h1>
      <p>
</p><p class="section-e"><b>9.1.1.8. <a href ="http://thehandyforce.com/decks/" title ="Toronto Deck builder">building</a> in Flood Plains</b></p> <p class="subsection-e">  <b>(1) </b><i>Buildings </i>constructed on flood plains shall,</p> <p class="clause-e">  (a) be designed and constructed in accordance with good engineering practice to withstand anticipated vertical and horizontal hydrostatic pressures acting on the structure, and</p> <p class="clause-e">  (b) incorporate floodproofing measures that will preserve the integrity of <i>exits </i>and <i>means of egress</i> during times of flooding.</p> 
	  
      
	  
	  
	  
	  
    </div>