<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Site Assembled and Factory-Built Buildings
	  </h1>
      <p>
</p><p class="section-e"><b>9.1.1.9. Site Assembled and Factory-Built buildings</b></p> <p class="subsection-e">  <b>(1) </b>Except as provided in Sentence (2), a manufactured <i>building </i>intended for <i>residential occupancy </i>is deemed to comply with this Code if it is designed and constructed in compliance with,</p> <p class="clause-e">  (a) CSA Z240.2.1, "Structural Requirements for Manufactured Homes", if the <i>building </i>is constructed in sections not wider than 4.88 m, or</p> <p class="clause-e">  (b) CSA A277, "Procedures for Factory Certification of Buildings".</p> <p class="subsection-e"><b>  (2) </b>The requirements of this Code shall apply to,</p> <p class="clause-e"><b>  (a)  </b><i>building</i><b> components designed and constructed outside the place of manufacture, and</b></p> <p class="clause-e"><b>  (b) site installation of such </b><i>buildings</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>