<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Shelf and Rack Storage Systems
	  </h1>
      <p>
</p><p class="section-e"><b>9.1.1.11. shelf and Rack Storage Systems</b></p> <p class="subsection-e"><b>  (1) </b><i>shelf and rack storage systems </i>shall conform to the requirements of Section 3.16.</p> <p class="Pnote-e">Note: On July 1, 2017, Subsection 9.1.1. of Division B of the Regulation is amended by adding the following Article: (See: O. Reg. 139/17, s. 68)</p> <p class="Ysection-e"><b>9.1.1.12. houses</b></p> <p class="Ysubsection-e">  <b>(1) </b>A<i>house</i> is permitted above another <i>house</i> provided there is not more than one <i>dwelling unit</i> in each <i>house</i>.</p> <p class="ruleb-e"><b>Section 9.2. Reserved</b></p> <p class="ruleb-e"><b>Section 9.3. Materials, Systems and Equipment</b></p> <p class="ruleb-e"><b>9.3.1. Concrete</b></p> 
	  
      
	  
	  
	  
	  
    </div>