<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Concrete in Contact with Sulfate Soil
	  </h1>
      <p>
</p><p class="section-e"><b>9.3.1.3. Concrete in Contact with Sulfate soil</b></p> <p class="subsection-e"><b>  (1) </b>Concrete in contact with sulfate <i>soil</i>, which is deleterious to normal cement, shall conform to the requirements in Clause 4.1.1.6. of CSA A23.1, "Concrete Materials and Methods of Concrete Construction".</p> 
	  
      
	  
	  
	  
	  
    </div>