<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Roof Considered as a Wall
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.1.3. Roof Considered as a <a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a></b></p> <p class="subsection-e"><b>  (1) </b>For the purposes of this Section any part of a roof that is pitched at an angle of 60° or more to the horizontal and is adjacent to a space intended for occupancy within a <i><a href ="http://thehandyforce.com/plumbing/" title ="Toilet replacement in Toronto">building</a></i> shall be considered as part of an <a href ="http://thehandyforce.com/exterior/" title ="Certified home renovator">exterior</a> wall of the <i>building</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>