<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Aggregates
	  </h1>
      <p>
</p><p class="section-e"><b>9.3.1.4. Aggregates</b></p> <p class="subsection-e"><b>  (1) </b>Aggregates shall,</p> <p class="clause-e">  (a) consist of sand, gravel, crushed rock, crushed air-cooled blast furnace slag, expanded shale or expanded clay conforming to CSA A23.1, "Concrete Materials and Methods of Concrete Construction", and</p> <p class="clause-e">  (b) be clean, well-graded and free of injurious amounts of organic and other deleterious material.</p> 
	  
      
	  
	  
	  
	  
    </div>