<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Water
	  </h1>
      <p>
</p><p class="section-e"><b>9.3.1.5. <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a></b></p> <p class="subsection-e"><b>  (1) </b><a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> shall be clean and free of injurious amounts of oil, organic matter, sediment or any other deleterious material.</p> 
	  
      
	  
	  
	  
	  
    </div>