<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Cold Weather Requirements
	  </h1>
      <p>
</p><p class="section-e"><b>9.3.1.9. Cold Weather Requirements</b></p> <p class="subsection-e"><b>  (1) </b>When the air temperature is below 5°C , concrete shall be,</p> <p class="clause-e">  (a) kept at a temperature of not less than 10°C or more than 25°C while being mixed and placed, and</p> <p class="clause-e">  (b) maintained at a temperature of not less than 10°C for 72 h after placing.</p> <p class="subsection-e"><b>  (2) </b>No frozen material or ice shall be used in concrete described in Sentence (1).</p> <p class="ruleb-e">9.3.2. Lumber and wood Products</p> 
	  
      
	  
	  
	  
	  
    </div>