<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | OSB, Waferboard and Plywood Marking
	  </h1>
      <p>
</p><p class="section-e"><b>9.3.2.4. OSB, waferboard and Plywood Marking</b></p> <p class="subsection-e"><b>  (1) </b>OSB, waferboard and plywood used for roof sheathing, wall sheathing and flooring shall be legibly identified on the face of the material indicating,</p> <p class="clause-e">  (a) the manufacturer of the material,</p> <p class="clause-e">  (b) the standard to which it is produced, and</p> <p class="clause-e">  (c) that the material is of an exterior type.</p> 
	  
      
	  
	  
	  
	  
    </div>