<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Floor Assembly over Basement
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.1.4. floor Assembly over basement</b></p> <p class="subsection-e"><b>  (1) </b>Except as permitted by Sentence 3.2.2.42.(3), 3.2.2.43.(3), 3.2.2.44.(3), 3.2.2.45.(3), 3.2.2.46.(3), 3.2.2.47.(3) or 3.2.2.48.(3), a floor assembly immediately above a <i>basement</i> shall be constructed as a <i>fire separation</i> having a <i>fire-resistance rating</i> conforming to the requirements of Articles 3.2.2.20. to 3.2.2.83. for a floor assembly, but not less than 45 min.</p> <p class="subsection-e"><b>  (2) </b>All <i>loadbearing</i> walls, columns and arches supporting a floor assembly immediately above a <i>basement</i>shall have a <i>fire-resistance rating</i> not less than that required by Sentence (1) for the floor assembly.</p> 
	  
      
	  
	  
	  
	  
    </div>