<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Moisture Content
	  </h1>
      <p>
</p><p class="section-e"><b>9.3.2.5. <a href ="http://thehandyforce.com/plumbing/" title ="Toronto Plumber">moisture</a> Content</b></p> <p class="subsection-e"><b>  (1) </b><a href ="http://thehandyforce.com/plumbing/" title ="Toronto Plumber">moisture</a> content of lumber shall be not more than 19% at the time of <a href ="http://thehandyforce.com/insulation/" title ="Sprayfoam insulation in Toronto">installation</a>.</p> 
	  
      
	  
	  
	  
	  
    </div>