<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Panel Thickness Tolerances
	  </h1>
      <p>
</p><p class="section-e"><b>9.3.2.7. panel Thickness Tolerances</b></p> <p class="subsection-e"><b>  (1) </b>The thickness specified in this Part for plywood, hardboard, particleboard, OSB and waferboard shall be subject to the tolerances permitted in the standards referenced for these products unless specifically indicated in this Part.</p> 
	  
      
	  
	  
	  
	  
    </div>