<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Undersized Lumber
	  </h1>
      <p>
</p><p class="section-e"><b>9.3.2.8. Undersized Lumber</b></p> <p class="subsection-e"><b>  (1) </b>Joist, rafter, lintel and beam members up to 5% less than the actual Canadian standard sizes are permitted to be used provided the allowable spans for the grade and species of lumber under consideration are reduced 5% from those shown in the span tables for full size members.</p> 
	  
      
	  
	  
	  
	  
    </div>