<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Sheet Metal Thickness
	  </h1>
      <p>
</p><p class="section-e"><b>9.3.3.1. Sheet Metal Thickness</b></p> <p class="subsection-e"><b>  (1) </b>Minimum thicknesses for sheet metal material required in this Part refer to the actual minimum base metal thicknesses measured at any point of the material, and in the case of galvanized steel described in Sentence 9.3.3.2.(1), include the thickness of the galvanizing coating unless otherwise indicated.</p> 
	  
      
	  
	  
	  
	  
    </div>