<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Fire Containment in Basements
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.1.5. Fire Containment in basements</b></p> <p class="subsection-e"><b>  (1) </b>Except as permitted by Sentences (2) and 3.2.2.15.(3), in a <i>building</i> in which an automatic sprinkler system is not required to be installed by Articles 3.2.2.20. to 3.2.2.83., every <i>basement</i> shall,</p> <p class="clause-e">  (a) be <i>sprinklered</i>, or</p> <p class="clause-e">  (b) be subdivided into <i>fire compartments</i> not more than 600 m<sup>2</sup> in area by a<i> fire separation</i> having a <i>fire-resistance rating</i> not less than that required for the floor assembly immediately above the <i>basement</i>.</p> <p class="subsection-e"><b>  (2) </b>An <i>open-air storey</i> need not conform to Sentence (1).</p> 
	  
      
	  
	  
	  
	  
    </div>