<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Platforms Subject to Snow and Occupancy Loads
	  </h1>
      <p>
</p><p class="section-e"><b>9.4.2.3. Platforms Subject to Snow and Occupancy Loads</b></p> <p class="subsection-e">  <b>(1) </b>Balconies, decks and other accessible exterior platforms intended for an <i>occupancy </i>and subject to snow loads shall be designed to carry the specified roof snow load or 1.9 kPa, whichever is greater, where the platform, or each segregated area of the platform, serves a single <i>dwelling unit</i>.</p> <p class="Pnote-e">Note: On July 1, 2017, Sentence 9.4.2.3.(1) of Division B of the Regulation is amended by striking out "single <i>dwelling unit</i><i>" at the end and substituting "house</i> or an individual<i> dwelling unit</i>"<i>.</i> (See: O. Reg. 139/17, s. 70)</p> 
	  
      
	  
	  
	  
	  
    </div>