<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Attics and Roof Spaces
	  </h1>
      <p>
</p><p class="section-e"><b>9.4.2.4. <a href ="http://thehandyforce.com/renovations/" title ="Attic renovations in Toronto">attic</a>s and Roof Spaces</b></p> <p class="subsection-e">  <b>(1) </b><a href ="http://thehandyforce.com/drywall/" title ="Drywall repair and installation in Toronto">ceiling</a> joists or truss bottom chords in <a href ="http://thehandyforce.com/insulation/" title ="East York Home Energy Efficiency">residential</a> <i>attic or roof spaces </i>having limited accessibility that precludes the storage of equipment or material shall be <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a>ed for a total specified load of not less than 0.35 kPa, where the total specified load is the sum of the specified <i>dead load</i> plus the specified <i>live load</i> of the <a href ="http://thehandyforce.com/drywall/" title ="Drywall repair and installation in Toronto">ceiling</a>.</p> <p class="ruleb-e">9.4.3. Deflections</p> 
	  
      
	  
	  
	  
	  
    </div>