<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Foundation Capacity in Weaker Soil and Rock
	  </h1>
      <p>
</p><p class="section-e"><b>9.4.4.2. foundation Capacity in Weaker soil and Rock</b></p> <p class="subsection-e"><b>  (1) </b>Where a <i>soil</i> or <i>rock</i>within a distance equal to twice the footing width below the <i>bearing surface</i> has a lower <i>allowable bearing pressure</i> than that at the <i>bearing surface</i>as shown in Article 9.4.4.1., the design capacity of the <i>foundation</i>shall not be greater than would cause the weakest <i>soil</i>or <i>rock</i> to be stressed beyond its <i>allowable bearing pressure</i>.</p> <p class="subsection-e">  <b>(2) </b>In calculating subsurface pressures referred to in Sentence (1), the loads from the footings shall be assumed to be distributed uniformly over a horizontal plane within a frustum extending downward from the footing at an angle of 60° to the horizontal.</p> 
	  
      
	  
	  
	  
	  
    </div>