<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | High Water Table
	  </h1>
      <p>
</p><p class="section-e"><b>9.4.4.3. High water Table</b></p> <p class="subsection-e"><b>  (1) </b>Where a <i>foundation</i> bears on gravel, sand or silt, and the water table is within a distance below the <i>bearing surface</i> equal to the width of the <i>foundation</i>, the <i>allowable bearing pressure</i> shall be 50% of that determined in Article 9.4.4.1.</p> 
	  
      
	  
	  
	  
	  
    </div>