<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Soil Movement
	  </h1>
      <p>
</p><p class="section-e"><b>9.4.4.4. soil Movement</b></p> <p class="subsection-e">  <b>(1) </b>Where a <i>foundation </i>is located in an area where <i>soil </i>movement caused by changes in <i>soil</i>moisture content, freezing, or chemical-microbiological oxidation is known to occur to the extent that it will damage a <i>building</i>, measures shall be taken to preclude such movement or to reduce the effects on the <i>building </i>so that the <i>building’s</i>stability and the performance of assemblies will not be adversely affected.</p> 
	  
      
	  
	  
	  
	  
    </div>