<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Mezzanines
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.1.6. Mezzanines</b></p> <p class="subsection-e"><b>  (1) </b>The floor assembly of a <i>mezzanine </i>that is required to be considered as a <i>storey</i> in calculating <i>building height </i>shall be constructed in conformance with the <i>fire separation </i>requirements for floor assemblies in Articles 3.2.2.20. to 3.2.2.83.</p> <p class="ruleb-e">3.2.2. Building Size and Construction Relative to Occupancy</p> 
	  
      
	  
	  
	  
	  
    </div>