<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Method of Measurement
	  </h1>
      <p>
</p><p class="section-e"><b>9.5.1.2. Method of Measurement</b></p> <p class="subsection-e"><b>  (1) </b>Except as otherwise specified in this Part, the areas, dimensions and heights of rooms or spaces shall be measured between finished <a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a> <a href ="http://thehandyforce.com/tiling/" title ="Professional Tile installer in Toronto">surface</a>s and between finished <a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a> and <a href ="http://thehandyforce.com/drywall/" title ="Drywall repair and installation in Toronto">ceiling</a> surfaces.</p> 
	  
      
	  
	  
	  
	  
    </div>