<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Floor Areas
	  </h1>
      <p>
</p><p class="section-e"><b>9.5.1.3. <a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a> Areas</b></p> <p class="subsection-e"><b>  (1) </b>Minimum <a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a> areas specified in this Section do not include closets or built-in bedroom cabinets unless otherwise indicated.</p> 
	  
      
	  
	  
	  
	  
    </div>