<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Combination Rooms
	  </h1>
      <p>
</p><p class="section-e"><b>9.5.1.4. Combination Rooms</b></p> <p class="subsection-e">  <b>(1) </b>Two or more areas may be considered as a combination room if the opening between the areas occupies the larger of 3 m<sup>2</sup> or 40% or more of the wall measured on the side of the dependent area.</p> <p class="subsection-e">  <b>(2) </b>Where the dependent area is a bedroom, direct passage shall be provided between the two areas.</p> <p class="subsection-e">  <b>(3) </b>The opening required in Sentence (1) shall not contain doors or windows.</p> 
	  
      
	  
	  
	  
	  
    </div>