<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Lesser Areas and Dimensions
	  </h1>
      <p>
</p><p class="section-e"><b>9.5.1.5. Lesser Areas and Dimensions</b></p> <p class="subsection-e"><b>  (1) </b>Areas of rooms and spaces are permitted to be less than required in this Section provided it can be shown that the rooms and spaces are adequate for their intended use, such as by the provision of built-in furniture to compensate for reduced sizes.</p> <p class="ruleb-e">9.5.2. Barrier-Free <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a></p> 
	  
      
	  
	  
	  
	  
    </div>