<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | General
	  </h1>
      <p>
</p><p class="section-e"><b>9.5.2.1. General</b></p> <p class="subsection-e"><b>  (1) </b>Except as provided in Sentence (2) and Article 3.8.1.1., every <i>building</i> shall be designed in conformance with Section 3.8.</p> <p class="subsection-e"><b>  (2) </b>The requirements of Section 3.8. need not be provided for houses, including semi-detached houses, duplexes, triplexes, town houses, row houses and boarding or rooming houses<i> </i>with fewer than eight boarders or roomers.</p> <p class="Pnote-e">Note: On July 1, 2017, Sentence 9.5.2.1.(2) of Division B of the Regulation is revoked and the following substituted: (See: O. Reg. 139/17, s. 72)</p> <p class="Ysubsection-e"><b>  (2) </b>The requirements of Section 3.8. need not be provided for <i>houses</i>, triplexes and boarding or rooming houses<i> </i>with fewer than eight boarders or roomers.</p> 
	  
      
	  
	  
	  
	  
    </div>