<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Protection on Floor Areas with a Barrier-Free Path of Travel
	  </h1>
      <p>
</p><p class="section-e"><b>9.5.2.2. Protection on floor Areas with a Barrier-Free Path of Travel</b></p> <p class="subsection-e"><b>  (1) </b>Where a <i>barrier-free</i> path of travel required in Article 9.5.2.1. is provided to any <i>storey</i>above the <i>first storey</i>, the requirements in Article 3.3.1.7. shall apply.</p> 
	  
      
	  
	  
	  
	  
    </div>