<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Mezzanines
	  </h1>
      <p>
</p><p class="section-e"><b>9.5.3.2. Mezzanines</b></p> <p class="subsection-e"><b>  (1) </b>The <a href ="http://thehandyforce.com/drywall/" title ="Drywall repair and installation in Toronto">ceiling</a> height above and below a <i>mezzanine</i><a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a> assembly in all <i>occupancies</i> shall be not less than 2 100 mm.</p> 
	  
      
	  
	  
	  
	  
    </div>