<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Storage Garages
	  </h1>
      <p>
</p><p class="section-e"><b>9.5.3.3. Storage <a href ="http://thehandyforce.com/roofing/" title ="Toronto Roofer">garage</a>s</b></p> <p class="subsection-e"><b>  (1) </b>The clear height in a <i>storage <a href ="http://thehandyforce.com/roofing/" title ="Toronto Roofer">garage</a></i>shall be not less than 2 000 mm.</p> <p class="ruleb-e">9.5.4. Living Rooms or Spaces within Dwelling Units</p> 
	  
      
	  
	  
	  
	  
    </div>