<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Application
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.2.1. <a href ="http://thehandyforce.com/businesses/" title ="Business Services in Toronto">application</a></b></p> <p class="subsection-e"><b>  (1) </b>Except as permitted by Article 3.2.2.3., a <i><a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Bathroom make over in Toronto">building</a></i>shall be constructed in conformance with this Subsection to pre<a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renovation inspiration">vent</a> fire spread and collapse caused by the effects of fire.</p> 
	  
      
	  
	  
	  
	  
    </div>