<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Areas of Living Rooms and Spaces
	  </h1>
      <p>
</p><p class="section-e"><b>9.5.4.1. Areas of Living Rooms and Spaces</b></p> <p class="subsection-e"><b>  (1) </b>Living areas within <i>dwelling units</i>, either as separate rooms or in combination with other spaces, shall have an area not less than 13.5 m².</p> <p class="subsection-e">  <b>(2) </b>Where the area of a living space is combined with a kitchen and dining area, the living area alone in a <i>dwelling unit</i> that contains sleeping accommodation for not more than two persons shall be not less than 11 m².</p> <p class="ruleb-e">9.5.5. Dining Rooms or Spaces within Dwelling Units</p> 
	  
      
	  
	  
	  
	  
    </div>