<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Kitchen Areas
	  </h1>
      <p>
</p><p class="section-e"><b>9.5.6.1. Kitchen Areas</b></p> <p class="subsection-e"><b>  (1) </b>Kitchen areas within <i>dwelling units</i>either separate from or in combination with other spaces, shall have an area of not less than 4.2 m² including the area occupied by the base cabinets, except that in <i>dwelling units</i> containing sleeping accommodation for not more than two persons, the minimum area shall be 3.7 m².</p> <p class="ruleb-e">9.5.7. Bedrooms or Spaces in Dwelling Units and Dormitories</p> 
	  
      
	  
	  
	  
	  
    </div>