<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Areas of Master Bedrooms
	  </h1>
      <p>
</p><p class="section-e"><b>9.5.7.2. Areas of Master Bedrooms</b></p> <p class="subsection-e"><b>  (1) </b>Except as provided in Article 9.5.7.3., at least one bedroom in every <i>dwelling unit</i> shall have an area of not less than 9.8 m² where built-in cabinets are not provided and not less than 8.8 m² where built-in cabinets are provided.</p> 
	  
      
	  
	  
	  
	  
    </div>