<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Combined Living, Dining, Bedroom and Kitchen Spaces
	  </h1>
      <p>
</p><p class="section-e"><b>9.5.8.1. Combined Living, Dining, Bedroom and Kitchen Spaces</b></p> <p class="subsection-e">  <b>(1) </b>Despite Subsections 9.5.4. to 9.5.7., where living, dining, bedroom and kitchen spaces are combined in a <i>dwelling unit</i> that contains sleeping accommodation for not more than two persons, the area of the combined spaces shall be not less than 13.5 m<sup>2</sup>.</p> <p class="ruleb-e">9.5.9. Bathrooms and water Closet Rooms</p> 
	  
      
	  
	  
	  
	  
    </div>