<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Special and Unusual Structures
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.2.2. Special and Unusual Structures</b></p> <p class="subsection-e"><b>  (1) </b>A structure that cannot be identified with the characteristics of a <i>building</i> in Articles 3.2.2.20. to 3.2.2.83. shall be protected against fire spread and collapse in conformance with good fire protection engineering practice.</p> 
	  
      
	  
	  
	  
	  
    </div>