<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Doors to Rooms Containing Water Closets
	  </h1>
      <p>
</p><p class="section-e"><b>9.5.9.2. <a href ="http://thehandyforce.com/doors/" title ="Toronto Door installer">door</a>s to Rooms Containing <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> Closets</b></p> <p class="subsection-e"><b>  (1) </b>A <a href ="http://thehandyforce.com/doors/" title ="Toronto Door installer">door</a> shall be provided to each room containing a <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> closet within a <i>dwelling unit</i>.</p> <p class="ruleb-e">9.5.10. Hallways</p> 
	  
      
	  
	  
	  
	  
    </div>