<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Hallway Width
	  </h1>
      <p>
</p><p class="section-e"><b>9.5.10.1. Hallway Width</b></p> <p class="subsection-e">  <b>(1) </b>The unobstructed width of a hallway within a <i>dwelling unit</i>shall be not less than 860 mm, except that the hallway width is permitted to be 710 mm, where,</p> <p class="clause-e">  (a) there are only bedrooms and bathrooms at the end of the hallway furthest from the living area, and</p> <p class="clause-e">  (b) a second <i>exit</i>is provided,</p> <p class="subclause-e">  (i) in the hallway near the end furthest from the living area, or</p> <p class="subclause-e">  (ii) in each bedroom served by the hallway.</p> <p class="ruleb-e">9.5.11. doorway Sizes</p> 
	  
      
	  
	  
	  
	  
    </div>