<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Doors to Public Water Closet Rooms
	  </h1>
      <p>
</p><p class="section-e"><b>9.5.11.2. <a href ="http://thehandyforce.com/doors/" title ="Toronto Door installer">door</a>s to Public <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> Closet Rooms</b></p> <p class="subsection-e"><b>  (1) </b><a href ="http://thehandyforce.com/doors/" title ="Toronto Door installer">door</a>s to public <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> closet rooms shall be not less than 810 mm wide and 2 030 mm high.</p> 
	  
      
	  
	  
	  
	  
    </div>