<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Doors to Bathrooms
	  </h1>
      <p>
</p><p class="section-e"><b>9.5.11.3. doors to Bathrooms</b></p> <p class="subsection-e">  <b>(1) </b>Where a <i>barrier-free</i> path of travel conforming to Section 3.8. is provided into a <i>suite</i> of <i>residential occupancy</i> and where a bathroom within the <i>suite</i> is at the level of the <i>suite</i>entrance door, the doorway to such bathroom and to each bedroom at the same level as such bathroom shall have, when the door is in the open position, a clear width of not less than,</p> <p class="clause-e">  (a) 760 mm where the door is served by a corridor or space not less than 1 060 mm wide, and</p> <p class="clause-e">  (b) 810 mm where the door is served by a corridor or space less than 1 060 mm wide.</p> <p class="ruleb-e">Section 9.6. glass</p> <p class="ruleb-e">9.6.1. General</p> 
	  
      
	  
	  
	  
	  
    </div>