<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Application
	  </h1>
      <p>
</p><p class="section-e"><b>9.6.1.1. application</b></p> <p class="subsection-e">  <b>(1) </b>This Section applies to,</p> <p class="clause-e">  (a) glass in,</p> <p class="subclause-e">  (i) interior windows and interior doors and their sidelights,</p> <p class="subclause-e">  (ii) clothes closets,</p> <p class="subclause-e">  (iii) site-built exterior windows, doors and skylights,</p> <p class="subclause-e">  (iv) shower or bathtub enclosures,</p> <p class="subclause-e">  (v) glazed panels and <i>partitions</i>, and</p> <p class="clause-e">  (b) the protection of glass.</p> 
	  
      
	  
	  
	  
	  
    </div>