<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Application
	  </h1>
      <p>
</p><p class="section-e"><b>9.7.1.1. application</b></p> <p class="subsection-e">  <b>(1) </b>This Section applies to,</p> <p class="clause-e">  (a) windows, doors and skylights separating <i>conditioned space</i> from unconditioned space or the exterior, and</p> <p class="clause-e">  (b) main entrance doors.</p> <p class="subsection-e"><b>  (2) </b>For the purpose of this Section, the term "skylight" refers to unit skylights, roof windows and tubular lighting devices.</p> <p class="subsection-e"><b>  (3) </b>For the purpose of this Section, the term "doors" includes glazing in doors and sidelights for doors.</p> <p class="ruleb-e">9.7.2. Required windows, Doors and Skylights</p> 
	  
      
	  
	  
	  
	  
    </div>