<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Entrance Doors
	  </h1>
      <p>
</p><p class="section-e"><b>9.7.2.1. Entrance <a href ="http://thehandyforce.com/doors/" title ="Toronto Door installer">door</a>s</b></p> <p class="subsection-e">  <b>(1) </b>A <a href ="http://thehandyforce.com/doors/" title ="Toronto Door installer">door</a> shall be provided at each entrance to a <i>dwelling unit</i>.</p> <p class="subsection-e"><b>  (2) </b>Main entrance <a href ="http://thehandyforce.com/doors/" title ="Toronto Door installer">door</a>s to <i>dwelling units</i>shall be provided with,</p> <p class="clause-e">  (a) a <a href ="http://thehandyforce.com/doors/" title ="Toronto Door installer">door</a> viewer or transparent glazing in the <a href ="http://thehandyforce.com/doors/" title ="Toronto Door installer">door</a>, or</p> <p class="clause-e">  (b) a sidelight.</p> 
	  
      
	  
	  
	  
	  
    </div>