<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Heat Transfer Performance
	  </h1>
      <p>
</p><p class="section-e"><b>9.7.3.2. Heat Transfer Performance</b></p> <p class="subsection-e">  <b>(1) </b>windows, doors and skylights described in Clause 9.7.1.1.(1)(a) and their components shall be designed, constructed and installed to,</p> <p class="clause-e">  (a) minimize surface condensation on the warm side of the component, and</p> <p class="clause-e">  (b) ensure comfortable conditions for the occupants.</p> <p class="subsection-e">  <b>(2) </b>Compliance with the heat transfer performance requirements described in Sentence (1) shall be demonstrated by,</p> <p class="clause-e">  (a) compliance with the requirements in Article 9.7.3.3., or</p> <p class="clause-e">  (b) design and construction conforming to Part 5.</p> 
	  
      
	  
	  
	  
	  
    </div>