<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Application
	  </h1>
      <p>
</p><p class="section-e"><b>9.7.4.1. <a href ="http://thehandyforce.com/businesses/" title ="Business Services in Toronto">application</a></b></p> <p class="subsection-e">  <b>(1) </b>This Subsection applies to <a href ="http://thehandyforce.com/windows/" title ="East York Window installer">window</a>s, doors and sky<a href ="http://thehandyforce.com/electrical/" title ="East York Electrician">light</a>s that are within the scope of AAMA/WDMA/CSA 101/I.S.2/A440, "NAFS - North American Fenestration Standard/Specification for <a href ="http://thehandyforce.com/windows/" title ="East York Window installer">window</a>s, Doors, and Sky<a href ="http://thehandyforce.com/electrical/" title ="East York Electrician">light</a>s".</p> 
	  
      
	  
	  
	  
	  
    </div>