<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | General
	  </h1>
      <p>
</p><p class="section-e"><b>9.7.4.2. General</b></p> <p class="subsection-e">  <b>(1) </b>Manufactured and pre-assembled windows, doors and skylights and their installation shall conform to,</p> <p class="clause-e">  (a) AAMA/WDMA/CSA 101/I.S.2/A440, "NAFS - North American Fenestration Standard/Specification for windows, Doors, and Skylights",</p> <p class="clause-e">  (b) CSA A440S1, "Canadian Supplement to AAMA/WDMA/CSA 101/I.S.2/A440, NAFS - North American Fenestration Standard/Specification for windows, Doors, and Skylights",</p> <p class="clause-e">  (c) this Subsection, and</p> <p class="clause-e">  (d) the applicable requirements in Subsection 9.7.6.</p> 
	  
      
	  
	  
	  
	  
    </div>