<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Application and Compliance
	  </h1>
      <p>
</p><p class="section-e"><b>9.7.5.1. application and Compliance</b></p> <p class="subsection-e"><b>  <b>(1) </b></b>Materials, design, construction and installation of windows, doors and skylights that separate <i>conditioned space</i> from unconditioned space or the exterior but that are not within the scope of AAMA/WDMA/CSA 101/I.S.2/A440, "NAFS - North American Fenestration Standard/Specification for windows, Doors, and Skylights" shall,</p> <p class="clause-e">  (a) conform to,</p> <p class="subclause-e">  (i) this Subsection or Subsection 9.7.4., and</p> <p class="subclause-e">  (ii) the applicable requirements in Subsection 9.7.6., or</p> <p class="clause-e">  (b) conform to Part 5.</p> <p class="subsection-e">  <b>(2) </b>glass for site-built windows, doors, sidelights for doors, and skylights shall comply with Section 9.6.</p> 
	  
      
	  
	  
	  
	  
    </div>