<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Resistance to Forced Entry for Windows
	  </h1>
      <p>
</p><p class="section-e"><b>9.7.5.3. Resistance to Forced Entry for <a href ="http://thehandyforce.com/windows/" title ="East York Window installer">window</a>s</b></p> <p class="subsection-e">  <b>(1) </b>In<i>dwelling units</i>, <a href ="http://thehandyforce.com/windows/" title ="East York Window installer">window</a>s, any part of which is located within 2 m of adjacent ground level, shall conform to the requirements for resistance to forced entry as described in Clause 5.3.5 of AAMA/WDMA/CSA 101/I.S.2/A440, "NAFS - North American Fenestration Standard/Specification for <a href ="http://thehandyforce.com/windows/" title ="East York Window installer">window</a>s, Doors, and Sky<a href ="http://thehandyforce.com/electrical/" title ="East York Electrician">light</a>s".</p> <p class="ruleb-e">9.7.6. <a href ="http://thehandyforce.com/insulation/" title ="Sprayfoam insulation in Toronto">installation</a></p> 
	  
      
	  
	  
	  
	  
    </div>