<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Resistance to Forced Entry for Windows
	  </h1>
      <p>
</p><p class="section-e"><b>9.7.5.3. Resistance to Forced Entry for windows</b></p> <p class="subsection-e">  <b>(1) </b>In<i>dwelling units</i>, windows, any part of which is located within 2 m of adjacent ground level, shall conform to the requirements for resistance to forced entry as described in Clause 5.3.5 of AAMA/WDMA/CSA 101/I.S.2/A440, "NAFS - North American Fenestration Standard/Specification for windows, Doors, and Skylights".</p> <p class="ruleb-e">9.7.6. installation</p> 
	  
      
	  
	  
	  
	  
    </div>