<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Sealants, Trim and Flashing
	  </h1>
      <p>
</p><p class="section-e"><b>9.7.6.2. Sealants, Trim and Flashing</b></p> <p class="subsection-e">  <b>(1) </b>The sealing compound used to seal the glass component of an insulating glazing unit to the sash component shall be compatible with the sealing compound used to edge seal the glass component.</p> <p class="subsection-e"><b>  (2) </b>Flashing used to protect openings shall conform to Articles 9.27.3.7. and 9.27.3.8.</p> <p class="subsection-e">  <b>(3) </b>Sealants shall be applied between window frames or trim and the exterior cladding or masonry in conformance with Subsection 9.27.4.</p> <p class="subsection-e">  <b>(4) </b>All unfinished portions of the frame and other components of aluminum windows, doors or skylights in contact with the edges of masonry, concrete, stucco or plaster shall be protected with an alkali-resistant coating.</p> <p class="ruleb-e">Section 9.8. Stairs, Ramps, handrails and Guards</p> <p class="ruleb-e">9.8.1. application</p> 
	  
      
	  
	  
	  
	  
    </div>