<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | General
	  </h1>
      <p>
</p><p class="section-e"><b>9.8.1.1. General</b></p> <p class="subsection-e">  <b>(1) </b>This Section applies to the <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a> and construction of <a href ="http://thehandyforce.com/interior/" title ="Interior Handyman services in Toronto">interior</a> and <a href ="http://thehandyforce.com/exterior/" title ="Certified home renovator">exterior</a> stairs, steps, ramps, <a href ="http://thehandyforce.com/services/" title ="East York Handyman">handrail</a>s and <i>guards</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>