<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Stairs, Ramps, Landings, Handrails and Guards in Garages
	  </h1>
      <p>
</p><p class="section-e"><b>9.8.1.2. Stairs, Ramps, Landings, handrails and Guards in garages</b></p> <p class="subsection-e"><b>  (1) </b>Except as provided in Sentence 9.8.6.2. (3), stairs, ramps, landings, handrails and <i>guards</i> in a garage that serves a single <i>dwelling unit</i> shall conform to the requirements for stairs, ramps, landings, handrails and <i>guards</i>within a <i>dwelling unit</i>.</p> <p class="Pnote-e">Note: On July 1, 2017, Sentence 9.8.1.2.(1) of Division B of the Regulation is amended by striking out "single <i>dwelling unit</i>" and substituting "<i>house</i>or an individual <i>dwelling unit</i>". (See: O. Reg. 139/17, s. 75)</p> 
	  
      
	  
	  
	  
	  
    </div>