<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Straight and Curved Runs in Stairs
	  </h1>
      <p>
</p><p class="section-e"><b>9.8.3.1. Straight and Curved Runs in Stairs</b></p> <p class="subsection-e">  <b>(1) </b>Except as provided in Sentence (2), stairs shall consist of,</p> <p class="clause-e">  (a) straight-runs, or</p> <p class="clause-e">  (b) curved-runs.</p> <p class="subsection-e">  <b>(2) </b>Stairs within <i>dwelling units</i> shall consist of,</p> <p class="clause-e">  (a) straight-runs,</p> <p class="clause-e">  (b) curved-runs,</p> <p class="clause-e">  (c) straight-runs with winders, or</p> <p class="clause-e">  (d) straight-runs with curved-runs.</p> 
	  
      
	  
	  
	  
	  
    </div>