<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Dimensions for Rectangular Runs and Treads
	  </h1>
      <p>
</p><p class="section-e"><b>9.8.4.2. Dimensions for Rectangular Runs and Treads</b></p> <p class="subsection-e">  <b>(1) </b>The run, which is measured as the horizontal nosing-to-nosing distance, and the tread depth of rectangular treads shall conform to Table 9.8.4.1.</p> <p class="subsection-e">  <b>(2) </b>The depth of a rectangular tread shall be not less than its run and not more than its run plus 25 mm.</p> 
	  
      
	  
	  
	  
	  
    </div>