<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Dimensions for Angled Treads
	  </h1>
      <p>
</p><p class="section-e"><b>9.8.4.3. Dimensions for Angled Treads</b></p> <p class="subsection-e">  <b>(1) </b>Angled treads in required <i>exit </i>stairs shall conform to the requirements in Article 3.4.6.9.</p> <p class="subsection-e">  <b>(2) </b>Except as provided in Article 9.8.4.5., angled treads in other than required <i>exit </i>stairs shall have an average run, which is measured as the horizontal nosing-to-nosing distance, of not less than 200 mm and a minimum run of 150 mm.</p> <p class="subsection-e">  <b>(3) </b>The depth of an angled tread shall be not less than its run, measured as the horizontal nosing-to-nosing distance, at any point and not more than its run at any point plus 25 mm.</p> 
	  
      
	  
	  
	  
	  
    </div>