<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Winders
	  </h1>
      <p>
</p><p class="section-e"><b>9.8.4.5. Winders</b></p> <p class="subsection-e">  <b>(1) </b>Stairs within <i>dwelling units</i> are permitted to contain winders that converge to a centre point provided,</p> <p class="clause-e">  (a) the winders turn through an angle of not more than 90°,</p> <p class="clause-e">  (b) individual treads turn through an angle of not less than 30° or not more than 45°, and</p> <p class="clause-e">  (c) adjacent winders turn through the same angle.</p> <p class="subsection-e">  <b>(2) </b>Where more than one set of winders described in Sentence (1) is provided in a single stairway between adjacent floor levels, such winders shall be separated in plan by at least 1 200 mm.</p> 
	  
      
	  
	  
	  
	  
    </div>