<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Multiple Major Occupancies
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.2.6. Multiple Major Occupancies</b></p> <p class="subsection-e"><b>  (1) </b>Except as permitted by Articles 3.2.2.7. and 3.2.2.8. and Sentences 3.2.2.43A.(5) and 3.2.2.50A.(4), in a <i>building</i>containing more than one <i>major occupancy</i>, the requirements of this Subsection for the most restricted <i>major occupancy</i> contained shall apply to the whole <i>building</i>.</p> <p class="Pnote-e">Note: On July 1, 2017, Article 3.2.2.6. of Division B of the Regulation is amended by adding the following Sentence: (See: O. Reg. 139/17, s. 15)</p> <p class="Ysubsection-e">  <b>(2) </b>For the purposes of Sentence (1), a <i>retirement home</i> is deemed to be a separate <i>major occupancy</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>