<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Interior Stairs Extending through the Roof
	  </h1>
      <p>
</p><p class="section-e"><b>9.8.4.7. <a href ="http://thehandyforce.com/interior/" title ="Interior Handyman services in Toronto">interior</a> Stairs Extending through the Roof</b></p> <p class="subsection-e">  <b>(1) </b><a href ="http://thehandyforce.com/interior/" title ="Interior Handyman services in Toronto">interior</a> stairways extending through the roof of a <i><a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="East York General Contractor for Bathrooms">building</a></i>shall be <a href ="http://thehandyforce.com/guarantee/" title ="Guaranteed Handymand and Renovation Services">protected</a> from ice and snow.</p> <p class="ruleb-e">9.8.5. Ramps</p> 
	  
      
	  
	  
	  
	  
    </div>