<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Slope
	  </h1>
      <p>
</p><p class="section-e"><b>9.8.5.4. Slope</b></p> <p class="subsection-e">  <b>(1) </b>The slope of ramps shall be not more than,</p> <p class="clause-e">  (a) 1 in 10 for <a href ="http://thehandyforce.com/exterior/" title ="Certified home renovator">exterior</a> ramps,</p> <p class="clause-e">  (b) 1 in 10 for <a href ="http://thehandyforce.com/interior/" title ="Interior Handyman services in Toronto">interior</a> ramps serving<i><a href ="http://thehandyforce.com/insulation/" title ="East York Home Energy Efficiency">residential</a> occupancies</i>,</p> <p class="clause-e">  (c) 1 in 6 for <i>mercan<a href ="http://thehandyforce.com/tiling/" title ="Professional Tile installer in East York">tile</a></i>or <i><a href ="http://thehandyforce.com/businesses/" title ="Building Maintance in Toronto">industrial</a> occupancies</i>, and</p> <p class="clause-e">  (d) 1 in 8 for all other <i>occupancies</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>