<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Application
	  </h1>
      <p>
</p><p class="section-e"><b>9.8.6.1. <a href ="http://thehandyforce.com/businesses/" title ="Business Services in Toronto">application</a></b></p> <p class="subsection-e">  <b>(1) </b>This Subsection applies to landings, except landings for ramps in a <i>barrier-free </i>path of travel.</p> <p class="subsection-e"><b>  (2) </b>Landings for ramps in a <i>barrier-free</i>path of travel shall conform to the requirements in Article 3.8.3.4.</p> <p class="subsection-e">  <b>(3) </b>Finished <a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a>s, and ground <a href ="http://thehandyforce.com/tiling/" title ="Professional Tile installer in Toronto">surface</a>s with a slope not <a href ="http://thehandyforce.com/guarantee/" title ="Reliable Contractors">exceed</a>ing 1 in 50, at the top and bottom of stairs or ramps shall be considered as landings.</p> 
	  
      
	  
	  
	  
	  
    </div>