<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Application
	  </h1>
      <p>
</p><p class="section-e"><b>9.8.6.1. application</b></p> <p class="subsection-e">  <b>(1) </b>This Subsection applies to landings, except landings for ramps in a <i>barrier-free </i>path of travel.</p> <p class="subsection-e"><b>  (2) </b>Landings for ramps in a <i>barrier-free</i>path of travel shall conform to the requirements in Article 3.8.3.4.</p> <p class="subsection-e">  <b>(3) </b>Finished floors, and ground surfaces with a slope not exceeding 1 in 50, at the top and bottom of stairs or ramps shall be considered as landings.</p> 
	  
      
	  
	  
	  
	  
    </div>