<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Termination of Handrails
	  </h1>
      <p>
</p><p class="section-e"><b>9.8.7.3. Termination of handrails</b></p> <p class="subsection-e">  <b>(1) </b>handrails shall be terminated in a manner that will not obstruct pedestrian travel or create a hazard.</p> <p class="subsection-e">  <b>(2) </b>Except for stairs and ramps serving a single <i>dwelling unit</i>, at least one handrail at the sides of a stair or ramp shall extend horizontally not less than 300 mm beyond the top and bottom of each stair or ramp.</p> <p class="Pnote-e">Note: On July 1, 2017, Sentence 9.8.7.3.(2) of Division B of the Regulation is amended by striking out "single <i>dwelling unit</i>" and substituting "<i>house</i>or an individual <i>dwelling unit</i>". (See: O. Reg. 139/17, s. 83)</p> 
	  
      
	  
	  
	  
	  
    </div>