<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Ergonomic Design
	  </h1>
      <p>
</p><p class="section-e"><b>9.8.7.5. Ergonomic design</b></p> <p class="subsection-e">  <b>(1) </b>A clearance of not less than 50 mm shall be provided between a handrail and any surface behind it.</p> <p class="subsection-e">  <b>(2) </b>All handrails shall be constructed so as to be continually graspable along their entire length with no obstruction on or above them to break a handhold, except where the handrail is interrupted by newels at changes in direction.</p> 
	  
      
	  
	  
	  
	  
    </div>