<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Guards for Floors and Ramps in Garages
	  </h1>
      <p>
</p><p class="section-e"><b>9.8.8.4. Guards for floors and Ramps in garages</b></p> <p class="subsection-e">  <b>(1) </b>Except for floors of garages referred to in Section 9.35., where garage floors or ramps are 600 mm or more above the adjacent ground or floor level, every opening through a garage floor and the perimeter of floors and ramps that have no exterior walls shall be provided with,</p> <p class="clause-e">  (a) a continuous curb not less than 150 mm in height, and</p> <p class="clause-e">  (b) a <i>guard </i>not less than 1 070 mm above the floor level.</p> <p class="subsection-e"><b>  (2) </b>Vehicle guardrails shall be designed for a concentrated horizontal load of 22 kN applied outward at any point 500 mm above the floor surface.</p> 
	  
      
	  
	  
	  
	  
    </div>