<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Guards Designed Not to Facilitate Climbing
	  </h1>
      <p>
</p><p class="section-e"><b>9.8.8.6. Guards designed Not to Facilitate Climbing</b></p> <p class="subsection-e">  <b>(1) </b><i>Guards</i> required by Article 9.8.8.1., except those in <i>industrial occupancies </i>and where it can be shown that the location and size of openings do not represent a hazard, shall be designed so that no member, attachment or opening located between 140 mm and 900 mm above the floor or walking surface protected by the <i>guard</i>will facilitate climbing.</p> 
	  
      
	  
	  
	  
	  
    </div>