<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Glass in Guards
	  </h1>
      <p>
</p><p class="section-e"><b>9.8.8.7. glass in Guards</b></p> <p class="subsection-e">  <b>(1) </b>glass in <i>guards</i> shall be,</p> <p class="clause-e">  (a) safety glass of the laminated or tempered type conforming to CAN/cgsb-12.1-M, "Tempered or Laminated Safety glass", or</p> <p class="clause-e">  (b) wired glass conforming to CAN/cgsb-12.11-M, "wired Safety glass".</p> <p class="ruleb-e">9.8.9. Construction</p> 
	  
      
	  
	  
	  
	  
    </div>