<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Loads on Stairs and Ramps
	  </h1>
      <p>
</p><p class="section-e"><b>9.8.9.1. Loads on Stairs and Ramps</b></p> <p class="subsection-e">  <b>(1) </b>Except as required in Articles 9.8.9.4. and 9.8.9.5., stairs and ramps shall be designed for strength and rigidity under uniform loading criteria to support specified loads of,</p> <p class="clause-e">  (a) 1.9 kPa for stairs and ramps serving a single <i>dwelling unit</i>, and</p> <p class="Pnote-e">Note: On July 1, 2017, Clause 9.8.9.1.(1)(a) of Division B of the Regulation is amended by striking out "single <i>dwelling unit</i>" and substituting "<i>house</i>or an individual <i>dwelling unit</i>". (See: O. Reg. 139/17, s. 85)</p> <p class="clause-e">  (b) 4.8 kPa for other stairs and ramps.</p> 
	  
      
	  
	  
	  
	  
    </div>