<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Exterior Concrete Stairs
	  </h1>
      <p>
</p><p class="section-e"><b>9.8.9.2. exterior Concrete Stairs</b></p> <p class="subsection-e">  <b>(1) </b>exterior concrete stairs with more than two risers and two treads shall be,</p> <p class="clause-e">  (a) supported on unit masonry or concrete walls or piers not less than 150 mm in cross-section, or</p> <p class="clause-e">  (b) cantilevered from the main <i>foundation</i> wall.</p> <p class="subsection-e">  <b>(2) </b>Stairs described in Sentence (1), when cantilevered from the <i>foundation</i>wall, shall be constructed and installed in conformance with Subsection 9.8.10.</p> <p class="subsection-e">  <b>(3) </b>The depth below ground level for <i>foundations</i> for exterior steps shall conform to the requirements in Section 9.12.</p> 
	  
      
	  
	  
	  
	  
    </div>