<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Exterior Wood Steps
	  </h1>
      <p>
</p><p class="section-e"><b>9.8.9.3. <a href ="http://thehandyforce.com/exterior/" title ="Certified home renovator">exterior</a> Wood Steps</b></p> <p class="subsection-e">  <b>(1) </b><a href ="http://thehandyforce.com/exterior/" title ="Certified home renovator">exterior</a> wood steps shall not be in direct contact with the ground unless suitably treated with a <a href ="http://thehandyforce.com/interior/" title ="Handyman Services in Toronto">wood</a> preservative.</p> 
	  
      
	  
	  
	  
	  
    </div>