<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Treads
	  </h1>
      <p>
</p><p class="section-e"><b>9.8.9.5. Treads</b></p> <p class="subsection-e">  <b>(1) </b>Stair treads of lumber, ply<a href ="http://thehandyforce.com/interior/" title ="Handyman Services in Toronto">wood</a> or O-2 grade OSB within <i>dwelling units</i> shall be not less than 25 mm actual thickness, except that if open risers are used and the distance between stringers <a href ="http://thehandyforce.com/guarantee/" title ="Reliable Contractors">exceed</a>s 750 mm, the treads shall be not less than 38 mm actual thickness.</p> <p class="subsection-e">  <b>(2) </b>Stair treads of ply<a href ="http://thehandyforce.com/interior/" title ="Handyman Services in Toronto">wood</a> or OSB, that are not continuously <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>ed by the riser shall have their face grain or direction of face orientation at right angles to the stringers.</p> 
	  
      
	  
	  
	  
	  
    </div>