<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Crawl Spaces
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.2.9. Crawl Spaces</b></p> <p class="subsection-e"><b>  (1) </b>For the purposes of Articles 3.2.1.4. and 3.2.1.5., a crawl space shall be considered as a <i>basement</i> if it is,</p> <p class="clause-e">  (a) more than 1 800 mm high between the lowest part of the floor assembly and the ground or other surface below,</p> <p class="clause-e">  (b) used for any <i>occupancy</i>,</p> <p class="clause-e">  (c) used for the passage of <i>flue pipes</i>, or</p> <p class="clause-e">  (d) used as a <i>plenum</i>in <i>combustible construction</i>.</p> <p class="subsection-e"><b>  (2) </b>A floor assembly immediately above a crawl space is not required to be constructed as a <i>fire separation</i> and is not required to have a <i>fire-resistance rating</i> provided the crawl space is not required to be considered as a <i>basement</i>by Sentence (1).</p> 
	  
      
	  
	  
	  
	  
    </div>