<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Prevention of Damage Due to Frost
	  </h1>
      <p>
</p><p class="section-e"><b>9.8.10.3. Pre<a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renovation inspiration">vent</a>ion of Damage Due to Frost</b></p> <p class="subsection-e">  <b>(1) </b>Suitable precautions shall be taken during backfilling and grading operations to ensure that subsequent freezing of the <i><a href ="http://thehandyforce.com/decks/" title ="Deck builder in Toronto">soil</a></i> will not cause uplift forces on the underside of can<a href ="http://thehandyforce.com/tiling/" title ="Professional Tile installer in East York">tile</a>vered concrete steps to the extent that the steps or the <a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a>s to which they are attached will be damaged.</p> <p class="ruleb-e">Section 9.9. Means of Egress</p> <p class="ruleb-e">9.9.1. General</p> 
	  
      
	  
	  
	  
	  
    </div>