<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Application
	  </h1>
      <p>
</p><p class="section-e"><b>9.9.1.1. <a href ="http://thehandyforce.com/businesses/" title ="Business Services in Toronto">application</a></b></p> <p class="subsection-e">  <b>(1) </b>Stairways, <a href ="http://thehandyforce.com/services/" title ="East York Handyman">handrail</a>s and <i>guards</i> in a <i>means of egress</i> shall conform to the requirements in Section 9.8. as well as to the requirements in this Section.</p> 
	  
      
	  
	  
	  
	  
    </div>