<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Occupant Load
	  </h1>
      <p>
</p><p class="section-e"><b>9.9.1.3. Occupant Load</b></p> <p class="subsection-e">  <b>(1) </b>The<i>occupant load</i> of a <i>floor area</i>or part of a <i>floor area</i>, or of a <i>building</i> or part of a <i>building</i>not having a <i>floor area</i>, shall be based on,</p> <p class="clause-e">  (a) two persons per sleeping room or sleeping area in a <i>dwelling unit</i> or <i>suite</i>, and</p> <p class="clause-e">  (b) for <i>occupancies</i>other than as described in Clause (a), the number of persons,</p> <p class="subclause-e">  (i) for which the area is designed, or</p> <p class="subclause-e">  (ii) determined from Table 3.1.17.1.</p> <p class="ruleb-e">9.9.2. Types and Purpose of Exits</p> 
	  
      
	  
	  
	  
	  
    </div>