<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Elevators, Slide Escapes and Windows as Means of Egress
	  </h1>
      <p>
</p><p class="section-e"><b>9.9.2.3. Elevators, Slide Escapes and windows as Means of Egress</b></p> <p class="subsection-e">  <b>(1) </b>Elevators, slide escapes or windows shall not be considered as part of a required <i>means of egress</i>.</p> <p class="subsection-e">  <b>(2) </b>Except for <i>floor areas</i> of <i>mercantile occupancy</i>, casement windows not less than 1 060 mm high, 560 mm wide, with a sill height not more than 900 mm above the inside floor, are permitted to be considered part of a required <i>means of egress</i>to provide access to fire escapes, when fire escapes are permitted.</p> 
	  
      
	  
	  
	  
	  
    </div>