<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Principal Entrances
	  </h1>
      <p>
</p><p class="section-e"><b>9.9.2.4. Principal Entrances</b></p> <p class="subsection-e">  <b>(1) </b>Except for doors serving a single <i>dwelling unit</i>, at least one door at every principal entrance to a <i>building </i>providing access from the exterior at ground level shall be designed in accordance with the requirements for <i>exits</i>.</p> <p class="Pnote-e">Note: On July 1, 2017, Sentence 9.9.2.4.(1) of Division B of the Regulation is amended by striking out "single <i>dwelling unit</i>" and substituting "<i>house</i>or an individual<i> dwelling unit</i>". (See: O. Reg. 139/17, s. 89)</p> 
	  
      
	  
	  
	  
	  
    </div>