<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Exterior Exit Stairs that Serve a Hotel
	  </h1>
      <p>
</p><p class="section-e"><b>9.9.2.6. exterior Exit Stairs that Serve a Hotel</b></p> <p class="subsection-e">  <b>(1) </b>Treads and landings of exterior <i>exit</i> stairs that serve a <i>hotel</i> shall be designed to be free from ice and snow accumulation.</p> <p class="ruleb-e">9.9.3. Dimensions of Means of Egress</p> 
	  
      
	  
	  
	  
	  
    </div>