<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Exit Width
	  </h1>
      <p>
</p><p class="section-e"><b>9.9.3.2. Exit Width</b></p> <p class="subsection-e">  <b>(1) </b>Except for <a href ="http://thehandyforce.com/doors/" title ="Toronto Door installer">door</a>s and <a href ="http://thehandyforce.com/interior/" title ="East York home renovator">corridor</a>s, the width of every <i>exit</i>facility shall be not less than 900 mm.</p> 
	  
      
	  
	  
	  
	  
    </div>