<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Width of Corridors
	  </h1>
      <p>
</p><p class="section-e"><b>9.9.3.3. Width of <a href ="http://thehandyforce.com/interior/" title ="East York home renovator">corridor</a>s</b></p> <p class="subsection-e">  <b>(1) </b>The width of every <i>public <a href ="http://thehandyforce.com/interior/" title ="East York home renovator">corridor</a></i>, <a href ="http://thehandyforce.com/interior/" title ="East York home renovator">corridor</a> used by the public, and <i>exit</i> <a href ="http://thehandyforce.com/interior/" title ="East York home renovator">corridor</a> shall be not less than 1 100 mm.</p> 
	  
      
	  
	  
	  
	  
    </div>