<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Clear Height
	  </h1>
      <p>
</p><p class="section-e"><b>9.9.3.4. Clear Height</b></p> <p class="subsection-e">  <b>(1) </b>Except for stairways, <a href ="http://thehandyforce.com/doors/" title ="Steel and fiberglass doors in Toronto">doorway</a> ="http://thehandyforce.com/doors/" title ="Toronto Door installer">doorways and <i>storage <a href ="http://thehandyforce.com/roofing/" title ="Toronto Roofer">garage</a>s</i>, the minimum clear height in <i>exits</i> and <i>access to exits</i> shall be 2 100 mm.</p> <p class="subsection-e">  <b>(2) </b>The clear height in <i>exits </i>and <i>access to exits</i> in a <i>storage <a href ="http://thehandyforce.com/roofing/" title ="Toronto Roofer">garage</a></i> shall be not less than 2 000 mm.</p> <p class="ruleb-e">9.9.4. Fire Protection of Exits</p> 
	  
      
	  
	  
	  
	  
    </div>