<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Application
	  </h1>
      <p>
</p><p class="section-e"><b>9.9.4.1. application</b></p> <p class="subsection-e">  <b>(1) </b>Except as provided in Articles 9.9.4.4. and 9.9.4.6., this Subsection applies to the fire protection of all <i>exits</i> except <i>exits</i> serving a single <i>dwelling unit</i>.</p> <p class="Pnote-e">Note: On July 1, 2017, Sentence 9.9.4.1.(1) of Division B of the Regulation is amended by striking out "a single <i>dwelling unit</i>" at the end and substituting "an individual<i>dwelling unit</i>". (See: O. Reg. 139/17, s. 91)</p> 
	  
      
	  
	  
	  
	  
    </div>