<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Openings Near Unenclosed Exit Stairs and Ramps
	  </h1>
      <p>
</p><p class="section-e"><b>9.9.4.4. openings Near Unenclosed Exit Stairs and Ramps</b></p> <p class="subsection-e">  <b>(1) </b>Where an unenclosed exterior <i>exit</i> stair or ramp provides the only <i>means of egress</i> from a <i>suite</i>, and is exposed to fire from openings in the exterior walls of another <i>fire compartment</i>, the openings in the exterior walls of the <i>building</i>shall be protected with wired glass in fixed steel frames or glass block conforming to Articles 9.10.13.5. and 9.10.13.7. when the openings in the exterior walls of the <i>building</i> are within 3 m horizontally and less than 10 m below or less than 5 m above the <i>exit</i> stair or ramp.</p> 
	  
      
	  
	  
	  
	  
    </div>