<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Exterior Balconies
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.2.11. <a href ="http://thehandyforce.com/exterior/" title ="Certified home renovator">exterior</a> Balconies</b></p> <p class="subsection-e"><b>  (1) </b>An <a href ="http://thehandyforce.com/exterior/" title ="Certified home renovator">exterior</a> balcony shall be constructed in accordance with the type of construction required by Articles 3.2.2.20. to 3.2.2.83., as applicable to the <i>occupancy</i> classification of the <i><a href ="https://www.tpsgc-pwgsc.gc.ca/ongc-cgsb/index-eng.html/" title ="Canadian General Standards Board">building</a></i>.</p> 
	  
      
	  
	  
	  
	  
    </div>