<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Application
	  </h1>
      <p>
</p><p class="section-e"><b>9.9.5.1. <a href ="http://thehandyforce.com/businesses/" title ="Business Services in Toronto">application</a></b></p> <p class="subsection-e">  <b>(1) </b>This Subsection applies to obstructions and hazards in every <i>means of egress</i> except those within a <i>dwelling unit</i>or serving a single <i>dwelling unit</i>.</p> <p class="Pnote-e">Note: On July 1, 2017, Sentence 9.9.5.1.(1) of Division B of the Regulation is amended by striking out "within a <i>dwelling unit</i> or serving a single <i>dwelling unit</i>" at the end and substituting "within or serving an individual <i>dwelling unit</i>". (See: O. Reg. 139/17, s. 93)</p> 
	  
      
	  
	  
	  
	  
    </div>