<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Occupancies in Corridors
	  </h1>
      <p>
</p><p class="section-e"><b>9.9.5.2. Occupancies in <a href ="http://thehandyforce.com/interior/" title ="East York home renovator">corridor</a>s</b></p> <p class="subsection-e">  <b>(1) </b>Where a <a href ="http://thehandyforce.com/interior/" title ="East York home renovator">corridor</a> contains an <i>occupancy</i>, the <i>occupancy</i> shall not reduce the unobstructed width of the <a href ="http://thehandyforce.com/interior/" title ="East York home renovator">corridor</a> to less than the required width of the <a href ="http://thehandyforce.com/interior/" title ="East York home renovator">corridor</a>.</p> 
	  
      
	  
	  
	  
	  
    </div>