<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Obstructions in Public Corridors
	  </h1>
      <p>
</p><p class="section-e"><b>9.9.5.3. Obstructions in Public corridors</b></p> <p class="subsection-e">  <b>(1) </b>Except as permitted in Sentence (2), obstructions located within 1 980 mm of the floor shall not project horizontally more than 100 mm into <i>exit</i>passageways, corridors used by the public or <i>public corridors</i> in a manner that would create a hazard for persons with no or low vision travelling adjacent to walls.</p> <p class="subsection-e">  <b>(2) </b>The horizontal projection of an obstruction in Sentence (1) is permitted to exceed 100 mm where the obstruction extends to less than 680 mm above the floor.</p> 
	  
      
	  
	  
	  
	  
    </div>