<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Mirrors or Draperies
	  </h1>
      <p>
</p><p class="section-e"><b>9.9.5.6. Mirrors or Draperies</b></p> <p class="subsection-e"><b>  (1) </b>No mirror shall be placed in or adjacent to any <i>exit</i> so as to cause confusion regarding the direction of <i>exit</i>, and no mirror or draperies shall be placed on or over <i>exit</i> <a href ="http://thehandyforce.com/doors/" title ="Toronto Door installer">door</a>s.</p> 
	  
      
	  
	  
	  
	  
    </div>