<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Service Rooms
	  </h1>
      <p>
</p><p class="section-e"><b>9.9.5.8. <a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">service</a> Rooms</b></p> <p class="subsection-e">  <b>(1) </b><i><a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">service</a> rooms</i> containing equipment subject to possible explosion, such as <i>boilers</i> <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a>ed to operate at a <a href ="http://thehandyforce.com/plumbing/" title ="Increase water pressure with a Toronto Plumber">pressure</a> in excess of 100 kPa, and certain types of refrigerating and transformer equipment, shall not be located under required <i>exits</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>