<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Service Rooms
	  </h1>
      <p>
</p><p class="section-e"><b>9.9.5.8. service Rooms</b></p> <p class="subsection-e">  <b>(1) </b><i>service rooms</i> containing equipment subject to possible explosion, such as <i>boilers</i> designed to operate at a pressure in excess of 100 kPa, and certain types of refrigerating and transformer equipment, shall not be located under required <i>exits</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>