<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Effort Required to Open
	  </h1>
      <p>
</p><p class="section-e"><b>9.9.6.8. Effort Required to Open</b></p> <p class="subsection-e">  <b>(1) </b>Except as required by Sentence 3.8.3.3.(7), every <i>exit </i>door, except doors serving a single <i>dwelling unit</i>, shall be designed and installed so that when the latch is released the door will open in the direction of <i>exit </i>travel under a force of not more than 90 N applied to the door release hardware.</p> <p class="Pnote-e">Note: On July 1, 2017, Sentence 9.9.6.8.(1) of Division B of the Regulation is amended by striking out "single <i>dwelling unit</i>" and substituting "<i>house</i>or an individual <i>dwelling unit</i>". (See: O. Reg. 139/17, s. 96)</p> <p class="ruleb-e">9.9.7. Access to Exits</p> 
	  
      
	  
	  
	  
	  
    </div>