<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Egress from Roof Area, Podiums, Terraces, Platforms and Contained Open Spaces
	  </h1>
      <p>
</p><p class="section-e"><b>9.9.7.1. Egress from Roof Area, Podiums, Terraces, Platforms and Contained Open Spaces</b></p> <p class="subsection-e">  <b>(1) </b>An<i>access to exit</i> shall be provided from every roof intended for occupancy and from every podium, terrace, platform or contained open space.</p> <p class="subsection-e">  <b>(2) </b>Where a roof is intended for an <i>occupant load</i> of more than 60 persons, at least two separate <i>means of egress</i>shall be provided from the roof to stairs designed in conformance with the requirements for <i>exit</i> stairs and located remote from each other.</p> <p class="subsection-e">  <b>(3) </b>Where a podium, terrace, platform or contained open space is provided, egress requirements shall conform to the appropriate requirements for rooms or <i>suites</i> in Article 9.9.7.4.</p> 
	  
      
	  
	  
	  
	  
    </div>