<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Means of Egress from Suites
	  </h1>
      <p>
</p><p class="section-e"><b>9.9.7.2. Means of Egress from Suites</b></p> <p class="subsection-e">  <b>(1) </b>Except as required by Sentence 9.9.9.3.(1), each <i>suite</i> in a <i>floor area</i> occupied by more than one <i>suite</i> shall have,</p> <p class="clause-e">  (a) an exterior <i>exit</i>doorway,</p> <p class="clause-e">  (b) a doorway to a <i>public corridor</i>, or</p> <p class="clause-e">  (c) a doorway to an exterior passageway.</p> <p class="subsection-e">  <b>(2) </b>Except as provided in Sentences 9.9.7.3.(1) and 9.9.8.2.(2), from the point where a doorway described in Clause (1)(b) or (c) enters the <i>public corridor</i> or exterior passageway, it shall be possible to go in opposite directions to each of two separate <i>exits</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>