<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Number and Spacing of Egress Doors
	  </h1>
      <p>
</p><p class="section-e"><b>9.9.7.4. Number and Spacing of Egress doors</b></p> <p class="subsection-e">  <b>(1) </b>Except for <i>dwelling units</i>, at least two egress doors shall be provided where,</p> <p class="clause-e">  (a) the area of a room or <i>suite</i> exceeds 200 m² in a Group D, E, F2 and F3 <i>occupancy</i>, or 150 m² in a Group C <i>occupancy</i>, or</p> <p class="clause-e">  (b) the distance measured from any point within a room or <i>suite</i> to the nearest egress door exceeds 25 m.</p> <p class="subsection-e">  <b>(2) </b>doors required in Sentence (1) shall be spaced so that in the event one door is made inaccessible by a fire within such a room or <i>suite</i>, the other door will provide safe egress.</p> 
	  
      
	  
	  
	  
	  
    </div>