<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Independent Access to Exit
	  </h1>
      <p>
</p><p class="section-e"><b>9.9.7.5. Independent Access to Exit</b></p> <p class="subsection-e">  <b>(1) </b>Required<i>access to exit</i> from <i>suites</i>shall not be through any other <i>dwelling unit</i>, <i><a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">service</a> room</i> or other <i>occupancy</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>