<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Travel Distance within Rooms and Suites
	  </h1>
      <p>
</p><p class="section-e"><b>9.9.7.6. Travel Distance within Rooms and Suites</b></p> <p class="subsection-e">  <b>(1) </b>Except for <i>dwelling units</i>, the travel distance from any point within the room or <i>suite</i> to the nearest egress door shall not exceed the maximum travel distance in Article 9.9.8.2.</p> <p class="ruleb-e">9.9.8. Exits from floor Areas</p> 
	  
      
	  
	  
	  
	  
    </div>