<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Location of Exits
	  </h1>
      <p>
</p><p class="section-e"><b>9.9.8.4. Location of Exits</b></p> <p class="subsection-e"><b>  (1) </b>Where more than one <i>exit</i> is required from a <i><a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a> area</i>, at least two <i>exits</i> shall be independent of each other and be placed remote from each other along the path of travel between them.</p> 
	  
      
	  
	  
	  
	  
    </div>