<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Police Stations
	  </h1>
      <p>
</p><p class="section-e"><b>3.1.2.4. Police Stations</b></p> <p class="subsection-e"><b>  (1) </b>A police station with detention quarters is permitted to be classified as a Group B, Division 2 <i>major occupancy</i>provided the station is not more than 1 <i>storey</i> in <i><a href ="http://thehandyforce.com/businesses/" title ="Business Services in Toronto">building</a> height</i> and 600 m<sup>2</sup> in <i>building area</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>