<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Rooftop Enclosures
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.2.14. Rooftop Enclosures</b></p> <p class="subsection-e"><b>  (1) </b>A rooftop enclosure for elevator machinery or for a <i>service room</i> shall be constructed in accordance with the type of construction required by Articles 3.2.2.20. to 3.2.2.83.</p> <p class="subsection-e"><b>  (2) </b>A rooftop enclosure for elevator machinery or for a <i>service room</i>, not more than 1 <i>storey</i>high, is not required to have a <i>fire-resistance rating</i>.</p> <p class="subsection-e"><b>  (3) </b>A rooftop enclosure for a stairway shall be constructed in accordance with the type of construction required by Articles 3.2.2.20. to 3.2.2.83.</p> <p class="subsection-e"><b>  (4) </b>A rooftop enclosure for a stairway need not have a <i>fire-resistance rating</i> nor be constructed as a <i>fire separation</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>