<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Two Separate Exits
	  </h1>
      <p>
</p><p class="section-e"><b>9.9.9.2. Two Separate Exits</b></p> <p class="subsection-e">  <b>(1) </b>Except as provided in Sentence 9.9.7.3.(1), where an egress <a href ="http://thehandyforce.com/doors/" title ="Toronto Door installer">door</a> from a <i>dwelling unit</i> opens onto a <i>public <a href ="http://thehandyforce.com/interior/" title ="East York home renovator">corridor</a></i> or <a href ="http://thehandyforce.com/exterior/" title ="Certified home renovator">exterior</a> passageway it shall be possible from the location where the egress <a href ="http://thehandyforce.com/doors/" title ="Toronto Door installer">door</a> opens onto the <a href ="http://thehandyforce.com/interior/" title ="East York home renovator">corridor</a> or <a href ="http://thehandyforce.com/exterior/" title ="Certified home renovator">exterior</a> passageway to go in opposite directions to two separate <i>exits</i> unless the <i>dwelling unit</i> has a second and separate <i>means of egress</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>