<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Two Separate Exits
	  </h1>
      <p>
</p><p class="section-e"><b>9.9.9.2. Two Separate Exits</b></p> <p class="subsection-e">  <b>(1) </b>Except as provided in Sentence 9.9.7.3.(1), where an egress door from a <i>dwelling unit</i> opens onto a <i>public corridor</i> or exterior passageway it shall be possible from the location where the egress door opens onto the corridor or exterior passageway to go in opposite directions to two separate <i>exits</i> unless the <i>dwelling unit</i> has a second and separate <i>means of egress</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>