<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Signs for Stairs and Ramps at Exit Level
	  </h1>
      <p>
</p><p class="section-e"><b>9.9.11.4. Signs for Stairs and Ramps at Exit Level</b></p> <p class="subsection-e">  <b>(1) </b>In<i>buildings</i> that are 3 <i>storeys</i>in <i>building height</i>, any part of an <i>exit</i> ramp or stairway that continues up or down past the lowest <i>exit level</i> shall be clearly marked to indicate that it does not lead to an <i>exit</i> where the portion below <i>exit level</i> may be mistaken as the direction of <i>exit</i> travel.</p> 
	  
      
	  
	  
	  
	  
    </div>