<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Floor Numbering
	  </h1>
      <p>
</p><p class="section-e"><b>9.9.11.5. floor Numbering</b></p> <p class="subsection-e">  <b>(1) </b>Arabic numerals indicating the assigned floor number shall be,</p> <p class="clause-e">  (a) except in <i>hotels</i>, mounted permanently on the stair side of the wall at the latch side of doors to<i>exit</i> stair shafts,</p> <p class="clause-e">  (b) in <i>hotels</i>, mounted permanently on each side of the <i>exit</i> doors to the <i>exit</i> stair shaft,</p> <p class="clause-e">  (c) not less than 60 mm high, raised approximately 0.8 mm above the surface,</p> <p class="clause-e">  (d) located 1 500 mm from the finished floor and not more than 300 mm from the door, and</p> <p class="clause-e">  (e) contrasting in colour with the surface on which they are applied.</p> <p class="ruleb-e">9.9.12. lighting</p> 
	  
      
	  
	  
	  
	  
    </div>