<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Application
	  </h1>
      <p>
</p><p class="section-e"><b>9.9.12.1. <a href ="http://thehandyforce.com/businesses/" title ="Business Services in Toronto">application</a></b></p> <p class="subsection-e">  <b>(1) </b>This Subsection applies to the <a href ="http://thehandyforce.com/electrical/" title ="Electrician in East York">lighting</a>="http://thehandyforce.com/electrical/" title ="East York Electrician">lighting of all <i>means of egress</i>except those within <i>dwelling units</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>