<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Required Lighting in Egress Facilities
	  </h1>
      <p>
</p><p class="section-e"><b>9.9.12.2. Required lighting in Egress Facilities</b></p> <p class="subsection-e">  <b>(1) </b>Every<i>exit</i>, <i>public corridor</i>or corridor providing <i>access to exit</i> for the public shall be equipped to provide illumination to an average level of not less than 50 lx at floor or tread level and at all points such as angles and intersections at changes of level where there are stairs or ramps.</p> <p class="subsection-e">  <b>(2) </b>The minimum value of the illumination required by Sentence (1) shall be not less than 10 1x.</p> 
	  
      
	  
	  
	  
	  
    </div>