<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Support of Noncombustible Construction
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.1.1. <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a> of Noncombustible Construction</b></p> <p class="subsection-e">  <b>(1) </b>Where an assembly is required to be of <i>noncombustible construction</i> and to have a <i>fire-resistance rating</i>, it shall be <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>ed by <i>noncombustible</i> <i>construction</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>