<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Items Under Part 6 Jurisdiction
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.1.4. Items Under Part 6 Jurisdiction</b></p> <p class="subsection-e">  <b>(1) </b>In kitchens containing commercial cooking equipment used in processes producing grease-laden vapours, the equipment shall be <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a>ed and installed in conformance with Part 6.</p> <p class="subsection-e">  <b>(2) </b>Where fuel-fired <i>appliances</i> are installed on a roof, such<i>appliances</i> shall be installed in conformance with Part 6.</p> <p class="ruleb-e">9.10.2. Occupancy Classification</p> 
	  
      
	  
	  
	  
	  
    </div>