<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Heavy Timber Roof Permitted
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.2.16. Heavy Timber Roof Permitted</b></p> <p class="subsection-e"><b>  (1) </b>Unless otherwise permitted by Articles 3.2.2.20. to 3.2.2.83., a roof assembly in a <i>building</i> up to 2 <i>storeys</i> in <i>building height</i> is permitted to be of <i>heavy timber construction</i>regardless of <i>building area</i> or type of construction required, provided the <i>building</i> is <i>sprinklered</i>.</p> <p class="subsection-e"><b>  (2) </b>If Sentence (1) permits a roof assembly to be of <i>heavy timber construction</i>, structural members in the <i>storey</i> immediately below the roof assembly are permitted to be of <i>heavy timber construction</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>