<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Buildings Containing More Than One Major Occupancy
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.2.4. buildings Containing More Than One Major Occupancy</b></p> <p class="subsection-e">  <b>(1) </b>In a <i>building</i> containing more than 1 <i>major occupancy</i>, where the aggregate area of all <i>major occupancies</i> in a particular group or division does not exceed 10% of the <i>floor area</i> on the <i>storey</i> on which they are located, they need not be considered as <i>major occupancies</i> for the purposes of Articles 9.10.2.3. and 9.10.8.1. provided they are not classified as Group F, Division 2 <i>occupancies</i>.</p> <p class="ruleb-e">9.10.3. Ratings</p> 
	  
      
	  
	  
	  
	  
    </div>