<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Fire-Resistance and Fire-Protection Ratings
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.3.1. Fire-Resistance and Fire-Protection Ratings</b></p> <p class="subsection-e">  <b>(1) </b>Where a <i>fire-resistance rating</i> or a <i>fire-protection rating</i> is required in this Section for an element of a <i><a href ="http://thehandyforce.com/drywall/" title ="Professional Toronto Handyman">building</a></i>, such rating shall be determined in conformance with the test methods described in Part 3, or in accordance with MMAH Supplementary Standard SB-2, "Fire Performance Ratings", or MMAH Supplementary Standard SB-3, "Fire and Sound Resistance of Building Assemblies".</p> 
	  
      
	  
	  
	  
	  
    </div>