<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Fire Exposure
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.3.3. Fire Exposure</b></p> <p class="subsection-e">  <b>(1) </b>floor, roof and ceiling assemblies shall be rated for exposure to fire on the underside.</p> <p class="subsection-e">  <b>(2) </b>exterior walls shall be rated for exposure to fire from inside the <i>building</i>, except that such walls need not comply with the temperature rise limitations required by the standard tests referred to in Article 9.10.3.1. if such walls have a <i>limiting distance</i> of not less than 1.2 m, and due allowance is made for the effects of heat radiation in accordance with the requirements in Part 3.</p> <p class="subsection-e">  <b>(3) </b><i>Firewalls</i> and interior vertical <i>fire separations</i> required to have <i>fire-resistance ratings</i> shall be rated for exposure to fire on each side.</p> 
	  
      
	  
	  
	  
	  
    </div>