<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Suspended Membrane Ceiling
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.3.4. Suspended Membrane ceiling</b></p> <p class="subsection-e">  <b>(1) </b>Where a ceiling construction has a suspended membrane ceiling with lay-in panels or tiles that contribute to the required <i>fire-resistance rating</i>, hold down clips or other means shall be provided to prevent the lifting of such panels or tiles in the event of a fire.</p> <p class="ruleb-e">9.10.4. building Size Determination</p> 
	  
      
	  
	  
	  
	  
    </div>