<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Mezzanines not Considered as Storeys
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.4.1. Mezzanines not Considered as Storeys</b></p> <p class="subsection-e">  <b>(1) </b><i>Mezzanines</i> shall not be considered as <i>storeys</i> for the purpose of determining <i>building height</i> where the aggregate area of <i>mezzanine</i> floors does not exceed 10% of,</p> <p class="clause-e">  (a) the <i>suite</i>in which it is located, where there is more than one <i>suite</i>in the <i>storey</i>, or</p> <p class="clause-e">  (b) the <i>storey</i>in which it is located, in all other cases.</p> <p class="subsection-e">  <b>(2) </b><i>Mezzanines</i> shall not be considered as <i>storeys</i> for the purpose of determining <i>building height</i> where they occupy an aggregate area not exceeding 40% of the area of the room or the <i>storey</i>in which they are located provided the space above the <i>mezzanine</i>floor has no visual obstructions more than 1 070 mm above such floors.</p> 
	  
      
	  
	  
	  
	  
    </div>