<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Basement Storage Garages
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.4.3. basement Storage garages</b></p> <p class="subsection-e">  <b>(1) </b>Where a <i>basement</i> is used primarily as a <i>storage garage</i>, the <i>basement </i>is permitted to be considered as a separate <i>building</i>for the purposes of this Section provided the floor above the <i>basement</i> and the exterior walls of the <i>basement</i> above the adjoining ground level are constructed as <i>fire</i> <i>separations</i> of masonry or concrete having a <i>fire-resistance rating</i>of not less than 2 h.</p> 
	  
      
	  
	  
	  
	  
    </div>