<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Rooftop Enclosures
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.4.4. Rooftop Enclosures</b></p> <p class="subsection-e">  <b>(1) </b>Rooftop enclosures provided for elevator machinery, stairways and <i><a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">service</a> rooms</i>, used for no purpose other than for <a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">service</a> to the <i><a href ="http://thehandyforce.com/roofing/" title ="Toronto Roofer">building</a></i>, shall not be considered as a <i>storey</i> in calculating the <i>building height</i>.</p> <p class="ruleb-e">9.10.5. Permitted Openings in Wall and Ceiling Assemblies</p> 
	  
      
	  
	  
	  
	  
    </div>