<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Sprinklers in Lieu of Roof Rating
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.2.17. Sprinklers in Lieu of Roof Rating</b></p> <p class="subsection-e"><b>  (1) </b>The requirements in Articles 3.2.2.20. to 3.2.2.83. for roof assemblies to have a <i>fire-resistance rating</i> are permitted to be waived provided,</p> <p class="clause-e">  (a) except as provided by Sentence (2), the <i>building</i> is <i>sprinklered</i>,</p> <p class="clause-e">  (b) the sprinkler system in Clause (a) is electrically supervised in conformance with Sentence 3.2.4.10.(3), and</p> <p class="clause-e">  (c) the operation of the sprinkler system in Clause (a) will cause a signal to be transmitted to the fire department in conformance with Sentence 3.2.4.8.(4).</p> <p class="subsection-e">  <b>(2) </b>The <i>fire-resistance rating</i> of roof assemblies required by Clause 3.2.2.43A.(2)(b) or 3.2.2.50A.(2)(b) is not permitted to be waived.</p> 
	  
      
	  
	  
	  
	  
    </div>