<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Combustible Elements in Noncombustible Construction
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.6.1. Combustible Elements in Noncombustible Construction</b></p> <p class="subsection-e">  <b>(1) </b>Where a <i><a href ="http://thehandyforce.com/exterior/" title ="Exterior home repairs in Toronto">building</a></i> or part of a <i>building</i>is required to be of <i>noncombustible construction</i>, <i>combustible</i> elements shall be limited in conformance with the requirements in Subsection 3.1.5.</p> 
	  
      
	  
	  
	  
	  
    </div>