<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Heavy Timber Construction
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.6.2. Heavy Timber Construction</b></p> <p class="subsection-e">  <b>(1) </b><i>Heavy timber construction</i> shall be considered to have a 45 min <i>fire-resistance rating</i> when it is constructed in accordance with the requirements for <i>heavy timber construction</i> in Article 3.1.4.7.</p> <p class="ruleb-e">9.10.7. Steel Members</p> 
	  
      
	  
	  
	  
	  
    </div>