<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Protection of Structural Steel Members
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.7.1. Protection of Structural Steel Members</b></p> <p class="subsection-e">  <b>(1) </b>Except as provided in Article 3.2.2.3., structural steel members used in construction required to have a <i>fire-resistance rating</i> shall be protected to provide the required <i>fire-resistance rating</i>.</p> <p class="ruleb-e">9.10.8. Fire-Resistance, Combustibility and Sprinklers in Relation to Occupancy, Height and supported Elements</p> 
	  
      
	  
	  
	  
	  
    </div>