<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Fire-Resistance Ratings in Sprinklered Buildings
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.8.2. Fire-Resistance Ratings in Sprinklered buildings</b></p> <p class="subsection-e">  <b>(1) </b>Except for roofs that support an <i>occupancy</i>, the requirements in Table 9.10.8.1. for roof assemblies to have a <i>fire-resistance rating</i> are permitted to be waived in <i>sprinklered buildings</i> where,</p> <p class="clause-e">  (a) the sprinkler system is electrically supervised in conformance with Sentence 3.2.4.10.(3), and</p> <p class="clause-e">  (b) the operation of the sprinkler system will cause a signal to be transmitted to the fire department in conformance with Sentence 3.2.4.8.(4).</p> 
	  
      
	  
	  
	  
	  
    </div>