<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Fire-Resistance Ratings for Walls, Columns and Arches
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.8.3. Fire-Resistance Ratings for walls, columns and Arches</b></p> <p class="subsection-e">  <b>(1) </b>Except as otherwise provided in this Subsection, all <i>loadbearing </i>walls, columns and arches in the <i>storey</i> immediately below a floor or roof assembly shall have a <i>fire-resistance rating</i> of not less than that required for the supported floor or roof assembly.</p> 
	  
      
	  
	  
	  
	  
    </div>