<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Fire-Resistance Ratings for Walls, Columns and Arches
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.8.3. Fire-Resistance Ratings for <a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a>s, <a href ="http://thehandyforce.com/interior/" title ="Home renovations in East York">columns</a> and Arches</b></p> <p class="subsection-e">  <b>(1) </b>Except as otherwise provided in this Subsection, all <i><a href ="http://thehandyforce.com/renovations/" title ="East York General Contractor">loadbearing</a> </i>walls, <a href ="http://thehandyforce.com/interior/" title ="Home renovations in East York">columns</a> and arches in the <i>storey</i> immediately below a <a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a> or roof assembly shall have a <i>fire-resistance rating</i> of not less than that required for the <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>ed floor or roof assembly.</p> 
	  
      
	  
	  
	  
	  
    </div>