<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Automatic Sprinkler Systems
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.8.4. Automatic Sprinkler Systems</b></p> <p class="subsection-e">  <b>(1) </b>A retirement home regulated under the <i>Retirement Homes Act, 2010</i>shall be <i>sprinklered</i> in accordance with Sentence 9.10.1.3.(8).</p> <p class="Pnote-e">Note: On July 1, 2017, Article 9.10.8.4. of Division B of the Regulation is revoked and the following substituted: (See: O. Reg. 139/17, s. 99)</p> <p class="Ysection-e"><b>9.10.8.4. Reserved</b></p> 
	  
      
	  
	  
	  
	  
    </div>