<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Roofs Supporting an Occupancy
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.8.7. Roofs supporting an Occupancy</b></p> <p class="subsection-e">  <b>(1) </b>Where a portion of a roof supports an <i>occupancy</i>, that portion shall be constructed as a <i>fire separation</i>having a <i>fire-resistance rating</i> conforming to the rating for "floors Except floors over Crawl Spaces" in Table 9.10.8.1.</p> 
	  
      
	  
	  
	  
	  
    </div>