<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Crawl Spaces
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.8.9. Crawl Spaces</b></p> <p class="subsection-e">  <b>(1) </b>Where a crawl space exceeds 1 800 mm in height or is used for any <i>occupancy</i> or as a <i>plenum</i> in <i>combustible construction</i> or for the passage of <i>flue pipes</i>, it shall be considered as a <i>basement</i> in applying the requirements in Article 9.10.8.1.</p> 
	  
      
	  
	  
	  
	  
    </div>