<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Application to Houses
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.8.10. application to Houses</b></p> <p class="subsection-e">  <b>(1) </b>Table 9.10.8.1. does not apply to a <i>dwelling unit</i> that has no other <i>dwelling unit</i> above or below it or to a <i>dwelling unit</i> that is not above or below another <i>major occupancy</i>.</p> <p class="Pnote-e">Note: On July 1, 2017, Article 9.10.8.10. of Division B of the Regulation is revoked and the following substituted: (See: O. Reg. 139/17, s. 101)</p> <p class="Ysection-e"><b>9.10.8.10. Non-application to Houses</b></p> <p class="Ysubsection-e">  <b>(1) </b>Table 9.10.8.1. does not apply to <i>houses</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>