<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Part 3 as an Alternative
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.8.11. Part 3 as an Alternative</b></p> <p class="subsection-e">  <b>(1) </b>The<i>fire-resistance ratings</i> of floors, roofs, <i>loadbearing</i> walls, columns and arches need not conform to this Subsection if such assemblies conform in all respects to the appropriate requirements in Section 3.2.</p> <p class="ruleb-e">9.10.9. Fire Separations Between Rooms and Spaces Within buildings</p> 
	  
      
	  
	  
	  
	  
    </div>