<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Part 3 as an Alternative
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.8.11. Part 3 as an Alternative</b></p> <p class="subsection-e">  <b>(1) </b>The<i>fire-resistance ratings</i> of <a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a>s, roofs, <i><a href ="http://thehandyforce.com/renovations/" title ="East York General Contractor">loadbearing</a></i> walls, <a href ="http://thehandyforce.com/interior/" title ="Home renovations in East York">columns</a> and arches need not conform to this Subsection if such assemblies conform in all respects to the appropriate requirements in Section 3.2.</p> <p class="ruleb-e">9.10.9. Fire Separations Between Rooms and Spaces Within <a href ="http://thehandyforce.com/doors/" title ="Interior and Exterior Doors - East York">building</a>s</p> 
	  
      
	  
	  
	  
	  
    </div>