<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Continuous Barrier
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.9.2. Continuous Barrier</b></p> <p class="subsection-e">  <b>(1) </b>Except as permitted in Article 9.10.9.3., a wall or floor assembly required to be a <i>fire separation</i> shall be constructed as a continuous barrier against the spread of fire.</p> <p class="subsection-e">  <b>(2) </b>The continuity of a <i>fire separation</i> shall be maintained where it abuts another <i>fire separation</i>, a floor, a ceiling, a roof or an exterior wall assembly.</p> 
	  
      
	  
	  
	  
	  
    </div>