<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Continuous Barrier
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.9.2. Continuous Barrier</b></p> <p class="subsection-e">  <b>(1) </b>Except as permitted in Article 9.10.9.3., a <a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a> or <a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a> assembly required to be a <i>fire separation</i> shall be constructed as a continuous barrier against the spread of fire.</p> <p class="subsection-e">  <b>(2) </b>The continuity of a <i>fire separation</i> shall be maintained where it abuts another <i>fire separation</i>, a <a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a>, a <a href ="http://thehandyforce.com/drywall/" title ="Drywall repair and installation in Toronto">ceiling</a>, a roof or an <a href ="http://thehandyforce.com/exterior/" title ="Certified home renovator">exterior</a> wall assembly.</p> 
	  
      
	  
	  
	  
	  
    </div>