<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Openings to be Protected With Closures
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.9.3. <a href ="http://thehandyforce.com/doors/" title ="Door installer in Toronto">openings</a>="http://thehandyforce.com/windows/" title ="Window installer in Toronto">openings to be <a href ="http://thehandyforce.com/guarantee/" title ="Guaranteed Handymand and Renovation Services">protected</a> With Closures</b></p> <p class="subsection-e">  <b>(1) </b>Except as permitted in Articles 9.10.9.5. to 9.10.9.7., <a href ="http://thehandyforce.com/doors/" title ="Door installer in Toronto">openings</a>="http://thehandyforce.com/windows/" title ="Window installer in Toronto">openings in required <i>fire separations</i> shall be <a href ="http://thehandyforce.com/guarantee/" title ="Guaranteed Handymand and Renovation Services">protected</a> with <i>closures</i> conforming to Subsection 9.10.13.</p> 
	  
      
	  
	  
	  
	  
    </div>