<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Floor Assemblies
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.9.4. floor Assemblies</b></p> <p class="subsection-e">  <b>(1) </b>Except as permitted in Sentences (2) to (4), all floor assemblies shall be constructed as <i>fire separations</i>.</p> <p class="subsection-e">  <b>(2) </b>floor assemblies contained within <i>dwelling units</i> need not be constructed as <i>fire separations</i>.</p> <p class="subsection-e">  <b>(3) </b>floor assemblies for which no <i>fire-resistance rating</i> is required by Subsection 9.10.8. and floors of <i>mezzanines</i>not required to be counted as <i>storeys </i>in Articles 9.10.4.1. and 9.10.4.2. need not be constructed as <i>fire separations</i>.</p> <p class="subsection-e">  <b>(4) </b>Where a crawl space is not required by Article 9.10.8.9. to be constructed as a <i>basement</i>, the floor above it need not be constructed as a<i>fire separation</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>