<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Collapse of Combustible Construction
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.9.8. Collapse of Combustible Construction</b></p> <p class="subsection-e">  <b>(1) </b><i>Combustible construction</i> that abuts on or is <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>ed by a <i>noncombustible fire separation</i> shall be constructed so that its collapse under fire conditions will not cause collapse of the <i>fire separation</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>