<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Reduction in Thickness of Fire Separation by Beams and Joists
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.9.9. Reduction in Thickness of Fire Separation by Beams and joists</b></p> <p class="subsection-e">  <b>(1) </b>Where pockets for the support of beams or joists are formed in a masonry or concrete <i>fire separation</i>, the remaining total thickness of solid masonry and/or grout and/or concrete shall be not less than the required equivalent thickness shown for Type S monolithic concrete in Table 2.1.1. of MMAH Supplementary Standard SB-2, "Fire Performance Ratings", for the required <i>fire-resistance rating</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>