<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Separation of Suites
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.9.13. Separation of Suites</b></p> <p class="subsection-e">  <b>(1) </b>Except as required in Article 9.10.9.14. and as permitted by Sentence (2), each <i>suite</i> in other than <i>business and personal services occupancies</i> shall be separated from adjoining <i>suites</i> by a <i>fire separation</i>having a <i>fire-resistance rating</i> of not less than 45 min.</p> <p class="subsection-e">  <b>(2) </b>In<i>sprinklered buildings</i>, <i>suites</i>of <i>business and personal services</i> <i>occupancy</i> and <i>mercantile occupancy</i>that are served by <i>public corridors</i> conforming with Sentence 3.3.1.4.(4) are not required to be separated from each other by <i>fire separations</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>