<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Exhaust Ducts Serving More Than One Fire Compartment
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.9.18. Exhaust Ducts Serving More Than One Fire Compartment</b></p> <p class="subsection-e">  <b>(1) </b>Where a <i>vertical service space</i> contains an <i>exhaust</i> duct that serves more than one <i>fire compartment</i>, the duct shall have a fan located at or near the exhaust outlet to ensure that the duct is under negative pressure.</p> <p class="subsection-e">  <b>(2) </b>Individual<i>fire compartments</i> referred to in Sentence (1) shall not have fans that exhaust directly into the duct in the <i>vertical service space</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>