<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Application
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.10.1. <a href ="http://thehandyforce.com/businesses/" title ="Business Services in Toronto">application</a></b></p> <p class="subsection-e">  <b>(1) </b>This Subsection applies to <i><a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">service</a> rooms</i> in all <i><a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Quality Bathroom Renovator in Toronto">building</a>s</i> except rooms located within a <i>dwelling unit</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>