<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Service Room Floors
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.10.2. <a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">service</a> Room <a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a>s</b></p> <p class="subsection-e">  <b>(1) </b>The<i>fire-resistance rating</i> requirements in this Subsection do not apply to the <a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a> assembly immediately below a <i><a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">service</a> room</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>