<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Separation of Service Rooms
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.10.3. Separation of service Rooms</b></p> <p class="subsection-e">  <b>(1) </b>Except as provided in Sentence (2) and Articles 9.10.10.5. and 9.10.10.6., <i>service rooms</i> shall be separated from the remainder of the <i>building </i>by a <i>fire separation</i> having a <i>fire-resistance rating</i>of not less than 1 h when the <i>floor area</i> containing the <i>service room</i> is not <i>sprinklered</i>.</p> <p class="subsection-e">  <b>(2) </b>Where a room contains a limited quantity of service equipment and the service equipment does not constitute a fire hazard, the requirements in Sentence (1) shall not apply.</p> 
	  
      
	  
	  
	  
	  
    </div>