<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Incinerators
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.10.5. Incinerators</b></p> <p class="subsection-e">  <b>(1) </b><i>service rooms</i> containing incinerators shall be separated from the remainder of the <i>building</i> by a <i>fire separation</i> having a <i>fire-resistance rating</i> of not less than 2 h.</p> <p class="subsection-e">  <b>(2) </b>The design, construction, installation and alteration of each indoor incinerator shall conform to nfpa 82, "Incinerators, Waste and Linen Handling Systems and Equipment".</p> <p class="subsection-e">  <b>(3) </b>Every incinerator shall be connected to a <i>chimney flue</i>conforming to the requirements in Section 9.21. and serving no other <i>appliance</i>.</p> <p class="subsection-e">  <b>(4) </b>An incinerator shall not be located in a room with other fuel-fired <i>appliances</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>