<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Storage Rooms
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.10.6. Storage Rooms</b></p> <p class="subsection-e">  <b>(1) </b>Rooms for the temporary storage of <i>combustible</i> refuse in all <i>occupancies</i> or for public storage in <i>residential occupancies</i> shall be separated from the remainder of the <i>building</i> by a <i>fire separation</i> having not less than a 1 h <i>fire-resistance rating</i>, except that a 45 min <i>fire separation</i> is permitted where the <i>fire-resistance rating</i> of the floor assembly is not required to exceed 45 min, or where such rooms are <i>sprinklered</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>