<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Emergency Power Installations
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.10.7. Emergency Power installations</b></p> <p class="subsection-e">  <b>(1) </b>Where a generator intended to supply emergency power for lighting, fire safety and life safety systems is located in a <i>building</i>, it shall be located in a room that,</p> <p class="clause-e">  (a) is separated from the remainder of the <i>building </i>by a <i>fire separation</i> with a <i>fire-resistance rating</i> not less than,</p> <p class="subclause-e">  (i) 1 h, if the floor assembly is not required to have a <i>fire-resistance rating</i>of more than 1 h, and</p> <p class="subclause-e">  (ii) 2 h, if the floor assembly is required to have a <i>fire-resistance rating</i>of more than 1 h, and</p> <p class="clause-e">  (b) contains only the generating set and equipment that is related to the emergency power supply system.</p> <p class="ruleb-e">9.10.11. Firewalls</p> 
	  
      
	  
	  
	  
	  
    </div>