<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Required Firewalls
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.11.1. Required Fire<a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a>s</b></p> <p class="subsection-e">  <b>(1) </b>Except as provided in Articles 9.10.11.2. and 9.10.11.4., a <i>party <a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a></i> on a property line shall be constructed as a <i>fire<a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a></i>.</p> 
	  
      
	  
	  
	  
	  
    </div>