<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Firewalls in Detached Garages
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.11.4. Firewalls in Detached garages</b></p> <p class="subsection-e">  <b>(1) </b>Where a garage is detached from the <i>dwelling unit</i> but attached to another garage on the adjacent property, the <i>party wall</i> so formed shall be constructed as a <i>fire separation</i> having a <i>fire-resistance rating</i>of not less than 45 min.</p> <p class="Pnote-e">Note: On July 1, 2017, Sentence 9.10.11.4.(1) of Division B of the Regulation is amended by striking out "Where a garage is detached from the <i>dwelling unit</i>" at the beginning and substituting "Where a garage is detached from the<i>house</i> or the individual <i>dwelling unit</i> it serves". (See: O. Reg. 139/17, s. 107)</p> <p class="ruleb-e">9.10.12. Prevention of Fire Spread at exterior Walls and Between Storeys</p> 
	  
      
	  
	  
	  
	  
    </div>