<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Termination of Floors or Mezzanines
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.12.1. Termination of floors or Mezzanines</b></p> <p class="subsection-e">  <b>(1) </b>Except as provided in Sentence (2) and in Articles 9.10.1.3. and 9.10.9.5., the portions of a <i>floor area</i> or <i>mezzanine</i>that do not terminate at an exterior wall, a <i>firewall</i>or a vertical shaft, shall terminate at a vertical <i>fire separation</i> having a <i>fire-resistance rating</i>not less than that required for the floor assembly that terminates at the separation.</p> <p class="subsection-e">  <b>(2) </b>A<i>mezzanine</i> need not terminate at a vertical <i>fire separation</i> where the <i>mezzanine</i>is not required to be considered as a <i>storey</i> in Articles 9.10.4.1. and 9.10.4.2.</p> 
	  
      
	  
	  
	  
	  
    </div>