<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Location of Skylights
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.12.2. Location of Skylights</b></p> <p class="subsection-e">  <b>(1) </b>Where a wall in a <i>building</i> is exposed to a fire hazard from an adjoining roof of a separate unsprinklered <i>fire compartment</i> in the same <i>building, </i>the roof shall contain no skylights within a horizontal distance of 5 m of the windows in the exposed wall.</p> 
	  
      
	  
	  
	  
	  
    </div>