<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Exterior Walls Meeting at an Angle
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.12.3. exterior Walls Meeting at an Angle</b></p> <p class="subsection-e">  <b>(1) </b>Except as provided in Article 9.9.4.5., where exterior walls of a <i>building</i> meet at an external angle of less than 135°, the horizontal distance from an opening in one wall to an opening in the other wall shall be not less than 1.2 m where the openings are in different <i>fire compartments</i>.</p> <p class="subsection-e">  <b>(2) </b>The exterior wall of each <i>fire compartment</i> referred to in Sentence (1) within the 1.2 m distance, shall have a <i>fire-resistance rating</i> not less than that required for the interior vertical <i>fire separation</i> between the compartment and the remainder of the <i>building</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>