<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Unrated Wood Door Frames
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.13.3. Unrated <a href ="http://thehandyforce.com/interior/" title ="Handyman Services in Toronto">wood</a> <a href ="http://thehandyforce.com/doors/" title ="Toronto Door installer">door</a> Frames</b></p> <p class="subsection-e">  <b>(1) </b><a href ="http://thehandyforce.com/doors/" title ="Toronto Door installer">door</a>s required to provide a 20 min <i>fire-protection rating</i>or permitted to be 45 mm solid core <a href ="http://thehandyforce.com/interior/" title ="Handyman Services in Toronto">wood</a> shall be mounted in a <a href ="http://thehandyforce.com/interior/" title ="Handyman Services in Toronto">wood</a> frame of at least 38 mm thickness where the frame has not been tested and rated.</p> 
	  
      
	  
	  
	  
	  
    </div>