<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Doors as a Means of Egress
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.13.4. <a href ="http://thehandyforce.com/doors/" title ="Toronto Door installer">door</a>s as a Means of Egress</b></p> <p class="subsection-e">  <b>(1) </b><a href ="http://thehandyforce.com/doors/" title ="Toronto Door installer">door</a>s forming part of an <i>exit</i> or a public <i>means of egress</i> shall conform to Subsection 9.9.6. in addition to this Subsection.</p> 
	  
      
	  
	  
	  
	  
    </div>