<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Wired Glass as a Closure
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.13.5. wired glass as a Closure</b></p> <p class="subsection-e">  <b>(1) </b>wired glass conforming to Article 9.6.1.2. that has not been tested in accordance with Article 9.10.3.1. is permitted as a <i>closure</i> in a vertical <i>fire separation</i> required to have a <i>fire-resistance rating</i> of not more than 1 h provided such glass is not less than 6 mm thick and is mounted in conformance with Sentence (2).</p> <p class="subsection-e">  <b>(2) </b>wired glass described in Sentence (1) shall be mounted in fixed steel frames having a minimum metal thickness of not less than 1.35 mm and a glazing stop of not less than 20 mm on each side of the glass.</p> <p class="subsection-e">  <b>(3) </b>Individual panes of glass described in Sentence (1) shall not exceed 0.8 m² in area or 1.4 m in height or width, and the area of glass not structurally supported by mullions shall not exceed 7.5 m².</p> 
	  
      
	  
	  
	  
	  
    </div>