<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Self-Closing Device
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.13.10. Self-Closing Device</b></p> <p class="subsection-e">  <b>(1) </b>Except as described in Sentence (2), every <a href ="http://thehandyforce.com/doors/" title ="Toronto Door installer">door</a> in a <i>fire separation</i> shall have a self-closing device.</p> <p class="subsection-e">  <b>(2) </b>Self-closing devices are not required between <i>public <a href ="http://thehandyforce.com/interior/" title ="East York home renovator">corridor</a>s</i>and <i>suites</i> in <i>business and personal <a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">service</a>s occupancies</i>, except in,</p> <p class="clause-e">  (a) dead-end <a href ="http://thehandyforce.com/interior/" title ="East York home renovator">corridor</a>s, or</p> <p class="clause-e">  (b) a <a href ="http://thehandyforce.com/interior/" title ="East York home renovator">corridor</a> that serves a <i>hotel</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>