<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Self-Closing Device
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.13.10. Self-Closing Device</b></p> <p class="subsection-e">  <b>(1) </b>Except as described in Sentence (2), every door in a <i>fire separation</i> shall have a self-closing device.</p> <p class="subsection-e">  <b>(2) </b>Self-closing devices are not required between <i>public corridors</i>and <i>suites</i> in <i>business and personal services occupancies</i>, except in,</p> <p class="clause-e">  (a) dead-end corridors, or</p> <p class="clause-e">  (b) a corridor that serves a <i>hotel</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>