<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Service Room Doors
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.13.12. <a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">service</a> Room <a href ="http://thehandyforce.com/doors/" title ="Toronto Door installer">door</a>s</b></p> <p class="subsection-e">  <b>(1) </b>Swing-type <a href ="http://thehandyforce.com/doors/" title ="Toronto Door installer">door</a>s shall open into <i><a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">service</a> rooms</i> containing fuel-fired equipment where such <a href ="http://thehandyforce.com/doors/" title ="Toronto Door installer">door</a>s lead to <i>public <a href ="http://thehandyforce.com/interior/" title ="East York home renovator">corridor</a>s</i> or rooms used for assembly but shall swing outward from such rooms in all other cases.</p> 
	  
      
	  
	  
	  
	  
    </div>