<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Group B, Division 3 Occupancies
	  </h1>
      <p>
</p><p class="section-e"><b>3.1.2.5. Group B, Division 3 Occupancies</b></p> <p class="subsection-e"><b>  (1) </b>Group B, Division 3 <i>occupancies</i> are permitted to be classified as Group C <i>major occupancies</i>provided,</p> <p class="clause-e">  (a) the occupants live as a single <a href ="http://thehandyforce.com/exterior/" title ="East York Handy Man">house</a>keeping unit in a <i>suite</i> with sleeping accommodation for not more than 10 persons, and</p> <p class="clause-e">  (b) not more than two occupants require assistance in evacuation in case of an emergency.</p> 
	  
      
	  
	  
	  
	  
    </div>