<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Application
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.15.1. application</b></p> <p class="subsection-e">  <b>(1) </b>This Subsection applies to <i>buildings</i> that,</p> <p class="clause-e">  (a) contain only <i>dwelling units</i> and have no <i>dwelling unit </i>above another <i>dwelling unit,</i> and</p> <p class="clause-e">  (b) are not designed in accordance with Subsection 9.10.14.</p> <p class="Pnote-e">Note: On July 1, 2017, Sentence 9.10.15.1.(1) of Division B of the Regulation is revoked and the following substituted: (See: O. Reg. 139/17, s. 111)</p> <p class="Ysubsection-e">  <b>(1) </b>This Subsection applies to <i>houses</i> that are not designed in accordance with Subsection 9.10.14.</p> 
	  
      
	  
	  
	  
	  
    </div>