<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Inadequate Firefighting Facilities
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.15.3. Inadequate Firefighting Facilities</b></p> <p class="subsection-e">  <b>(1) </b>Where there is no fire department or where a fire department is not organized, trained and equipped to meet the needs of the community, the required<i> limiting distance</i> determined from Sentences 9.10.15.4.(2) and (5) and Sentence 9.10.15.5.(6), shall be doubled for a <i>building</i> that is not <i>sprinklered</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>