<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Flame-Spread Rating of Interior Surfaces
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.17.1. Flame-Spread Rating of interior Surfaces</b></p> <p class="subsection-e">  <b>(1) </b>Except as otherwise provided in this Subsection, the exposed surface of every interior wall and ceiling, including skylights and glazing, shall have a surface <i>flame-spread rating</i> of not more than 150.</p> <p class="subsection-e">  <b>(2) </b>Except as permitted in Sentence (3), doors need not conform to Sentence (1) provided they have a surface <i>flame-spread rating</i> of not more than 200.</p> <p class="subsection-e">  <b>(3) </b>doors within <i>dwelling units</i>, other than vehicle garage doors, need not conform to Sentences (1) and (2).</p> 
	  
      
	  
	  
	  
	  
    </div>