<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Ceilings in Exits or Public Corridors
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.17.2. <a href ="http://thehandyforce.com/drywall/" title ="Drywall repair and installation in Toronto">ceiling</a>s in Exits or Public <a href ="http://thehandyforce.com/interior/" title ="East York home renovator">corridor</a>s</b></p> <p class="subsection-e">  <b>(1) </b>At least 90% of the exposed <a href ="http://thehandyforce.com/tiling/" title ="Professional Tile installer in Toronto">surface</a> of every <a href ="http://thehandyforce.com/drywall/" title ="Drywall repair and installation in Toronto">ceiling</a> in an <i>exit</i>or unsprinklered <a href ="http://thehandyforce.com/drywall/" title ="Drywall repair and installation in Toronto">ceiling</a> in a <i>public <a href ="http://thehandyforce.com/interior/" title ="East York home renovator">corridor</a></i> shall have a <a href ="http://thehandyforce.com/tiling/" title ="Professional Tile installer in Toronto">surface</a> <i>flame-spread rating</i> of not more than 25.</p> 
	  
      
	  
	  
	  
	  
    </div>