<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Walls in Exits
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.17.3. walls in Exits</b></p> <p class="subsection-e">  <b>(1) </b>Except as provided in Sentence (2), at least 90% of the exposed surfaces of every wall in an <i>exit</i> shall have a surface <i>flame-spread rating</i> of not more than 25.</p> <p class="subsection-e">  <b>(2) </b>At least 75% of the wall surface of a lobby used as an <i>exit</i>in Article 9.9.8.5. shall have a surface <i>flame-spread rating</i> of not more than 25.</p> 
	  
      
	  
	  
	  
	  
    </div>