<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Calculation of Wall and Ceiling Areas
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.17.6. Calculation of <a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a> and <a href ="http://thehandyforce.com/drywall/" title ="Drywall repair and installation in Toronto">ceiling</a> Areas</b></p> <p class="subsection-e">  <b>(1) </b>Sky<a href ="http://thehandyforce.com/electrical/" title ="East York Electrician">light</a>s, glazing, <i>combustible</i> <a href ="http://thehandyforce.com/doors/" title ="Toronto Door installer">door</a>s, and <i>combustible</i> <a href ="http://thehandyforce.com/electrical/" title ="East York Electrician">light</a> diffusers and lenses shall not be considered in the calculation of <a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a> and <a href ="http://thehandyforce.com/drywall/" title ="Drywall repair and installation in Toronto">ceiling</a> areas in this Subsection.</p> 
	  
      
	  
	  
	  
	  
    </div>