<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Corridors Containing an Occupancy
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.17.7. corridors Containing an Occupancy</b></p> <p class="subsection-e">  <b>(1) </b>Where a <i>public corridor</i> or a corridor used by the public contains an <i>occupancy</i>, the interior finish materials used on the walls or ceiling of such <i>occupancy</i>shall have a surface <i>flame-spread rating</i> in conformance with that required for <i>public corridors</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>