<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Combustible Skylights
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.17.9. Combustible Sky<a href ="http://thehandyforce.com/electrical/" title ="East York Electrician">light</a>s</b></p> <p class="subsection-e">  <b>(1) </b>Individual<i>combustible</i> sky<a href ="http://thehandyforce.com/electrical/" title ="East York Electrician">light</a>s in <a href ="http://thehandyforce.com/interior/" title ="East York home renovator">corridor</a>s required to be separated from the remainder of the <i><a href ="http://thehandyforce.com/services/" title ="East York Handyman">building</a></i> by <i>fire separations</i> shall not <a href ="http://thehandyforce.com/guarantee/" title ="Reliable Contractors">exceed</a> 1 m² in area and shall be spaced not less than 1.2 m apart.</p> 
	  
      
	  
	  
	  
	  
    </div>