<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Combustible Skylights
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.17.9. Combustible Skylights</b></p> <p class="subsection-e">  <b>(1) </b>Individual<i>combustible</i> skylights in corridors required to be separated from the remainder of the <i>building</i> by <i>fire separations</i> shall not exceed 1 m² in area and shall be spaced not less than 1.2 m apart.</p> 
	  
      
	  
	  
	  
	  
    </div>