<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Walls and Ceilings in Bathrooms
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.17.11. <a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a>s and <a href ="http://thehandyforce.com/drywall/" title ="Drywall repair and installation in Toronto">ceiling</a>s in Bathrooms</b></p> <p class="subsection-e">  <b>(1) </b>The <a href ="http://thehandyforce.com/interior/" title ="Interior Handyman services in Toronto">interior</a> finish of <a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a>s and <a href ="http://thehandyforce.com/drywall/" title ="Drywall repair and installation in Toronto">ceiling</a>s in bathrooms within <i>suites</i>of <i><a href ="http://thehandyforce.com/insulation/" title ="East York Home Energy Efficiency">residential</a> occupancy</i> shall have a <a href ="http://thehandyforce.com/tiling/" title ="Professional Tile installer in Toronto">surface</a> <i>flame-spread rating</i> of not more than 200.</p> 
	  
      
	  
	  
	  
	  
    </div>