<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Access Provided through a Firewall
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.18.1. Access Provided through a Firewall</b></p> <p class="subsection-e">  <b>(1) </b>Where access is provided through a <i>firewall</i>, the requirements in this Subsection shall apply to the <i>floor areas</i> on both sides of the <i>firewall</i> as if they were in the same <i>building</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>