<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Access Provided through a Firewall
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.18.1. Access Provided through a Fire<a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a></b></p> <p class="subsection-e">  <b>(1) </b>Where access is provided through a <i>fire<a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a></i>, the requirements in this Subsection shall apply to the <i><a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a> areas</i> on both sides of the <i>fire<a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a></i> as if they were in the same <i><a href ="http://thehandyforce.com/plumbing/" title ="Plubing leak repair in Toronto">building</a></i>.</p> 
	  
      
	  
	  
	  
	  
    </div>