<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Design and Installation Requirements
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.18.3. design and installation Requirements</b></p> <p class="subsection-e">  <b>(1) </b>Except as provided in Sentence (2), fire alarm, fire detection and smoke detection devices and systems, and their installation, shall conform to Subsection 3.2.4. and Articles 3.2.7.8. and 3.2.7.10.</p> <p class="subsection-e"><b>  (2) </b>Articles 3.2.4.1., 3.2.4.11., 3.2.4.12., 3.2.4.13., 3.2.4.14., 3.2.4.22. and 3.2.4.23. do not apply to Part 9 <i>buildings</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>