<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Smoke Detectors in Recirculating Air Handling Systems
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.18.5. Smoke detectors in Recirculating Air Handling Systems</b></p> <p class="subsection-e">  <b>(1) </b>Except for a recirculating air system serving not more than one <i>dwelling unit</i>, where a fire alarm system is required to be installed, every recirculating air handling system shall be designed to prevent the circulation of smoke upon a signal from a duct-type <i>smoke detector</i>where such system supplies more than one <i>suite</i> on the same floor or serves more than 1 <i>storey</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>