<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Central Vacuum Systems
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.18.7. Central Vacuum Systems</b></p> <p class="subsection-e"><b>  (1) </b>A central vacuum cleaning system serving more than one <i>suite</i> or <i>storey</i> in a <i><a href ="http://thehandyforce.com/tiling/" title ="Toronto tile installer">building</a></i> equipped with a fire alarm system shall be <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a>ed to shut down upon activation of the fire alarm system.</p> 
	  
      
	  
	  
	  
	  
    </div>