<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Sound Patterns of Smoke Alarms
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.19.2. Sound Patterns of Smoke Alarms</b></p> <p class="subsection-e"><b>  (1) </b>The sound patterns of <i>smoke alarms</i>shall,</p> <p class="clause-e">  (a) meet the temporal patterns of <i>alarm signals</i>, or</p> <p class="clause-e">  (b) be a combination of temporal pattern and voice relay.</p> 
	  
      
	  
	  
	  
	  
    </div>