<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Interconnection of Smoke Alarms
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.19.5. Interconnection of Smoke Alarms</b></p> <p class="subsection-e">  <b>(1) </b>Where more than one <i>smoke alarm</i> is required in a <i>dwelling unit</i>, the <i>smoke alarms</i>shall be <a href ="http://thehandyforce.com/electrical/" title ="ESA liscenced Electrician">wire</a>ref ="http://thehandyforce.com/electrical/" title ="Electricians in East York">wired so that the activation of one alarm will cause all alarms within the <i>dwelling unit</i> to sound.</p> 
	  
      
	  
	  
	  
	  
    </div>