<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Instructions for Maintenance and Care
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.19.7. Instructions for Maintenance and Care</b></p> <p class="subsection-e">  <b>(1) </b>Where instructions are necessary to describe the maintenance and care required for <i>smoke alarms</i> to ensure continuing satisfactory performance, they shall be posted in a location where they will be readily available to the occupants for reference.</p> <p class="ruleb-e">9.10.20. Firefighting</p> 
	  
      
	  
	  
	  
	  
    </div>