<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Fire Department Access to Buildings
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.20.3. Fire Department Access to <a href ="http://thehandyforce.com/wallpaper/" title ="Wallpaper installer in East York">building</a>s</b></p> <p class="subsection-e">  <b>(1) </b>Access for fire department equipment shall be provided to each <i>building</i>by means of a <i>street</i>, private roadway or yard.</p> <p class="subsection-e">  <b>(2) </b>Where access to a <i>building</i> as required in Sentence (1) is provided by means of a roadway or yard, the design and location of such roadway or yard shall take into account connection with public thoroughfares, weight of firefighting equipment, width of roadway, radius of curves, overhead clearance, location of fire hydrants, location of fire department connections and vehicular parking.</p> 
	  
      
	  
	  
	  
	  
    </div>