<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Freeze Protection for Fire Protection Systems
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.20.5. Freeze Protection for Fire Protection Systems</b></p> <p class="subsection-e">  <b>(1) </b>Equipment forming part of a fire protection system that may be adversely affected by freezing temperatures and that is located in an unheated area shall be protected from freezing.</p> <p class="ruleb-e">9.10.21. Fire Protection for Construction Camps</p> <p class="section-e"><b>9.10.21.1 Requirements for Construction Camps</b></p> <p class="subsection-e">  <b>(1) </b>Except as provided in Articles 9.10.21.2. to 9.10.21.9., <i>camps for housing of workers</i> shall conform to Subsections 9.10.1. to 9.10.20.</p> 
	  
      
	  
	  
	  
	  
    </div>