<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Separation of Sleeping Rooms
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.21.2. Separation of Sleeping Rooms</b></p> <p class="subsection-e">  <b>(1) </b>Except for sleeping rooms within <i>dwelling units</i>, sleeping rooms in a <i>building</i> in a <i>camp for housing of workers</i> shall be separated from each other and from the remainder of the <i>building</i> by a <i>fire separation</i> having not less than a 30 min <i>fire-resistance rating</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>