<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Floor Assemblies Between the First and Second Storey
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.21.3. <a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a> Assemblies Between the First and Second Storey</b></p> <p class="subsection-e">  <b>(1) </b>Except in a <i>dwelling unit</i>, a <a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a> assembly in a <i><a href ="http://thehandyforce.com/plumbing/" title ="Increase water pressure with a Toronto Plumber">building</a></i> in a <i>camp for housing of workers</i> separating the <i>first storey</i> and the second <i>storey</i> shall be constructed as a <i>fire separation</i> having not less than a 30 min <i>fire-resistance rating</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>