<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Walkways Connecting Buildings
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.21.4. Walkways Connecting <a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Basement renvator in Toronto">building</a>s</b></p> <p class="subsection-e">  <b>(1) </b><i>Walkways</i> of <i>combustible construction</i>connecting <i>buildings</i> shall be separated from each connected <i>building</i> by a <i>fire separation</i> having not less than a 45 min <i>fire-resistance rating</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>