<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Spatial Separations
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.21.5. Spatial Separations</b></p> <p class="subsection-e">  <b>(1) </b><i><a href ="http://thehandyforce.com/tiling/" title ="Professional Tile installer in Toronto">building</a>s</i> in a <i>camp for housing of workers</i> shall be separated from each other by a distance of not less than 10 m unless otherwise permitted in Subsection 9.10.14.</p> 
	  
      
	  
	  
	  
	  
    </div>