<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Flame-Spread Ratings
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.21.6. Flame-Spread Ratings</b></p> <p class="subsection-e">  <b>(1) </b>Except in <i>dwelling units</i> and except as provided in Sentence (2), the surface <i>flame-spread rating</i> of wall and ceiling surfaces in corridors and <i>walkways</i>, exclusive of doors, shall not exceed 25 over not less than 90 per cent of the exposed surface area and not more than 150 over the remaining surface area.</p> <p class="subsection-e">  <b>(2) </b>Except within <i>dwelling units</i>, corridors that provide <i>access to exit</i> from sleeping rooms and that have a <i>fire-resistance rating</i> of not less than 45 min shall have a <i>flame-spread rating</i> conforming to the appropriate requirements in Subsection 9.10.17.</p> 
	  
      
	  
	  
	  
	  
    </div>