<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Smoke Detectors
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.21.7. Smoke detectors</b></p> <p class="subsection-e">  <b>(1) </b>Except in <i>dwelling units</i>, corridors providing <i>access to exit</i> from sleeping rooms in every <i>building</i> in a <i>camp for housing of workers</i> with sleeping accommodation for more than 10 persons shall have a <i>smoke detector</i> connected to the <i>building</i> alarm system.</p> 
	  
      
	  
	  
	  
	  
    </div>