<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Smoke Detectors
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.21.7. Smoke <a href ="http://thehandyforce.com/electrical/" title ="Licensed electrician East York">detector</a>s</b></p> <p class="subsection-e">  <b>(1) </b>Except in <i>dwelling units</i>, <a href ="http://thehandyforce.com/interior/" title ="East York home renovator">corridor</a>s providing <i>access to exit</i> from sleeping rooms in every <i><a href ="http://thehandyforce.com/exterior/" title ="Siding installation in Toronto">building</a></i> in a <i>camp for housing of workers</i> with sleeping accommodation for more than 10 persons shall have a <i>smoke <a href ="http://thehandyforce.com/electrical/" title ="Licensed electrician East York">detector</a></i> connected to the <i>building</i> alarm system.</p> 
	  
      
	  
	  
	  
	  
    </div>