<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Portable Fire Extinguishers
	  </h1>
      <p>
</p><p class="section-e"><b>9.10.21.8. Portable Fire Extinguishers</b></p> <p class="subsection-e">  <b>(1) </b>Each<i><a href ="http://thehandyforce.com/fence/" title ="East York fence builder">building</a></i> in a <i>camp for housing of workers</i> shall be provided with portable fire extinguishers in conformance with the provisions of the Fire Code made under the <i>Fire Protection and Pre<a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renovation inspiration">vent</a>ion Act, 1997</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>