<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Determination of Sound Transmission Class Ratings
	  </h1>
      <p>
</p><p class="section-e"><b>9.11.1.1. Determination of Sound Transmission Class Ratings</b></p> <p class="subsection-e">  <b>(1) </b>Sound transmission class ratings shall be determined in accordance with ASTM E413, "Classification for Rating Sound insulationinsulation", using results from measurements in accordance with,</p> <p class="clause-e">  (a) ASTM E90, "Laboratory Measurement of Airborne Sound Transmission Loss of building Partitions and Elements", or</p> <p class="clause-e">  (b) ASTM E336, "Measurement of Airborne Sound Attenuation Between Rooms in Buildings".</p> <p class="ruleb-e">9.11.2. Required Sound Control Locations (Airborne Sound)</p> 
	  
      
	  
	  
	  
	  
    </div>