<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Minimum Sound Transmission Class Ratings
	  </h1>
      <p>
</p><p class="section-e"><b>9.11.2.1. Minimum Sound Transmission Class Ratings</b></p> <p class="subsection-e">  <b>(1) </b>Except as provided in Sentence (2), every <i>dwelling unit</i>and every <i>suite</i> in <i>hotels</i>shall be separated from every other space in a <i>building</i>in which noise may be generated, by an assembly providing a sound transmission class rating of at least 50, measured in accordance with Subsection 9.11.1. or as listed in Tables 1 and 2 of MMAH Supplementary Standard SB-3, "Fire and Sound Resistance of Building Assemblies".</p> <p class="subsection-e">  <b>(2) </b>Where a <i>dwelling unit</i> or <i>suite</i>in a <i>hotel</i> is adjacent to an elevator shaft or a refuse chute, the separating assembly shall have a sound transmission class rating of at least 55, measured in accordance with Subsection 9.11.1. or as listed in Tables 1 and 2 of MMAH Supplementary Standard SB-3, "Fire and Sound Resistance of Building Assemblies".</p> 
	  
      
	  
	  
	  
	  
    </div>