<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Building Services in an Assembly
	  </h1>
      <p>
</p><p class="section-e"><b>9.11.2.2. <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">building</a> Services in an Assembly</b></p> <p class="subsection-e">  <b>(1) </b><i>Building</i> services located in an assembly required to have a sound transmission class rating shall be installed in a manner that will not decrease the required rating of the assembly.</p> <p class="ruleb-e">Section 9.12. Excavation</p> <p class="ruleb-e">9.12.1. General</p> 
	  
      
	  
	  
	  
	  
    </div>