<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Removal of Topsoil and Organic Matter
	  </h1>
      <p>
</p><p class="section-e"><b>9.12.1.1. Removal of Topsoil and Organic Matter</b></p> <p class="subsection-e">  <b>(1) </b>The topsoil and vegetable matter in all unexcavated areas under a <i>building</i> shall be removed.</p> <p class="subsection-e">  <b>(2) </b>In localities where termite infestation is known to be a problem, all stumps, roots and other wood debris shall be removed from the <i>soil</i>to a depth of not less than 300 mm in unexcavated areas under a <i>building</i>.</p> <p class="subsection-e">  <b>(3) </b>The bottom of every <i>excavation</i> shall be free of all organic material.</p> 
	  
      
	  
	  
	  
	  
    </div>