<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Precautions During Excavation
	  </h1>
      <p>
</p><p class="section-e"><b>9.12.1.4. Precautions During Excavation</b></p> <p class="subsection-e">  <b>(1) </b>Every<i>excavation</i> shall be undertaken in such a manner to prevent damage to adjacent property, existing structures, utilities, roads and sidewalks at all stages of construction.</p> <p class="subsection-e">  <b>(2) </b>Material shall not be placed nor shall equipment be operated or placed in or adjacent to an <i>excavation</i> in a manner that may endanger the integrity of the <i>excavation</i> or its supports.</p> <p class="ruleb-e">9.12.2. Depth</p> 
	  
      
	  
	  
	  
	  
    </div>