<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Excavation to Undisturbed Soil
	  </h1>
      <p>
</p><p class="section-e"><b>9.12.2.1. Excavation to Undisturbed <a href ="http://thehandyforce.com/decks/" title ="Deck builder in Toronto">soil</a></b></p> <p class="subsection-e">  <b>(1) </b><i>Excavations</i> for <i><a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Toronto Basement renovator">foundation</a>s</i>shall extend to undisturbed <i><a href ="http://thehandyforce.com/decks/" title ="Deck builder in Toronto">soil</a></i>.</p> 
	  
      
	  
	  
	  
	  
    </div>