<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Placement of Backfill
	  </h1>
      <p>
</p><p class="section-e"><b>9.12.3.1. Pla<a href ="http://thehandyforce.com/exterior/" title ="Exterior home repairs in Toronto">cement</a> of Backfill</b></p> <p class="subsection-e">  <b>(1) </b>Backfill shall be placed to avoid damaging the <i><a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Toronto Basement renovator">foundation</a></i>wall, the <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Professional East York Basement Renvator">drainage</a> tile, <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Professional East York Basement Renvator">drainage</a> layer, externally applied thermal <a href ="http://thehandyforce.com/insulation/" title ="Toronto basement insulation">insulation</a>http://thehandyforce.com/insulation/" title ="Toronto home insulation">insulation, waterproofing and dampproofing of the <a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a>.</p> 
	  
      
	  
	  
	  
	  
    </div>