<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Grading of Backfill
	  </h1>
      <p>
</p><p class="section-e"><b>9.12.3.2. Grading of Backfill</b></p> <p class="subsection-e">  <b>(1) </b>Backfill shall be graded to pre<a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renovation inspiration">vent</a> <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Professional East York Basement Renvator">drainage</a> towards the <i><a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Toronto Basement renovator">foundation</a></i>after settling.</p> 
	  
      
	  
	  
	  
	  
    </div>