<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Lateral Support of Foundation Wall
	  </h1>
      <p>
</p><p class="section-e"><b>9.12.3.4. Lateral support of foundation Wall</b></p> <p class="subsection-e">  <b>(1) </b>Where the height of <i>foundation</i> wall is such that lateral support is required, or where the required concrete strength of the wall has not been reached, the wall shall be braced or laterally supported before backfilling.</p> <p class="ruleb-e">9.12.4. Trenches Beneath footings</p> 
	  
      
	  
	  
	  
	  
    </div>