<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Compacting or Filling With Concrete
	  </h1>
      <p>
</p><p class="section-e"><b>9.12.4.1. Compacting or Filling With Concrete</b></p> <p class="subsection-e">  <b>(1) </b>The<i>soil</i> in trenches beneath footings for sewers and watermains shall be compacted by tamping up to the level of the footing base, or shall be filled with concrete having a strength not less than 10 MPa to support the footing.</p> <p class="ruleb-e">Section 9.13. Dampproofing, waterproofing and soil Gas Control</p> <p class="ruleb-e">9.13.1. General</p> 
	  
      
	  
	  
	  
	  
    </div>