<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Standards for Application
	  </h1>
      <p>
</p><p class="section-e"><b>9.13.2.3. Standards for application</b></p> <p class="subsection-e">  <b>(1) </b>The method of application of all bituminous dampproofing materials shall conform to,</p> <p class="clause-e">  (a) CAN/cgsb-37.3-M, "application of Emulsified asphalts for Dampproofing or waterproofing",</p> <p class="clause-e">  (b) cgsb 37-GP-12Ma, "application of Unfilled Cutback asphalt for Dampproofing", or</p> <p class="clause-e">  (c) CAN/cgsb-37.22-M, "application of Unfilled, Cutback Tar foundation Coating for Dampproofing".</p> 
	  
      
	  
	  
	  
	  
    </div>