<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Preparation of Surface
	  </h1>
      <p>
</p><p class="section-e"><b>9.13.2.4. Preparation of surface</b></p> <p class="subsection-e">  <b>(1) </b>Unit masonry walls to be dampproofed shall be,</p> <p class="clause-e">  (a) parged on the exterior face below ground level with not less than 6 mm of mortar conforming to Section 9.20., and</p> <p class="clause-e">  (b) coved over the footing when the first course of block is laid.</p> <p class="subsection-e">  <b>(2) </b>Concrete walls to be dampproofed shall have holes and recesses resulting from the removal of form ties sealed with cement mortar or dampproofing material.</p> <p class="subsection-e">  <b>(3) </b>The surface of insulating concrete form walls to be dampproofed shall be repaired and free of projections and depressions that could be detrimental to the performance of the membrane to be applied.</p> 
	  
      
	  
	  
	  
	  
    </div>