<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Dampproofing of Floors-on-Ground
	  </h1>
      <p>
</p><p class="section-e"><b>9.13.2.7. Dampproofing of floors-on-Ground</b></p> <p class="subsection-e">  <b>(1) </b>Where floors are dampproofed, the dampproofing shall be installed below the floor, except that where a separate floor is provided over a slab, the dampproofing is permitted to be applied to the top of the slab.</p> <p class="subsection-e">  <b>(2) </b>Where installed below the floor, dampproofing membranes shall consist of polyethylene not less than 0.15 mm thick, or Type S roll roofing.</p> <p class="subsection-e">  <b>(3) </b>Joints in dampproofing membranes described in Sentence (2) shall be lapped not less than 100 mm.</p> <p class="subsection-e">  <b>(4) </b>Where installed above the slab, dampproofing shall consist of,</p> <p class="clause-e">  (a) no fewer than 2 mopped-on coats of bitumen,</p> <p class="clause-e">  (b) not less than 0.05 mm polyethylene, or</p> <p class="clause-e">  (c) other material providing equivalent performance.</p> 
	  
      
	  
	  
	  
	  
    </div>