<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Dampproofing of Preserved Wood Foundation Walls
	  </h1>
      <p>
</p><p class="section-e"><b>9.13.2.8. Dampproofing of Preserved wood foundation Walls</b></p> <p class="subsection-e">  <b>(1) </b>Preserved wood <i>foundation </i>walls shall be dampproofed as described in CAN/CSA-S406, "Construction of Preserved wood foundations".</p> <p class="ruleb-e">9.13.3. waterproofing</p> 
	  
      
	  
	  
	  
	  
    </div>