<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Dampproofing of Preserved Wood Foundation Walls
	  </h1>
      <p>
</p><p class="section-e"><b>9.13.2.8. Dampproofing of Preserved <a href ="http://thehandyforce.com/interior/" title ="Handyman Services in Toronto">wood</a> <a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Toronto Basement renovator">foundation</a> Walls</b></p> <p class="subsection-e">  <b>(1) </b>Preserved <a href ="http://thehandyforce.com/interior/" title ="Handyman Services in Toronto">wood</a> <i><a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Toronto Basement renovator">foundation</a> </i>walls shall be dampproofed as described in CAN/CSA-S406, "Construction of Preserved <a href ="http://thehandyforce.com/interior/" title ="Handyman Services in Toronto">wood</a> <a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Toronto Basement renovator">foundation</a>s".</p> <p class="ruleb-e">9.13.3. <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a>proofing</p> 
	  
      
	  
	  
	  
	  
    </div>