<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Required Waterproofing
	  </h1>
      <p>
</p><p class="section-e"><b>9.13.3.1. Required waterproofing</b></p> <p class="subsection-e">  <b>(1) </b>Where hydrostatic pressure occurs, waterproofing is required for exterior surfaces of,</p> <p class="clause-e">  (a) floors-on-ground, and</p> <p class="clause-e">  (b) below ground walls, where the exterior finished ground level is at a higher elevation than the ground level inside the <i>foundation </i>walls.</p> <p class="subsection-e">  <b>(2) </b>Roofs of underground structures shall be waterproofed to prevent the entry of water into the structure.</p> 
	  
      
	  
	  
	  
	  
    </div>