<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Material Standards
	  </h1>
      <p>
</p><p class="section-e"><b>9.13.3.2. Material Standards</b></p> <p class="subsection-e">  <b>(1) </b>Except as otherwise specified in this Section, materials used for exterior waterproofing shall conform to,</p> <p class="clause-e">  (a) CAN/cgsb-37.2-M, "Emulsified asphalt, Mineral-Colloid Type, Unfilled, for Dampproofing and waterproofing and for Roof Coatings",</p> <p class="clause-e">  (b) CAN/cgsb-37.16-M, "Filled, Cutback asphalt for Dampproofing and waterproofing",</p> <p class="clause-e">  (c) CAN/CSA-A123.4, "asphalt for Constructing Built-Up Roof Coverings and waterproofing Systems", or</p> <p class="clause-e"><b>  </b>(d) cgsb 37-GP-56M, "Membrane, Modified, Bituminous, Prefabricated, and Reinforced for Roofing".</p> 
	  
      
	  
	  
	  
	  
    </div>