<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Preparation of Surface
	  </h1>
      <p>
</p><p class="section-e"><b>9.13.3.4. Preparation of surface</b></p> <p class="subsection-e">  <b>(1) </b>Unit masonry walls that are to be waterproofed shall be parged on exterior surfaces below ground level with not less than 6 mm of mortar conforming to Section 9.20.</p> <p class="subsection-e">  <b>(2) </b>Concrete walls that are to be waterproofed shall have all holes and recesses resulting from removal of form ties sealed with mortar or waterproofing material.</p> <p class="subsection-e">  <b>(3) </b>The surface of insulating concrete form walls that are to be waterproofed shall be repaired and free of projections and depressions that could be detrimental to the performance of the membrane to be applied.</p> 
	  
      
	  
	  
	  
	  
    </div>