<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Application of Waterproofing Membranes
	  </h1>
      <p>
</p><p class="section-e"><b>9.13.3.5. <a href ="http://thehandyforce.com/businesses/" title ="Business Services in Toronto">application</a> of Waterproofing Membranes</b></p> <p class="subsection-e">  <b>(1) </b>Concrete or unit <a href ="http://thehandyforce.com/home-renovations-north-york/" title ="Brick repair in Toronto Handyman">masonry</a> walls to be <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a>proofed shall be covered with no fewer than 2 layers of bitumen-saturated membrane, with each layer <a href ="http://thehandyforce.com/exterior/" title ="Exterior home repairs in Toronto">cement</a>ed in place with bitumen and coated overall with a heavy coating of bitumen.</p> 
	  
      
	  
	  
	  
	  
    </div>