<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Application of Waterproofing Membranes
	  </h1>
      <p>
</p><p class="section-e"><b>9.13.3.5. application of Waterproofing Membranes</b></p> <p class="subsection-e">  <b>(1) </b>Concrete or unit masonry walls to be waterproofed shall be covered with no fewer than 2 layers of bitumen-saturated membrane, with each layer cemented in place with bitumen and coated overall with a heavy coating of bitumen.</p> 
	  
      
	  
	  
	  
	  
    </div>