<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Floor Waterproofing System
	  </h1>
      <p>
</p><p class="section-e"><b>9.13.3.6. floor waterproofing System</b></p> <p class="subsection-e">  <b>(1) </b><i>basement </i>floors-on-ground to be waterproofed shall have a system of membrane waterproofing provided between 2 layers of concrete, each of which shall be not less than 75 mm thick, with the floor membrane mopped to the wall membrane to form a complete seal.</p> <p class="ruleb-e">9.13.4. soil Gas Control</p> 
	  
      
	  
	  
	  
	  
    </div>