<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Soil Gas Control
	  </h1>
      <p>
</p><p class="section-e"><b>9.13.4.1. <a href ="http://thehandyforce.com/decks/" title ="Deck builder in Toronto">soil</a> Gas Control</b></p> <p class="subsection-e"><b>  (1) </b>Where methane or radon gases are known to be a problem, construction shall comply with the requirements for <i><a href ="http://thehandyforce.com/decks/" title ="Deck builder in Toronto">soil</a></i> gas control in MMAH Supplementary Standard SB-9, "Requirements for <a href ="http://thehandyforce.com/decks/" title ="Deck builder in Toronto">soil</a> Gas Control".</p> 
	  
      
	  
	  
	  
	  
    </div>