<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Material Standards
	  </h1>
      <p>
</p><p class="section-e"><b>9.13.4.3. Material Standards</b></p> <p class="subsection-e">  <b>(1) </b>Materials used to provide a barrier to <i><a href ="http://thehandyforce.com/decks/" title ="Deck builder in Toronto">soil</a></i> gas ingress through <a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a>s-on-ground shall conform to CAN/<a href ="https://www.tpsgc-pwgsc.gc.ca/ongc-cgsb/index-eng.html/" title ="Canadian General Standards Board">cgsb</a>-51.34-M, "Vapour Barrier, Polyethylene Sheet, for Use in <a href ="http://thehandyforce.com/interlock/" title ="Interlocking brick in Toronto">building</a> Construction".</p> <p class="ruleb-e">Section 9.14. <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Professional East York Basement Renvator">drainage</a></p> <p class="ruleb-e">9.14.1. Scope</p> 
	  
      
	  
	  
	  
	  
    </div>