<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Material Standards
	  </h1>
      <p>
</p><p class="section-e"><b>9.13.4.3. Material Standards</b></p> <p class="subsection-e">  <b>(1) </b>Materials used to provide a barrier to <i>soil</i> gas ingress through floors-on-ground shall conform to CAN/cgsb-51.34-M, "Vapour Barrier, Polyethylene Sheet, for Use in building Construction".</p> <p class="ruleb-e">Section 9.14. drainage</p> <p class="ruleb-e">9.14.1. Scope</p> 
	  
      
	  
	  
	  
	  
    </div>