<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Floors-on-Ground
	  </h1>
      <p>
</p><p class="section-e"><b>9.14.1.3. <a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a>s-on-Ground</b></p> <p class="subsection-e">  <b>(1) </b><a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Professional East York Basement Renvator">drainage</a> requirements beneath <a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a>s-on-ground shall conform to Section 9.16.</p> <p class="ruleb-e">9.14.2. <a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Toronto Basement renovator">foundation</a> Drainage</p> 
	  
      
	  
	  
	  
	  
    </div>