<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Material Standards
	  </h1>
      <p>
</p><p class="section-e"><b>9.14.3.1. Material Standards</b></p> <p class="subsection-e">  <b>(1) </b>Drain tile and drain pipe for <i>foundation</i> drainage shall conform to,</p> <p class="clause-e">  (a) ASTM C4, "Clay Drain tile and Perforated Clay Drain tile",</p> <p class="clause-e">  (b) ASTM C412M, "Concrete Drain tile (Metric)",</p> <p class="clause-e">  (c) ASTM C444M, "Perforated Concrete pipe (Metric)",</p> <p class="clause-e">  (d) ASTM C700, "Vitrified Clay pipe, Extra Strength, Standard Strength and Perforated",</p> <p class="clause-e">  (e) CAN/cgsb-34.22, "Asbestos-cement Drain pipe",</p> <p class="clause-e">  (f) CAN/CSA-B182.1, "Plastic Drain and Sewer pipe and pipe Fittings",</p> <p class="clause-e">  (g) CAN/CSA-G401, "Corrugated Steel pipe Products", or</p> <p class="clause-e">  (h) BNQ 3624-115, "Polyethylene (PE) pipe Fittings – Flexible pipes for drainage – Characteristics and Test Methods".</p> 
	  
      
	  
	  
	  
	  
    </div>