<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Installation
	  </h1>
      <p>
</p><p class="section-e"><b>9.14.3.3. installation</b></p> <p class="subsection-e">  <b>(1) </b>Drain tile or pipe shall be laid on undisturbed or well-compacted <i>soil</i> so that the top of the tile or pipe is below the bottom of the floor slab or the ground cover of the crawl space.</p> <p class="subsection-e">  <b>(2) </b>Drain tile or pipe with butt joints shall be laid with 6 mm to 10 mm open joints.</p> <p class="subsection-e">  <b>(3) </b>The top half of joints referred to in Sentence (2) shall be covered with sheathing paper, 0.10 mm polyethylene or No. 15 asphalt or tar-saturated felt.</p> <p class="subsection-e">  <b>(4) </b>The top and sides of drain pipe or tile shall be covered with not less than 150 mm of crushed stone or other coarse clean granular material containing not more than 10% of material that will pass a 4 mm sieve.</p> <p class="ruleb-e">9.14.4. Granular drainage Layer</p> 
	  
      
	  
	  
	  
	  
    </div>