<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Type of Granular Material
	  </h1>
      <p>
</p><p class="section-e"><b>9.14.4.1. Type of Granular Material</b></p> <p class="subsection-e">  <b>(1) </b>Granular material used to drain the bottom of a <i>foundation </i>shall consist of a continuous layer of crushed stone or other coarse clean granular material containing,</p> <p class="clause-e">  (a) not more than 10% of material that will pass a 4 mm sieve, and</p> <p class="clause-e">  (b) no pyritic material in a concentration that would adversely affect its stability or the performance of assemblies separating dissimilar environments.</p> 
	  
      
	  
	  
	  
	  
    </div>