<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Installation
	  </h1>
      <p>
</p><p class="section-e"><b>9.14.4.2. <a href ="http://thehandyforce.com/insulation/" title ="Sprayfoam insulation in Toronto">installation</a></b></p> <p class="subsection-e">  <b>(1) </b>Granular material described in Article 9.14.4.1. shall be laid on undisturbed or compacted <i><a href ="http://thehandyforce.com/decks/" title ="Deck builder in Toronto">soil</a></i> to a minimum depth of not less than 125 mm beneath the <a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Toronto home foundation repair">footing</a> of the <i><a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Toronto home foundation repair">building</a></i> and extend not less than 300 mm beyond the outside edge of the <a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Toronto home foundation repair">footing</a>s.</p> 
	  
      
	  
	  
	  
	  
    </div>