<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Installation
	  </h1>
      <p>
</p><p class="section-e"><b>9.14.4.2. installation</b></p> <p class="subsection-e">  <b>(1) </b>Granular material described in Article 9.14.4.1. shall be laid on undisturbed or compacted <i>soil</i> to a minimum depth of not less than 125 mm beneath the footing of the <i>building</i> and extend not less than 300 mm beyond the outside edge of the footings.</p> 
	  
      
	  
	  
	  
	  
    </div>