<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Wet Site Conditions
	  </h1>
      <p>
</p><p class="section-e"><b>9.14.4.4. Wet Site Conditions</b></p> <p class="subsection-e">  <b>(1) </b>Where because of wet site conditions <i><a href ="http://thehandyforce.com/decks/" title ="Deck builder in Toronto">soil</a></i> becomes mixed with the granular <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Professional East York Basement Renvator">drainage</a> material, sufficient additional granular material shall be provided so that the top 125 mm is kept free of <i><a href ="http://thehandyforce.com/decks/" title ="Deck builder in Toronto">soil</a></i>.</p> <p class="ruleb-e">9.14.5. <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Professional East York Basement Renvator">drainage</a> Disposal</p> 
	  
      
	  
	  
	  
	  
    </div>