<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Dry Wells
	  </h1>
      <p>
</p><p class="section-e"><b>9.14.5.3. Dry Wells</b></p> <p class="subsection-e">  <b>(1) </b>Dry wells are permitted to be used only when located in areas where the natural <i>ground<a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a></i> level is below the bottom of the dry well.</p> <p class="subsection-e">  <b>(2) </b>Dry wells shall be not less than 5 m from the <i><a href ="http://thehandyforce.com/plumbing/" title ="Toilet replacement in Toronto">building</a> foundation</i> and located so that <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Professional East York Basement Renvator">drainage</a> is away from the <i>building</i>.</p> <p class="ruleb-e">9.14.6. Surface Drainage</p> 
	  
      
	  
	  
	  
	  
    </div>