<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Drainage away from Wells or Leaching Beds
	  </h1>
      <p>
</p><p class="section-e"><b>9.14.6.2. <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Professional East York Basement Renvator">drainage</a> away from Wells or Leaching Beds</b></p> <p class="subsection-e">  <b>(1) </b><a href ="http://thehandyforce.com/tiling/" title ="Professional Tile installer in Toronto">surface</a> drainage shall be directed away from the location of a <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> supply well or <i>leaching bed</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>