<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Window Wells
	  </h1>
      <p>
</p><p class="section-e"><b>9.14.6.3. <a href ="http://thehandyforce.com/windows/" title ="East York Window installer">window</a> Wells</b></p> <p class="subsection-e">  <b>(1) </b>Every <a href ="http://thehandyforce.com/windows/" title ="East York Window installer">window</a> well shall be drained to the <a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Toronto home foundation repair">footing</a> level or other suitable location.</p> 
	  
      
	  
	  
	  
	  
    </div>