<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Catch Basin
	  </h1>
      <p>
</p><p class="section-e"><b>9.14.6.4. Catch Basin</b></p> <p class="subsection-e">  <b>(1) </b>Where runoff <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> from a driveway is likely to accumulate or enter a <a href ="http://thehandyforce.com/roofing/" title ="Toronto Roofer">garage</a>, a catch basin shall be installed to provide adequate <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Professional East York Basement Renvator">drainage</a>.</p> 
	  
      
	  
	  
	  
	  
    </div>