<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Permafrost
	  </h1>
      <p>
</p><p class="section-e"><b>9.15.1.2. Permafrost</b></p> <p class="subsection-e">  <b>(1) </b><i><a href ="http://thehandyforce.com/exterior/" title ="Toronto Exterior Handyman">building</a>s</i> erected on permafrost shall have <i><a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Toronto Basement renovator">foundation</a>s</i> designed by a <i><a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a>er</i>competent in this field in accordance with the appropriate requirements of Part 4.</p> 
	  
      
	  
	  
	  
	  
    </div>