<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Foundations for Deformation Resistant Buildings
	  </h1>
      <p>
</p><p class="section-e"><b>9.15.1.3. foundations for Deformation Resistant buildings</b></p> <p class="subsection-e">  <b>(1) </b>Where the superstructure of a detached <i>building </i>conforms to the requirements of the deformation resistance test in CSA Z240.2.1, "Structural Requirements for Manufactured Homes", the <i>foundation</i>shall be constructed in conformance with,</p> <p class="clause-e">  (a) this Section, or</p> <p class="clause-e">  (b) CSA Z240.10.1, "Site Preparation, Foundation, and Anchorage of Manufactured Homes".</p> <p class="ruleb-e">9.15.2. General</p> 
	  
      
	  
	  
	  
	  
    </div>