<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Group A, Division 4
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.2.35. Group A, Division 4</b></p> <p class="subsection-e"><b>  (1) </b>Except as permitted by Sentences (2) and (3), a <i>building</i> classified as Group A, Division 4 shall be of <i>noncombustible construction</i>.</p> <p class="subsection-e"><b>  (2) </b>Roof assemblies and supporting arches and columns are permitted to be of <i>heavy timber construction</i>.</p> <p class="subsection-e"><b>  (3) </b>A <i>building</i> classified as Group A, Division 4 is permitted to be of <i>combustible construction</i>provided,</p> <p class="clause-e">  (a) the <i>occupant load</i> is less than 1 500, and</p> <p class="clause-e">  (b) the <i>building</i>has a <i>limiting distance</i> not less than 6 m.</p> <p class="subsection-e"><b>  (4) </b>Sprinklers shall be installed in all spaces below tiers of seats in a <i>building</i> classified as Group A, Division 4 if those spaces are used for <i>occupancy.</i></p> 
	  
      
	  
	  
	  
	  
    </div>