<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Unit Masonry Construction
	  </h1>
      <p>
</p><p class="section-e"><b>9.15.2.2. Unit masonry Construction</b></p> <p class="subsection-e">  <b>(1) </b>Concrete block shall conform to CAN/CSA-A165.1, "Concrete Block masonry Units", and shall have a compressive strength over the average net cross-sectional area of the block of not less than 15 MPa.</p> <p class="subsection-e">  <b>(2) </b>mortar, grout, mortar joints, corbelling and protection for unit masonry shall conform to Section 9.20.</p> <p class="subsection-e">  <b>(3) </b>For concrete block <i>foundation </i>walls required to be reinforced,</p> <p class="clause-e">  (a) mortar shall be Type S, conforming to CAN/CSA-A179, "mortar and Grout for Unit masonry",</p> <p class="clause-e">  (b) grout shall be coarse, conforming to CAN/CSA-A179, "mortar and Grout for Unit masonry", and</p> <p class="clause-e">  (c) placement of grout shall conform to CAN/CSA-A371, "masonry Construction for buildings".</p> 
	  
      
	  
	  
	  
	  
    </div>