<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Wood Frame Foundations
	  </h1>
      <p>
</p><p class="section-e"><b>9.15.2.4. wood Frame foundations</b></p> <p class="subsection-e">  <b>(1) </b><i>foundations </i>of wood frame construction shall conform to,</p> <p class="clause-e">  (a) CAN/CSA-S406, "Construction of Preserved wood foundations", or</p> <p class="clause-e">  (b) Part 4.</p> <p class="ruleb-e">9.15.3. footings</p> 
	  
      
	  
	  
	  
	  
    </div>