<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Footings Required
	  </h1>
      <p>
</p><p class="section-e"><b>9.15.3.1. footings Required</b></p> <p class="subsection-e">  <b>(1) </b>footings shall be provided under walls, pilasters, columns, piers, fireplaces and <i>chimneys</i> that bear on <i>soil</i> or<i>rock</i>, except that footings are permitted to be omitted under piers or monolithic concrete walls if the safe <i>loadbearing</i> capacity of the <i>soil</i>or <i>rock</i> is not exceeded.</p> 
	  
      
	  
	  
	  
	  
    </div>