<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Support of Footings
	  </h1>
      <p>
</p><p class="section-e"><b>9.15.3.2. support of footings</b></p> <p class="subsection-e">  <b>(1) </b>footings shall rest on undisturbed <i>soil</i>, <i>rock</i> or compacted granular <i>fill</i>.</p> <p class="subsection-e">  <b>(2) </b>Granular<i>fill</i> shall not contain pyritic material in a concentration that would adversely affect its stability or the performance of assemblies separating dissimilar environments.</p> 
	  
      
	  
	  
	  
	  
    </div>