<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Support of Footings
	  </h1>
      <p>
</p><p class="section-e"><b>9.15.3.2. <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a> of <a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Toronto home foundation repair">footing</a>s</b></p> <p class="subsection-e">  <b>(1) </b><a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Toronto home foundation repair">footing</a>s shall rest on undisturbed <i><a href ="http://thehandyforce.com/decks/" title ="Deck builder in Toronto">soil</a></i>, <i>rock</i> or compacted granular <i>fill</i>.</p> <p class="subsection-e">  <b>(2) </b>Granular<i>fill</i> shall not contain pyritic material in a concentration that would adversely affect its stability or the performance of assemblies separating dissimilar environments.</p> 
	  
      
	  
	  
	  
	  
    </div>