<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Adjustments to Footing Widths for Exterior Walls
	  </h1>
      <p>
</p><p class="section-e"><b>9.15.3.5. Adjustments to footing Widths for exterior Walls</b></p> <p class="subsection-e">  <b>(1) </b>The strip footing widths for exterior walls shown in Table 9.15.3.4. shall be increased by,</p> <p class="clause-e">  (a) 65 mm for each <i>storey</i> of masonry veneer over wood frame construction supported by the <i>foundation</i> wall,</p> <p class="clause-e">  (b) 130 mm for each <i>storey</i> of masonry construction supported by the <i>foundation</i> wall, and</p> <p class="clause-e">  (c) 150 mm for each <i>storey</i> of flat insulating concrete form wall construction supported by the <i>foundation</i> wall.</p> 
	  
      
	  
	  
	  
	  
    </div>