<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Adjustments to Footing Widths for Interior Walls
	  </h1>
      <p>
</p><p class="section-e"><b>9.15.3.6. Adjustments to footing Widths for interior Walls</b></p> <p class="subsection-e">  <b>(1) </b>The minimum strip footing widths for interior <i>loadbearing</i>masonry walls shown in Table 9.15.3.4. shall be increased by 100 mm for each <i>storey</i> of masonry construction supported by the footing.</p> <p class="subsection-e">  <b>(2) </b>footings for interior non-<i>loadbearing</i> masonry walls shall be not less than 200 mm wide for walls up to 5.5 m high and the width shall be increased by 100 mm for each additional 2.7 m of height.</p> 
	  
      
	  
	  
	  
	  
    </div>