<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Adjustments to Footing Area for Columns
	  </h1>
      <p>
</p><p class="section-e"><b>9.15.3.7. Adjustments to <a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Toronto home foundation repair">footing</a> Area for <a href ="http://thehandyforce.com/interior/" title ="Home renovations in East York">columns</a></b></p> <p class="subsection-e">  <b>(1) </b>The <a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Toronto home foundation repair">footing</a> area for column spacings other than shown in Table 9.15.3.4. shall be adjusted in proportion to the distance between <a href ="http://thehandyforce.com/interior/" title ="Home renovations in East York">columns</a>.</p> 
	  
      
	  
	  
	  
	  
    </div>