<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Step Footings
	  </h1>
      <p>
</p><p class="section-e"><b>9.15.3.9. Step footings</b></p> <p class="subsection-e">  <b>(1) </b>Where step footings are used,</p> <p class="clause-e">  (a) the vertical rise between horizontal portions shall not exceed 600 mm, and</p> <p class="clause-e">  (b) the horizontal distance between risers shall be not less than 600 mm.</p> <p class="ruleb-e">9.15.4. foundation Walls</p> 
	  
      
	  
	  
	  
	  
    </div>