<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Permanent Form Material
	  </h1>
      <p>
</p><p class="section-e"><b>9.15.4.1. Permanent Form Material</b></p> <p class="subsection-e">  <b>(1) </b>insulating concrete form units shall be manufactured of polystyrene conforming to the performance requirements of CAN/ulc-S701, "Thermal insulationinsulation, Polystyrene, Boards and pipe Covering", for Type 2, 3 or 4 polystyrene.</p> 
	  
      
	  
	  
	  
	  
    </div>