<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Foundation Walls Considered to be Laterally Supported at the Bottom
	  </h1>
      <p>
</p><p class="section-e"><b>9.15.4.4. foundation Walls Considered to be Laterally supported at the Bottom</b></p> <p class="subsection-e">  <b>(1) </b>Flat insulating concrete form <i>foundation </i>walls shall be considered to be laterally supported at the bottom where the <i>foundation </i>wall,</p> <p class="clause-e">  (a) supports backfill not more than 1.2 m in height,</p> <p class="clause-e">  (b) is supported at the footing by a shear key and is supported at the top by the ground floor framing, or</p> <p class="clause-e">  (c) is dowelled to the footing with not less than 15M bars spaced not more than 1.2 m o.c.</p> 
	  
      
	  
	  
	  
	  
    </div>