<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Extension above Ground Level
	  </h1>
      <p>
</p><p class="section-e"><b>9.15.4.6. Extension above Ground Level</b></p> <p class="subsection-e">  <b>(1) </b><a href ="http://thehandyforce.com/exterior/" title ="Certified home renovator">exterior</a><i>foundation</i> <a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a>s shall extend not less than 150 mm above finished ground level.</p> 
	  
      
	  
	  
	  
	  
    </div>