<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Reduction in Thickness
	  </h1>
      <p>
</p><p class="section-e"><b>9.15.4.7. Reduction in Thickness</b></p> <p class="subsection-e">  <b>(1) </b>Where the top of a <i>foundation</i> wall is reduced in thickness to permit the installation of floor joists, the reduced section shall be not more than 350 mm high and not less than 90 mm thick.</p> <p class="subsection-e">  <b>(2) </b>Where the top of a <i>foundation</i> wall is reduced in thickness to permit the installation of a masonry exterior facing, the reduced section shall be,</p> <p class="clause-e">  (a) not less than 90 mm thick, and</p> <p class="clause-e">  (b) tied to the facing material with metal ties conforming to Sentence 9.20.9.4.(3) spaced not more than,</p> <p class="subclause-e">  (i) 200 mm o.c. vertically, and</p> <p class="subclause-e">  (ii) 900 mm o.c. horizontally.</p> <p class="subsection-e">  <b>(3) </b>The space between wall and facing described in Sentence (2) shall be filled with mortar.</p> 
	  
      
	  
	  
	  
	  
    </div>