<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Crack Control Joints
	  </h1>
      <p>
</p><p class="section-e"><b>9.15.4.9. Crack Control Joints</b></p> <p class="subsection-e">  <b>(1) </b>Crack control joints shall be provided in <i>foundation</i>walls more than 25 m long at intervals of not more than 15 m.</p> <p class="subsection-e">  <b>(2) </b>Joints required in Sentence (1) shall be designed to resist moisture penetration and shall be keyed to prevent relative displacement of the wall portions adjacent to the joint.</p> 
	  
      
	  
	  
	  
	  
    </div>