<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Support of Floor Joists
	  </h1>
      <p>
</p><p class="section-e"><b>9.15.5.1. support of floor joists</b></p> <p class="subsection-e">  <b>(1) </b>Except as permitted in Sentence (2), <i>foundation</i> walls of hollow unit masonry supporting floor joists shall be,</p> <p class="clause-e">  (a) capped with not less than 50 mm of solid masonry or concrete, or</p> <p class="clause-e">  (b) have the top course filled with mortar or concrete.</p> <p class="subsection-e">  <b>(2) </b>Capping required in Sentence (1) is permitted to be omitted,</p> <p class="clause-e">  (a) in localities where termites are not known to occur,</p> <p class="clause-e">  (b) when the joists are supported on a wood plate not less than 38 mm by 89 mm, and</p> <p class="clause-e">  (c) when the siding overlaps the <i>foundation</i> wall not less than 12 mm.</p> 
	  
      
	  
	  
	  
	  
    </div>