<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Support of Beams
	  </h1>
      <p>
</p><p class="section-e"><b>9.15.5.2. support of Beams</b></p> <p class="subsection-e">  <b>(1) </b>Not less than a 190 mm depth of solid masonry shall be provided beneath beams supported on masonry.</p> <p class="subsection-e">  <b>(2) </b>Where the beam referred to in Sentence (1) is supported below the top of the <i>foundation</i> walls, the ends of such beams shall be protected from the weather.</p> 
	  
      
	  
	  
	  
	  
    </div>