<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Pilasters
	  </h1>
      <p>
</p><p class="section-e"><b>9.15.5.3. Pilasters</b></p> <p class="subsection-e">  <b>(1) </b>Pilasters shall be provided under beams that frame into unit masonry <i>foundation</i> walls 140 mm or less in thickness.</p> <p class="subsection-e">  <b>(2) </b>Pilasters required in Sentence (1) shall be not less than 90 mm by 290 mm and shall be bonded or tied into the wall.</p> <p class="subsection-e">  <b>(3) </b>The top 200 mm of pilasters required in Sentence (1) shall be solid.</p> <p class="ruleb-e">9.15.6. Parging and Finishing of foundation Walls</p> 
	  
      
	  
	  
	  
	  
    </div>