<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Foundation Walls Below Ground
	  </h1>
      <p>
</p><p class="section-e"><b>9.15.6.1. <a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Toronto Basement renovator">foundation</a> Walls Below Ground</b></p> <p class="subsection-e">  <b>(1) </b>Concrete block <i><a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Toronto Basement renovator">foundation</a></i> walls shall be parged on the <a href ="http://thehandyforce.com/exterior/" title ="Certified home renovator">exterior</a> face below ground level as required in Section 9.13.</p> 
	  
      
	  
	  
	  
	  
    </div>