<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Foundation Walls Above Ground
	  </h1>
      <p>
</p><p class="section-e"><b>9.15.6.2. <a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Toronto Basement renovator">foundation</a> Walls Above Ground</b></p> <p class="subsection-e">  <b>(1) </b><a href ="http://thehandyforce.com/exterior/" title ="Certified home renovator">exterior</a> surfaces of concrete block <i><a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Toronto Basement renovator">foundation</a></i> walls above ground level shall have tooled joints, or shall be rendered, parged or otherwise suitably finished.</p> 
	  
      
	  
	  
	  
	  
    </div>