<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Form Ties
	  </h1>
      <p>
</p><p class="section-e"><b>9.15.6.3. Form Ties</b></p> <p class="subsection-e">  <b>(1) </b>All form ties shall be removed at least <a href ="http://thehandyforce.com/plumbing/" title ="Toilet replacement in Toronto">flush</a> with the concrete <a href ="http://thehandyforce.com/tiling/" title ="Professional Tile installer in Toronto">surface</a>.</p> <p class="ruleb-e">Section 9.16. <a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a>s-on-Ground</p> <p class="ruleb-e">9.16.1. Scope</p> 
	  
      
	  
	  
	  
	  
    </div>