<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Structural Floor Slabs
	  </h1>
      <p>
</p><p class="section-e"><b>9.16.1.2. Structural <a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a> Slabs</b></p> <p class="subsection-e">  <b>(1) </b><a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a>s-on-ground that <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a> loads from the superstructure shall be <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a>ed in conformance with Part 4.</p> 
	  
      
	  
	  
	  
	  
    </div>