<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Required Floors-on-Ground
	  </h1>
      <p>
</p><p class="section-e"><b>9.16.1.3. Required floors-on-Ground</b></p> <p class="subsection-e">  <b>(1) </b>All spaces within <i>dwelling units</i>, except crawl spaces, shall be provided with a floor-on-ground, where,</p> <p class="clause-e">  (a) access is provided to the space, and</p> <p class="clause-e">  (b) a floor supported by the structure is not provided.</p> 
	  
      
	  
	  
	  
	  
    </div>