<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Required Installation of Granular Fill
	  </h1>
      <p>
</p><p class="section-e"><b>9.16.2.1. Required installation of Granular Fill</b></p> <p class="subsection-e">  <b>(1) </b>Except as provided in Sentence (2), not less than 100 mm of coarse clean granular material containing not more than 10% of material that will pass a 4 mm sieve shall be placed beneath floors-on-ground.</p> <p class="subsection-e">  <b>(2) </b>Granular material need not be installed under,</p> <p class="clause-e">  (a) slabs in garages, carports or accessory <i>buildings</i>, or</p> <p class="clause-e">  (b)  <i>buildings</i>of <i>industrial occupancy</i> where the nature of the process contained in the <i>occupancy</i> permits or requires the use of large openings in the <i>building</i>envelope even during the winter.</p> 
	  
      
	  
	  
	  
	  
    </div>