<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Control of Water Ingress
	  </h1>
      <p>
</p><p class="section-e"><b>9.16.3.1. Control of <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> Ingress</b></p> <p class="subsection-e">  <b>(1) </b>Except as provided in Article 9.16.3.2. or where it can be shown to be unnecessary, ingress of <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> underneath a <a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a>-on-ground shall be pre<a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renovation inspiration">vent</a>ed by grading or <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Professional East York Basement Renvator">drainage</a>.</p> 
	  
      
	  
	  
	  
	  
    </div>