<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Hydrostatic Pressure
	  </h1>
      <p>
</p><p class="section-e"><b>9.16.3.2. Hydrostatic pressure</b></p> <p class="subsection-e">  <b>(1) </b>Where<i>groundwater</i> levels may cause hydrostatic pressure beneath a floor-on-ground, the floor-on-ground shall be,</p> <p class="clause-e">  (a) a cast-in-place concrete slab, and</p> <p class="clause-e">  (b) designed to resist such pressures.</p> 
	  
      
	  
	  
	  
	  
    </div>