<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Surface Finish
	  </h1>
      <p>
</p><p class="section-e"><b>9.16.4.1. <a href ="http://thehandyforce.com/tiling/" title ="Professional Tile installer in Toronto">surface</a> Finish</b></p> <p class="subsection-e">  <b>(1) </b>The finished <a href ="http://thehandyforce.com/tiling/" title ="Professional Tile installer in Toronto">surface</a> of concrete <a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a> slabs shall be trowelled smooth and even.</p> <p class="subsection-e">  <b>(2) </b>Dry <a href ="http://thehandyforce.com/exterior/" title ="Exterior home repairs in Toronto">cement</a> shall not be added to the <a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a> <a href ="http://thehandyforce.com/tiling/" title ="Professional Tile installer in Toronto">surface</a>s to absorb surplus <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a>.</p> 
	  
      
	  
	  
	  
	  
    </div>