<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Topping Course
	  </h1>
      <p>
</p><p class="section-e"><b>9.16.4.2. Topping Course</b></p> <p class="subsection-e">  <b>(1) </b>Where a topping course is provided for a concrete floor slab, it shall consist of 1 part cement to 2.5 parts clean, well graded sand by volume, with a water/cement ratio approximately equal to that of the base slab.</p> <p class="subsection-e">  <b>(2) </b>When concrete topping is provided it shall not be less than 20 mm thick.</p> 
	  
      
	  
	  
	  
	  
    </div>