<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Compressive Strength
	  </h1>
      <p>
</p><p class="section-e"><b>9.16.4.5. Compressive Strength</b></p> <p class="subsection-e">  <b>(1) </b>Where dampproofing is not provided, the concrete used for floors-on-ground shall have a compressive strength of not less than 25 MPa after 28 days.</p> <p class="subsection-e">  <b>(2) </b>Where dampproofing is provided as described in Article 9.13.2.7., the concrete used for floors-on-ground shall have a compressive strength of not less than 15 MPa after 28 days.</p> <p class="ruleb-e">9.16.5. wood</p> 
	  
      
	  
	  
	  
	  
    </div>