<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Wood Frame Floors
	  </h1>
      <p>
</p><p class="section-e"><b>9.16.5.1. <a href ="http://thehandyforce.com/interior/" title ="Handyman Services in Toronto">wood</a> Frame <a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a>s</b></p> <p class="subsection-e">  <b>(1) </b><a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a>s-on-ground constructed of <a href ="http://thehandyforce.com/interior/" title ="Handyman Services in Toronto">wood</a> shall conform to CAN/CSA-S406, "Construction of Preserved <a href ="http://thehandyforce.com/interior/" title ="Handyman Services in Toronto">wood</a> <a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Toronto Basement renovator">foundation</a>s".</p> <p class="ruleb-e">Section 9.17. <a href ="http://thehandyforce.com/interior/" title ="Home renovations in East York">columns</a></p> <p class="ruleb-e">9.17.1. Scope</p> 
	  
      
	  
	  
	  
	  
    </div>