<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Location
	  </h1>
      <p>
</p><p class="section-e"><b>9.17.2.1. Location</b></p> <p class="subsection-e">  <b>(1) </b><a href ="http://thehandyforce.com/interior/" title ="Home renovations in East York">columns</a> shall be centrally located on a <a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Toronto home foundation repair">footing</a> conforming to Section 9.15.</p> 
	  
      
	  
	  
	  
	  
    </div>