<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Size and Thickness
	  </h1>
      <p>
</p><p class="section-e"><b>9.17.3.1. Size and Thickness</b></p> <p class="subsection-e">  <b>(1) </b>Except as permitted by Sentence (2), steel pipe columns shall have an outside diameter of not less than 73 mm and a wall thickness of not less than 4.76 mm.</p> <p class="subsection-e">  <b>(2) </b>columns of sizes other than as specified in Sentence (1) are permitted to be used where the <i>loadbearing </i>capacities are shown to be adequate.</p> 
	  
      
	  
	  
	  
	  
    </div>