<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | End Bearing Plates
	  </h1>
      <p>
</p><p class="section-e"><b>9.17.3.2. End Bearing Plates</b></p> <p class="subsection-e">  <b>(1) </b>Except as permitted in Sentence (2), steel <a href ="http://thehandyforce.com/interior/" title ="Home renovations in East York">columns</a> shall be fitted with not less than 100 mm by 100 mm by 6.35 mm thick steel plates at each end, and where the column <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>s a <a href ="http://thehandyforce.com/interior/" title ="Handyman Services in Toronto">wood</a>en beam, the top plate shall extend across the full width of the beam.</p> <p class="subsection-e">  <b>(2) </b>The top plate required in Sentence (1) need not be provided where a column <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>s a steel beam and provision is made for the attachment of the column to the beam.</p> 
	  
      
	  
	  
	  
	  
    </div>