<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Design of Adjustable Steel Columns
	  </h1>
      <p>
</p><p class="section-e"><b>9.17.3.4. design of Adjustable Steel columns</b></p> <p class="subsection-e">  <b>(1) </b>Where the imposed load does not exceed 36 kN, adjustable steel columns shall conform to CAN/cgsb-7.2, "Adjustable Steel columns".</p> <p class="subsection-e">  <b>(2) </b>Adjustable steel columns other than those described in Sentence (1) shall be designed in accordance with Part 4.</p> <p class="ruleb-e">9.17.4. wood columns</p> 
	  
      
	  
	  
	  
	  
    </div>