<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Column Sizes
	  </h1>
      <p>
</p><p class="section-e"><b>9.17.4.1. Column Sizes</b></p> <p class="subsection-e">  <b>(1) </b>The width or diameter of a <a href ="http://thehandyforce.com/interior/" title ="Handyman Services in Toronto">wood</a> column shall be not less than the width of the <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>ed member.</p> <p class="subsection-e">  <b>(2) </b>Except as provided in Article 9.35.4.2., <a href ="http://thehandyforce.com/interior/" title ="Home renovations in East York">columns</a> shall be not less than 184 mm for round <a href ="http://thehandyforce.com/interior/" title ="Home renovations in East York">columns</a> and 140 mm by 140 mm for rectangular <a href ="http://thehandyforce.com/interior/" title ="Home renovations in East York">columns</a>, unless calculations are provided to show that lesser sizes are adequate.</p> 
	  
      
	  
	  
	  
	  
    </div>