<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Column Sizes
	  </h1>
      <p>
</p><p class="section-e"><b>9.17.4.1. Column Sizes</b></p> <p class="subsection-e">  <b>(1) </b>The width or diameter of a wood column shall be not less than the width of the supported member.</p> <p class="subsection-e">  <b>(2) </b>Except as provided in Article 9.35.4.2., columns shall be not less than 184 mm for round columns and 140 mm by 140 mm for rectangular columns, unless calculations are provided to show that lesser sizes are adequate.</p> 
	  
      
	  
	  
	  
	  
    </div>