<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Materials
	  </h1>
      <p>
</p><p class="section-e"><b>9.17.4.2. Materials</b></p> <p class="subsection-e">  <b>(1) </b>wood columns shall be either solid, glue-laminated or built-up.</p> <p class="subsection-e">  <b>(2) </b>Built-up columns shall consist of not less than 38 mm thick full-length members,</p> <p class="clause-e">  (a) bolted together with not less than 9.52 mm diam bolts spaced not more than 450 mm o.c., or</p> <p class="clause-e">  (b) nailed together with not less than 76 mm nails spaced not more than 300 mm o.c.</p> <p class="subsection-e">  <b>(3) </b>Glued-laminated columns shall conform to Section 4.3.</p> 
	  
      
	  
	  
	  
	  
    </div>