<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Columns in Contact with Concrete
	  </h1>
      <p>
</p><p class="section-e"><b>9.17.4.3. <a href ="http://thehandyforce.com/interior/" title ="Home renovations in East York">columns</a> in Contact with Concrete</b></p> <p class="subsection-e">  <b>(1) </b><a href ="http://thehandyforce.com/interior/" title ="Handyman Services in Toronto">wood</a> <a href ="http://thehandyforce.com/interior/" title ="Home renovations in East York">columns</a> shall be separated from concrete in contact with the ground by 0.05 mm polyethylene film or Type S roll roofing.</p> 
	  
      
	  
	  
	  
	  
    </div>