<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Materials
	  </h1>
      <p>
</p><p class="section-e"><b>9.17.5.1. Materials</b></p> <p class="subsection-e">  <b>(1) </b>Unit masonry columns shall be built of masonry units,</p> <p class="clause-e">  (a) conforming to CAN/CSA-A165.1, "Concrete Block masonry Units", and</p> <p class="clause-e">  (b) having a compressive strength over the net area of the block of not less than 15 MPa.</p> 
	  
      
	  
	  
	  
	  
    </div>