<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Materials
	  </h1>
      <p>
</p><p class="section-e"><b>9.17.5.1. Materials</b></p> <p class="subsection-e">  <b>(1) </b>Unit <a href ="http://thehandyforce.com/home-renovations-north-york/" title ="Brick repair in Toronto Handyman">masonry</a> columns shall be built of <a href ="http://thehandyforce.com/home-renovations-north-york/" title ="Brick repair in Toronto Handyman">masonry</a> units,</p> <p class="clause-e">  (a) conforming to CAN/CSA-A165.1, "Concrete Block <a href ="http://thehandyforce.com/home-renovations-north-york/" title ="Brick repair in Toronto Handyman">masonry</a> Units", and</p> <p class="clause-e">  (b) having a compressive strength over the net area of the block of not less than 15 MPa.</p> 
	  
      
	  
	  
	  
	  
    </div>