<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Sizes
	  </h1>
      <p>
</p><p class="section-e"><b>9.17.5.2. Sizes</b></p> <p class="subsection-e">  <b>(1) </b>Unit <a href ="http://thehandyforce.com/home-renovations-north-york/" title ="Brick repair in Toronto Handyman">masonry</a> columns shall be not less than 290 mm by 290 mm or 240 mm by 380 mm in size.</p> <p class="ruleb-e">9.17.6. Solid Concrete <a href ="http://thehandyforce.com/interior/" title ="Home renovations in East York">columns</a></p> 
	  
      
	  
	  
	  
	  
    </div>