<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Access Openings
	  </h1>
      <p>
</p><p class="section-e"><b>9.18.2.1. Access openings</b></p> <p class="subsection-e">  <b>(1) </b>An access opening of not less than 500 mm by 700 mm shall be provided to each crawl space where the crawl space serves a single <i>dwelling unit</i>, and not less than 550 mm by 900 mm for other crawl spaces.</p> <p class="Pnote-e">Note: On July 1, 2017, Sentence 9.18.2.1.(1) of Division B of the Regulation is amended by striking out "single <i>dwelling unit</i>" and substituting "<i>house</i>or an individual <i>dwelling unit</i> in a <i>house</i>". (See: O. Reg. 139/17, s. 122)</p> <p class="subsection-e">  <b>(2) </b>Access openings shall be fitted with a door or hatch, except when the crawl space is heated and the access opening into the crawl space is from the adjacent heated space.</p> <p class="ruleb-e">9.18.3. ventilation</p> 
	  
      
	  
	  
	  
	  
    </div>