<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Ventilation of Unheated Crawl Spaces
	  </h1>
      <p>
</p><p class="section-e"><b>9.18.3.1. ventilation of Unheated Crawl Spaces</b></p> <p class="subsection-e">  <b>(1) </b>Unheated crawl spaces shall be ventilated by natural or mechanical means.</p> <p class="subsection-e">  <b>(2) </b>Where an unheated crawl space is ventilated by natural means, ventilation shall be provided to the outside air by not less than 0.1 m² of unobstructed vent area for every 50 m² of <i>floor area</i>.</p> <p class="subsection-e">  <b>(3) </b>vents shall be,</p> <p class="clause-e">  (a) uniformly distributed on opposite sides of the <i>building</i>, and</p> <p class="clause-e">  (b) designed to prevent the entry of snow, rain and insects.</p> 
	  
      
	  
	  
	  
	  
    </div>