<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Access Way to Services
	  </h1>
      <p>
</p><p class="section-e"><b>9.18.4.1. Access Way to services</b></p> <p class="subsection-e">  <b>(1) </b>Where equipment requiring service such as plumbing cleanouts, traps and burners is located in crawl spaces, an access way with a height and width of not less than 600 mm shall be provided from the access door to the equipment and for a distance of 900 mm on the side or sides of the equipment to be serviced.</p> <p class="ruleb-e">9.18.5. drainage</p> 
	  
      
	  
	  
	  
	  
    </div>