<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Access Way to Services
	  </h1>
      <p>
</p><p class="section-e"><b>9.18.4.1. Access Way to <a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">service</a>s</b></p> <p class="subsection-e">  <b>(1) </b>Where equipment requiring <a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">service</a> such as plumbing cleanouts, traps and burners is located in crawl spaces, an access way with a height and width of not less than 600 mm shall be provided from the access <a href ="http://thehandyforce.com/doors/" title ="Toronto Door installer">door</a> to the equipment and for a distance of 900 mm on the side or sides of the equipment to be <a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">service</a>d.</p> <p class="ruleb-e">9.18.5. <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Professional East York Basement Renvator">drainage</a></p> 
	  
      
	  
	  
	  
	  
    </div>