<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Drainage
	  </h1>
      <p>
</p><p class="section-e"><b>9.18.5.1. drainage</b></p> <p class="subsection-e">  <b>(1) </b>Except where it can be shown to be unnecessary, the ingress of water into a crawl space shall be controlled by grading or drainage.</p> <p class="subsection-e">  <b>(2) </b>drainage of <i>foundation</i> walls shall conform to Article 9.14.2.1.</p> <p class="subsection-e">  <b>(3) </b>drainage of the ground cover or floor-on-ground in the crawl space shall conform to Subsection 9.16.3.</p> <p class="subsection-e">  <b>(4) </b>Drains shall conform to Section 9.14.</p> <p class="ruleb-e">9.18.6. Ground Cover</p> 
	  
      
	  
	  
	  
	  
    </div>