<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Ground Cover in Unheated Crawl Spaces
	  </h1>
      <p>
</p><p class="section-e"><b>9.18.6.1. Ground Cover in Unheated Crawl Spaces</b></p> <p class="subsection-e">  <b>(1) </b>Where a crawl space is unheated, a ground cover shall be provided consisting of not less than,</p> <p class="clause-e">  (a) 50 mm of asphalt paving material,</p> <p class="clause-e">  (b) 100 mm of 15 MPa Portland cement concrete,</p> <p class="clause-e">  (c) Type S roll roofing, or</p> <p class="clause-e">  (d) 0.10 mm polyethylene.</p> <p class="subsection-e">  <b>(2) </b>Joints in sheet-type ground cover required in Sentence (1) shall be lapped not less than 100 mm and weighted down.</p> 
	  
      
	  
	  
	  
	  
    </div>