<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Ground Cover in Heated Crawl Spaces
	  </h1>
      <p>
</p><p class="section-e"><b>9.18.6.2. Ground Cover in Heated Crawl Spaces</b></p> <p class="subsection-e">  <b>(1) </b>Where a crawl space is heated, a ground cover consisting of not less than 0.15 mm polyethylene sheet conforming to CAN/cgsb-51.34-M, "Vapour Barrier, Polyethylene Sheet, for Use in building Construction", shall be installed as part of an <i>air barrier system</i> in accordance with Subsection 9.25.3.</p> <p class="subsection-e">  <b>(2) </b>The ground cover required in Sentence (1) shall,</p> <p class="clause-e">  (a) have its joints lapped not less than 300 mm, and sealed and weighted down, or</p> <p class="clause-e">  (b) be covered with a concrete skim coat not less than 50 mm thick.</p> <p class="subsection-e">  <b>(3) </b>The perimeter of the ground cover required in Sentence (1) shall be sealed to the <i>foundation</i> wall.</p> <p class="ruleb-e">9.18.7. Fire Protection</p> 
	  
      
	  
	  
	  
	  
    </div>