<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Crawl Spaces as Warm Air Plenums
	  </h1>
      <p>
</p><p class="section-e"><b>9.18.7.1. Crawl Spaces as Warm Air Plenums</b></p> <p class="subsection-e">  <b>(1) </b>Only crawl spaces under 1-<i>storey</i> portions of <i>dwelling units</i> shall be used as warm air <i>plenums</i>.</p> <p class="subsection-e">  <b>(2) </b>Enclosing material in crawl spaces described in Sentence (1), including insulationinsulation, shall have a surface <i>flame-spread rating</i> not greater than 150.</p> <p class="subsection-e">  <b>(3) </b><i>Combustible</i> ground cover used as enclosing material in Sentence (2) shall be covered with <i>noncombustible</i>material.</p> <p class="subsection-e">  <b>(4) </b><i>Noncombustible</i> material described in Sentence (3) shall,</p> <p class="clause-e">  (a) extend not less than 300 mm beyond the projection of a register opening, and</p> <p class="clause-e">  (b) have turned-up edges.</p> <p class="ruleb-e">Section 9.19. Roof Spaces</p> <p class="ruleb-e">9.19.1. venting</p> 
	  
      
	  
	  
	  
	  
    </div>