<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Used Brick
	  </h1>
      <p>
</p><p class="section-e"><b>9.20.2.2. Used <a href ="http://thehandyforce.com/interlock/" title ="Interlocking brick in Toronto">brick</a></b></p> <p class="subsection-e">  <b>(1) </b>Used <a href ="http://thehandyforce.com/interlock/" title ="Interlocking brick in Toronto">brick</a>s shall be free of old <a href ="http://thehandyforce.com/decks/" title ="Toronto Deck builder">mortar</a>, soot or other <a href ="http://thehandyforce.com/tiling/" title ="Professional Tile installer in Toronto">surface</a> coating and shall conform to Article 9.20.2.1.</p> 
	  
      
	  
	  
	  
	  
    </div>