<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Glass Blocks
	  </h1>
      <p>
</p><p class="section-e"><b>9.20.2.3. <a href ="http://thehandyforce.com/windows/" title ="Window fabrication in Toronto">glass</a> Blocks</b></p> <p class="subsection-e">  <b>(1) </b><a href ="http://thehandyforce.com/windows/" title ="Window fabrication in Toronto">glass</a> blocks shall not be used as <i><a href ="http://thehandyforce.com/renovations/" title ="East York General Contractor">loadbearing</a></i> units or in the construction of <a href ="http://thehandyforce.com/home-renovations-north-york/" title ="Toronto Handyman Services">fireplace</a>s or <i>chimneys</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>