<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Concrete Units Exposed to the Weather
	  </h1>
      <p>
</p><p class="section-e"><b>9.20.2.6. Concrete Units Exposed to the Weather</b></p> <p class="subsection-e">  <b>(1) </b>Concrete blocks exposed to the weather shall have weight and water absorption characteristics conforming to Classes A, B, C or D, described in CAN/CSA-A165.1, "Concrete Block masonry Units".</p> 
	  
      
	  
	  
	  
	  
    </div>