<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Mortar Materials
	  </h1>
      <p>
</p><p class="section-e"><b>9.20.3.1. mortar Materials</b></p> <p class="subsection-e">  <b>(1) </b>cementitious materials and aggregates for mortar and grout shall comply with CAN/CSA-A179, "mortar and Grout for Unit masonry".</p> <p class="subsection-e">  <b>(2) </b>water and aggregate shall be clean and free of significant amounts of deleterious materials.</p> <p class="subsection-e">  <b>(3) </b>Lime used in mortar shall be hydrated.</p> <p class="subsection-e">  <b>(4) </b>If lime putty is used in mortar, it shall be made by slaking quicklime in water for not less than 24 h or soaking hydrated lime in water for not less than 12 h.</p> 
	  
      
	  
	  
	  
	  
    </div>