<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Thickness
	  </h1>
      <p>
</p><p class="section-e"><b>9.20.4.1. Thickness</b></p> <p class="subsection-e">  <b>(1) </b>Except as provided in Sentence (2), <a href ="http://thehandyforce.com/decks/" title ="Toronto Deck builder">mortar</a> joint thickness for burned clay <a href ="http://thehandyforce.com/interlock/" title ="Interlocking brick in Toronto">brick</a> and concrete <a href ="http://thehandyforce.com/home-renovations-north-york/" title ="Brick repair in Toronto Handyman">masonry</a> units shall be 10 mm.</p> <p class="subsection-e">  <b>(2) </b>Permitted tolerances in head and bed joints shall be -5 mm to +10 mm.</p> 
	  
      
	  
	  
	  
	  
    </div>