<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Hollow Masonry Units
	  </h1>
      <p>
</p><p class="section-e"><b>9.20.4.3. Hollow masonry Units</b></p> <p class="subsection-e">  <b>(1) </b>Hollow masonry units shall be laid with mortar applied to head and bed joints of both inner and outer face shells.</p> <p class="subsection-e">  <b>(2) </b>Vertically aligned webs of hollow masonry units shall be laid in a full bed of mortar,</p> <p class="clause-e">  (a) under the starting course,</p> <p class="clause-e">  (b) in all courses of columns, and</p> <p class="clause-e">  (c) where adjacent to cells or cavities that are to be filled with grout.</p> <p class="ruleb-e">9.20.5. masonry Support</p> 
	  
      
	  
	  
	  
	  
    </div>