<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Masonry Support
	  </h1>
      <p>
</p><p class="section-e"><b>9.20.5.1. masonry Support</b></p> <p class="subsection-e">  <b>(1) </b>All masonry shall be supported on masonry, concrete or steel, except that masonry veneer walls are permitted to be supported on <i>foundations</i>of wood frame constructed in conformance with Sentence 9.15.2.4.(1).</p> <p class="subsection-e">  <b>(2) </b>Every masonry wall shall be at least as thick as the wall it supports, except as otherwise permitted in Article 9.20.12.2.</p> 
	  
      
	  
	  
	  
	  
    </div>