<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Thickness of Exterior Walls
	  </h1>
      <p>
</p><p class="section-e"><b>9.20.6.1. Thickness of exterior Walls</b></p> <p class="subsection-e">  <b>(1) </b>masonry exterior walls, other than <i>cavity walls</i>, in 1 <i>storey buildings</i> and the top <i>storeys</i>of 2 and 3 <i>storey buildings </i>shall be not less than 140 mm thick provided the walls are not more than 2.8 m high at the eaves and 4.6 m high at the peaks of gable ends.</p> <p class="subsection-e">  <b>(2) </b>The exterior walls of the bottom <i>storeys</i> of 2 <i>storey buildings</i>, and exterior walls of the bottom 2 <i>storeys</i> of 3 <i>storey buildings</i>shall be not less than 190 mm thick.</p> <p class="subsection-e">  <b>(3) </b>In exterior walls composed of more than one wythe, each wythe shall be not less than 90 mm thick.</p> 
	  
      
	  
	  
	  
	  
    </div>