<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Thickness of Interior Walls
	  </h1>
      <p>
</p><p class="section-e"><b>9.20.6.3. Thickness of interior Walls</b></p> <p class="subsection-e">  <b>(1) </b>The thickness of<i> loadbearing</i> interior walls shall be determined on the basis of the maximum lateral support spacing as provided in Sentences 9.20.10.1.(2) and (3).</p> <p class="subsection-e">  <b>(2) </b>The thickness of interior non-<i>loadbearing</i> walls shall be,</p> <p class="clause-e">  (a) determined on the basis of the maximum lateral support spacing as provided in Sentences 9.20.10.1.(2) and (3), and</p> <p class="clause-e">  (b) in any case, not less than 65 mm.</p> 
	  
      
	  
	  
	  
	  
    </div>