<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Masonry Veneer
	  </h1>
      <p>
</p><p class="section-e"><b>9.20.6.4. masonry Veneer</b></p> <p class="subsection-e">  <b>(1) </b>Except for masonry veneer where each masonry unit is supported individually by the structural backing, masonry veneer shall be of solid units not less than 70 mm thick.</p> <p class="subsection-e">  <b>(2) </b>Veneer described in Sentence (1) over wood frame walls shall have not less than a 25 mm air space behind the veneer.</p> <p class="subsection-e">  <b>(3) </b>masonry veneer less than 90 mm thick shall have unraked joints.</p> <p class="subsection-e">  <b>(4) </b>masonry veneer shall conform to Subsection 4.3.2. where the masonry units are required to be individually supported by the structural backing.</p> 
	  
      
	  
	  
	  
	  
    </div>