<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Parapet Walls
	  </h1>
      <p>
</p><p class="section-e"><b>9.20.6.5. Parapet walls</b></p> <p class="subsection-e">  <b>(1) </b>The height of parapet walls above the adjacent roof surface shall be not more than three times the parapet wall thickness.</p> <p class="subsection-e">  <b>(2) </b>Parapet walls shall be solid from the top of the parapet to not less than 300 mm below the adjacent roof level.</p> 
	  
      
	  
	  
	  
	  
    </div>