<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Stone or Concrete Facings
	  </h1>
      <p>
</p><p class="section-e"><b>9.20.6.6. <a href ="http://thehandyforce.com/interlock/" title ="Interlock Brick Layer in Toronto">stone</a> or Concrete Facings</b></p> <p class="subsection-e">  <b>(1) </b>Slab and <a href ="http://thehandyforce.com/electrical/" title ="Electrical panel installation in Toronto">panel</a> facings of precast concrete and natural or artificial <a href ="http://thehandyforce.com/interlock/" title ="Interlock Brick Layer in Toronto">stone</a> shall conform to Subsection 4.3.2.</p> <p class="ruleb-e">9.20.7. Chases and Recesses</p> 
	  
      
	  
	  
	  
	  
    </div>