<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Minimum Wall Thickness
	  </h1>
      <p>
</p><p class="section-e"><b>9.20.7.2. Minimum wall Thickness</b></p> <p class="subsection-e">  <b>(1) </b>Except as provided in Sentence (2) and Article 9.20.7.4., no chase or recess shall be constructed in any wall 190 mm or less in thickness.</p> <p class="subsection-e">  <b>(2) </b>Recesses may be constructed in 190 mm walls provided they do not exceed 100 mm in depth, 750 mm in height and 500 mm in width.</p> 
	  
      
	  
	  
	  
	  
    </div>