<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Separation of Chases and Recesses
	  </h1>
      <p>
</p><p class="section-e"><b>9.20.7.3. Separation of Chases and Recesses</b></p> <p class="subsection-e">  <b>(1) </b>Chases and recesses shall be not less than,</p> <p class="clause-e">  (a) four times the wall thickness apart, and</p> <p class="clause-e">  (b) 600 mm away from any pilaster, cross wall, buttress or other vertical element providing required lateral support for the wall.</p> 
	  
      
	  
	  
	  
	  
    </div>