<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Non-Conforming Chases or Recesses
	  </h1>
      <p>
</p><p class="section-e"><b>9.20.7.4. Non-Conforming Chases or Recesses</b></p> <p class="subsection-e">  <b>(1) </b>Chases or recesses that do not conform to the limits specified in Articles 9.20.7.1. to 9.20.7.3. shall be considered as openings, and any masonry supported above such a chase or recess shall be supported by a lintel or arch as provided in Article 9.20.5.2.</p> 
	  
      
	  
	  
	  
	  
    </div>