<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Non-Conforming Chases or Recesses
	  </h1>
      <p>
</p><p class="section-e"><b>9.20.7.4. Non-Conforming Chases or Recesses</b></p> <p class="subsection-e">  <b>(1) </b>Chases or recesses that do not conform to the limits specified in Articles 9.20.7.1. to 9.20.7.3. shall be considered as <a href ="http://thehandyforce.com/doors/" title ="Door installer in Toronto">openings</a>="http://thehandyforce.com/windows/" title ="Window installer in Toronto">openings, and any <a href ="http://thehandyforce.com/home-renovations-north-york/" title ="Brick repair in Toronto Handyman">masonry</a> supported above such a chase or recess shall be <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>ed by a lintel or arch as provided in Article 9.20.5.2.</p> 
	  
      
	  
	  
	  
	  
    </div>