<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Chases or Recesses Cut into Walls
	  </h1>
      <p>
</p><p class="section-e"><b>9.20.7.5. Chases or Recesses Cut into <a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a>s</b></p> <p class="subsection-e">  <b>(1) </b>Chases or recesses shall not be cut into <a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a>s made with hollow units after the <a href ="http://thehandyforce.com/home-renovations-north-york/" title ="Brick repair in Toronto Handyman">masonry</a> units are in place.</p> <p class="ruleb-e">9.20.8. <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a> of Loads</p> 
	  
      
	  
	  
	  
	  
    </div>