<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Capping of Hollow Masonry Walls
	  </h1>
      <p>
</p><p class="section-e"><b>9.20.8.1. Capping of Hollow masonry Walls</b></p> <p class="subsection-e">  <b>(1) </b>Except as permitted in Sentence (2), <i>loadbearing</i> walls of hollow masonry units supporting roof or floor framing members shall be capped with not less than 50 mm of solid masonry or have the top course filled with concrete.</p> <p class="subsection-e">  <b>(2) </b>Capping required in Sentence (1) may be omitted where the roof framing is supported on a wood plate not less than 38 mm by 89 mm.</p> 
	  
      
	  
	  
	  
	  
    </div>