<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Cavity Walls Supporting Framing Members
	  </h1>
      <p>
</p><p class="section-e"><b>9.20.8.2. Cavity walls supporting Framing Members</b></p> <p class="subsection-e">  <b>(1) </b>floor joists supported on <i>cavity walls</i> shall be supported on solid units not less than 57 mm high.</p> <p class="subsection-e">  <b>(2) </b>floor joists described in Sentence (1) shall not project into the cavity.</p> <p class="subsection-e">  <b>(3) </b>Roof and ceiling framing members bearing on <i>cavity walls</i>shall be supported on,</p> <p class="clause-e">  (a) not less than 57 mm of solid masonry, bridging the full thickness of the wall, or</p> <p class="clause-e">  (b) a wood plate not less than 38 mm thick, bearing not less than 50 mm on each wythe.</p> 
	  
      
	  
	  
	  
	  
    </div>