<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Bearing of Beams and Joists
	  </h1>
      <p>
</p><p class="section-e"><b>9.20.8.3. Bearing of Beams and joists</b></p> <p class="subsection-e">  <b>(1) </b>The bearing area under beams and joists shall be sufficient to carry the supported load.</p> <p class="subsection-e">  <b>(2) </b>In no case shall the minimum length of end bearing of beams supported on masonry be less than 90 mm.</p> <p class="subsection-e">  <b>(3) </b>The length of end bearing of floor, roof or ceiling joists supported on masonry shall be not less than 40 mm.</p> 
	  
      
	  
	  
	  
	  
    </div>