<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Distance to Edge of Supporting Members
	  </h1>
      <p>
</p><p class="section-e"><b>9.20.8.5. Distance to Edge of supporting Members</b></p> <p class="subsection-e">  <b>(1) </b>masonry veneer of hollow units resting on bearing support shall not project more than,</p> <p class="clause-e">  (a) 30 mm beyond the supporting base where the veneer is not less than 90 mm thick, and</p> <p class="clause-e">  (b) 12 mm beyond the supporting base where the veneer is less than 90 mm thick.</p> <p class="subsection-e">  <b>(2) </b>masonry veneer of solid units resting on bearing support shall not project more than one-third of the width of the veneer.</p> <p class="subsection-e">  <b>(3) </b>Where the masonry veneer described in Sentence (2) is rough stone masonry,</p> <p class="clause-e">  (a) the projection shall be measured as the average projection of the units, and</p> <p class="clause-e">  (b) the width of the veneer shall be measured as the average width of the veneer.</p> <p class="ruleb-e">9.20.9. Bonding and Tying</p> 
	  
      
	  
	  
	  
	  
    </div>