<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Joints to be Offset or Reinforced
	  </h1>
      <p>
</p><p class="section-e"><b>9.20.9.1. Joints to be Offset or Reinforced</b></p> <p class="subsection-e">  <b>(1) </b>Vertical joints in adjacent masonry courses shall be offset unless each wythe of masonry is reinforced with the equivalent of no fewer than two corrosion-resistant steel bars of 3.76 mm diam placed in the horizontal joints at vertical intervals not exceeding 460 mm.</p> <p class="subsection-e">  <b>(2) </b>Where joints in the reinforcing referred to in Sentence (1) occur, the bars shall be lapped not less than 150 mm.</p> 
	  
      
	  
	  
	  
	  
    </div>