<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Bonding or Tying of Other than Masonry Veneer
	  </h1>
      <p>
</p><p class="section-e"><b>9.20.9.2. Bonding or Tying of Other than masonry Veneer</b></p> <p class="subsection-e">  <b>(1) </b>Except as provided in Article 9.20.9.5 for masonry veneer, masonry walls that consist of two or more wythes shall have the wythes bonded or tied together with masonry bonding units as described in Article 9.20.9.3. or with metal ties as described in Articles 9.20.9.4.</p> 
	  
      
	  
	  
	  
	  
    </div>