<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Reinforcing for Glass Block
	  </h1>
      <p>
</p><p class="section-e"><b>9.20.9.6. Reinforcing for glass Block</b></p> <p class="subsection-e">  <b>(1) </b>glass block shall have horizontal joint reinforcement of two corrosion-resistant bars of not less than 3.76 mm diam or expanded metal strips not less than 75 mm wide,</p> <p class="clause-e">  (a) spaced at vertical intervals of not more than 600 mm for units 190 mm or less in height, and</p> <p class="clause-e">  (b) installed in every horizontal joint for units higher than 190 mm.</p> <p class="subsection-e">  <b>(2) </b>Reinforcement required in Sentence (1) shall be lapped not less than 150 mm.</p> <p class="ruleb-e">9.20.10. Lateral support</p> 
	  
      
	  
	  
	  
	  
    </div>