<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Bonding and Tying of Intersecting Walls
	  </h1>
      <p>
</p><p class="section-e"><b>9.20.11.2. Bonding and Tying of Intersecting walls</b></p> <p class="subsection-e">  <b>(1) </b>Where required to provide lateral support, intersecting walls shall be bonded or tied together.</p> <p class="subsection-e">  <b>(2) </b>Where bonding is used to satisfy the requirements of Sentence (1), 50% of the adjacent masonry units in the intersecting wall, distributed uniformly over the height of the intersection, shall be embedded in the laterally supported wall.</p> <p class="subsection-e">  <b>(3) </b>Where tying is used to satisfy the requirements of Sentence (1), the ties shall be,</p> <p class="clause-e">  (a) corrosion-resistant metal,</p> <p class="clause-e">  (b) equivalent to not less than 4.76 mm by 40 mm steel strapping,</p> <p class="clause-e">  (c) spaced not more than 800 mm o.c. vertically, and</p> <p class="clause-e">  (d) shaped at both ends to provide sufficient mechanical key to develop the strength of the ties.</p> 
	  
      
	  
	  
	  
	  
    </div>