<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Wood Frame Walls Intersecting Masonry Walls
	  </h1>
      <p>
</p><p class="section-e"><b>9.20.11.3. wood Frame walls Intersecting masonry Walls</b></p> <p class="subsection-e">  <b>(1) </b>wood frame walls shall be tied to intersecting masonry walls with not less than 4.76 mm diam corrosion-resistant steel rods spaced not more than 900 mm o.c. vertically.</p> <p class="subsection-e">  <b>(2) </b>Ties required in Sentence (1) shall be anchored to the wood framing at one end and shaped to provide a mechanical key at the other end to develop the strength of the tie.</p> 
	  
      
	  
	  
	  
	  
    </div>