<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Wood Frame Roof Systems
	  </h1>
      <p>
</p><p class="section-e"><b>9.20.11.4. wood Frame Roof Systems</b></p> <p class="subsection-e">  <b>(1) </b>Except as permitted in Sentence (2), roof systems of wood frame construction shall be tied to exterior masonry walls by not less than 12.7 mm diam anchor bolts,</p> <p class="clause-e">  (a) spaced not more than 2.4 m apart,</p> <p class="clause-e">  (b) embedded not less that 90 mm into the masonry, and</p> <p class="clause-e">  (c) fastened to a rafter plate of not less than 38 mm thick lumber.</p> <p class="subsection-e">  <b>(2) </b>The roof system described in Sentence (1) is permitted to be anchored by nailing the wall furring strips to the side of the rafter plate.</p> 
	  
      
	  
	  
	  
	  
    </div>