<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Cornices, Sills and Trim
	  </h1>
      <p>
</p><p class="section-e"><b>9.20.11.5. Cornices, Sills and Trim</b></p> <p class="subsection-e">  <b>(1) </b>Cornices, sills or other trim of <a href ="http://thehandyforce.com/home-renovations-north-york/" title ="Brick repair in Toronto Handyman">masonry</a> material that project beyond the <a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a> face shall have not less than 65% of their mass, but not less than 90 mm, within the <a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a> or shall be adequately anchored to the <a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a> with corrosion-resistant anchors.</p> 
	  
      
	  
	  
	  
	  
    </div>