<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Cornices, Sills and Trim
	  </h1>
      <p>
</p><p class="section-e"><b>9.20.11.5. Cornices, Sills and Trim</b></p> <p class="subsection-e">  <b>(1) </b>Cornices, sills or other trim of masonry material that project beyond the wall face shall have not less than 65% of their mass, but not less than 90 mm, within the wall or shall be adequately anchored to the wall with corrosion-resistant anchors.</p> 
	  
      
	  
	  
	  
	  
    </div>