<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Piers
	  </h1>
      <p>
</p><p class="section-e"><b>9.20.11.6. Piers</b></p> <p class="subsection-e">  <b>(1) </b>Where anchor bolts are to be placed in the top of a masonry pier, the pier shall conform to the requirements of Sentence 9.15.2.3.(4) and shall be capped with concrete or reinforced masonry not less than 200 mm thick.</p> <p class="ruleb-e">9.20.12. Corbelling</p> 
	  
      
	  
	  
	  
	  
    </div>