<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Corbelling
	  </h1>
      <p>
</p><p class="section-e"><b>9.20.12.1. Corbelling</b></p> <p class="subsection-e">  <b>(1) </b>All corbelling shall consist of solid units.</p> <p class="subsection-e">  <b>(2) </b>The units referred to in Sentence (1) shall be corbelled so that the horizontal projection of any unit does not <a href ="http://thehandyforce.com/guarantee/" title ="Reliable Contractors">exceed</a> 25 mm and the total projection does not <a href ="http://thehandyforce.com/guarantee/" title ="Reliable Contractors">exceed</a> one-third of the total <a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a> thickness.</p> 
	  
      
	  
	  
	  
	  
    </div>