<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Corbelling for Cavity Walls
	  </h1>
      <p>
</p><p class="section-e"><b>9.20.12.2. Corbelling for Cavity walls</b></p> <p class="subsection-e">  <b>(1) </b><i>Cavity walls</i> of greater thickness than the <i>foundation</i> wall on which they rest shall not be corbelled but may project 25 mm over the outer face of the <i>foundation</i>wall disregarding parging.</p> <p class="subsection-e">  <b>(2) </b>Where the <i>foundation</i> wall referred to in Sentence (1) is unit masonry, it is permitted to be corbelled to meet flush with the inner face of a <i>cavity wall</i> provided,</p> <p class="clause-e">  (a) the projection of each course does not exceed half the height or one-third the width of the corbelled unit, and</p> <p class="clause-e">  (b) the total corbel does not exceed one-third of the <i>foundation</i> wall thickness.</p> 
	  
      
	  
	  
	  
	  
    </div>