<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Corbelling for Masonry Veneer
	  </h1>
      <p>
</p><p class="section-e"><b>9.20.12.3. Corbelling for masonry Veneer</b></p> <p class="subsection-e">  <b>(1) </b>masonry veneer resting on a bearing support shall not project more than 25 mm beyond the supporting base where the veneer is at least 90 mm thick, and 12 mm beyond the supporting base where the veneer is less than 90 mm thick.</p> <p class="subsection-e">  <b>(2) </b>In the case of rough stone veneer, the projection, measured as the average projection of the stone units, shall not exceed one-third the bed width beyond the supporting base.</p> <p class="ruleb-e">9.20.13. Control of Rain water Penetration</p> 
	  
      
	  
	  
	  
	  
    </div>