<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Location of Flashing
	  </h1>
      <p>
</p><p class="section-e"><b>9.20.13.3. Location of Flashing</b></p> <p class="subsection-e">  <b>(1) </b>Flashing shall be installed in masonry and masonry veneer walls,</p> <p class="clause-e">  (a) beneath jointed masonry window sills,</p> <p class="clause-e">  (b) over the back and top of parapet walls,</p> <p class="clause-e">  (c) over the heads of glass block panels,</p> <p class="clause-e">  (d) beneath weep holes, and</p> <p class="clause-e">  (e) over the heads of window and door openings in exterior walls when the vertical distance between the top of a window or door frame and the bottom edge of the eave exceeds one-quarter of the horizontal eave overhang.</p> <p class="subsection-e">  <b>(2) </b>Throughwall flashing shall be provided in a masonry veneer wall such that any moisture that accumulates in the air space will be directed to the exterior of the <i>building</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>