<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Extension of Flashing
	  </h1>
      <p>
</p><p class="section-e"><b>9.20.13.4. Extension of Flashing</b></p> <p class="subsection-e">  <b>(1) </b>When installed beneath jointed masonry window sills and jointed masonry copings or over the heads of openings, flashing shall extend from the front edge of the masonry up behind the sill or lintel.</p> <p class="subsection-e">  <b>(2) </b>A flashing may be omitted when the masonry at the sill of a wall opening or the top of a wall is protected by an impervious non-jointed masonry coping that conforms to Article 9.20.13.12.</p> 
	  
      
	  
	  
	  
	  
    </div>