<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Required Weep Holes
	  </h1>
      <p>
</p><p class="section-e"><b>9.20.13.8. Required Weep Holes</b></p> <p class="subsection-e">  <b>(1) </b>Weep holes spaced not more than 800 mm apart shall be provided at the bottom of,</p> <p class="clause-e">  (a) cavities in <i>cavity walls</i>, and</p> <p class="clause-e">  (b) cavities or air spaces in masonry veneer walls.</p> <p class="subsection-e">  <b>(2) </b>The cavities or air spaces described in Sentence (1) shall include those above lintels over window and door openings required to be flashed in conformance with Article 9.20.13.3.</p> <p class="subsection-e">  <b>(3) </b>The weep holes required in Sentence (1) shall be in a location such that any water that collects in the cavity or space will be directed to the exterior of the <i>building</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>