<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Caulking at Door and Window Frames
	  </h1>
      <p>
</p><p class="section-e"><b>9.20.13.11. Caulking at <a href ="http://thehandyforce.com/doors/" title ="Toronto Door installer">door</a> and <a href ="http://thehandyforce.com/windows/" title ="East York Window installer">window</a> Frames</b></p> <p class="subsection-e">  <b>(1) </b>The junction of <a href ="http://thehandyforce.com/doors/" title ="Toronto Door installer">door</a> and <a href ="http://thehandyforce.com/windows/" title ="East York Window installer">window</a> frames with <a href ="http://thehandyforce.com/home-renovations-north-york/" title ="Brick repair in Toronto Handyman">masonry</a> shall be caulked in conformance with Subsection 9.27.4.</p> 
	  
      
	  
	  
	  
	  
    </div>