<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Drips Beneath Window Sills
	  </h1>
      <p>
</p><p class="section-e"><b>9.20.13.12. Drips Beneath window Sills</b></p> <p class="subsection-e">  <b>(1) </b>Except for wall openings located less than 150 mm above ground level, where a concealed flashing is not installed beneath window and door sills, such sills shall be provided with an outward slope and a drip located not less than 25 mm from the wall surface.</p> <p class="ruleb-e">9.20.14. Protection During Work</p> 
	  
      
	  
	  
	  
	  
    </div>