<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Laying Temperature of Mortar and Masonry
	  </h1>
      <p>
</p><p class="section-e"><b>9.20.14.1. Laying temperature of Mortar and masonry</b></p> <p class="subsection-e">  <b>(1) </b>mortar and masonry shall be maintained at a temperature not below 5°C during installation and for not less than 48 h after installation.</p> <p class="subsection-e">  <b>(2) </b>No frozen material shall be used in the mortar mix.</p> 
	  
      
	  
	  
	  
	  
    </div>