<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Protection from Weather
	  </h1>
      <p>
</p><p class="section-e"><b>9.20.14.2. Protection from Weather</b></p> <p class="subsection-e">  <b>(1) </b>The top surface of uncompleted masonry exposed to the weather shall be completely covered with a waterproofing material when construction is not in progress.</p> <p class="ruleb-e">9.20.15. Reinforcement for Earthquake Resistance</p> 
	  
      
	  
	  
	  
	  
    </div>