<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Amount of Reinforcement
	  </h1>
      <p>
</p><p class="section-e"><b>9.20.15.1. Amount of Reinfor<a href ="http://thehandyforce.com/exterior/" title ="Exterior home repairs in Toronto">cement</a></b></p> <p class="subsection-e">  <b>(1) </b>Where reinfor<a href ="http://thehandyforce.com/exterior/" title ="Exterior home repairs in Toronto">cement</a> is required in this Section, <a href ="http://thehandyforce.com/home-renovations-north-york/" title ="Brick repair in Toronto Handyman">masonry</a> walls shall be reinforced horizontally and vertically with steel having a total cross-sectional area of not less than 0.002 times the horizontal cross-sectional area of the <a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a>, so that not less than one-third of the required steel area is installed either horizontally or vertically and the remainder in the other direction.</p> 
	  
      
	  
	  
	  
	  
    </div>