<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Installation Standard
	  </h1>
      <p>
</p><p class="section-e"><b>9.20.15.2. <a href ="http://thehandyforce.com/insulation/" title ="Sprayfoam insulation in Toronto">installation</a> Standard</b></p> <p class="subsection-e">  <b>(1) </b>Where reinfor<a href ="http://thehandyforce.com/exterior/" title ="Exterior home repairs in Toronto">cement</a> for <a href ="http://thehandyforce.com/home-renovations-north-york/" title ="Brick repair in Toronto Handyman">masonry</a> is required in this Section, it shall be installed in conformance with the requirements for reinforced <a href ="http://thehandyforce.com/home-renovations-north-york/" title ="Brick repair in Toronto Handyman">masonry</a> as contained in CAN/CSA-A371, "<a href ="http://thehandyforce.com/home-renovations-north-york/" title ="Brick repair in Toronto Handyman">masonry</a> Construction for <a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Toronto Basement renovator">building</a>s".</p> <p class="ruleb-e">9.20.16. Corrosion Resistance</p> 
	  
      
	  
	  
	  
	  
    </div>