<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Installation Standard
	  </h1>
      <p>
</p><p class="section-e"><b>9.20.15.2. installation Standard</b></p> <p class="subsection-e">  <b>(1) </b>Where reinforcement for masonry is required in this Section, it shall be installed in conformance with the requirements for reinforced masonry as contained in CAN/CSA-A371, "masonry Construction for buildings".</p> <p class="ruleb-e">9.20.16. Corrosion Resistance</p> 
	  
      
	  
	  
	  
	  
    </div>