<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Thickness of Flat Insulating Concrete Form Walls
	  </h1>
      <p>
</p><p class="section-e"><b>9.20.17.1. Thickness of Flat insulating Concrete Form walls</b></p> <p class="subsection-e">  <b>(1) </b>The thickness of concrete in flat insulating concrete form walls not in contact with the ground shall be,</p> <p class="clause-e">  (a) not less than 140 mm, and</p> <p class="clause-e">  (b) constant for the entire height of the wall.</p> 
	  
      
	  
	  
	  
	  
    </div>