<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Openings in Loadbearing Flat Insulating Concrete Form Walls
	  </h1>
      <p>
</p><p class="section-e"><b>9.20.17.4. openings in Loadbearing Flat insulating Concrete Form walls</b></p> <p class="subsection-e">  <b>(1) </b>No openings shall occur within 1.2 m of interior and exterior corners of exterior <i>loadbearing</i> flat insulating concrete form walls.</p> <p class="subsection-e">  <b>(2) </b>In<i>loadbearing</i> flat insulating concrete form walls, lintels shall be provided over all openings wider than 900 mm.</p> <p class="subsection-e">  <b>(3) </b>Lintels described in Sentence (2) shall be constructed in accordance with Tables A-17, A-18 or A-19.</p> <p class="subsection-e">  <b>(4) </b>Lintels described in Sentence (2) over openings wider than 1.2 m shall be reinforced for shear with 10M stirrups at a maximum spacing of half the distance from the bottom reinforcing bar to the top of the lintel.</p> 
	  
      
	  
	  
	  
	  
    </div>