<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Anchoring of Roof Framing to Top of Flat Insulating Concrete Form Walls
	  </h1>
      <p>
</p><p class="section-e"><b>9.20.17.6. Anchoring of Roof Framing to Top of Flat insulating Concrete Form walls</b></p> <p class="subsection-e">  <b>(1) </b>Roof framing supported on the top of flat insulating concrete form walls shall be fixed to the top plates, which shall be anchored to the wall with anchor bolts,</p> <p class="clause-e">  (a) not less than 12.7 mm in diameter, and</p> <p class="clause-e">  (b) spaced not more than 1.2 m o.c.</p> <p class="subsection-e">  <b>(2) </b>The anchor bolts described in Sentence (1) shall be placed in the centre of the flat insulating concrete form wall and shall be embedded not less than 100 mm into the concrete.</p> <p class="subsection-e">  <b>(3) </b>Attachment of roof framing to wood top plates shall be in accordance with Table 9.23.3.4.</p> 
	  
      
	  
	  
	  
	  
    </div>