<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Application
	  </h1>
      <p>
</p><p class="section-e"><b>9.21.1.1. application</b></p> <p class="subsection-e">  <b>(1) </b>This Section applies to,</p> <p class="clause-e">  (a) rectangular <i>masonry or concrete chimneys</i> not more than 12 m in height serving fireplaces or serving <i>appliances</i> having a combined total rated heat output of 120 kW or less, and</p> <p class="clause-e">  (b)  <i>flue pipes</i>serving solid fuel-burning <i>appliances</i>.</p> <p class="subsection-e">  <b>(2) </b>Except as provided in Sentence 9.21.1.3.(1), <i>chimneys</i> (other than those described in Sentence (1) and Sentence 9.21.1.2.(1)), <i>gas vents</i> and <i>flue pipes</i>serving gas-, oil- or solid fuel-burning <i>appliances</i>and associated equipment shall conform to Section 6.3.</p> 
	  
      
	  
	  
	  
	  
    </div>