<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Chimney or Flue Pipe Walls
	  </h1>
      <p>
</p><p class="section-e"><b>9.21.1.4. Chimney or Flue <a href ="http://thehandyforce.com/plumbing/" title ="Plubing leak repair in Toronto">pipe</a> <a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a>s</b></p> <p class="subsection-e">  <b>(1) </b>The <a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a>s of any <i>chimney</i> or <i>flue <a href ="http://thehandyforce.com/plumbing/" title ="Plubing leak repair in Toronto">pipe</a></i> shall be constructed to be smoke- and flame-tight.</p> <p class="ruleb-e">9.21.2. Chimney Flues</p> 
	  
      
	  
	  
	  
	  
    </div>