<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Chimney Flue Limitations
	  </h1>
      <p>
</p><p class="section-e"><b>9.21.2.1. Chimney Flue Limitations</b></p> <p class="subsection-e">  <b>(1) </b>A<i>chimney</i> <i>flue</i> that serves a fireplace or incinerator shall not serve any other <i>appliance</i>.</p> <p class="subsection-e">  <b>(2) </b>A<i>chimney flue </i>that serves a solid fuel-burning <i>appliance </i>shall not be connected to a natural gas- or propane-fired <i>appliance</i>.</p> <p class="subsection-e">  <b>(3) </b>A<i>chimney flue </i>that serves a solid fuel-burning <i>appliance </i>shall not be connected to an oil-burning <i>appliance </i>unless the solid fuel-burning <i>appliance </i>is <i>listed </i>for such installation and the installation of both <i>appliances </i>meets their respective installation requirements.</p> 
	  
      
	  
	  
	  
	  
    </div>