<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Connections of More Than One Appliance
	  </h1>
      <p>
</p><p class="section-e"><b>9.21.2.2. Connections of More Than One Appliance</b></p> <p class="subsection-e">  <b>(1) </b>Except as required in Article 9.21.2.1., two or more fuel-burning <i>appliances</i> are permitted to be connected to the same <i>chimney</i> <i>flue</i> provided adequate draft is maintained for the connected <i>appliances</i>and the connections are made as described in Sentences (2) and (3).</p> <p class="subsection-e">  <b>(2) </b>Where two or more solid fuel-burning <i>appliances</i> are connected to the same <i>chimney flue</i>, the <i>appliances</i> must be located on the same <i>storey</i>.</p> <p class="subsection-e">  <b>(3) </b>The connection referred to in Sentence (2) for a solid fuel-burning <i>appliance</i> shall be made below connections for <i>appliances</i> burning other fuels.</p> 
	  
      
	  
	  
	  
	  
    </div>