<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Size of Chimney Flues
	  </h1>
      <p>
</p><p class="section-e"><b>9.21.2.4. Size of Chimney Flues</b></p> <p class="subsection-e">  <b>(1) </b>Except for <i>chimneys</i> serving fireplaces, the size of a <i>chimney</i> <i>flue</i> shall conform to the requirements of the solid fuel-burning <i>appliance</i>installation standard referenced in Sentence 6.2.1.4.(1) and Article 9.33.1.2.</p> <p class="subsection-e">  <b>(2) </b>Where a <i>chimney flue</i> serves only one solid fuel-burning <i>appliance</i>, the <i>flue</i> area shall be at least equal to that of the <i>flue pipe</i>connected to it.</p> 
	  
      
	  
	  
	  
	  
    </div>