<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Lining Materials
	  </h1>
      <p>
</p><p class="section-e"><b>9.21.3.1. Lining Materials</b></p> <p class="subsection-e">  <b>(1) </b>Every<i><a href ="http://thehandyforce.com/home-renovations-north-york/" title ="Brick repair in Toronto Handyman">masonry</a> or concrete chimney</i> shall have a lining of clay, concrete, fire<a href ="http://thehandyforce.com/interlock/" title ="Interlocking brick in Toronto">brick</a> or metal.</p> 
	  
      
	  
	  
	  
	  
    </div>