<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Joints in Chimney Liners
	  </h1>
      <p>
</p><p class="section-e"><b>9.21.3.2. Joints in Chimney liners</b></p> <p class="subsection-e">  <b>(1) </b>Joints of <i>chimney liners</i> shall be sealed to provide a barrier to the passage of flue gases and condensate into the cavity between the liner and the surrounding masonry.</p> <p class="subsection-e">  <b>(2) </b>Joints of clay, concrete or firebrick <i>chimney liners</i> shall be struck flush to provide a straight, smooth, aligned <i>chimney flue</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>