<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Clay Liners
	  </h1>
      <p>
</p><p class="section-e"><b>9.21.3.3. Clay <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renvator">liner</a>s</b></p> <p class="subsection-e">  <b>(1) </b>Clay <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renvator">liner</a>s shall conform to CAN/CSA-A324-M, "Clay Flue <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renvator">liner</a>s".</p> <p class="subsection-e">  <b>(2) </b><a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renvator">liner</a>s referred to in Sentence (1) shall be not less than 15.9 mm thick and shall be capable of resisting, without softening or cracking, a <a href ="http://thehandyforce.com/insulation/" title ="Instulation Installtion in Toronto">temperature</a> of 1100°C.</p> 
	  
      
	  
	  
	  
	  
    </div>