<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Clay Liners
	  </h1>
      <p>
</p><p class="section-e"><b>9.21.3.3. Clay liners</b></p> <p class="subsection-e">  <b>(1) </b>Clay liners shall conform to CAN/CSA-A324-M, "Clay Flue liners".</p> <p class="subsection-e">  <b>(2) </b>liners referred to in Sentence (1) shall be not less than 15.9 mm thick and shall be capable of resisting, without softening or cracking, a temperature of 1100°C.</p> 
	  
      
	  
	  
	  
	  
    </div>