<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Firebrick Liners
	  </h1>
      <p>
</p><p class="section-e"><b>9.21.3.4. Firebrick liners</b></p> <p class="subsection-e">  <b>(1) </b>Firebrick liners shall conform to ASTM C27, "Classification of Fireclay and High Alumina Refractory brick".</p> <p class="subsection-e">  <b>(2) </b>Firebrick liners shall be laid with high temperature cement mortar conforming to CAN/cgsb-10.3, "Air Setting Refractory mortar".</p> 
	  
      
	  
	  
	  
	  
    </div>