<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Concrete Liners
	  </h1>
      <p>
</p><p class="section-e"><b>9.21.3.5. Concrete <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renvator">liner</a>s</b></p> <p class="subsection-e">  <b>(1) </b>Concrete<i>flue</i> <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renvator">liner</a>s shall conform to Clause 4.2.6.4. of CAN/CSA-A405-M, "<a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a> and Construction of <a href ="http://thehandyforce.com/home-renovations-north-york/" title ="Brick repair in Toronto Handyman">masonry</a> Chimneys and <a href ="http://thehandyforce.com/home-renovations-north-york/" title ="Toronto Handyman Services">fireplace</a>s".</p> 
	  
      
	  
	  
	  
	  
    </div>