<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Metal Liners
	  </h1>
      <p>
</p><p class="section-e"><b>9.21.3.6. Metal liners</b></p> <p class="subsection-e">  <b>(1) </b>Metal liners shall be constructed of at least 0.3 mm thick stainless steel.</p> <p class="subsection-e">  <b>(2) </b>Except as provided in Sentence 9.22.10.2.(3), metal liners referred to in Sentence (1) shall only be used in <i>chimneys</i> serving gas- or oil-burning <i>appliances</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>