<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Spaces Between Liners and Surrounding Masonry
	  </h1>
      <p>
</p><p class="section-e"><b>9.21.3.8. Spaces Between <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renvator">liner</a>s and Surrounding <a href ="http://thehandyforce.com/home-renovations-north-york/" title ="Brick repair in Toronto Handyman">masonry</a></b></p> <p class="subsection-e">  <b>(1) </b>A space not less than 10 mm wide shall be left between a <i>chimney <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renvator">liner</a></i> and the surrounding <a href ="http://thehandyforce.com/home-renovations-north-york/" title ="Brick repair in Toronto Handyman">masonry</a>.</p> <p class="subsection-e">  <b>(2) </b>The space required in Sentence (1) shall not be filled with <a href ="http://thehandyforce.com/decks/" title ="Toronto Deck builder">mortar</a>.</p> 
	  
      
	  
	  
	  
	  
    </div>