<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Spaces Between Liners and Surrounding Masonry
	  </h1>
      <p>
</p><p class="section-e"><b>9.21.3.8. Spaces Between liners and Surrounding masonry</b></p> <p class="subsection-e">  <b>(1) </b>A space not less than 10 mm wide shall be left between a <i>chimney liner</i> and the surrounding masonry.</p> <p class="subsection-e">  <b>(2) </b>The space required in Sentence (1) shall not be filled with mortar.</p> 
	  
      
	  
	  
	  
	  
    </div>