<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Mortar for Chimney Liners
	  </h1>
      <p>
</p><p class="section-e"><b>9.21.3.9. mortar for Chimney liners</b></p> <p class="subsection-e">  <b>(1) </b><i>Chimney liners</i> used in <i>chimneys</i>for solid fuel-burning <i>appliances</i> shall be laid in a full bed of,</p> <p class="clause-e">  (a) high temperature cement mortar conforming to CAN/cgsb-10.3, "Air Setting Refractory mortar", or</p> <p class="clause-e">  (b) mortar consisting of one part Portland cement to three parts sand by volume.</p> <p class="subsection-e">  <b>(2) </b><i>Chimney liners</i> used in <i>chimneys</i>for oil- or gas-burning <i>appliances</i> shall be laid in a full bed of mortar consisting of one part Portland cement to three parts sand by volume.</p> 
	  
      
	  
	  
	  
	  
    </div>