<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Extension of Chimney Liners
	  </h1>
      <p>
</p><p class="section-e"><b>9.21.3.10. Extension of Chimney <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renvator">liner</a>s</b></p> <p class="subsection-e">  <b>(1) </b><i>Chimney <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renvator">liner</a>s</i> shall extend from a point not less than 200 mm below the lowest <i>flue <a href ="http://thehandyforce.com/plumbing/" title ="Plubing leak repair in Toronto">pipe</a></i> connection to a point not less than 50 mm or more than 100 mm above the <i>chimney</i>cap.</p> <p class="ruleb-e">9.21.4. <a href ="http://thehandyforce.com/home-renovations-north-york/" title ="Brick repair in Toronto Handyman">masonry</a> and Concrete Chimney Construction</p> 
	  
      
	  
	  
	  
	  
    </div>