<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Extension of Chimney Liners
	  </h1>
      <p>
</p><p class="section-e"><b>9.21.3.10. Extension of Chimney liners</b></p> <p class="subsection-e">  <b>(1) </b><i>Chimney liners</i> shall extend from a point not less than 200 mm below the lowest <i>flue pipe</i> connection to a point not less than 50 mm or more than 100 mm above the <i>chimney</i>cap.</p> <p class="ruleb-e">9.21.4. masonry and Concrete Chimney Construction</p> 
	  
      
	  
	  
	  
	  
    </div>