<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Unit Masonry
	  </h1>
      <p>
</p><p class="section-e"><b>9.21.4.1. Unit <a href ="http://thehandyforce.com/home-renovations-north-york/" title ="Brick repair in Toronto Handyman">masonry</a></b></p> <p class="subsection-e">  <b>(1) </b>Unit <a href ="http://thehandyforce.com/home-renovations-north-york/" title ="Brick repair in Toronto Handyman">masonry</a> shall conform to Section 9.20.</p> 
	  
      
	  
	  
	  
	  
    </div>