<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Footings
	  </h1>
      <p>
</p><p class="section-e"><b>9.21.4.3. <a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Toronto home foundation repair">footing</a>s</b></p> <p class="subsection-e">  <b>(1) </b><a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Toronto home foundation repair">footing</a>s for <a href ="http://thehandyforce.com/home-renovations-north-york/" title ="Brick repair in Toronto Handyman">masonry</a> <i>chimneys</i> and concrete <i>chimneys </i>shall conform to the requirements in Section 9.15.</p> 
	  
      
	  
	  
	  
	  
    </div>