<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Height of Chimney Flues
	  </h1>
      <p>
</p><p class="section-e"><b>9.21.4.4. Height of Chimney Flues</b></p> <p class="subsection-e">  <b>(1) </b>A<i>chimney flue</i> shall extend not less than,</p> <p class="clause-e">  (a) 900 mm above the highest point at which the <i>chimney</i> comes in contact with the roof, and</p> <p class="clause-e">  (b) 600 mm above the highest roof <a href ="http://thehandyforce.com/tiling/" title ="Professional Tile installer in Toronto">surface</a> or structure within 3 m of the <i>chimney</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>