<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Lateral Stability
	  </h1>
      <p>
</p><p class="section-e"><b>9.21.4.5. Lateral Stability</b></p> <p class="subsection-e">  <b>(1) </b>Except as provided in Sentence (2), <i>chimneys</i> shall be braced in accordance with Subsection 4.3.2. to provide stability under wind loads.</p> <p class="subsection-e">  <b>(2) </b>A<i>chimney</i> need not be laterally braced provided,</p> <p class="clause-e">  (a) no horizontal outside dimension is less than 400 mm, and</p> <p class="clause-e">  (b) the <i>chimney</i>extends not more than 3.6 m above a roof or the masonry wall of which it forms a part.</p> 
	  
      
	  
	  
	  
	  
    </div>