<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Chimney Caps
	  </h1>
      <p>
</p><p class="section-e"><b>9.21.4.6. Chimney Caps</b></p> <p class="subsection-e">  <b>(1) </b>The top of a <i>chimney</i> shall have a waterproof cap of reinforced concrete, masonry or metal.</p> <p class="subsection-e">  <b>(2) </b>The cap required in Sentence (1) shall slope from the lining and be provided with a drip not less than 25 mm from the <i>chimney</i> wall.</p> <p class="subsection-e">  <b>(3) </b>Cast-in-place concrete caps shall be separated from the <i>chimney liner</i>by a bond break and be sealed at that location.</p> <p class="subsection-e">  <b>(4) </b>Jointed precast concrete or masonry <i>chimney</i> caps shall have flashing installed beneath the cap extending from the liner to the drip edge.</p> 
	  
      
	  
	  
	  
	  
    </div>