<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Cleanout
	  </h1>
      <p>
</p><p class="section-e"><b>9.21.4.7. Cleanout</b></p> <p class="subsection-e">  <b>(1) </b>Except for a <i>chimney flue</i> constructed to serve a <a href ="http://thehandyforce.com/home-renovations-north-york/" title ="Brick repair in Toronto Handyman">masonry</a> fireplace, a cleanout <a href ="http://thehandyforce.com/windows/" title ="Window installer in Toronto">opening</a> with a metal frame and tight-fitting metal <a href ="http://thehandyforce.com/doors/" title ="Toronto Door installer">door</a> shall be installed near the base of the <i>chimney flue</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>