<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Wall Thickness
	  </h1>
      <p>
</p><p class="section-e"><b>9.21.4.8. <a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a> Thickness</b></p> <p class="subsection-e">  <b>(1) </b>The <a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a>s of a <a href ="http://thehandyforce.com/home-renovations-north-york/" title ="Brick repair in Toronto Handyman">masonry</a> <i>chimney</i> shall be built of solid units not less than 70 mm thick.</p> 
	  
      
	  
	  
	  
	  
    </div>