<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Separation of Flue Liners
	  </h1>
      <p>
</p><p class="section-e"><b>9.21.4.9. Separation of Flue liners</b></p> <p class="subsection-e">  <b>(1) </b><i>Flue</i> liners in the same <i>chimney</i>shall be separated by not less than 70 mm of masonry or concrete exclusive of liners where clay liners are used, or 90 mm of firebrick where firebrick liners are used.</p> <p class="subsection-e">  <b>(2) </b><i>Flue</i> liners referred to in Sentence (1) shall be installed to prevent significant lateral movement.</p> 
	  
      
	  
	  
	  
	  
    </div>