<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Clearance from Combustible Materials
	  </h1>
      <p>
</p><p class="section-e"><b>9.21.5.1. Clearance from Combustible Materials</b></p> <p class="subsection-e">  <b>(1) </b>The clearance between <i>masonry or concrete chimneys</i> and <i>combustible</i> framing material shall be not less than,</p> <p class="clause-e">  (a) 50 mm for interior <i>chimneys</i>, and</p> <p class="clause-e">  (b) 12 mm for exterior <i>chimneys</i>.</p> <p class="subsection-e">  <b>(2) </b>A clearance of not less than 150 mm shall be provided between a cleanout opening and <i>combustible</i> material.</p> <p class="subsection-e">  <b>(3) </b><i>Combustible</i> flooring, flooring and ceiling finishes shall have not less than a 12 mm clearance from <i>masonry or concrete chimneys</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>