<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Support of Joists or Beams
	  </h1>
      <p>
</p><p class="section-e"><b>9.21.5.3. support of joists or Beams</b></p> <p class="subsection-e">  <b>(1) </b>joists or beams may be supported on masonry walls that enclose <i>chimney flues</i> provided the <i>combustible</i> members are separated from the <i>flue</i> by a minimum of 290 mm of solid masonry.</p> <p class="ruleb-e">Section 9.22. fireplaces</p> <p class="ruleb-e">9.22.1. General</p> 
	  
      
	  
	  
	  
	  
    </div>