<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Masonry and Concrete
	  </h1>
      <p>
</p><p class="section-e"><b>9.22.1.2. masonry and Concrete</b></p> <p class="subsection-e">  <b>(1) </b>Except as otherwise stated in this Section, unit masonry shall conform to Section 9.20. and concrete to Section 9.3.</p> <p class="subsection-e">  <b>(2) </b>masonry above openings shall be supported by steel lintels conforming to Sentence 9.20.5.2.(2), reinforced concrete or a masonry arch.</p> 
	  
      
	  
	  
	  
	  
    </div>