<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Brick or Steel Liners
	  </h1>
      <p>
</p><p class="section-e"><b>9.22.2.1. <a href ="http://thehandyforce.com/interlock/" title ="Interlocking brick in Toronto">brick</a> or Steel <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renvator">liner</a>s</b></p> <p class="subsection-e">  <b>(1) </b>Except where a <a href ="http://thehandyforce.com/home-renovations-north-york/" title ="Toronto Handyman Services">fireplace</a> is equipped with a steel <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renvator">liner</a>, every <a href ="http://thehandyforce.com/home-renovations-north-york/" title ="Toronto Handyman Services">fireplace</a> shall have a fire<a href ="http://thehandyforce.com/interlock/" title ="Interlocking brick in Toronto">brick</a> <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renvator">liner</a>.</p> 
	  
      
	  
	  
	  
	  
    </div>