<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Firebrick Liners
	  </h1>
      <p>
</p><p class="section-e"><b>9.22.2.2. Firebrick liners</b></p> <p class="subsection-e">  <b>(1) </b>fireplace liners shall be not less than,</p> <p class="clause-e">  (a) 50 mm thick for the sides and back, and</p> <p class="clause-e">  (b) 25 mm thick for the floor.</p> <p class="subsection-e">  <b>(2) </b>Firebrick liners shall be laid with high temperature cement mortar conforming to CAN/cgsb-10.3, "Air Setting Refractory mortar".</p> <p class="subsection-e">  <b>(3) </b>Joints between a firebrick liner and the adjacent back-up masonry shall be offset.</p> 
	  
      
	  
	  
	  
	  
    </div>