<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Steel Liners
	  </h1>
      <p>
</p><p class="section-e"><b>9.22.2.3. Steel liners</b></p> <p class="subsection-e">  <b>(1) </b>Steel liners for fireplaces shall conform to CAN/ulc-S639M, "Steel liner Assemblies for Solid-Fuel Burning masonry Fireplaces", and shall be installed in accordance with the installation instructions in that standard.</p> <p class="ruleb-e">9.22.3. fireplace Walls</p> 
	  
      
	  
	  
	  
	  
    </div>