<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Fire Chamber Dimensions
	  </h1>
      <p>
</p><p class="section-e"><b>9.22.4.1. Fire Chamber Dimensions</b></p> <p class="subsection-e">  <b>(1) </b>The distance from the back of the fire chamber to the plane of the <a href ="http://thehandyforce.com/home-renovations-north-york/" title ="Toronto Handyman Services">fireplace</a> opening shall be not less than 300 mm.</p> <p class="ruleb-e">9.22.5. Hearth</p> 
	  
      
	  
	  
	  
	  
    </div>