<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Support of Hearth
	  </h1>
      <p>
</p><p class="section-e"><b>9.22.5.2. support of Hearth</b></p> <p class="subsection-e">  <b>(1) </b>Except as permitted in Sentence (2), the fire chamber floor and hearth shall be supported on a reinforced concrete slab not less than a 100 mm thick at its supports and, if cantilevered, not less than 50 mm thick at its unsupported edge.</p> <p class="subsection-e">  <b>(2) </b>A hearth for a fireplace with an opening raised not less than 200 mm from a <i>combustible</i> floor is permitted to be supported on that floor provided the requirements of Clauses 5.3.6.5. to 5.3.6.7. of CAN/CSA-A405-M, "design and Construction of masonry Chimneys and fireplaces", are followed.</p> <p class="ruleb-e">9.22.6. Damper</p> 
	  
      
	  
	  
	  
	  
    </div>