<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Required Damper and Size
	  </h1>
      <p>
</p><p class="section-e"><b>9.22.6.1. Required Damper and Size</b></p> <p class="subsection-e">  <b>(1) </b>The throat of every <a href ="http://thehandyforce.com/home-renovations-north-york/" title ="Toronto Handyman Services">fireplace</a> shall be equipped with a metal damper sufficiently large to cover the full area of the throat <a href ="http://thehandyforce.com/windows/" title ="Window installer in Toronto">opening</a>.</p> <p class="ruleb-e">9.22.7. Smoke Chamber</p> 
	  
      
	  
	  
	  
	  
    </div>