<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Wall Thickness
	  </h1>
      <p>
</p><p class="section-e"><b>9.22.7.2. wall Thickness</b></p> <p class="subsection-e">  <b>(1) </b>The thickness of masonry walls surrounding the smoke chamber shall be not less than 190 mm at the sides, front and back, except that the portions of the back exposed to the outside may be 140 mm thick.</p> <p class="ruleb-e">9.22.8. Factory-Built fireplaces</p> 
	  
      
	  
	  
	  
	  
    </div>