<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Conformance to Standard
	  </h1>
      <p>
</p><p class="section-e"><b>9.22.8.1. Conformance to Standard</b></p> <p class="subsection-e">  <b>(1) </b>Factory-built <a href ="http://thehandyforce.com/home-renovations-north-york/" title ="Toronto Handyman Services">fireplace</a>s and their <a href ="http://thehandyforce.com/insulation/" title ="Sprayfoam insulation in Toronto">installation</a> shall conform to CAN/<a href ="http://canada.ul.com/ulcstandards/" title ="ULC Standards">ulc</a>-S610-M, "Factory-Built <a href ="http://thehandyforce.com/home-renovations-north-york/" title ="Toronto Handyman Services">fireplace</a>s".</p> <p class="ruleb-e">9.22.9. Clearance of Combustible Material</p> 
	  
      
	  
	  
	  
	  
    </div>