<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Clearance to the Fireplace Opening
	  </h1>
      <p>
</p><p class="section-e"><b>9.22.9.1. Clearance to the fireplace Opening</b></p> <p class="subsection-e">  <b>(1) </b><i>Combustible</i> material shall not be placed on or near the face of a fireplace within 150 mm of the fireplace opening, except that where the <i>combustibl</i>e material projects more than 38 mm out from the face of the fireplace above the opening, such material shall be at least 300 mm above the top of the opening.</p> 
	  
      
	  
	  
	  
	  
    </div>