<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Metal Exposed to the Interior
	  </h1>
      <p>
</p><p class="section-e"><b>9.22.9.2. Metal Exposed to the <a href ="http://thehandyforce.com/interior/" title ="Interior Handyman services in Toronto">interior</a></b></p> <p class="subsection-e">  <b>(1) </b>Metal exposed to the <a href ="http://thehandyforce.com/interior/" title ="Interior Handyman services in Toronto">interior</a> of a <a href ="http://thehandyforce.com/home-renovations-north-york/" title ="Toronto Handyman Services">fireplace</a> such as the damper control mechanism shall have at least a 50 mm clearance from any <i>combustible</i>material on the face of the <a href ="http://thehandyforce.com/home-renovations-north-york/" title ="Toronto Handyman Services">fireplace</a> where such metal penetrates through the face of the <a href ="http://thehandyforce.com/home-renovations-north-york/" title ="Toronto Handyman Services">fireplace</a>.</p> 
	  
      
	  
	  
	  
	  
    </div>