<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Metal Exposed to the Interior
	  </h1>
      <p>
</p><p class="section-e"><b>9.22.9.2. Metal Exposed to the interior</b></p> <p class="subsection-e">  <b>(1) </b>Metal exposed to the interior of a fireplace such as the damper control mechanism shall have at least a 50 mm clearance from any <i>combustible</i>material on the face of the fireplace where such metal penetrates through the face of the fireplace.</p> 
	  
      
	  
	  
	  
	  
    </div>