<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Clearance to Combustible Framing
	  </h1>
      <p>
</p><p class="section-e"><b>9.22.9.3. Clearance to Combustible Framing</b></p> <p class="subsection-e">  <b>(1) </b>Not less than a 100 mm clearance shall be provided between the back and sides of a solid fuel-burning fireplace and <i>combustible</i>framing, except that a 50 mm clearance is permitted where the fireplace is located in an exterior wall.</p> <p class="subsection-e">  <b>(2) </b>Not less than a 50 mm clearance shall be provided between the back and sides of the smoke chamber of a solid fuel-burning fireplace and <i>combustible</i>framing, except that a 25 mm clearance is permitted where the fireplace is located in an exterior wall.</p> 
	  
      
	  
	  
	  
	  
    </div>