<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Protection from Decay
	  </h1>
      <p>
</p><p class="section-e"><b>9.23.2.2. Protection from Decay</b></p> <p class="subsection-e">  <b>(1) </b>Ends of wood joists, beams and other members framing into masonry or concrete shall be treated to prevent decay where the bottom of the member is at or below ground level, or a 12 mm air space shall be provided at the end and sides of the member.</p> <p class="subsection-e">  <b>(2) </b>Air spaces required in Sentence (1) shall not be blocked by insulationinsulation, <i>vapour barriers</i> or air tight materials.</p> 
	  
      
	  
	  
	  
	  
    </div>