<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Protection from Dampness
	  </h1>
      <p>
</p><p class="section-e"><b>9.23.2.3. Protection from Dampness</b></p> <p class="subsection-e">  <b>(1) </b>Except as permitted in Sentence (2), wood framing members that are not pressure-treated with a wood preservative and that are supported on concrete in contact with the ground or <i>fill</i> shall be separated from the concrete by not less than 0.05 mm polyethylene film or Type S roll roofing.</p> <p class="subsection-e">  <b>(2) </b>Dampproofing material referred to in Sentence (1) is not required where the wood member is at least 150 mm above the ground.</p> 
	  
      
	  
	  
	  
	  
    </div>