<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Termite Protection
	  </h1>
      <p>
</p><p class="section-e"><b>9.23.2.5. Termite Protection</b></p> <p class="subsection-e">  <b>(1) </b>Where termites are known to exist, unless pressure-treated with a chemical that is toxic to such termites in accordance with Article 9.3.2.9., wood steps shall rest on a non-cellulosic base or apron extending at least 150 mm above the ground.</p> <p class="subsection-e">  <b>(2) </b>wood lattice or skirting around porches shall be separated from piers and <i>soil</i> by at least 50 mm.</p> <p class="ruleb-e">9.23.3. Fasteners</p> 
	  
      
	  
	  
	  
	  
    </div>