<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Prevention of Splitting
	  </h1>
      <p>
</p><p class="section-e"><b>9.23.3.3. Pre<a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renovation inspiration">vent</a>ion of Splitting</b></p> <p class="subsection-e">  <b>(1) </b>Splitting of <a href ="http://thehandyforce.com/interior/" title ="Handyman Services in Toronto">wood</a> members shall be minimized by staggering the nails in the direction of the grain and by keeping nails well in from the edges.</p> 
	  
      
	  
	  
	  
	  
    </div>