<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Spans for Joists, Rafters and Beams
	  </h1>
      <p>
</p><p class="section-e"><b>9.23.4.2. Spans for joists, Rafters and Beams</b></p> <p class="subsection-e">  <b>(1) </b>Except as required in Sentence (2) and Article 9.23.13.10., the spans for wood joists and rafters shall conform to the spans shown in Tables A-1 to A-7 for the uniform <i>live loads</i> shown in the Tables.</p> <p class="subsection-e">  <b>(2) </b>Spans for floor joists that are not selected from Tables A-1 and A-2 and that are required to be designed for the same loading conditions, shall not exceed the design requirements for uniform loading and vibration criteria.</p> <p class="subsection-e">  <b>(3) </b>Spans for built-up wood and glued-laminated timber floor beams shall conform to the spans in Tables A-8 to A-11.</p> <p class="subsection-e">  <b>(4) </b>Spans for roof ridge beams shall conform to the spans in Table A-12 for the uniform snow load shown.</p> 
	  
      
	  
	  
	  
	  
    </div>