<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Heavy Roofing Materials
	  </h1>
      <p>
</p><p class="section-e"><b>9.23.4.5. Heavy Roofing Materials</b></p> <p class="subsection-e">  <b>(1) </b>Where a roof is required to support an additional uniform <i>dead load</i> from roofing materials such as concrete roofing tile, or materials other than as specified in Section 9.26., such as clay roofing tiles, the additional load shall be allowed for by reducing,</p> <p class="clause-e">  (a) the spans for roof joists and rafters in Tables A-4 to A-7, or the spacing of the members, and</p> <p class="clause-e">  (b) the spans for ridge beams and lintels in Tables A-12 to A-16.</p> <p class="ruleb-e">9.23.5. Notching and Drilling</p> 
	  
      
	  
	  
	  
	  
    </div>