<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Holes Drilled in Framing Members
	  </h1>
      <p>
</p><p class="section-e"><b>9.23.5.1. Holes Drilled in Framing Members</b></p> <p class="subsection-e">  <b>(1) </b>Holes drilled in roof, floor or ceiling framing members shall be not larger than one-quarter the depth of the member and shall be located not less than 50 mm from the edges, unless the depth of the member is increased by the size of the hole.</p> 
	  
      
	  
	  
	  
	  
    </div>