<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Notching of Framing Members
	  </h1>
      <p>
</p><p class="section-e"><b>9.23.5.2. Notching of Framing Members</b></p> <p class="subsection-e">  <b>(1) </b>floor, roof and ceiling framing members are permitted to be notched provided the notch is located on the top of the member within half the joist depth from the edge of bearing and is not deeper than one-third the joist depth, unless the depth of the member is increased by the size of the notch.</p> 
	  
      
	  
	  
	  
	  
    </div>