<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Wall Studs
	  </h1>
      <p>
</p><p class="section-e"><b>9.23.5.3. wall studs</b></p> <p class="subsection-e">  <b>(1) </b>wall studs shall not be notched, drilled or otherwise damaged so that the undamaged portion of the stud is less than two-thirds the depth of the stud if the stud is <i>loadbearing</i> or 40 mm if the stud is non-<i>loadbearing</i>, unless the weakened studs are suitably reinforced.</p> 
	  
      
	  
	  
	  
	  
    </div>