<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Top Plates
	  </h1>
      <p>
</p><p class="section-e"><b>9.23.5.4. Top Plates</b></p> <p class="subsection-e">  <b>(1) </b>Top plates in <a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a>s shall not be notched, drilled or otherwise weakened to reduce the undamaged width to less than 50 mm unless the weakened plates are suitably reinforced.</p> 
	  
      
	  
	  
	  
	  
    </div>