<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Roof Trusses
	  </h1>
      <p>
</p><p class="section-e"><b>9.23.5.5. Roof Trusses</b></p> <p class="subsection-e">  <b>(1) </b>Roof truss members shall not be notched, drilled or otherwise weakened unless such notching or drilling is allowed for in the <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a> of the truss.</p> <p class="ruleb-e">9.23.6. Anchorage</p> 
	  
      
	  
	  
	  
	  
    </div>