<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Anchorage of Building Frames
	  </h1>
      <p>
</p><p class="section-e"><b>9.23.6.1. Anchorage of building Frames</b></p> <p class="subsection-e">  <b>(1) </b><i>Building</i> frames shall be anchored to the <i>foundation</i> unless a structural analysis of wind and earth pressures shows anchorage is not required.</p> <p class="subsection-e">  <b>(2) </b>Except as provided in Article 9.23.6.3., anchorage shall be provided by embedding the ends of the first floor joists in concrete, or fastening the sill plate to the <i>foundation</i> with not less than 12.7 mm diam anchor bolts spaced not more than 2.4 m o.c.</p> <p class="subsection-e">  <b>(3) </b>Anchor bolts referred to in Sentence (2) shall be fastened to the sill plate with nuts and washers and shall be embedded not less than 100 mm in the <i>foundation</i> and so designed that they may be tightened without withdrawing them from the <i>foundation</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>