<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Anchorage of Smaller Buildings
	  </h1>
      <p>
</p><p class="section-e"><b>9.23.6.3. Anchorage of Smaller <a href ="http://thehandyforce.com/electrical/" title ="ESA liscenced Electrician">building</a>s</b></p> <p class="subsection-e">  <b>(1) </b><i>Buildings</i> not more than 4.3 m wide and not more than 1 <i>storey </i>in <i>building height</i> are permitted to be anchored in conformance with the requirements of CSA Z240.10.1, "Site Preparation, Foundation and Anchorage of Manufactured Homes".</p> <p class="ruleb-e">9.23.7. Sill Plates</p> 
	  
      
	  
	  
	  
	  
    </div>