<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Levelling of Sill Plates
	  </h1>
      <p>
</p><p class="section-e"><b>9.23.7.2. Levelling of Sill Plates</b></p> <p class="subsection-e">  <b>(1) </b>Sill plates shall be,</p> <p class="clause-e">  (a) levelled by setting them on a full bed of mortar, or</p> <p class="clause-e">  (b) laid directly on the <i>foundation </i>where the top of the <i>foundation</i>is level.</p> <p class="subsection-e">  <b>(2) </b>The joint between the sill plate for exterior walls and the <i>foundation</i>shall be sealed in accordance with Subsection 9.25.3.</p> <p class="ruleb-e">9.23.8. Beams to support Floors</p> 
	  
      
	  
	  
	  
	  
    </div>