<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Bearing for Beams
	  </h1>
      <p>
</p><p class="section-e"><b>9.23.8.1. Bearing for Beams</b></p> <p class="subsection-e">  <b>(1) </b>Beams shall have even and level bearing and shall have not less than 89 mm length of bearing at end <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>s, except as required in notes to Tables A-8 to A-11.</p> 
	  
      
	  
	  
	  
	  
    </div>