<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | End Bearing for Joists
	  </h1>
      <p>
</p><p class="section-e"><b>9.23.9.1. End Bearing for joists</b></p> <p class="subsection-e">  <b>(1) </b>Except when supported on ribbon boards, floor joists shall have not less than 38 mm length of end bearing.</p> <p class="subsection-e">  <b>(2) </b>Ribbon boards referred to in Sentence (1) shall be not less than 19 mm by 89 mm lumber let into the studs.</p> 
	  
      
	  
	  
	  
	  
    </div>