<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | End Bearing for Joists
	  </h1>
      <p>
</p><p class="section-e"><b>9.23.9.1. End Bearing for <a href ="http://thehandyforce.com/renovations/" title ="Toronto Handyman">joists</a></b></p> <p class="subsection-e">  <b>(1) </b>Except when <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>ed on ribbon boards, <a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a> <a href ="http://thehandyforce.com/renovations/" title ="Toronto Handyman">joists</a> shall have not less than 38 mm length of end bearing.</p> <p class="subsection-e">  <b>(2) </b>Ribbon boards referred to in Sentence (1) shall be not less than 19 mm by 89 mm lumber let into the <a href ="http://thehandyforce.com/interior/" title ="Handyman and General Contractors in Toronto">stud</a>s.</p> 
	  
      
	  
	  
	  
	  
    </div>