<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Restraint of Joist Bottoms
	  </h1>
      <p>
</p><p class="section-e"><b>9.23.9.3. Restraint of Joist Bottoms</b></p> <p class="subsection-e">  <b>(1) </b>Except as provided in Sentence 9.23.9.4.(1), bottoms of floor joists shall be restrained from twisting at each end by toe-nailing to the supports, end-nailing to the header joists or by providing continuous strapping, blocking between the joists or cross-bridging near the supports.</p> 
	  
      
	  
	  
	  
	  
    </div>