<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Restraint of Joist Bottoms
	  </h1>
      <p>
</p><p class="section-e"><b>9.23.9.3. Restraint of Joist Bottoms</b></p> <p class="subsection-e">  <b>(1) </b>Except as provided in Sentence 9.23.9.4.(1), bottoms of <a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a> <a href ="http://thehandyforce.com/renovations/" title ="Toronto Handyman">joists</a> shall be restrained from twisting at each end by toe-nailing to the <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>s, end-nailing to the header <a href ="http://thehandyforce.com/renovations/" title ="Toronto Handyman">joists</a> or by providing continuous strapping, blocking between the <a href ="http://thehandyforce.com/renovations/" title ="Toronto Handyman">joists</a> or cross-bridging near the <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>s.</p> 
	  
      
	  
	  
	  
	  
    </div>