<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Header Joists
	  </h1>
      <p>
</p><p class="section-e"><b>9.23.9.5. Header <a href ="http://thehandyforce.com/renovations/" title ="Toronto Handyman">joists</a></b></p> <p class="subsection-e">  <b>(1) </b>Header <a href ="http://thehandyforce.com/renovations/" title ="Toronto Handyman">joists</a> around <a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a> <a href ="http://thehandyforce.com/doors/" title ="Door installer in Toronto">openings</a>="http://thehandyforce.com/windows/" title ="Window installer in Toronto">openings shall be doubled when they <a href ="http://thehandyforce.com/guarantee/" title ="Reliable Contractors">exceed</a> 1.2 m in length.</p> <p class="subsection-e">  <b>(2) </b>The size of header <a href ="http://thehandyforce.com/renovations/" title ="Toronto Handyman">joists</a> exceeding 3.2 m in length shall be determined by calculations.</p> 
	  
      
	  
	  
	  
	  
    </div>