<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Trimmer Joists
	  </h1>
      <p>
</p><p class="section-e"><b>9.23.9.6. Trimmer joists</b></p> <p class="subsection-e">  <b>(1) </b>Trimmer joists around floor openings shall be doubled when the length of the header joist exceeds 800 mm.</p> <p class="subsection-e">  <b>(2) </b>When the header joist exceeds 2 m in length, the size of the trimmer joists shall be determined by calculations.</p> 
	  
      
	  
	  
	  
	  
    </div>