<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Orientation of Studs
	  </h1>
      <p>
</p><p class="section-e"><b>9.23.10.3. Orientation of studs</b></p> <p class="subsection-e">  <b>(1) </b>Except as permitted in Sentences (2) and (3), all studs shall be placed at right angles to the wall face.</p> <p class="subsection-e">  <b>(2) </b>studs on the flat are permitted to be used in gable ends of roofs that contain only unfinished space or in non-<i>loadbearing</i> interior walls within the limits described in Article 9.23.10.1.</p> <p class="subsection-e">  <b>(3) </b>wall studs that support only a load from an attic not accessible by a stairway are permitted to be placed on the flat within the limits permitted in Article 9.23.10.1. provided,</p> <p class="clause-e">  (a) the studs are clad on at least one side with plywood, OSB or waferboard sheathing fastened to the face of the studs with a structural adhesive, and</p> <p class="clause-e">  (b) the portion of the roof supported by the studs does not exceed 2.1 m in width.</p> 
	  
      
	  
	  
	  
	  
    </div>