<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Continuity of Studs
	  </h1>
      <p>
</p><p class="section-e"><b>9.23.10.4. Continuity of <a href ="http://thehandyforce.com/interior/" title ="Handyman and General Contractors in Toronto">stud</a>s</b></p> <p class="subsection-e">  <b>(1) </b><a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a> <a href ="http://thehandyforce.com/interior/" title ="Handyman and General Contractors in Toronto">stud</a>s shall be continuous for the full <i>storey</i>height except at <a href ="http://thehandyforce.com/doors/" title ="Door installer in Toronto">openings</a>="http://thehandyforce.com/windows/" title ="Window installer in Toronto">openings and shall not be spliced except by finger-jointing with a structural adhesive.</p> 
	  
      
	  
	  
	  
	  
    </div>