<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Support for Cladding Materials
	  </h1>
      <p>
</p><p class="section-e"><b>9.23.10.5. support for Cladding Materials</b></p> <p class="subsection-e">  <b>(1) </b>Corners and intersections shall be designed to provide adequate support for the vertical edges of interior finishes, sheathing and cladding materials, and in no instance shall exterior corners be framed with less than the equivalent of two studs.</p> <p class="subsection-e">  <b>(2) </b>Where the vertical edges of interior finishes at wall intersections are supported at vertical intervals by blocking or furring, the vertical distance between such supports shall not exceed the maximum distance between supports specified in Section 9.29.</p> 
	  
      
	  
	  
	  
	  
    </div>