<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Studs at Sides of Openings
	  </h1>
      <p>
</p><p class="section-e"><b>9.23.10.6. studs at Sides of openings</b></p> <p class="subsection-e">  <b>(1) </b>Except as provided in Sentence (2), studs shall be doubled on each side of openings so that the inner studs extend from the lintel to the bottom wall plate and the outer studs extend from the top wall plates to the bottom wall plate.</p> <p class="subsection-e">  <b>(2) </b>Single studs are permitted to be used on either side of openings,</p> <p class="clause-e">  (a) in non-<i>loadbearing</i>interior walls not required to have <i>fire-resistance ratings</i>, provided the studs extend from the top wall plate to the bottom wall plate, or</p> <p class="clause-e">  (b) in <i>loadbearing</i>or non-<i>loadbearing</i> interior or exterior walls, provided,</p> <p class="subclause-e">  (i) the opening is less than and within the required stud spacing, and</p> <p class="subclause-e">  (ii) no two such openings of full stud space width are located in adjacent stud spaces.</p> 
	  
      
	  
	  
	  
	  
    </div>