<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Size of Wall Plates
	  </h1>
      <p>
</p><p class="section-e"><b>9.23.11.1. Size of wall Plates</b></p> <p class="subsection-e">  <b>(1) </b>Except as provided in Sentence (2), wall plates shall be,</p> <p class="clause-e">  (a) not less than 38 mm thick, and</p> <p class="clause-e">  (b) not less than the required width of the wall studs.</p> <p class="subsection-e">  <b>(2) </b>In non-<i>loadbearing</i> walls and in <i>loadbearing</i>walls where the studs are located directly over framing members, the bottom wall plate may be 19 mm thick.</p> 
	  
      
	  
	  
	  
	  
    </div>