<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Bottom Wall Plates
	  </h1>
      <p>
</p><p class="section-e"><b>9.23.11.2. Bottom <a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a> Plates</b></p> <p class="subsection-e">  <b>(1) </b>A bottom <a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a> plate shall be provided in all cases.</p> <p class="subsection-e">  <b>(2) </b>The bottom plate in <a href ="http://thehandyforce.com/exterior/" title ="Certified home renovator">exterior</a> walls shall not project more than one-third the plate width over the <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>.</p> 
	  
      
	  
	  
	  
	  
    </div>