<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Joints in Top Plates
	  </h1>
      <p>
</p><p class="section-e"><b>9.23.11.4. Joints in Top Plates</b></p> <p class="subsection-e">  <b>(1) </b>Joints in the top plates of <i>loadbearing</i> walls shall be staggered not less than one stud spacing.</p> <p class="subsection-e">  <b>(2) </b>The top plates in <i>loadbearing</i> walls shall be lapped or otherwise suitably tied at corners and intersecting walls in accordance with Sentence (4).</p> <p class="subsection-e">  <b>(3) </b>Joints in single top plates used with <i>loadbearing</i> walls shall be tied in accordance with Sentence (4).</p> <p class="subsection-e">  <b>(4) </b>Ties referred to in Sentences (2) and (3) shall be the equivalent of not less than 75 mm by 150 mm by 0.91 mm thick galvanized steel nailed to each wall with at least three 63 mm nails.</p> <p class="ruleb-e">9.23.12. Framing Over openings</p> 
	  
      
	  
	  
	  
	  
    </div>