<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Openings in Non-Loadbearing Walls
	  </h1>
      <p>
</p><p class="section-e"><b>9.23.12.1. openings in Non-loadbearing Walls</b></p> <p class="subsection-e">  <b>(1) </b>Except as provided in Sentence (2), openings in non-<i>loadbearing</i>walls shall be framed with not less than 38 mm material the same width as the studs securely nailed to adjacent studs.</p> <p class="subsection-e">  <b>(2) </b>openings for doors in <i>non-loadbearing</i> walls required to be <i>fire separations</i> with a <i>fire-resistance rating</i> shall be framed with the equivalent of at least two 38 mm thick members that are the same width as the wall plates.</p> 
	  
      
	  
	  
	  
	  
    </div>