<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Openings in Loadbearing Walls
	  </h1>
      <p>
</p><p class="section-e"><b>9.23.12.2. openings in Loadbearing walls</b></p> <p class="subsection-e">  <b>(1) </b>openings in <i>loadbearing</i> walls greater than the required stud spacing shall be framed with lintels designed to carry the superimposed loads to adjacent studs.</p> <p class="subsection-e">  <b>(2) </b>Except as provided in Sentence 9.23.12.3.(2), where two or more members are used in lintels, they shall be fastened together with not less than 82 mm nails in a double row, with nails not more than 450 mm apart in each row.</p> <p class="subsection-e">  <b>(3) </b>Lintel members may be separated by filler pieces.</p> 
	  
      
	  
	  
	  
	  
    </div>