<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Continuity of Rafters and Joists
	  </h1>
      <p>
</p><p class="section-e"><b>9.23.13.1. Continuity of Rafters and <a href ="http://thehandyforce.com/renovations/" title ="Toronto Handyman">joists</a></b></p> <p class="subsection-e">  <b>(1) </b>Roof rafters and <a href ="http://thehandyforce.com/renovations/" title ="Toronto Handyman">joists</a> and <a href ="http://thehandyforce.com/drywall/" title ="Drywall repair and installation in Toronto">ceiling</a> joists shall be continuous or shall be spliced over vertical <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>s that extend to suitable bearing.</p> 
	  
      
	  
	  
	  
	  
    </div>