<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Framing around Openings
	  </h1>
      <p>
</p><p class="section-e"><b>9.23.13.2. Framing around <a href ="http://thehandyforce.com/doors/" title ="Door installer in Toronto">openings</a>="http://thehandyforce.com/windows/" title ="Window installer in Toronto">openings</b></p> <p class="subsection-e">  <b>(1) </b>Roof and <a href ="http://thehandyforce.com/drywall/" title ="Drywall repair and installation in Toronto">ceiling</a> framing members shall be doubled on each side of <a href ="http://thehandyforce.com/doors/" title ="Door installer in Toronto">openings</a>="http://thehandyforce.com/windows/" title ="Window installer in Toronto">openings greater than two rafter or joist spacings wide.</p> 
	  
      
	  
	  
	  
	  
    </div>