<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Location and Attachment of Rafters
	  </h1>
      <p>
</p><p class="section-e"><b>9.23.13.4. Location and Attachment of Rafters</b></p> <p class="subsection-e">  <b>(1) </b>Rafters shall be located directly opposite each other and tied together at the peak, or may be offset by their own thickness if nailed to a ridge board not less than 17.5 mm thick.</p> <p class="subsection-e">  <b>(2) </b>Except as permitted in Sentence (3), framing members shall be connected by gusset plates or nailing at the peak in conformance with Table 9.23.3.4.</p> <p class="subsection-e">  <b>(3) </b>Where the roof framing on opposite sides of the peak is assembled separately, such as in the case of factory-built houses, the roof framing on opposite sides is permitted to be fastened together with galvanized-steel strips not less than 200 mm by 75 mm by 0.41 mm thick spaced not more than 1.2 m apart and nailed at each end to the framing by at least two 63 mm nails.</p> 
	  
      
	  
	  
	  
	  
    </div>