<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Shaping of Rafters
	  </h1>
      <p>
</p><p class="section-e"><b>9.23.13.5. Shaping of Rafters</b></p> <p class="subsection-e">  <b>(1) </b>Rafters shall be shaped at <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>s to provide even bearing <a href ="http://thehandyforce.com/tiling/" title ="Professional Tile installer in Toronto">surface</a>s and <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>ed directly above the <a href ="http://thehandyforce.com/exterior/" title ="Certified home renovator">exterior</a> walls.</p> 
	  
      
	  
	  
	  
	  
    </div>