<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Restraint of Joist Bottoms
	  </h1>
      <p>
</p><p class="section-e"><b>9.23.13.9. Restraint of Joist Bottoms</b></p> <p class="subsection-e">  <b>(1) </b>Roof joists supporting a finished ceiling, other than plywood, OSB or waferboard, shall be restrained from twisting along the bottom edges by means of furring, blocking, cross bridging or strapping conforming to Article 9.23.9.3.</p> 
	  
      
	  
	  
	  
	  
    </div>