<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Restraint of Joist Bottoms
	  </h1>
      <p>
</p><p class="section-e"><b>9.23.13.9. Restraint of Joist Bottoms</b></p> <p class="subsection-e">  <b>(1) </b>Roof <a href ="http://thehandyforce.com/renovations/" title ="Toronto Handyman">joists</a> supporting a finished <a href ="http://thehandyforce.com/drywall/" title ="Drywall repair and installation in Toronto">ceiling</a>, other than ply<a href ="http://thehandyforce.com/interior/" title ="Handyman Services in Toronto">wood</a>, OSB or <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Bathroom General Contractor in Toronto">waferboard</a>, shall be restrained from twisting along the bottom edges by means of furring, blocking, cross bridging or strapping conforming to Article 9.23.9.3.</p> 
	  
      
	  
	  
	  
	  
    </div>