<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Ceiling Joists Supporting Roof Load
	  </h1>
      <p>
</p><p class="section-e"><b>9.23.13.10. ceiling Joists supporting Roof Load</b></p> <p class="subsection-e">  <b>(1) </b>Except as provided in Sentence (2), ceiling joists supporting part of the roof load from the rafters shall be not less than 25 mm greater in depth than required for ceiling joists not supporting part of the roof load.</p> <p class="subsection-e">  <b>(2) </b>When the roof slope is 1 in 4 or less, the ceiling joist sizes referred to in Sentence (1) shall be determined from the span tables for roof joists.</p> 
	  
      
	  
	  
	  
	  
    </div>