<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Edge Support
	  </h1>
      <p>
</p><p class="section-e"><b>9.23.14.3. Edge <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a></b></p> <p class="subsection-e">  <b>(1) </b>Where the edges of <a href ="http://thehandyforce.com/electrical/" title ="Electrical panel installation in Toronto">panel</a>-type sub<a href ="http://thehandyforce.com/tiling/" title ="Toronto tile installer">flooring</a>="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">flooring are required to be <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>ed, such <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a> shall consist of tongue-and-groove <a href ="http://thehandyforce.com/electrical/" title ="Electrical panel installation in Toronto">panel</a> edges or not less than 38 mm by 38 mm blocking securely nailed between framing members.</p> 
	  
      
	  
	  
	  
	  
    </div>