<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Direction of Installation
	  </h1>
      <p>
</p><p class="section-e"><b>9.23.14.4. Direction of installation</b></p> <p class="subsection-e">  <b>(1) </b>Plywood flooring shall be installed with the surface grain at right angles to the joists and with joints parallel to floor joists staggered.</p> <p class="subsection-e">  <b>(2) </b>OSB flooring conforming to CSA O325, "Construction Sheathing", or to O-1 and O-2 grades in CSA O437.0, "OSB and waferboard", and waferboard flooring conforming to R-1 grade in CSA O437.0 shall be installed so that the direction of face orientation is at right angles to the joists and the joints parallel to the floor joists are staggered.</p> 
	  
      
	  
	  
	  
	  
    </div>