<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Annular Grooved Nails
	  </h1>
      <p>
</p><p class="section-e"><b>9.23.14.6. Annular Grooved Nails</b></p> <p class="subsection-e">  <b>(1) </b>When resilient <a href ="http://thehandyforce.com/tiling/" title ="Toronto tile installer">flooring</a>="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">flooring is applied directly to an OSB, <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Bathroom General Contractor in Toronto">waferboard</a>, particleboard or ply<a href ="http://thehandyforce.com/interior/" title ="Handyman Services in Toronto">wood</a> sub<a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a>, the sub<a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a> shall be fastened to the <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>s with annular grooved nails.</p> 
	  
      
	  
	  
	  
	  
    </div>