<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Lumber Subflooring
	  </h1>
      <p>
</p><p class="section-e"><b>9.23.14.7. Lumber flooring</b></p> <p class="subsection-e">  <b>(1) </b>Lumber flooring shall be laid at an angle of not less than 45° to the joists.</p> <p class="subsection-e">  <b>(2) </b>Lumber flooring shall be fully supported at the ends on solid bearing.</p> <p class="subsection-e">  <b>(3) </b>Lumber for flooring shall be of uniform thickness and not more than 184 mm wide.</p> <p class="ruleb-e">9.23.15. Roof Sheathing</p> 
	  
      
	  
	  
	  
	  
    </div>