<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Required Roof Sheathing
	  </h1>
      <p>
</p><p class="section-e"><b>9.23.15.1. Required Roof Sheathing</b></p> <p class="subsection-e"><b>  (1) </b>Except as provided in Section 9.26., continuous lumber or <a href ="http://thehandyforce.com/electrical/" title ="Electrical panel installation in Toronto">panel</a>-type roof sheathing shall be installed to <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a> the roofing.</p> 
	  
      
	  
	  
	  
	  
    </div>