<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Material Standards
	  </h1>
      <p>
</p><p class="section-e"><b>9.23.15.2. Material Standards</b></p> <p class="subsection-e">  <b>(1) </b>wood-based panels used for roof sheathing shall conform to the requirements of,</p> <p class="clause-e">  (a) CSA O121, "Douglas Fir Plywood",</p> <p class="clause-e">  (b) CSA O151, "Canadian Softwood Plywood",</p> <p class="clause-e">  (c) CSA O153-M, "Poplar Plywood",</p> <p class="clause-e">  (d) CSA O325, "Construction Sheathing", or</p> <p class="clause-e">  (e) CSA O437.0, "OSB and Waferboard".</p> 
	  
      
	  
	  
	  
	  
    </div>