<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Direction of Installation
	  </h1>
      <p>
</p><p class="section-e"><b>9.23.15.3. Direction of <a href ="http://thehandyforce.com/insulation/" title ="Sprayfoam insulation in Toronto">installation</a></b></p> <p class="subsection-e">  <b>(1) </b>Ply<a href ="http://thehandyforce.com/interior/" title ="Handyman Services in Toronto">wood</a> roof sheathing shall be installed with the <a href ="http://thehandyforce.com/tiling/" title ="Professional Tile installer in Toronto">surface</a> grain at right angles to the roof framing.</p> <p class="subsection-e">  <b>(2) </b>OSB roof sheathing conforming to CSA O325, "Construction Sheathing", or to O-1 and O-2 grades as specified in CSA O437.0, "OSB and <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Bathroom General Contractor in Toronto">waferboard</a>", shall be installed with the direction of face orientation at right angles to the roof framing members.</p> 
	  
      
	  
	  
	  
	  
    </div>