<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Direction of Installation
	  </h1>
      <p>
</p><p class="section-e"><b>9.23.15.3. Direction of installation</b></p> <p class="subsection-e">  <b>(1) </b>Plywood roof sheathing shall be installed with the surface grain at right angles to the roof framing.</p> <p class="subsection-e">  <b>(2) </b>OSB roof sheathing conforming to CSA O325, "Construction Sheathing", or to O-1 and O-2 grades as specified in CSA O437.0, "OSB and waferboard", shall be installed with the direction of face orientation at right angles to the roof framing members.</p> 
	  
      
	  
	  
	  
	  
    </div>