<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Joints in Panel-Type Sheathing
	  </h1>
      <p>
</p><p class="section-e"><b>9.23.15.4. Joints in panel-Type Sheathing</b></p> <p class="subsection-e">  <b>(1) </b>panel-type sheathing board shall be applied so that joints perpendicular to the roof ridge are staggered where,</p> <p class="clause-e">  (a) the sheathing is applied with the surface grain parallel to the roof ridge, and</p> <p class="clause-e">  (b) the thickness of the sheathing is such that the edges are required to be supported.</p> <p class="subsection-e">  <b>(2) </b>A gap of not less than 2 mm shall be left between sheets of plywood, OSB or waferboard.</p> 
	  
      
	  
	  
	  
	  
    </div>