<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Edge Support
	  </h1>
      <p>
</p><p class="section-e"><b>9.23.15.6. Edge support</b></p> <p class="subsection-e">  <b>(1) </b>Except as permitted in Sentence (2), where panel-type roof sheathing requires edge support, the support shall consist of,</p> <p class="clause-e">  (a) metal H clips, or</p> <p class="clause-e">  (b) not less than 38 mm by 38 mm blocking securely nailed between framing members.</p> <p class="subsection-e">  <b>(2) </b>The supports referred to in Sentence (1) are not required when tongued-and-grooved edged panel-type sheathing board is used.</p> 
	  
      
	  
	  
	  
	  
    </div>