<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Attachment of Cladding to Sheathing
	  </h1>
      <p>
</p><p class="section-e"><b>9.23.16.3. Attachment of Cladding to Sheathing</b></p> <p class="subsection-e">  <b>(1) </b>gypsum sheathing, rigid insulationinsulation and fibreboard shall not be used for the attachment of siding materials.</p> <p class="subsection-e">  <b>(2) </b>Nails used in attaching the materials listed in Sentence (1) shall be not less than 3.2 mm diam with a minimum head diameter of 11 mm.</p> 
	  
      
	  
	  
	  
	  
    </div>