<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Lumber Sheathing
	  </h1>
      <p>
</p><p class="section-e"><b>9.23.16.4. Lumber Sheathing</b></p> <p class="subsection-e">  <b>(1) </b>Lumber wall sheathing shall be applied so that all ends are supported.</p> <p class="subsection-e">  <b>(2) </b>Where lumber wall sheathing is required to provide bracing according to Article 9.23.10.2., it shall be applied with end joints staggered.</p> 
	  
      
	  
	  
	  
	  
    </div>