<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Joints in Panel-Type Sheathing
	  </h1>
      <p>
</p><p class="section-e"><b>9.23.16.5. Joints in <a href ="http://thehandyforce.com/electrical/" title ="Electrical panel installation in Toronto">panel</a>-Type Sheathing</b></p> <p class="subsection-e">  <b>(1) </b>A gap of not less than 2 mm shall be left between sheets of ply<a href ="http://thehandyforce.com/interior/" title ="Handyman Services in Toronto">wood</a>, OSB, <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Bathroom General Contractor in Toronto">waferboard</a> or fibreboard.</p> 
	  
      
	  
	  
	  
	  
    </div>