<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Mansard Style Roofs
	  </h1>
      <p>
</p><p class="section-e"><b>9.23.16.6. Mansard Style Roofs</b></p> <p class="subsection-e">  <b>(1) </b>Where the bottom portions of mansard style roofs are vented, the vertical framing members behind the sloping portions shall be considered on the same basis as exterior wall studs and shall conform to the appropriate requirements in Articles 9.27.3.2. to 9.27.3.6.</p> <p class="ruleb-e">Section 9.24. Sheet Steel stud wall Framing</p> <p class="ruleb-e">9.24.1. General</p> 
	  
      
	  
	  
	  
	  
    </div>