<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Application
	  </h1>
      <p>
</p><p class="section-e"><b>9.24.1.1. application</b></p> <p class="subsection-e">  <b>(1) </b>This Section applies to sheet steel studs for use in non-<i>loadbearing</i>exterior and interior walls.</p> <p class="subsection-e">  <b>(2) </b>Where<i>loadbearing</i> steel studs are used, they shall be designed in conformance with Part 4.</p> 
	  
      
	  
	  
	  
	  
    </div>