<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Material Standards
	  </h1>
      <p>
</p><p class="section-e"><b>9.24.1.2. Material Standards</b></p> <p class="subsection-e">  <b>(1) </b>Steel <a href ="http://thehandyforce.com/interior/" title ="Handyman and General Contractors in Toronto">stud</a>s and runners shall conform to AISI S201, "North American Standard for Cold Formed Steel Framing – Product Data".</p> 
	  
      
	  
	  
	  
	  
    </div>