<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Screws
	  </h1>
      <p>
</p><p class="section-e"><b>9.24.1.4. Screws</b></p> <p class="subsection-e">  <b>(1) </b>Screws for the application of cladding, sheathing or interior finish materials to steel studs, runners and furring channels shall conform to,</p> <p class="clause-e">  (a) ASTM C954, "Steel Drill Screws for the application of Gypsum panel Products or Metal plaster Bases to Steel studs from 0.033 in. (0.84 mm) to 0.112 in. (2.84 mm) in Thickness", or</p> <p class="clause-e">  (b) ASTM C1002, "Steel Self-Piercing Tapping Screws for the application of Gypsum panel Products or Metal plaster Bases to wood studs or Steel studs".</p> 
	  
      
	  
	  
	  
	  
    </div>