<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Cladding, Sheathing and Interior Finish Required
	  </h1>
      <p>
</p><p class="section-e"><b>9.24.1.5. Cladding, Sheathing and <a href ="http://thehandyforce.com/interior/" title ="Interior Handyman services in Toronto">interior</a> Finish Required</b></p> <p class="subsection-e">  <b>(1) </b>Cladding or sheathing, and <a href ="http://thehandyforce.com/interior/" title ="Interior Handyman services in Toronto">interior</a> finish shall be installed on steel <a href ="http://thehandyforce.com/interior/" title ="Handyman and General Contractors in Toronto">stud</a> framing and shall be fastened with screws,</p> <p class="clause-e">  (a) spaced at the appropriate spacing described in Section 9.29., and</p> <p class="clause-e">  (b) penetrating not less than 10 mm through the metal.</p> <p class="ruleb-e">9.24.2. Size of Framing</p> 
	  
      
	  
	  
	  
	  
    </div>