<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Runners
	  </h1>
      <p>
</p><p class="section-e"><b>9.24.2.3. Runners</b></p> <p class="subsection-e">  <b>(1) </b>Runners for <a href ="http://thehandyforce.com/interior/" title ="Interior Handyman services in Toronto">interior</a> and <a href ="http://thehandyforce.com/exterior/" title ="Certified home renovator">exterior</a> non-<i><a href ="http://thehandyforce.com/renovations/" title ="East York General Contractor">loadbearing</a></i> walls shall have a thickness of not less than the thickness of the corresponding <a href ="http://thehandyforce.com/interior/" title ="Handyman and General Contractors in Toronto">stud</a>s and shall have not less than 30 mm flanges.</p> 
	  
      
	  
	  
	  
	  
    </div>