<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Orientation of Studs
	  </h1>
      <p>
</p><p class="section-e"><b>9.24.3.3. Orientation of <a href ="http://thehandyforce.com/interior/" title ="Handyman and General Contractors in Toronto">stud</a>s</b></p> <p class="subsection-e">  <b>(1) </b>Steel <a href ="http://thehandyforce.com/interior/" title ="Handyman and General Contractors in Toronto">stud</a>s shall be installed with webs at right angles to the <a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a> face and, except at <a href ="http://thehandyforce.com/doors/" title ="Door installer in Toronto">openings</a>="http://thehandyforce.com/windows/" title ="Window installer in Toronto">openings, shall be continuous for the full <a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a> height.</p> 
	  
      
	  
	  
	  
	  
    </div>