<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Support for Cladding Materials
	  </h1>
      <p>
</p><p class="section-e"><b>9.24.3.4. <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a> for Cladding Materials</b></p> <p class="subsection-e">  <b>(1) </b>Corners and intersections of <a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a>s shall be constructed to provide <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a> for the cladding materials.</p> 
	  
      
	  
	  
	  
	  
    </div>