<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Attachment of Studs to Runners
	  </h1>
      <p>
</p><p class="section-e"><b>9.24.3.6. Attachment of studs to Runners</b></p> <p class="subsection-e">  <b>(1) </b>studs shall be attached to runners by screws, crimping or welding around wall openings, and elsewhere where necessary to keep the studs in alignment during construction.</p> <p class="subsection-e">  <b>(2) </b>Where clearance for expansion is required in Article 9.24.3.2., attachment required in Sentence (1) shall be applied between studs and bottom runners only.</p> 
	  
      
	  
	  
	  
	  
    </div>