<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Openings for Fire Dampers
	  </h1>
      <p>
</p><p class="section-e"><b>9.24.3.7. openings for Fire Dampers</b></p> <p class="subsection-e">  <b>(1) </b>openings for <i>fire dampers</i> in non-<i>loadbearing</i><i>fire separations</i> required to have a <i>fire-resistance rating</i> shall be framed with double studs on each side of the opening.</p> <p class="subsection-e">  <b>(2) </b>The sill and header for openings described in Sentence (1) shall consist of a runner track with right angle bends made on each end so as to extend 300 mm above the header or below the sill and fastened to the studs.</p> <p class="subsection-e">  <b>(3) </b>The openings described in Sentence (1) shall be lined with a layer of gypsum board at least 12.7 mm thick fastened to stud and runner webs.</p> <p class="ruleb-e">Section 9.25. Heat Transfer, Air Leakage and Condensation Control</p> <p class="ruleb-e">9.25.1. General</p> 
	  
      
	  
	  
	  
	  
    </div>