<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Required Insulation
	  </h1>
      <p>
</p><p class="section-e"><b>9.25.2.1. Required insulationinsulation</b></p> <p class="subsection-e">  <b>(1) </b><b>All walls, ceilings and floors separating heated space from unheated space, the exterior air or the exterior </b><i>soil</i><b>shall be provided with thermal insulationinsulation in conformance with Section 12.2. to prevent moisture condensation on their room side during the winter and to ensure comfortable conditions for the occupants.</b></p> 
	  
      
	  
	  
	  
	  
    </div>