<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Installation of Spray-Applied Polyurethane
	  </h1>
      <p>
</p><p class="section-e"><b>9.25.2.5. installation of Spray-Applied Polyurethane</b></p> <p class="subsection-e">  <b>(1) </b>Spray-applied polyurethane insulationinsulation shall be installed in accordance with CAN/ulc-S705.2, "Thermal insulationinsulation – Spray-Applied Rigid Polyurethane Foam, Medium Density – application".</p> <p class="ruleb-e">9.25.3. Air Barrier Systems</p> 
	  
      
	  
	  
	  
	  
    </div>