<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Installation of Spray-Applied Polyurethane
	  </h1>
      <p>
</p><p class="section-e"><b>9.25.2.5. <a href ="http://thehandyforce.com/insulation/" title ="Sprayfoam insulation in Toronto">installation</a> of Spray-Applied Polyurethane</b></p> <p class="subsection-e">  <b>(1) </b>Spray-applied polyurethane <a href ="http://thehandyforce.com/insulation/" title ="Toronto basement insulation">insulation</a>http://thehandyforce.com/insulation/" title ="Toronto home insulation">insulation shall be installed in accordance with CAN/<a href ="http://canada.ul.com/ulcstandards/" title ="ULC Standards">ulc</a>-S705.2, "Thermal <a href ="http://thehandyforce.com/insulation/" title ="Toronto basement insulation">insulation</a>http://thehandyforce.com/insulation/" title ="Toronto home insulation">insulation – Spray-Applied Rigid Polyurethane Foam, Medium Density – <a href ="http://thehandyforce.com/businesses/" title ="Business Services in Toronto">application</a>".</p> <p class="ruleb-e">9.25.3. Air Barrier Systems</p> 
	  
      
	  
	  
	  
	  
    </div>