<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Required Barrier to Air Leakage
	  </h1>
      <p>
</p><p class="section-e"><b>9.25.3.1. Required Barrier to Air Leakage</b></p> <p class="subsection-e">  <b>(1) </b>wall, ceiling and floor assemblies that separate <i>conditioned spaces</i> from unconditioned spaces or from the ground shall be constructed so as to include an <i>air barrier system</i> that will provide a continuous barrier to air leakage,</p> <p class="clause-e">  (a) from the interior of the <i>building</i> into wall, floor, <i>attic or roof spaces</i> sufficient to prevent excessive moisture condensation in such spaces during the heating season, and</p> <p class="clause-e">  (b) from the exterior inward sufficient to prevent moisture condensation on the room side during the heating season.</p> <p class="subsection-e">  <b>(2) </b>The continuity of the <i>air barrier system</i> shall extend throughout the <i>basement</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>