<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Air Barrier System Properties
	  </h1>
      <p>
</p><p class="section-e"><b>9.25.3.2. Air Barrier System Properties</b></p> <p class="subsection-e">  <b>(1) </b>Sheet and panel type materials intended to provide the principal resistance to air leakage shall have an air leakage characteristic not greater than 0.02 L/(s∙m<sup>2</sup>) measured at an air pressure differential of 75 Pa.</p> <p class="subsection-e">  <b>(2) </b>Where polyethylene sheet is used to provide the air-tightness in the <i>air barrier system</i>, it shall conform to CAN/cgsb-51.34-M, "Vapour Barrier, Polyethylene Sheet for Use in building Construction".</p> 
	  
      
	  
	  
	  
	  
    </div>