<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Required Barrier to Vapour Diffusion
	  </h1>
      <p>
</p><p class="section-e"><b>9.25.4.1. Required Barrier to Vapour Diffusion</b></p> <p class="subsection-e">  <b>(1) </b>Thermally insulated <a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a>, <a href ="http://thehandyforce.com/drywall/" title ="Drywall repair and installation in Toronto">ceiling</a> and <a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a> assemblies shall be constructed with a <i>vapour barrier</i> sufficient to pre<a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renovation inspiration">vent</a> condensation in the <a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a> spaces, <a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a> spaces or <i><a href ="http://thehandyforce.com/renovations/" title ="Attic renovations in Toronto">attic</a> or roof spaces</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>