<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Installation of Vapour Barriers
	  </h1>
      <p>
</p><p class="section-e"><b>9.25.4.3. installation of Vapour Barriers</b></p> <p class="subsection-e">  <b>(1) </b>Products installed to function as the <i>vapour barrier</i> shall protect the warm side of wall, ceiling and floor assemblies.</p> <p class="subsection-e">  <b>(2) </b>Where different products are used for the <i>vapour barrier</i>and the insulationinsulation, the <i>vapour barrier</i> shall be installed sufficiently close to the warm side of the insulationinsulation to prevent condensation at design conditions.</p> <p class="subsection-e">  <b>(3) </b>Where the same product is used for the <i>vapour barrier</i> and the insulationinsulation, the product shall be installed sufficiently close to the warm side of the assembly to prevent condensation at design conditions.</p> <p class="ruleb-e">9.25.5. Properties and Position of Materials in building Envelope</p> 
	  
      
	  
	  
	  
	  
    </div>