<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Purpose of Roofing
	  </h1>
      <p>
</p><p class="section-e"><b>9.26.1.1. Purpose of Roofing</b></p> <p class="subsection-e">  <b>(1) </b>Roofs shall be <a href ="http://thehandyforce.com/guarantee/" title ="Guaranteed Handymand and Renovation Services">protected</a> with roofing, including flashing, installed to shed rain effectively and pre<a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renovation inspiration">vent</a> <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> from entering the roof as a result of ice damming.</p> <p class="subsection-e">  <b>(2) </b>For the purpose of Sentence (1), roofs shall include platforms that effectively serve as roofs with respect to accumulation or <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Professional East York Basement Renvator">drainage</a> of precipitation.</p> 
	  
      
	  
	  
	  
	  
    </div>