<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Alternate Installation Methods
	  </h1>
      <p>
</p><p class="section-e"><b>9.26.1.2. Alternate installation Methods</b></p> <p class="subsection-e">  <b>(1) </b>Methods described in CAN3-A123.51-M, "asphalt Shingle application on Roof Slopes 1:3 and Steeper", or CAN3-A123.52-M, "asphalt Shingle application on Roof Slopes 1:6 to Less than 1:3", are permitted to be used for asphalt shingle applications not described in this Section.</p> 
	  
      
	  
	  
	  
	  
    </div>