<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Nails
	  </h1>
      <p>
</p><p class="section-e"><b>9.26.2.2. Nails</b></p> <p class="subsection-e">  <b>(1) </b>Nails used for roofing shall be corrosion-resistant roofing or shingle nails conforming to,</p> <p class="clause-e">  (a) ASTM F1667, "Driven Fasteners: Nails, Spikes and Staples", or</p> <p class="clause-e">  (b) CSA B111, "wire Nails, Spikes and Staples".</p> <p class="subsection-e">  <b>(2) </b>Nails shall have sufficient length to penetrate through or 12 mm into roof sheathing.</p> <p class="subsection-e">  <b>(3) </b>Nails used with asphalt roofing shall have a head diameter of not less than 9.5 mm and a shank thickness of not less than 2.95 mm.</p> <p class="subsection-e">  <b>(4) </b>Nails used with wood shingles or shakes shall have a head diameter of not less than 4.8 mm and a shank thickness of not less than 2.0 mm and shall be stainless steel, aluminum or hot-dipped galvanized.</p> 
	  
      
	  
	  
	  
	  
    </div>