<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Staples
	  </h1>
      <p>
</p><p class="section-e"><b>9.26.2.3. Staples</b></p> <p class="subsection-e">  <b>(1) </b>Staples used to apply asphalt or wood shingles shall be corrosion-resistant and shall be driven with the crown parallel to the eaves.</p> <p class="subsection-e">  <b>(2) </b>Staples used with asphalt shingles shall be not less than 19 mm long, 1.6 mm diam or thickness, with not less than a 25 mm crown, except that an 11 mm crown may be used as provided in Sentence 9.26.7.4.(2).</p> <p class="subsection-e">  <b>(3) </b>Staples used with wood shingles shall be not less than 29 mm long, 1.6 mm diam or thickness, with not less than a 9.5 mm crown and shall be stainless steel or aluminum.</p> <p class="ruleb-e">9.26.3. Slope of Roof surfaces</p> 
	  
      
	  
	  
	  
	  
    </div>