<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Materials
	  </h1>
      <p>
</p><p class="section-e"><b>9.26.4.2. Materials</b></p> <p class="subsection-e">  <b>(1) </b>Sheet metal flashing shall consist of not less than,</p> <p class="clause-e">  (a) 1.73 mm thick sheet lead,</p> <p class="clause-e">  (b) 0.33 mm thick galvanized steel,</p> <p class="clause-e">  (c) 0.33 mm thick copper,</p> <p class="clause-e">  (d) 0.35 mm thick zinc, or</p> <p class="clause-e">  (e) 0.48 mm thick aluminum.</p> 
	  
      
	  
	  
	  
	  
    </div>