<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Intersection of Shingle Roofs and Masonry
	  </h1>
      <p>
</p><p class="section-e"><b>9.26.4.4. Intersection of Shingle Roofs and masonry</b></p> <p class="subsection-e">  <b>(1) </b>The intersection of shingle roofs and masonry walls or <i>chimneys</i>shall be protected with flashing.</p> <p class="subsection-e">  <b>(2) </b>Counter flashing required in Sentence (1) shall be embedded not less than 25 mm in the masonry and shall extend not less than 150 mm down the masonry and lap the lower flashing not less than 100 mm.</p> <p class="subsection-e">  <b>(3) </b>Flashing along the slopes of a roof described in Sentence (1) shall be stepped so that there is not less than a 75 mm head lap in both the lower flashing and counter flashing.</p> <p class="subsection-e">  <b>(4) </b>Where the roof described in Sentence (1) slopes upwards from the masonry, the flashing shall extend up the roof slope to a point equal in height to the flashing on the masonry, but not less than 1.5 times the shingle exposure.</p> 
	  
      
	  
	  
	  
	  
    </div>