<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Intersection of Built-Up Roofs and Walls other than Masonry
	  </h1>
      <p>
</p><p class="section-e"><b>9.26.4.7. Intersection of Built-Up Roofs and <a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a>s other than <a href ="http://thehandyforce.com/home-renovations-north-york/" title ="Brick repair in Toronto Handyman">masonry</a></b></p> <p class="subsection-e">  <b>(1) </b>The intersection of built-up roofs with <a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a>s clad with other than <a href ="http://thehandyforce.com/home-renovations-north-york/" title ="Brick repair in Toronto Handyman">masonry</a> shall have a cant strip at the intersection.</p> <p class="subsection-e">  <b>(2) </b>The roofing membrane shall be mopped over the cant strip referred to in Sentence (1).</p> <p class="subsection-e">  <b>(3) </b>Flashing plies shall extend not less than 150 mm up the <a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a> referred to in Sentence (1) behind the sheathing paper.</p> 
	  
      
	  
	  
	  
	  
    </div>