<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Group F, Division 1, 1 Storey
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.2.66. Group F, Division 1, 1 Storey</b></p> <p class="subsection-e"><b>  (1) </b>A <i><a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">building</a></i> classified as Group F, Division 1 is permitted to be of <i>combustible construction</i>or <i>noncombustible construction</i> used singly or in combination provided,</p> <p class="clause-e">  (a) it is not more than 1 <i>storey</i> in <i>building height</i>, and</p> <p class="clause-e">  (b) it has a <i>building area</i> not more than 800 m<sup>2</sup>.</p> 
	  
      
	  
	  
	  
	  
    </div>