<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Materials
	  </h1>
      <p>
</p><p class="section-e"><b>9.26.5.2. Materials</b></p> <p class="subsection-e">  <b>(1) </b>Eave protection shall be laid beneath the starter strip and shall consist of,</p> <p class="clause-e">  (a) No. 15 asphalt-saturated felt laid in two plies lapped 480 mm and cemented together with lap cement,</p> <p class="clause-e">  (b) Type M or S roll roofing laid with not less than 100 mm head and end laps cemented together with lap cement,</p> <p class="clause-e">  (c) glass fibre or polyester fibre coated base sheets, or</p> <p class="clause-e">  (d) self-sealing composite membranes consisting of modified bituminous coated material.</p> <p class="ruleb-e">9.26.6. Underlay Beneath Shingles</p> 
	  
      
	  
	  
	  
	  
    </div>