<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Materials
	  </h1>
      <p>
</p><p class="section-e"><b>9.26.6.1. Materials</b></p> <p class="subsection-e">  <b>(1) </b>Except as required in Sentence (2), when underlay is used beneath shingles, it shall be,</p> <p class="clause-e">  (a) <a href ="http://thehandyforce.com/exterior/" title ="Exterior ashphalt in Toronto">asphalt</a>-saturated sheathing paper weighing not less than 0.195 kg/m², or</p> <p class="clause-e">  (b) No. 15 plain or perforated <a href ="http://thehandyforce.com/exterior/" title ="Exterior ashphalt in Toronto">asphalt</a>-saturated felt.</p> <p class="subsection-e">  <b>(2) </b>Underlay used beneath <a href ="http://thehandyforce.com/interior/" title ="Handyman Services in Toronto">wood</a> shingles shall be breather type.</p> 
	  
      
	  
	  
	  
	  
    </div>