<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Fasteners
	  </h1>
      <p>
</p><p class="section-e"><b>9.26.7.4. Fasteners</b></p> <p class="subsection-e">  <b>(1) </b>Except as provided in Sentence (2), shingles shall be fastened with at least four nails or staples for 1 000 mm wide shingles so that no nails or staples are exposed.</p> <p class="subsection-e">  <b>(2) </b>Where staples with an 11 mm crown are used, shingles shall be fastened with at least six staples.</p> <p class="subsection-e">  <b>(3) </b>Fasteners may be reduced for narrower shingles in proportion to the width of the shingle or when shingles incorporating interlocking devices are used.</p> <p class="subsection-e">  <b>(4) </b>Fasteners referred to in Sentences (1) and (2) shall be located 25 mm to 40 mm from each end of each strip shingle with other fasteners equally spaced between them.</p> <p class="subsection-e">  <b>(5) </b>Fasteners referred to in Sentences (1) and (2) shall be located not less than 12 mm above the tops of the cutouts.</p> 
	  
      
	  
	  
	  
	  
    </div>