<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Hips and Ridges
	  </h1>
      <p>
</p><p class="section-e"><b>9.26.7.6. Hips and Ridges</b></p> <p class="subsection-e">  <b>(1) </b>Shingles on hips and ridges shall be applied so they extend not less than 100 mm on either side of the hip or ridge, and shall be lapped not less than 150 mm.</p> <p class="subsection-e">  <b>(2) </b>Shingles referred to in Sentence (1) shall be fastened with nails or staples on each side located not more than 25 mm from the edge and 25 mm above the butt of the overlying shingle.</p> 
	  
      
	  
	  
	  
	  
    </div>