<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Securing of Tabs
	  </h1>
      <p>
</p><p class="section-e"><b>9.26.8.3. Securing of Tabs</b></p> <p class="subsection-e">  <b>(1) </b>Shingle tabs shall be secured with cold <a href ="http://thehandyforce.com/businesses/" title ="Business Services in Toronto">application</a> cement applied at the rate of not less than 0.5 L/m² of <a href ="http://thehandyforce.com/exterior/" title ="Exterior home repairs in Toronto">cement</a>ed area, or hot <a href ="http://thehandyforce.com/businesses/" title ="Business Services in Toronto">application</a> asphalt applied at the rate of 1 kg/m² of <a href ="http://thehandyforce.com/exterior/" title ="Exterior home repairs in Toronto">cement</a>ed area.</p> 
	  
      
	  
	  
	  
	  
    </div>