<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Securing of Shingle Courses
	  </h1>
      <p>
</p><p class="section-e"><b>9.26.8.4. Securing of Shingle Courses</b></p> <p class="subsection-e">  <b>(1) </b>The first course of shingles shall be secured by a continuous band of cement along the eaves applied so that the width of the band equals the shingle exposure plus 100 mm.</p> <p class="subsection-e">  <b>(2) </b>The succeeding courses of shingles shall be secured by a continuous band of cement applied so that the width of the band equals the shingle exposure plus 50 mm.</p> <p class="subsection-e">  <b>(3) </b>The band required in Sentence (2) shall be located not more than 50 mm above the butt of the overlying course of shingles.</p> 
	  
      
	  
	  
	  
	  
    </div>