<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Underlay
	  </h1>
      <p>
</p><p class="section-e"><b>9.26.10.2. Underlay</b></p> <p class="subsection-e">  <b>(1) </b>Where eave protection is not provided, an underlay conforming to the requirements in Article 9.26.6.1. for wood shingles shall be laid as a strip not less than 900 mm wide along the eaves.</p> <p class="subsection-e">  <b>(2) </b>A strip of material similar to that described in Sentence (1) not less than 450 mm wide shall be interlayed between each course of shakes with the bottom edge of the strip positioned above the butt line at a distance equal to double the exposure of the shakes.</p> <p class="subsection-e">  <b>(3) </b>Interlayed strips in Sentence (2) shall be lapped at least 150 mm at hips and ridges in a manner that will prevent water from reaching the roof sheathing.</p> 
	  
      
	  
	  
	  
	  
    </div>