<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Exposure
	  </h1>
      <p>
</p><p class="section-e"><b>9.26.10.5. Exposure</b></p> <p class="subsection-e">  <b>(1) </b>The exposure of <a href ="http://thehandyforce.com/interior/" title ="Handyman Services in Toronto">wood</a> shakes shall not <a href ="http://thehandyforce.com/guarantee/" title ="Reliable Contractors">exceed</a>,</p> <p class="clause-e">  (a) 190 mm for shakes not less than 450 mm long, and</p> <p class="clause-e">  (b) 240 mm for shakes not less than 600 mm long.</p> 
	  
      
	  
	  
	  
	  
    </div>