<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Aggregate Surfacing
	  </h1>
      <p>
</p><p class="section-e"><b>9.26.11.4. Aggregate Surfacing</b></p> <p class="subsection-e">  <b>(1) </b>Aggregate used for surfacing built-up roofs shall be clean, dry and durable and shall consist of particles of gravel, crushed <a href ="http://thehandyforce.com/interlock/" title ="Interlock Brick Layer in Toronto">stone</a> or air-cooled blast furnace slag having a size of from 6 mm to 15 mm.</p> <p class="subsection-e">  <b>(2) </b>The minimum amount of aggregate surfacing per square metre of roof <a href ="http://thehandyforce.com/tiling/" title ="Professional Tile installer in Toronto">surface</a> shall be 15 kg gravel or crushed <a href ="http://thehandyforce.com/interlock/" title ="Interlock Brick Layer in Toronto">stone</a> or 10 kg crushed slag.</p> 
	  
      
	  
	  
	  
	  
    </div>