<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Installation of Layers
	  </h1>
      <p>
</p><p class="section-e"><b>9.26.11.7. installation of Layers</b></p> <p class="subsection-e">  <b>(1) </b>In hot process applications, each layer of bitumen-saturated felt shall be laid while the bitumen is hot, with each layer overlapping the previous one.</p> <p class="subsection-e">  <b>(2) </b>The full width under each lap referred to in Sentence (1) shall be coated with bitumen so that in no place does felt touch felt.</p> <p class="subsection-e">  <b>(3) </b>Felt shall be laid free of wrinkles and shall be rolled directly into the hot bitumen and broomed forward and outward from the centre to ensure complete adhesion.</p> 
	  
      
	  
	  
	  
	  
    </div>