<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Attachment to Decking
	  </h1>
      <p>
</p><p class="section-e"><b>9.26.11.9. Attachment to Decking</b></p> <p class="subsection-e">  <b>(1) </b>Roofing shall be securely attached to the decking or where <a href ="http://thehandyforce.com/insulation/" title ="Toronto basement insulation">insulation</a>http://thehandyforce.com/insulation/" title ="Toronto home insulation">insulation is applied above the deck, the <a href ="http://thehandyforce.com/insulation/" title ="Toronto basement insulation">insulation</a>http://thehandyforce.com/insulation/" title ="Toronto home insulation">insulation shall be securely attached to the deck before the first layer of felt is fastened to the <a href ="http://thehandyforce.com/insulation/" title ="Toronto basement insulation">insulation</a>http://thehandyforce.com/insulation/" title ="Toronto home insulation">insulation.</p> 
	  
      
	  
	  
	  
	  
    </div>