<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Attachment to Decking
	  </h1>
      <p>
</p><p class="section-e"><b>9.26.11.9. Attachment to Decking</b></p> <p class="subsection-e">  <b>(1) </b>Roofing shall be securely attached to the decking or where insulationinsulation is applied above the deck, the insulationinsulation shall be securely attached to the deck before the first layer of felt is fastened to the insulationinsulation.</p> 
	  
      
	  
	  
	  
	  
    </div>