<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Double Coverage
	  </h1>
      <p>
</p><p class="section-e"><b>9.26.12.1. Double Coverage</b></p> <p class="subsection-e">  <b>(1) </b>Wide selvage <a href ="http://thehandyforce.com/exterior/" title ="Exterior ashphalt in Toronto">asphalt</a> roofing shall provide double coverage over the entire roof <a href ="http://thehandyforce.com/tiling/" title ="Professional Tile installer in Toronto">surface</a>.</p> 
	  
      
	  
	  
	  
	  
    </div>