<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Joints
	  </h1>
      <p>
</p><p class="section-e"><b>9.26.12.2. Joints</b></p> <p class="subsection-e">  <b>(1) </b>Plies of selvage roofing shall be <a href ="http://thehandyforce.com/exterior/" title ="Exterior home repairs in Toronto">cement</a>ed together to ensure a <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a>-tight joint.</p> <p class="ruleb-e">9.26.13. Sheet Metal Roofing</p> 
	  
      
	  
	  
	  
	  
    </div>