<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Support
	  </h1>
      <p>
</p><p class="section-e"><b>9.26.13.2. <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a></b></p> <p class="subsection-e">  <b>(1) </b>Where sheet metal roofing is not <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>ed by roof decking but spans between spaced <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>s, the <a href ="http://thehandyforce.com/electrical/" title ="Electrical panel installation in Toronto">panel</a>s shall be <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a>ed to <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a> the specified <i>live loads </i>for roofs.</p> <p class="ruleb-e">9.26.14. <a href ="http://thehandyforce.com/windows/" title ="Window fabrication in Toronto">glass</a> Reinforced Polyester Roofing</p> 
	  
      
	  
	  
	  
	  
    </div>