<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Support
	  </h1>
      <p>
</p><p class="section-e"><b>9.26.14.1. support</b></p> <p class="subsection-e">  <b>(1) </b>Where glass reinforced polyester roofing panels are not supported by roof decking but span between spaced supports, the panels shall be designed to support the specified roof loads.</p> <p class="ruleb-e">9.26.15. Hot Applied Rubberized asphalt Roofing</p> 
	  
      
	  
	  
	  
	  
    </div>