<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Installation
	  </h1>
      <p>
</p><p class="section-e"><b>9.26.15.1. installation</b></p> <p class="subsection-e">  <b>(1) </b>Hot applied rubberized asphalt roofing shall be installed in accordance with CAN/cgsb-37.51-M, "application for Hot Applied Rubberized asphalt for Roofing and waterproofing".</p> <p class="ruleb-e">9.26.16. Polyvinyl Chloride Sheet Roofing</p> 
	  
      
	  
	  
	  
	  
    </div>