<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Installation
	  </h1>
      <p>
</p><p class="section-e"><b>9.26.16.1. <a href ="http://thehandyforce.com/insulation/" title ="Sprayfoam insulation in Toronto">installation</a></b></p> <p class="subsection-e">  <b>(1) </b>Polyvinyl chloride sheet applied roofing membrane shall be installed in accordance with <a href ="https://www.tpsgc-pwgsc.gc.ca/ongc-cgsb/index-eng.html/" title ="Canadian General Standards Board">cgsb</a> 37-GP-55M, "<a href ="http://thehandyforce.com/businesses/" title ="Business Services in Toronto">application</a> of Sheet Applied Flexible Polyvinyl Chloride Roofing Membrane".</p> <p class="ruleb-e">9.26.17. Concrete Roof <a href ="http://thehandyforce.com/tiling/" title ="Professional Tile installer in East York">tile</a>s</p> 
	  
      
	  
	  
	  
	  
    </div>