<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Installation
	  </h1>
      <p>
</p><p class="section-e"><b>9.26.17.1. <a href ="http://thehandyforce.com/insulation/" title ="Sprayfoam insulation in Toronto">installation</a></b></p> <p class="subsection-e">  <b>(1) </b>Concrete roof <a href ="http://thehandyforce.com/tiling/" title ="Professional Tile installer in East York">tile</a>s shall be installed according to CAN/CSA-A220.1-M, "<a href ="http://thehandyforce.com/insulation/" title ="Sprayfoam insulation in Toronto">installation</a> of Concrete Roof <a href ="http://thehandyforce.com/tiling/" title ="Professional Tile installer in East York">tile</a>s".</p> <p class="ruleb-e">9.26.18. Roof Drains and Downspouts</p> 
	  
      
	  
	  
	  
	  
    </div>