<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Downspouts
	  </h1>
      <p>
</p><p class="section-e"><b>9.26.18.2. Downspouts</b></p> <p class="subsection-e">  <b>(1) </b>Where downspouts are provided and are not connected to a sewer, extensions shall be provided to carry rain<a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> away from the <i><a href ="http://thehandyforce.com/windows/" title ="East York Window installer">building</a></i>in a manner that will pre<a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renovation inspiration">vent</a> <i><a href ="http://thehandyforce.com/decks/" title ="Deck builder in Toronto">soil</a></i> erosion.</p> <p class="ruleb-e">Section 9.27. Cladding</p> <p class="ruleb-e">9.27.1. <a href ="http://thehandyforce.com/businesses/" title ="Business Services in Toronto">application</a></p> 
	  
      
	  
	  
	  
	  
    </div>