<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Minimizing and Preventing Ingress and Damage
	  </h1>
      <p>
</p><p class="section-e"><b>9.27.2.1. Minimizing and venting Ingress and Damage</b></p> <p class="subsection-e">  <b>(1) </b>Except where exterior walls are protected from precipitation or where it can be shown that ingress will not adversely affect occupant health or safety, exterior walls shall be designed and constructed to,</p> <p class="clause-e">  (a) minimize the ingress of precipitation into the assembly, and</p> <p class="clause-e">  (b) prevent ingress into interior space.</p> <p class="subsection-e">  <b>(2) </b>Except where exterior walls are protected from specific mechanisms of deterioration, such as mechanical impact and ultraviolet radiation, exterior walls shall be designed and constructed to minimize the likelihood of their required performance being reduced to an unacceptable level as a result of those mechanisms.</p> 
	  
      
	  
	  
	  
	  
    </div>