<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Minimum Protection from Precipitation Ingress
	  </h1>
      <p>
</p><p class="section-e"><b>9.27.2.2. Minimum Protection from Precipitation Ingress</b></p> <p class="subsection-e">  <b>(1) </b>exterior walls exposed to precipitation shall be protected against ingress of precipitation with an exterior cladding assembly consisting of a first plane of protection and a second plane of protection where the wall encloses spaces of <i>residential occupancy</i> or spaces that directly serve spaces of <i>residential occupancy</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>