<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Protection of Cladding from Moisture
	  </h1>
      <p>
</p><p class="section-e"><b>9.27.2.4. Protection of Cladding from moisture</b></p> <p class="subsection-e">  <b>(1) </b>A clearance of not less than 200 mm shall be provided between finished ground and cladding that is adversely affected by moisture, such as untreated wood, plywood, OSB, waferboard and hardboard.</p> <p class="subsection-e">  <b>(2) </b>A clearance of not less than 50 mm shall be provided between a roof surface and cladding that is adversely affected by moisture, such as untreated wood, plywood, OSB, waferboard and hardboard.</p> <p class="ruleb-e">9.27.3. Second Plane of Protection</p> 
	  
      
	  
	  
	  
	  
    </div>