<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Combustible Materials Permitted
	  </h1>
      <p>
</p><p class="section-e"><b>3.1.4.1. Combustible Materials Permitted</b></p> <p class="subsection-e"><b>  (1) </b>Except as required by this Part, a <i><a href ="http://thehandyforce.com/insulation/" title ="Toronto basement insulation">building</a></i>permitted to be of <i>combustible construction</i> is permitted to be constructed of <i>combustible materials</i>, with or without <i>noncombustible</i> components.</p> 
	  
      
	  
	  
	  
	  
    </div>