<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Sheathing Membrane Material Standard
	  </h1>
      <p>
</p><p class="section-e"><b>9.27.3.2. Sheathing Membrane Material Standard</b></p> <p class="subsection-e">  <b>(1) </b>Sheathing membranes shall conform to the performance requirements of CAN/<a href ="https://www.tpsgc-pwgsc.gc.ca/ongc-cgsb/index-eng.html/" title ="Canadian General Standards Board">cgsb</a>-51.32-M, "Sheathing, Membrane, Breather Type".</p> 
	  
      
	  
	  
	  
	  
    </div>