<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Insulating Sheathing in Lieu of Sheathing Membrane
	  </h1>
      <p>
</p><p class="section-e"><b>9.27.3.4. insulating Sheathing in Lieu of Sheathing Membrane</b></p> <p class="subsection-e">  <b>(1) </b>Where non-wood-based rigid exterior insulating sheathing, or exterior insulating sheathing with an integral sheathing membrane is installed, a separate sheathing membrane is not required.</p> <p class="subsection-e">  <b>(2) </b>Where insulating sheathing is installed as provided in Sentence (1),</p> <p class="clause-e">  (a) sheathing panels subject to moisture deterioration shall be sealed at all joints, and</p> <p class="clause-e">  (b) the joints of sheathing panels not subject to moisture deterioration shall be,</p> <p class="subclause-e">  (i) sealed at all joints, or</p> <p class="subclause-e">  (ii) lapped or tongue and groove, and detailed to ensure drainage of water to the exterior.</p> 
	  
      
	  
	  
	  
	  
    </div>