<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Sheathing Membranes in Lieu of Sheathing
	  </h1>
      <p>
</p><p class="section-e"><b>9.27.3.5. Sheathing Membranes in Lieu of Sheathing</b></p> <p class="subsection-e">  <b>(1) </b>Except as provided in Article 9.27.3.6., where no sheathing is used, at least two layers of sheathing membrane shall be applied beneath the cladding.</p> <p class="subsection-e">  <b>(2) </b>All joints in the sheathing membrane required in Sentence (1) shall occur over framing, and the membrane shall be fastened to the framing with roofing nails or staples spaced not more than 150 mm along the edges of the outer layer of sheathing paper.</p> <p class="subsection-e">  <b>(3) </b>wall sheathing is permitted to be used in lieu of one layer of sheathing membrane required in Sentence (1), and the thickness need not conform to Table 9.23.16.2.A.</p> 
	  
      
	  
	  
	  
	  
    </div>