<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Flashing Materials
	  </h1>
      <p>
</p><p class="section-e"><b>9.27.3.7. Flashing Materials</b></p> <p class="subsection-e">  <b>(1) </b>Flashing shall consist of not less than,</p> <p class="clause-e">  (a) 1.73 mm thick sheet lead,</p> <p class="clause-e">  (b) 0.33 mm thick galvanized steel,</p> <p class="clause-e">  (c) 0.46 mm thick copper,</p> <p class="clause-e">  (d) 0.46 mm thick zinc,</p> <p class="clause-e">  (e) 0.48 mm thick aluminum, or</p> <p class="clause-e">  (f) 1.02 mm thick vinyl.</p> 
	  
      
	  
	  
	  
	  
    </div>