<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Materials
	  </h1>
      <p>
</p><p class="section-e"><b>9.27.4.2. Materials</b></p> <p class="subsection-e">  <b>(1) </b>Sealants shall be,</p> <p class="clause-e">  (a) non-hardening types suitable for exterior use,</p> <p class="clause-e">  (b) selected for their ability to resist the effects of weathering, and</p> <p class="clause-e">  (c) compatible with, and adhere to, the substrate to which they are applied.</p> <p class="subsection-e">  <b>(2) </b>Sealants shall conform to,</p> <p class="clause-e">  (a) ASTM C834, "Latex Sealants",</p> <p class="clause-e">  (b) ASTM C920, "Elastomeric Joint Sealants",</p> <p class="clause-e">  (c) ASTM C1184, "Structural Silicone Sealants", or</p> <p class="clause-e">  (d) ASTM C1311, "Solvent Release Sealants".</p> <p class="subsection-e">  <b>(3) </b>Backer rod shall conform to ASTM C1330, "Cylindrical Sealant Backing for Use with Cold Liquid-Applied Sealants".</p> <p class="ruleb-e">9.27.5. Attachment of Cladding</p> 
	  
      
	  
	  
	  
	  
    </div>