<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Furring
	  </h1>
      <p>
</p><p class="section-e"><b>9.27.5.3. Furring</b></p> <p class="subsection-e">  <b>(1) </b>Except as permitted in Sentences 9.27.5.1.(5) and (6), furring for the attachment of cladding shall be not less than 19 mm by 38 mm lumber when applied over sheathing.</p> <p class="subsection-e">  <b>(2) </b>When applied without sheathing, furring referred to in Sentence (1) shall be not less than,</p> <p class="clause-e">  (a) 19 mm by 64 mm lumber on supports spaced not more than 406 mm o.c., or</p> <p class="clause-e">  (b) 19 mm by 89 mm on supports spaced not more than 610 mm o.c.</p> <p class="subsection-e">  <b>(3) </b>Furring referred to in Sentence (1) shall be,</p> <p class="clause-e">  (a) securely fastened to the framing, and</p> <p class="clause-e">  (b) spaced not more than 610 mm o.c.</p> 
	  
      
	  
	  
	  
	  
    </div>