<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Fastener Materials
	  </h1>
      <p>
</p><p class="section-e"><b>9.27.5.5. Fastener Materials</b></p> <p class="subsection-e">  <b>(1) </b>Nails or staples for the attachment of cladding and <a href ="http://thehandyforce.com/interior/" title ="Handyman Services in Toronto">wood</a> trim shall be corrosion-resistant and shall be compatible with the cladding material.</p> 
	  
      
	  
	  
	  
	  
    </div>