<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Penetration of Fasteners
	  </h1>
      <p>
</p><p class="section-e"><b>9.27.5.7. Penetration of Fasteners</b></p> <p class="subsection-e">  <b>(1) </b>Fasteners for shakes and shingles shall penetrate through the nail-holding base or not less than 19 mm into the framing.</p> <p class="subsection-e">  <b>(2) </b>Fasteners for cladding other than that described in Sentence (1) shall penetrate through the nail-holding base or not less than 25 mm into the framing.</p> <p class="ruleb-e">9.27.6. Lumber Siding</p> 
	  
      
	  
	  
	  
	  
    </div>