<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Thickness and Width
	  </h1>
      <p>
</p><p class="section-e"><b>9.27.6.2. Thickness and Width</b></p> <p class="subsection-e">  <b>(1) </b>Drop, rustic, novelty, lapped board and vertical wood siding shall be not less than 14.3 mm thick and not more than 286 mm wide.</p> <p class="subsection-e">  <b>(2) </b>Bevel siding shall be,</p> <p class="clause-e">  (a) not less than 5 mm thick at the top, and</p> <p class="clause-e">  (b) not less than,</p> <p class="subclause-e">  (i) 12 mm thick at the butt for sidings 184 mm or less in width, and</p> <p class="subclause-e">  (ii) 14.3 mm thick at the butt for sidings wider than 184 mm.</p> <p class="subsection-e">  <b>(3) </b>Bevel siding shall be not more than 286 mm wide.</p> 
	  
      
	  
	  
	  
	  
    </div>