<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Joints
	  </h1>
      <p>
</p><p class="section-e"><b>9.27.6.3. Joints</b></p> <p class="subsection-e">  <b>(1) </b>Lumber siding shall pre<a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renovation inspiration">vent</a> <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> from entering at the joints by the use of lapped or matched joints or by vertical <a href ="http://thehandyforce.com/interior/" title ="Handyman Services in Toronto">wood</a> battens.</p> <p class="subsection-e">  <b>(2) </b>Siding shall overlap not less than 1 mm per 16 mm width of lumber, but not less than,</p> <p class="clause-e">  (a) 9.5 mm for matched siding,</p> <p class="clause-e">  (b) 25 mm for lapped bevel siding, or</p> <p class="clause-e">  (c) 12 mm for vertical battens.</p> <p class="ruleb-e">9.27.7. <a href ="http://thehandyforce.com/interior/" title ="Handyman Services in Toronto">wood</a> Shingles and Shakes</p> 
	  
      
	  
	  
	  
	  
    </div>