<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Materials
	  </h1>
      <p>
</p><p class="section-e"><b>9.27.7.1. Materials</b></p> <p class="subsection-e">  <b>(1) </b>Shingles and shakes shall conform to,</p> <p class="clause-e">  (a) CSA O118.1, "Western Red Cedar Shakes and Shingles", or</p> <p class="clause-e">  (b) CSA O118.2-M, "Eastern White Cedar Shingles".</p> <p class="subsection-e">  <b>(2) </b>Western cedar shakes shall be not less than No. 1 grade or Handsplit grade, and western cedar shingles not less than No. 2 grade, except that No. 3 grade may be used for undercoursing.</p> <p class="subsection-e">  <b>(3) </b>Eastern white cedar shakes shall be at least B (clear) grade, except that C grade may be used for undercoursing.</p> 
	  
      
	  
	  
	  
	  
    </div>