<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Material Standards
	  </h1>
      <p>
</p><p class="section-e"><b>9.27.8.1. Material Standards</b></p> <p class="subsection-e">  <b>(1) </b>Plywood cladding shall be exterior type conforming to,</p> <p class="clause-e">  (a) CSA O115-M, "Hardwood and Decorative Plywood",</p> <p class="clause-e">  (b) CSA O121, "Douglas Fir Plywood",</p> <p class="clause-e">  (c) CSA O151, "Canadian Softwood Plywood", or</p> <p class="clause-e">  (d) CSA O153-M, "Poplar Plywood".</p> 
	  
      
	  
	  
	  
	  
    </div>