<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Panel Cladding
	  </h1>
      <p>
</p><p class="section-e"><b>9.27.8.4. panel Cladding</b></p> <p class="subsection-e">  <b>(1) </b>Plywood applied in panels shall have all edges supported.</p> <p class="subsection-e">  <b>(2) </b>Not less than a 2 mm gap shall be provided between panels referred to in Sentence (1).</p> <p class="subsection-e">  <b>(3) </b>Vertical joints in cladding referred to in Sentence (1) shall be protected with batten strips or caulking when the plywood joints are not matched.</p> <p class="subsection-e">  <b>(4) </b>Horizontal joints in cladding referred to in Sentence (1) shall be lapped not less than 25 mm or shall be suitably flashed.</p> 
	  
      
	  
	  
	  
	  
    </div>