<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Lapped Strip Siding
	  </h1>
      <p>
</p><p class="section-e"><b>9.27.8.5. Lapped Strip Siding</b></p> <p class="subsection-e">  <b>(1) </b>Plywood applied in horizontal lapped strips shall have not less than a 2 mm gap provided at the butted ends, which shall be caulked.</p> <p class="subsection-e">  <b>(2) </b>The horizontal joints of siding described in Sentence (1) shall be lapped not less than 25 mm.</p> <p class="subsection-e">  <b>(3) </b>Wedges shall be inserted under all vertical butt joints and at all corners when horizontal lapped plywood is applied without sheathing.</p> <p class="ruleb-e">9.27.9. Hardboard</p> 
	  
      
	  
	  
	  
	  
    </div>