<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Material Standards
	  </h1>
      <p>
</p><p class="section-e"><b>9.27.9.1. Material Standards</b></p> <p class="subsection-e">  <b>(1) </b>Factory-finished hardboard cladding shall conform to CAN/<a href ="https://www.tpsgc-pwgsc.gc.ca/ongc-cgsb/index-eng.html/" title ="Canadian General Standards Board">cgsb</a>-11.5M, "Hardboard, Precoated, Factory-Finished, for <a href ="http://thehandyforce.com/exterior/" title ="Certified home renovator">exterior</a> Cladding".</p> <p class="subsection-e">  <b>(2) </b>Hardboard cladding that is not factory finished shall conform to Types 1, 2 or 5 in CAN/<a href ="https://www.tpsgc-pwgsc.gc.ca/ongc-cgsb/index-eng.html/" title ="Canadian General Standards Board">cgsb</a>-11.3-M, "Hardboard".</p> 
	  
      
	  
	  
	  
	  
    </div>