<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Thickness
	  </h1>
      <p>
</p><p class="section-e"><b>9.27.9.2. Thickness</b></p> <p class="subsection-e">  <b>(1) </b>Type 1 or 2 hardboard cladding shall be not less than,</p> <p class="clause-e">  (a) 6.0 mm thick when applied over sheathing that provides continuous <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>, and</p> <p class="clause-e">  (b) 7.5 mm thick when applied to furring or framing members not more than 406 mm o.c.</p> <p class="subsection-e">  <b>(2) </b>Type 5 hardboard cladding shall be not less than 9.0 mm thick when applied over sheathing that provides continuous <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a> or over furring or framing members spaced not more than 406 mm o.c.</p> <p class="subsection-e">  <b>(3) </b>Where hardboard cladding is grooved, the grooves shall not extend more than 1.5 mm into the minimum required thickness.</p> 
	  
      
	  
	  
	  
	  
    </div>