<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Panel Cladding
	  </h1>
      <p>
</p><p class="section-e"><b>9.27.9.3. panel Cladding</b></p> <p class="subsection-e">  <b>(1) </b>Hardboard cladding applied in panels shall have all edges supported with not less than a 5 mm gap provided between sheets.</p> <p class="subsection-e">  <b>(2) </b>Vertical joints in cladding described in Sentence (1) shall be protected with batten strips or caulking when the joints are not matched.</p> <p class="subsection-e">  <b>(3) </b>Horizontal joints in cladding described in Sentence (1) shall be lapped not less than 25 mm or shall be suitably flashed.</p> 
	  
      
	  
	  
	  
	  
    </div>