<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Lapped Strip Siding
	  </h1>
      <p>
</p><p class="section-e"><b>9.27.9.4. Lapped Strip Siding</b></p> <p class="subsection-e">  <b>(1) </b>Hardboard applied in horizontal lapped strips shall have not less than a 5 mm gap provided at the butted ends, which shall be caulked or otherwise protected with suitable mouldings.</p> <p class="subsection-e">  <b>(2) </b>The horizontal joints of siding described in Sentence (1) shall overlap not less than 1 mm per 16 mm width of siding board but not less than 9.5 mm for matched joint siding or 25 mm for lapped siding.</p> 
	  
      
	  
	  
	  
	  
    </div>