<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Material Standard
	  </h1>
      <p>
</p><p class="section-e"><b>9.27.10.1. Material Standard</b></p> <p class="subsection-e">  <b>(1) </b>OSB and <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Bathroom General Contractor in Toronto">waferboard</a> cladding shall conform to CSA O437.0, "OSB and <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Bathroom General Contractor in Toronto">waferboard</a>".</p> 
	  
      
	  
	  
	  
	  
    </div>