<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Panel Cladding
	  </h1>
      <p>
</p><p class="section-e"><b>9.27.10.3. panel Cladding</b></p> <p class="subsection-e">  <b>(1) </b>OSB and waferboard applied in panels shall have all edges supported and treated with a primer or sealer.</p> <p class="subsection-e">  <b>(2) </b>Not less than a 3 mm gap shall be provided between sheets in cladding described in Sentence (1).</p> <p class="subsection-e">  <b>(3) </b>Vertical joints in cladding described in Sentence (1) shall be protected with batten strips or caulking when the OSB and waferboard joints are not matched.</p> <p class="subsection-e">  <b>(4) </b>Horizontal joints in cladding described in Sentence (1) shall be lapped not less than 25 mm or shall be suitably flashed.</p> 
	  
      
	  
	  
	  
	  
    </div>