<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Clearance
	  </h1>
      <p>
</p><p class="section-e"><b>9.27.10.4. Clearance</b></p> <p class="subsection-e">  <b>(1) </b>At least a 3 mm clearance shall be provided between OSB and <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Bathroom General Contractor in Toronto">waferboard</a> cladding and <a href ="http://thehandyforce.com/doors/" title ="Toronto Door installer">door</a> or <a href ="http://thehandyforce.com/windows/" title ="East York Window installer">window</a> frames.</p> <p class="ruleb-e">9.27.11. Metal</p> 
	  
      
	  
	  
	  
	  
    </div>