<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Materials
	  </h1>
      <p>
</p><p class="section-e"><b>9.27.13.2. Materials</b></p> <p class="subsection-e">  <b>(1) </b>The materials used in <a href ="http://thehandyforce.com/exterior/" title ="Certified home renovator">exterior</a> insulation finish systems shall conform to CAN/<a href ="http://canada.ul.com/ulcstandards/" title ="ULC Standards">ulc</a>-S716.1, "<a href ="http://thehandyforce.com/exterior/" title ="Certified home renovator">exterior</a> Insulation and Finish Systems (EIFS) – Materials and Systems".</p> <p class="subsection-e">  <b>(2) </b>The substrate on which an <a href ="http://thehandyforce.com/exterior/" title ="Certified home renovator">exterior</a> insulation finish system is installed shall,</p> <p class="clause-e">  (a) be compatible with that particular system, and</p> <p class="clause-e">  (b) comply with the structural requirements for sheathing materials set out in Section 9.23.</p> 
	  
      
	  
	  
	  
	  
    </div>