<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Design and Installation
	  </h1>
      <p>
</p><p class="section-e"><b>9.27.13.3. design and installation</b></p> <p class="subsection-e">  <b>(1) </b>The design of an exterior insulation finish system shall comply with CAN/ulc-S716.3, "exterior Insulation and Finish Systems (EIFS) – design Application".</p> <p class="subsection-e">  <b>(2) </b>The installation of an exterior insulationinsulation finish system shall comply with CAN/ulc-S716.2, "exterior Insulation and Finish Systems (EIFS) – installation of EIFS Components and water Resistive Barrier".</p> <p class="ruleb-e">Section 9.28. stucco</p> <p class="ruleb-e">9.28.1. General</p> 
	  
      
	  
	  
	  
	  
    </div>