<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Sheathing Beneath Stucco
	  </h1>
      <p>
</p><p class="section-e"><b>9.28.1.1. Sheathing Beneath stucco</b></p> <p class="subsection-e">  <b>(1) </b>Sheathing shall be provided beneath stucco applied over wood frame walls except as permitted in Article 9.28.4.2.</p> <p class="subsection-e">  <b>(2) </b>Where applied beneath stucco, sheathing shall conform to Subsection 9.23.16.</p> 
	  
      
	  
	  
	  
	  
    </div>