<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Lath and Reinforcing
	  </h1>
      <p>
</p><p class="section-e"><b>9.28.1.2. Lath and Reinforcing</b></p> <p class="subsection-e">  <b>(1) </b>stucco lath or reinforcing shall be used to attach stucco to any substrate other than masonry.</p> <p class="subsection-e">  <b>(2) </b>stucco lath or reinforcing shall be used to attach stucco to masonry where,</p> <p class="clause-e">  (a) the masonry is soft-burned tile or brick of less strength than the stucco, or</p> <p class="clause-e">  (b) the masonry surface is not sound, clean and sufficiently rough to provide a good key.</p> <p class="subsection-e">  <b>(3) </b>stucco applied over masonry <i>chimneys</i> shall be reinforced.</p> 
	  
      
	  
	  
	  
	  
    </div>