<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Flashing and Sealants
	  </h1>
      <p>
</p><p class="section-e"><b>9.28.1.5. Flashing and Sealants</b></p> <p class="subsection-e">  <b>(1) </b>Flashing and sealants used with stucco shall conform to Subsections 9.27.3. and 9.27.4., except that if aluminum flashing is used, it shall be separated from the stucco by an impervious membrane or coating.</p> <p class="ruleb-e">9.28.2. stucco Materials</p> 
	  
      
	  
	  
	  
	  
    </div>