<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Portland Cement
	  </h1>
      <p>
</p><p class="section-e"><b>9.28.2.1. Portland <a href ="http://thehandyforce.com/exterior/" title ="Exterior home repairs in Toronto">cement</a></b></p> <p class="subsection-e">  <b>(1) </b>Portland <a href ="http://thehandyforce.com/exterior/" title ="Exterior home repairs in Toronto">cement</a> shall conform to CAN/CSA-A3001, "<a href ="http://thehandyforce.com/exterior/" title ="Exterior home repairs in Toronto">cement</a>itious Materials for Use in Concrete".</p> 
	  
      
	  
	  
	  
	  
    </div>