<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | No Sheathing Required
	  </h1>
      <p>
</p><p class="section-e"><b>9.28.4.2. No Sheathing Required</b></p> <p class="subsection-e">  <b>(1) </b>Sheathing need not be provided beneath <a href ="http://thehandyforce.com/exterior/" title ="Exterior Handyman and Siding Repair">stucco</a> where not less than 1.19 mm diam galvanized <a href ="http://thehandyforce.com/electrical/" title ="ESA liscenced Electrician">wire</a> is applied horizontally to the framing at vertical intervals not <a href ="http://thehandyforce.com/guarantee/" title ="Reliable Contractors">exceed</a>ing 150 mm, or where paper-backed welded <a href ="http://thehandyforce.com/electrical/" title ="ESA liscenced Electrician">wire</a> metal lath is used.</p> 
	  
      
	  
	  
	  
	  
    </div>