<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Mixing
	  </h1>
      <p>
</p><p class="section-e"><b>9.28.5.3. Mixing</b></p> <p class="subsection-e">  <b>(1) </b>Materials shall be thoroughly mixed before and after <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> is added.</p> <p class="subsection-e">  <b>(2) </b><a href ="http://thehandyforce.com/exterior/" title ="Exterior Handyman and Siding Repair">stucco</a> shall be applied not later than 3 h after the initial mixing.</p> <p class="ruleb-e">9.28.6. <a href ="http://thehandyforce.com/exterior/" title ="Exterior Handyman and Siding Repair">stucco</a> Application</p> 
	  
      
	  
	  
	  
	  
    </div>