<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Low Temperature Conditions
	  </h1>
      <p>
</p><p class="section-e"><b>9.28.6.1. Low temperature Conditions</b></p> <p class="subsection-e">  <b>(1) </b>The base for stucco shall be maintained above freezing.</p> <p class="subsection-e">  <b>(2) </b>stucco shall be maintained at a temperature of not less than 10°C during application and for not less than 48 h afterwards.</p> 
	  
      
	  
	  
	  
	  
    </div>