<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Low Temperature Conditions
	  </h1>
      <p>
</p><p class="section-e"><b>9.28.6.1. Low <a href ="http://thehandyforce.com/insulation/" title ="Instulation Installtion in Toronto">temperature</a> Conditions</b></p> <p class="subsection-e">  <b>(1) </b>The base for <a href ="http://thehandyforce.com/exterior/" title ="Exterior Handyman and Siding Repair">stucco</a> shall be maintained above freezing.</p> <p class="subsection-e">  <b>(2) </b><a href ="http://thehandyforce.com/exterior/" title ="Exterior Handyman and Siding Repair">stucco</a> shall be maintained at a <a href ="http://thehandyforce.com/insulation/" title ="Instulation Installtion in Toronto">temperature</a> of not less than 10°C during <a href ="http://thehandyforce.com/businesses/" title ="Business Services in Toronto">application</a> and for not less than 48 h afterwards.</p> 
	  
      
	  
	  
	  
	  
    </div>