<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Number of Coats and Total Thickness
	  </h1>
      <p>
</p><p class="section-e"><b>9.28.6.2. Number of Coats and Total Thickness</b></p> <p class="subsection-e">  <b>(1) </b><a href ="http://thehandyforce.com/exterior/" title ="Exterior Handyman and Siding Repair">stucco</a> shall be applied with at least two base coats and one finish coat, providing a total thickness of not less than 15 mm, measured from the face of the lath or face of the <a href ="http://thehandyforce.com/home-renovations-north-york/" title ="Brick repair in Toronto Handyman">masonry</a> where no lath is used.</p> 
	  
      
	  
	  
	  
	  
    </div>