<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Number of Coats and Total Thickness
	  </h1>
      <p>
</p><p class="section-e"><b>9.28.6.2. Number of Coats and Total Thickness</b></p> <p class="subsection-e">  <b>(1) </b>stucco shall be applied with at least two base coats and one finish coat, providing a total thickness of not less than 15 mm, measured from the face of the lath or face of the masonry where no lath is used.</p> 
	  
      
	  
	  
	  
	  
    </div>