<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | First Coat
	  </h1>
      <p>
</p><p class="section-e"><b>9.28.6.3. First Coat</b></p> <p class="subsection-e">  <b>(1) </b>The first coat shall be not less than 6 mm thick, measured from the face of the lath or masonry, fully embedding the lath.</p> <p class="subsection-e">  <b>(2) </b>The surface of the first coat shall be scored to provide a key with the second coat.</p> 
	  
      
	  
	  
	  
	  
    </div>