<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Second Coat
	  </h1>
      <p>
</p><p class="section-e"><b>9.28.6.4. Second Coat</b></p> <p class="subsection-e">  <b>(1) </b>The second coat shall be not less than 6 mm thick.</p> <p class="subsection-e">  <b>(2) </b>The <a href ="http://thehandyforce.com/tiling/" title ="Professional Tile installer in Toronto">surface</a> of the second coat shall be <a href ="http://thehandyforce.com/electrical/" title ="East York Electrician">light</a>ly roughened to provide a key with the finish coat if the finish coat is other than <a href ="http://thehandyforce.com/interlock/" title ="Interlock Brick Layer in Toronto">stone</a> dash.</p> 
	  
      
	  
	  
	  
	  
    </div>