<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Finish Coat
	  </h1>
      <p>
</p><p class="section-e"><b>9.28.6.5. Finish Coat</b></p> <p class="subsection-e">  <b>(1) </b>When the finish coat is other than stone dash, the base shall be dampened but not saturated before the finish coat is applied.</p> <p class="subsection-e">  <b>(2) </b>The thickness of the finish coat shall be not less than 3 mm.</p> <p class="subsection-e">  <b>(3) </b>When a stone dash finish is used, the stone shall be partially embedded in the second coat before the second coat starts to set or stiffen.</p> <p class="ruleb-e">Section 9.29. interior Wall and ceiling Finishes</p> <p class="ruleb-e">9.29.1. General</p> 
	  
      
	  
	  
	  
	  
    </div>