<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Fire Protection and Sound Control
	  </h1>
      <p>
</p><p class="section-e"><b>9.29.1.1. Fire Protection and Sound Control</b></p> <p class="subsection-e">  <b>(1) </b>A wall or ceiling finish shall also conform to the appropriate requirements in Sections 9.10. and 9.11. in addition to the requirements in this Section.</p> <p class="ruleb-e">9.29.2. waterproof wall Finish</p> 
	  
      
	  
	  
	  
	  
    </div>