<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Fire Protection and Sound Control
	  </h1>
      <p>
</p><p class="section-e"><b>9.29.1.1. Fire Protection and Sound Control</b></p> <p class="subsection-e">  <b>(1) </b>A <a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a> or <a href ="http://thehandyforce.com/drywall/" title ="Drywall repair and installation in Toronto">ceiling</a> finish shall also conform to the appropriate requirements in Sections 9.10. and 9.11. in addition to the requirements in this Section.</p> <p class="ruleb-e">9.29.2. <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a>proof <a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a> Finish</p> 
	  
      
	  
	  
	  
	  
    </div>