<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Where Required
	  </h1>
      <p>
</p><p class="section-e"><b>9.29.2.1. Where Required</b></p> <p class="subsection-e">  <b>(1) </b><a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a>proof finish shall be provided to a height of not less than,</p> <p class="clause-e">  (a) 1 800 mm above the <a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a> in <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Quality Bathroom Renovator in Toronto">shower</a> stalls,</p> <p class="clause-e">  (b) 1 200 mm above the rims of bathtubs equipped with <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Quality Bathroom Renovator in Toronto">shower</a>s, and</p> <p class="clause-e">  (c) 400 mm above the rims of bathtubs not equipped with <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Quality Bathroom Renovator in Toronto">shower</a>s.</p> 
	  
      
	  
	  
	  
	  
    </div>