<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Where Required
	  </h1>
      <p>
</p><p class="section-e"><b>9.29.2.1. Where Required</b></p> <p class="subsection-e">  <b>(1) </b>waterproof finish shall be provided to a height of not less than,</p> <p class="clause-e">  (a) 1 800 mm above the floor in shower stalls,</p> <p class="clause-e">  (b) 1 200 mm above the rims of bathtubs equipped with showers, and</p> <p class="clause-e">  (c) 400 mm above the rims of bathtubs not equipped with showers.</p> 
	  
      
	  
	  
	  
	  
    </div>