<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Application
	  </h1>
      <p>
</p><p class="section-e"><b>9.29.4.1. application</b></p> <p class="subsection-e">  <b>(1) </b>application of plaster wall and ceiling finishes, including installation of metal or gypsum lath, shall conform to CSA A82.30-M, "interior Furring, Lathing and gypsum Plastering".</p> <p class="ruleb-e">9.29.5. gypsum Board Finish (Taped Joints)</p> 
	  
      
	  
	  
	  
	  
    </div>