<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Materials
	  </h1>
      <p>
</p><p class="section-e"><b>9.29.5.2. Materials</b></p> <p class="subsection-e">  <b>(1) </b>gypsum products shall conform to,</p> <p class="clause-e">  (a) CAN/CSA-A82.27-M, "gypsum Board",</p> <p class="clause-e">  (b) ASTM C1178 / C1178M, "Coated glass Mat water-Resistant gypsum Backing panel", or</p> <p class="clause-e">  (c) ASTM C1396 / C1396M, "gypsum Board".</p> 
	  
      
	  
	  
	  
	  
    </div>