<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Group F, Division 3, 1 Storey
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.2.80. Group F, Division 3, 1 Storey</b></p> <p class="subsection-e"><b>  (1) </b>A <i><a href ="http://thehandyforce.com/fence/" title ="East York fence builder">building</a></i> classified as Group F, Division 3 is permitted to be of <i>heavy timber construction</i>or <i>noncombustible construction</i> used singly or in combination provided,</p> <p class="clause-e">  (a) it is not more than 1 <i>storey</i> in <i>building height</i>, and</p> <p class="clause-e">  (b) it has a <i>building area</i> not more than,</p> <p class="subclause-e">  (i) 5 600 m<sup>2</sup>if facing one <i>street</i>,</p> <p class="subclause-e">  (ii) 7 000 m<sup>2</sup>if facing two <i>streets</i>, or</p> <p class="subclause-e">  (iii) 8 400 m<sup>2</sup>if facing three <i>streets</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>