<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Nails
	  </h1>
      <p>
</p><p class="section-e"><b>9.29.5.6. Nails</b></p> <p class="subsection-e">  <b>(1) </b>Nails for fastening <a href ="http://thehandyforce.com/drywall/" title ="Professional Toronto Handyman">gypsum</a> board to <a href ="http://thehandyforce.com/interior/" title ="Handyman Services in Toronto">wood</a> <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>s shall conform to,</p> <p class="clause-e">  (a) ASTM F1667, "Driven Fasteners: Nails, Spikes and Staples", or</p> <p class="clause-e">  (b) CSA B111, "<a href ="http://thehandyforce.com/electrical/" title ="ESA liscenced Electrician">wire</a> Nails, Spikes and Staples".</p> 
	  
      
	  
	  
	  
	  
    </div>