<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Low Temperature Conditions
	  </h1>
      <p>
</p><p class="section-e"><b>9.29.5.10. Low temperature Conditions</b></p> <p class="subsection-e">  <b>(1) </b>In cold weather, heat shall be provided to maintain a temperature of not below 10°C for 48 h prior to taping and finishing and maintained for not less than 48 h after that.</p> <p class="ruleb-e">9.29.6. Plywood Finish</p> 
	  
      
	  
	  
	  
	  
    </div>