<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Grooved Plywood
	  </h1>
      <p>
</p><p class="section-e"><b>9.29.6.2. Grooved Plywood</b></p> <p class="subsection-e">  <b>(1) </b>Except as permitted in Sentence (2), where plywood for interior finish is grooved, the grooves shall not extend through the face ply and into the plies below the face ply unless the groove is supported by framing or furring.</p> <p class="subsection-e">  <b>(2) </b>If the grain of the face ply is at right angles to the supporting members, the groove is permitted to extend into the plies below the face ply provided the thickness of the plywood exceeds the value shown in Table 9.29.6.1. by an amount equal to not less than the depth of penetration of the grooves into the plies below the face ply.</p> 
	  
      
	  
	  
	  
	  
    </div>