<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Edge Support
	  </h1>
      <p>
</p><p class="section-e"><b>9.29.6.4. Edge <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a></b></p> <p class="subsection-e">  <b>(1) </b>All ply<a href ="http://thehandyforce.com/interior/" title ="Handyman Services in Toronto">wood</a> edges shall be <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>ed by furring, blocking or framing.</p> <p class="ruleb-e">9.29.7. Hardboard Finish</p> 
	  
      
	  
	  
	  
	  
    </div>