<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Thickness
	  </h1>
      <p>
</p><p class="section-e"><b>9.29.7.2. Thickness</b></p> <p class="subsection-e">  <b>(1) </b>Hardboard shall be not less than,</p> <p class="clause-e">  (a) 3 mm thick where applied over continuous back-up,</p> <p class="clause-e">  (b) 6 mm thick where applied to <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>s spaced not more than 406 mm o.c., and</p> <p class="clause-e">  (c) 9 mm thick where applied to <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>s spaced not more than 610 mm o.c.</p> 
	  
      
	  
	  
	  
	  
    </div>