<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Nails
	  </h1>
      <p>
</p><p class="section-e"><b>9.29.7.3. Nails</b></p> <p class="subsection-e">  <b>(1) </b>Nails for fastening hardboard shall be casing or finishing nails not less than 38 mm long, spaced not more than 150 mm o.c. along edge <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>s and 300 mm o.c. along intermediate <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>s.</p> 
	  
      
	  
	  
	  
	  
    </div>