<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Edge Support
	  </h1>
      <p>
</p><p class="section-e"><b>9.29.7.4. Edge <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a></b></p> <p class="subsection-e">  <b>(1) </b>All hardboard edges shall be <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>ed by furring, blocking or framing where the back-up is not continuous.</p> <p class="ruleb-e">9.29.8. <a href ="http://thehandyforce.com/insulation/" title ="Batten insulation in Toronto">insulating</a> Fibreboard Finish</p> 
	  
      
	  
	  
	  
	  
    </div>