<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Material Standard
	  </h1>
      <p>
</p><p class="section-e"><b>9.29.8.1. Material Standard</b></p> <p class="subsection-e">  <b>(1) </b><a href ="http://thehandyforce.com/insulation/" title ="Batten insulation in Toronto">insulating</a> fibreboard shall conform to CAN/<a href ="http://canada.ul.com/ulcstandards/" title ="ULC Standards">ulc</a>-S706, "<a href ="http://thehandyforce.com/interior/" title ="Handyman Services in Toronto">wood</a> Fibre Thermal <a href ="http://thehandyforce.com/insulation/" title ="Toronto basement insulation">insulation</a>http://thehandyforce.com/insulation/" title ="Toronto home insulation">insulation for Buildings".</p> 
	  
      
	  
	  
	  
	  
    </div>