<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Nails
	  </h1>
      <p>
</p><p class="section-e"><b>9.29.8.3. Nails</b></p> <p class="subsection-e">  <b>(1) </b>Nails for fastening fibreboard sheets shall be not less than 2.6 mm shank diameter casing or finishing nails of sufficient length to penetrate not less than 20 mm into the <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>s.</p> <p class="subsection-e">  <b>(2) </b>Nails shall be spaced not more than 100 mm o.c. along edge <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>s and 200 mm o.c. along intermediate <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>s.</p> 
	  
      
	  
	  
	  
	  
    </div>