<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Group F, Division 3, 1 Storey, Any Area, Low Fire Load Occupancy
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.2.82. Group F, Division 3, 1 Storey, Any Area, Low Fire Load Occupancy</b></p> <p class="subsection-e"><b>  (1) </b>A <i><a href ="http://thehandyforce.com/interlock/" title ="Interlocking brick in Toronto">building</a></i> classified as Group F, Division 3 is permitted to conform to Sentence (2) provided it is,</p> <p class="clause-e">  (a) not more than 1 <i>storey</i> in <i>building height</i>,</p> <p class="clause-e">  (b) used solely for low <i>fire load occupancies</i> such as,</p> <p class="subclause-e">  (i) power generating plants, or</p> <p class="subclause-e">  (ii) plants for the manufacture or storage of <i>noncombustible</i> materials, and</p> <p class="clause-e">  (c) not limited in <i>building area</i>.</p> <p class="subsection-e"><b>  (2) </b>The <i>building</i> referred to in Sentence (1) shall be of <i>noncombustible construction</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>