<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Edge Support
	  </h1>
      <p>
</p><p class="section-e"><b>9.29.9.4. Edge <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a></b></p> <p class="subsection-e">  <b>(1) </b>All particleboard, OSB or <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Bathroom General Contractor in Toronto">waferboard</a> edges shall be <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>ed by furring, blocking or framing.</p> <p class="ruleb-e">9.29.10. <a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a> <a href ="http://thehandyforce.com/tiling/" title ="Professional Tile installer in East York">tile</a> Finish</p> 
	  
      
	  
	  
	  
	  
    </div>