<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Tile Application
	  </h1>
      <p>
</p><p class="section-e"><b>9.29.10.1. <a href ="http://thehandyforce.com/tiling/" title ="Professional Tile installer in East York">tile</a> <a href ="http://thehandyforce.com/businesses/" title ="Business Services in Toronto">application</a></b></p> <p class="subsection-e">  <b>(1) </b>Ceramic <a href ="http://thehandyforce.com/tiling/" title ="Professional Tile installer in East York">tile</a> shall be set in a <a href ="http://thehandyforce.com/decks/" title ="Toronto Deck builder">mortar</a> base or applied with an adhesive.</p> <p class="subsection-e">  <b>(2) </b>Plastic <a href ="http://thehandyforce.com/tiling/" title ="Professional Tile installer in East York">tile</a> shall be applied with an adhesive.</p> 
	  
      
	  
	  
	  
	  
    </div>