<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Mortar Base
	  </h1>
      <p>
</p><p class="section-e"><b>9.29.10.2. mortar Base</b></p> <p class="subsection-e">  <b>(1) </b>When ceramic tile is applied to a mortar base the cementitious material shall consist of one part Portland cement to not more than one-quarter part lime by volume.</p> <p class="subsection-e">  <b>(2) </b>The cementitious material described in Sentence (1) shall be mixed with no fewer than three nor more than five parts of aggregate per part of cementitious material by volume.</p> <p class="subsection-e">  <b>(3) </b>mortar shall be applied over metal lath or masonry.</p> <p class="subsection-e">  <b>(4) </b>Ceramic tile applied to a mortar base shall be thoroughly soaked and pressed into place forcing the mortar into the joints while the tile is wet.</p> 
	  
      
	  
	  
	  
	  
    </div>