<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Moisture Resistant Backing
	  </h1>
      <p>
</p><p class="section-e"><b>9.29.10.4. <a href ="http://thehandyforce.com/plumbing/" title ="Toronto Plumber">moisture</a> Resistant Backing</b></p> <p class="subsection-e">  <b>(1) </b>Ceramic and plastic <a href ="http://thehandyforce.com/tiling/" title ="Professional Tile installer in East York">tile</a> installed on <a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a>s around bathtubs or <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Quality Bathroom Renovator in Toronto">shower</a>s shall be applied over <a href ="http://thehandyforce.com/plumbing/" title ="Toronto Plumber">moisture</a> resistant backing.</p> 
	  
      
	  
	  
	  
	  
    </div>