<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Joints between Tiles and Bathtub
	  </h1>
      <p>
</p><p class="section-e"><b>9.29.10.5. Joints between tiles and Bathtub</b></p> <p class="subsection-e">  <b>(1) </b>The joints between wall tiles and a bathtub or shower shall be suitably caulked with material conforming to CAN/cgsb-19.22-M, "Mildew Resistant Sealing Compound for Tubs and tile".</p> <p class="ruleb-e">Section 9.30. flooring</p> <p class="ruleb-e">9.30.1. General</p> 
	  
      
	  
	  
	  
	  
    </div>