<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Required Finish Flooring
	  </h1>
      <p>
</p><p class="section-e"><b>9.30.1.1. Required Finish <a href ="http://thehandyforce.com/tiling/" title ="Toronto tile installer">flooring</a>="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">flooring</b></p> <p class="subsection-e">  <b>(1) </b>Finished <a href ="http://thehandyforce.com/tiling/" title ="Toronto tile installer">flooring</a>="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">flooring shall be provided in all <i><a href ="http://thehandyforce.com/insulation/" title ="East York Home Energy Efficiency">residential</a> occupancies</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>