<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Water Resistance
	  </h1>
      <p>
</p><p class="section-e"><b>9.30.1.2. water Resistance</b></p> <p class="subsection-e">  <b>(1) </b>Finished flooring in bathrooms, kitchens, public entrance halls, laundry and general storage areas shall consist of resilient flooring, felted-synthetic-fibre floor coverings, concrete, terrazzo, ceramic tile, mastic or other types of flooring providing similar degrees of water resistance.</p> 
	  
      
	  
	  
	  
	  
    </div>