<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Sleepers
	  </h1>
      <p>
</p><p class="section-e"><b>9.30.1.3. Sleepers</b></p> <p class="subsection-e">  <b>(1) </b><a href ="http://thehandyforce.com/interior/" title ="Handyman Services in Toronto">wood</a> sleepers <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>ing finished <a href ="http://thehandyforce.com/tiling/" title ="Toronto tile installer">flooring</a>="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">flooring over a concrete base <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>ed on the ground shall be not less than 19 mm by 38 mm and shall be treated with a <a href ="http://thehandyforce.com/interior/" title ="Handyman Services in Toronto">wood</a> preservative.</p> 
	  
      
	  
	  
	  
	  
    </div>