<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Group F, Division 3, Storage Garages up to 22 m High
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.2.83. Group F, Division 3, Storage garages up to 22 m High</b></p> <p class="subsection-e"><b>  (1) </b>A <i>building</i> used as a <i>storage garage</i> with all <i>storeys</i>constructed as <i>open-air storeys</i> and having no other<i>occupancy</i> above it is permitted to have its floor, wall, ceiling and roof assemblies constructed without a <i>fire-resistance rating</i> provided it is,</p> <p class="clause-e">  (a) of <i>noncombustible construction</i>,</p> <p class="clause-e">  (b) not more than 22 m high, measured between <i>grade</i> and the ceiling level of the top <i>storey</i>,</p> <p class="clause-e">  (c) not more than 10 000 m<sup>2</sup>in <i>building area</i>, and</p> <p class="clause-e">  (d) designed so that every portion of each <i>floor area</i> is within 60 m of an exterior wall opening.</p> <p class="ruleb-e">3.2.3. Spatial Separation and Exposure Protection</p> 
	  
      
	  
	  
	  
	  
    </div>