<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Required Underlay
	  </h1>
      <p>
</p><p class="section-e"><b>9.30.2.1. Required Underlay</b></p> <p class="subsection-e">  <b>(1) </b>A panel-type underlay shall be provided under resilient flooring, parquet flooring, ceramic tile, felted-synthetic-fibre floor coverings or carpeting laid over lumber flooring.</p> <p class="subsection-e">  <b>(2) </b>A panel-type underlay shall be provided under resilient flooring, parquet flooring, felted-synthetic-fibre floor coverings or carpeting on panel-type flooring whose edges are unsupported.</p> <p class="subsection-e">  <b>(3) </b>panel-type underlay shall be provided under ceramic tile applied with adhesive.</p> <p class="subsection-e">  <b>(4) </b>panel-type underlay shall be provided under resilient flooring on waferboard or strandboard flooring.</p> 
	  
      
	  
	  
	  
	  
    </div>