<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Materials and Thickness
	  </h1>
      <p>
</p><p class="section-e"><b>9.30.2.2. Materials and Thickness</b></p> <p class="subsection-e">  <b>(1) </b>panel-type underlay shall be not less than 6 mm thick and shall conform to,</p> <p class="clause-e">  (a) ANSI A208.1, "Particleboard",</p> <p class="clause-e">  (b) CAN/cgsb-11.3-M, "Hardboard",</p> <p class="clause-e">  (c) CSA O115-M, "Hardwood and Decorative Plywood",</p> <p class="clause-e">  (d) CSA O121, "Douglas Fir Plywood",</p> <p class="clause-e">  (e) CSA O151, "Canadian Softwood Plywood",</p> <p class="clause-e">  (f) CSA O153-M, "Poplar Plywood", or</p> <p class="clause-e">  (g) CSA O437.0, "OSB and Waferboard".</p> 
	  
      
	  
	  
	  
	  
    </div>