<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Joints Offset
	  </h1>
      <p>
</p><p class="section-e"><b>9.30.2.4. Joints Offset</b></p> <p class="subsection-e">  <b>(1) </b>Where <a href ="http://thehandyforce.com/electrical/" title ="Electrical panel installation in Toronto">panel</a>-type underlay is required to be installed over ply<a href ="http://thehandyforce.com/interior/" title ="Handyman Services in Toronto">wood</a>, or OSB or <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Bathroom General Contractor in Toronto">waferboard</a>, the joints in the underlay shall be offset at least 200 mm from the joints in the underlying sub<a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a>.</p> 
	  
      
	  
	  
	  
	  
    </div>