<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Surface Defects
	  </h1>
      <p>
</p><p class="section-e"><b>9.30.2.5. surface Defects</b></p> <p class="subsection-e">  <b>(1) </b>Underlay beneath resilient or ceramic floors applied with an adhesive shall have all holes or open defects on the surface patched so that the defects will not be transmitted to the finished surface.</p> <p class="ruleb-e">9.30.3. wood Strip flooring</p> 
	  
      
	  
	  
	  
	  
    </div>