<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Strip Direction and End Joints
	  </h1>
      <p>
</p><p class="section-e"><b>9.30.3.2. Strip Direction and End Joints</b></p> <p class="subsection-e">  <b>(1) </b>wood strip flooring shall not be laid parallel to lumber flooring unless a separate underlay is provided.</p> <p class="subsection-e">  <b>(2) </b>If wood strip flooring is applied without a subfloor, it shall be laid at right angles to the joists so that the end joints are staggered and occur over supports or are end matched.</p> <p class="subsection-e">  <b>(3) </b>If the flooring is end matched, it shall be laid so that no two adjoining strips break joints in the same space between supports and each strip bears on no fewer than two supports.</p> 
	  
      
	  
	  
	  
	  
    </div>