<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Adhesive
	  </h1>
      <p>
</p><p class="section-e"><b>9.30.4.1. Adhesive</b></p> <p class="subsection-e">  <b>(1) </b>Adhesive used to attach parquet block <a href ="http://thehandyforce.com/tiling/" title ="Toronto tile installer">flooring</a>="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">flooring shall be suitable for bonding <a href ="http://thehandyforce.com/interior/" title ="Handyman Services in Toronto">wood</a> to the applicable sub<a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a> material.</p> <p class="ruleb-e">9.30.5. Resilient <a href ="http://thehandyforce.com/tiling/" title ="Toronto tile installer">flooring</a>="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">flooring</p> 
	  
      
	  
	  
	  
	  
    </div>