<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Materials
	  </h1>
      <p>
</p><p class="section-e"><b>9.30.5.1. Materials</b></p> <p class="subsection-e">  <b>(1) </b>Resilient flooring used on concrete slabs supported on ground shall consist of asphalt, rubber, vinyl-asbestos, unbacked vinyl or vinyl with an inorganic type backing.</p> <p class="subsection-e">  <b>(2) </b>flooring described in Sentence (1) shall be attached to the base with a suitable waterproof and alkali-resistant adhesive.</p> <p class="ruleb-e">9.30.6. Ceramic tile</p> 
	  
      
	  
	  
	  
	  
    </div>