<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Substrate
	  </h1>
      <p>
</p><p class="section-e"><b>9.30.6.1. Substrate</b></p> <p class="subsection-e">  <b>(1) </b>Ceramic tile shall be set in a mortar bed or applied to a sound smooth base with a suitable adhesive.</p> <p class="subsection-e">  <b>(2) </b>panel-type subfloor to which ceramic tile is to be applied with adhesive shall have its edges supported according to Article 9.23.14.3.</p> <p class="ruleb-e">Section 9.31. Plumbing Facilities</p> <p class="ruleb-e">9.31.1. Scope</p> 
	  
      
	  
	  
	  
	  
    </div>