<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Application
	  </h1>
      <p>
</p><p class="section-e"><b>9.31.1.1. application</b></p> <p class="subsection-e">  <b>(1) </b>Except as provided in Sentence (2), this Section applies to <i>plumbing</i>facilities and <i>plumbing systems </i>serving <i>dwelling units</i>.</p> <p class="subsection-e">  <b>(2) </b><i>Plumbing</i> facilities, grab bars, floor drains and floor and wall finishes around urinals shall conform to Subsection 3.7.4. and Article 7.1.5.2. in,</p> <p class="clause-e">  (a)  a <i>recreational camp</i>,</p> <p class="clause-e">  (b) a <i>camp for housing of workers</i>, or</p> <p class="clause-e">  (c) all other <i>buildings</i>not described in Sentence (1).</p> <p class="subsection-e">  <b>(3) </b>Medical gas piping systems shall conform to Subsection 3.7.5.</p> <p class="ruleb-e">9.31.2. General</p> 
	  
      
	  
	  
	  
	  
    </div>