<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Required Connections
	  </h1>
      <p>
</p><p class="section-e"><b>9.31.3.2. Required Connections</b></p> <p class="subsection-e">  <b>(1) </b>In a <i>dwelling unit</i> with a <i><a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> distribution system</i>, piping for hot and cold <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> shall be connected to every kitchen sink, lavatory, bathtub, <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Quality Bathroom Renovator in Toronto">shower</a>, slop sink and laundry area.</p> <p class="subsection-e">  <b>(2) </b>Piping for cold <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> shall be run to every <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> closet.</p> <p class="ruleb-e">9.31.4. Required Facilities</p> 
	  
      
	  
	  
	  
	  
    </div>