<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Required Fixtures
	  </h1>
      <p>
</p><p class="section-e"><b>9.31.4.1. Required Fixtures</b></p> <p class="subsection-e">  <b>(1) </b>A<i>dwelling unit</i> with a <i><a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> distribution system</i> shall contain,</p> <p class="clause-e">  (a) a kitchen sink,</p> <p class="clause-e">  (b) a lavatory,</p> <p class="clause-e">  (c) a bathtub or <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Quality Bathroom Renovator in Toronto">shower</a> stall, and</p> <p class="clause-e">  (d) a <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> closet or a drainless composting toilet.</p> 
	  
      
	  
	  
	  
	  
    </div>