<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Hot Water Supply
	  </h1>
      <p>
</p><p class="section-e"><b>9.31.4.3. Hot water Supply</b></p> <p class="subsection-e">  <b>(1) </b>In a <i>dwelling unit</i> with a <i>water distribution system</i>, a hot water supply shall be provided.</p> <p class="subsection-e">  <b>(2) </b>A<i>water distribution system</i> supplying hot water to <i>plumbing</i> <i>fixtures</i> shall conform to the requirements in Subsection 7.6.5.</p> 
	  
      
	  
	  
	  
	  
    </div>