<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Hot Water Supply
	  </h1>
      <p>
</p><p class="section-e"><b>9.31.4.3. Hot <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> Supply</b></p> <p class="subsection-e">  <b>(1) </b>In a <i>dwelling unit</i> with a <i><a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> distribution system</i>, a hot <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> supply shall be provided.</p> <p class="subsection-e">  <b>(2) </b>A<i><a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> distribution system</i> supplying hot <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> to <i>plumbing</i> <i>fixtures</i> shall conform to the requirements in Subsection 7.6.5.</p> 
	  
      
	  
	  
	  
	  
    </div>