<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Hot Water Temperature
	  </h1>
      <p>
</p><p class="section-e"><b>9.31.6.1. Hot water temperature</b></p> <p class="subsection-e">  <b>(1) </b>Where a hot water supply is required by Article 9.31.4.3., equipment shall be installed to provide to every <i>dwelling unit</i> an adequate supply of service hot water with a temperature range from 45°C to 60°C.</p> <p class="subsection-e">  <b>(2) </b>An electric <i>storage-type service water heater</i> shall have a minimum set storage temperature of 60°C.</p> 
	  
      
	  
	  
	  
	  
    </div>