<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Corrosion-Resistant Coating
	  </h1>
      <p>
</p><p class="section-e"><b>9.31.6.3. Corrosion-Resistant Coating</b></p> <p class="subsection-e">  <b>(1) </b>Where storage tanks for <i><a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">service</a> water heaters</i> are steel, they shall be coated with zinc, vitreous enamel (<a href ="http://thehandyforce.com/windows/" title ="Window fabrication in Toronto">glass</a> lined), hydraulic <a href ="http://thehandyforce.com/exterior/" title ="Exterior home repairs in Toronto">cement</a> or other corrosion-resistant material.</p> 
	  
      
	  
	  
	  
	  
    </div>