<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Heating Coils
	  </h1>
      <p>
</p><p class="section-e"><b>9.31.6.5. Heating Coils</b></p> <p class="subsection-e">  <b>(1) </b>Heating coils of <i><a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">service</a> water heaters</i> shall not be installed in a <i>flue</i> or in the combustion chamber of a <i>boiler</i> or furnace heating a <i><a href ="http://thehandyforce.com/services/" title ="East York professional renovations">building</a></i>.</p> <p class="ruleb-e">Section 9.32. <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renovation inspiration">vent</a>ilation</p> <p class="ruleb-e">9.32.1. General</p> 
	  
      
	  
	  
	  
	  
    </div>