<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Wall Enclosing Attic or Roof Space
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.3.3. <a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a> Enclosing <a href ="http://thehandyforce.com/renovations/" title ="Attic renovations in Toronto">attic</a> or Roof Space</b></p> <p class="subsection-e"><b>  (1) </b>An <a href ="http://thehandyforce.com/exterior/" title ="Certified home renovator">exterior</a> wall enclosing an <i><a href ="http://thehandyforce.com/renovations/" title ="Attic renovations in Toronto">attic</a> or roof space</i> and located above an <i>exposing <a href ="http://thehandyforce.com/windows/" title ="East York Window installer">building</a> face</i>, shall be constructed in conformance with the requirements for the <i>exposing building face</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>