<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Protection from Weather and Insects
	  </h1>
      <p>
</p><p class="section-e"><b>9.32.2.2. Protection from Weather and Insects</b></p> <p class="subsection-e">  <b>(1) </b>openings for natural ventilation other than windows shall be constructed to provide protection from the weather and insects.</p> <p class="subsection-e">  <b>(2) </b>Screening shall be of rust-proof material.</p> <p class="ruleb-e">9.32.3. Mechanical ventilation</p> 
	  
      
	  
	  
	  
	  
    </div>