<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Required Mechanical Ventilation
	  </h1>
      <p>
</p><p class="section-e"><b>9.32.3.2. Required Mechanical ventilation</b></p> <p class="subsection-e">  <b>(1) </b>The mechanical ventilation system required in Article 9.32.1.2. shall comply with,</p> <p class="clause-e">  (a) Part 6, or</p> <p class="clause-e">  (b) this Subsection for a mechanical ventilation system in a Type I, Type II or Type IV <i>dwelling unit</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>