<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Installation
	  </h1>
      <p>
</p><p class="section-e"><b>9.32.3.13. installation</b></p> <p class="subsection-e">  <b>(1) </b>installation of fans and heat recovery ventilators shall be in accordance with manufacturer’s instructions for minimizing noise and vibration transmission and achieving the required sound rating.</p> <p class="subsection-e">  <b>(2) </b>Where flow-regulating dampers are required, they shall be adjustable and accessible without requiring the removal of fans, motors, or insulating materials and without the need for specialized tools.</p> <p class="subsection-e">  <b>(3) </b>ventilation equipment shall be accessible for inspection, maintenance, repair and cleaning.</p> <p class="subsection-e">  <b>(4) </b>ventilation equipment installed in unheated spaces shall be installed so as to avoid condensation of moisture on fans and motors in accordance with the manufacturer’s instructions.</p> <p class="ruleb-e">Section 9.33. Heating and Air-Conditioning</p> <p class="ruleb-e">9.33.1. General</p> 
	  
      
	  
	  
	  
	  
    </div>