<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Wall with Limiting Distance Less Than 1.2 m
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.3.5. wall with Limiting Distance Less Than 1.2 m</b></p> <p class="subsection-e"><b>  (1) </b>openings in a wall that has a <i>limiting distance</i>less than 1.2 m shall be protected by <i>closures</i>whose <i>fire-protection rating</i> is in conformance with the <i>fire-resistance rating</i> required for the wall.</p> <p class="subsection-e"><b>  (2) </b>wired glass or glass block shall not be used for a <i>closure</i> referred to in Sentence (1).</p> 
	  
      
	  
	  
	  
	  
    </div>