<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Equipment Sizing
	  </h1>
      <p>
</p><p class="section-e"><b>9.33.2.2. Equipment Sizing</b></p> <p class="subsection-e"><b>  (1) </b>The heating system capacity shall be based on the heating load calculated in accordance with Sentence 6.2.1.1.(1).</p> <p class="subsection-e"><b>  (2) </b>Where a cooling system is installed, the cooling system capacity shall be based on the cooling load calculated in accordance with Sentence 6.2.1.1.(1).</p> <p class="subsection-e"><b>  (3) </b>The heating and cooling equipment capacities shall be determined in accordance with the requirements of CSA F280, "Determining the Required Capacity of residential Space Heating and Cooling Appliances".</p> <p class="ruleb-e">9.33.3. design Temperatures</p> 
	  
      
	  
	  
	  
	  
    </div>