<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Indoor Design Temperatures
	  </h1>
      <p>
</p><p class="section-e"><b>9.33.3.1. In<a href ="http://thehandyforce.com/doors/" title ="Toronto Door installer">door</a> <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a> Temperatures</b></p> <p class="subsection-e">  <b>(1) </b>At the outside <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a> temperature, required heating facilities shall be capable of maintaining an in<a href ="http://thehandyforce.com/doors/" title ="Toronto Door installer">door</a> air <a href ="http://thehandyforce.com/insulation/" title ="Instulation Installtion in Toronto">temperature</a> of not less than,</p> <p class="clause-e">  (a) 22°C in all living spaces,</p> <p class="clause-e">  (b) 22°C in unfinished <i><a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Basement renvator in Toronto">basement</a>s</i>, and</p> <p class="clause-e">  (c) 15°C in heated crawl spaces.</p> 
	  
      
	  
	  
	  
	  
    </div>