<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Indoor Design Temperatures
	  </h1>
      <p>
</p><p class="section-e"><b>9.33.3.1. Indoor design Temperatures</b></p> <p class="subsection-e">  <b>(1) </b>At the outside design temperature, required heating facilities shall be capable of maintaining an indoor air temperature of not less than,</p> <p class="clause-e">  (a) 22°C in all living spaces,</p> <p class="clause-e">  (b) 22°C in unfinished <i>basements</i>, and</p> <p class="clause-e">  (c) 15°C in heated crawl spaces.</p> 
	  
      
	  
	  
	  
	  
    </div>