<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Required Facilities
	  </h1>
      <p>
</p><p class="section-e"><b>9.34.1.2. Required Facilities</b></p> <p class="subsection-e">  <b>(1) </b>Where electrical <a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">service</a>s are available, electrical facilities shall be provided for every <i><a href ="http://thehandyforce.com/tiling/" title ="Professional Tile installer in East York">building</a></i> in conformance with this Section.</p> 
	  
      
	  
	  
	  
	  
    </div>