<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Lighting of Entrances
	  </h1>
      <p>
</p><p class="section-e"><b>9.34.2.1. lighting of Entrances</b></p> <p class="subsection-e">  <b>(1) </b>An exterior lighting outlet with fixture controlled by a wall switch located within the <i>building</i> shall be provided at every entrance to <i>buildings</i> of <i>residential occupancy</i>.</p> <p class="subsection-e"><b>  (2) </b>The exterior lighting outlet with fixture required by Sentence (1) may be controlled by a wall switch or panel accessible to authorized personnel only, where it serves,</p> <p class="clause-e">  (a) a <i>building</i>entrance serving multiple <i>suites</i> of <i>residential occupancy</i>,</p> <p class="clause-e">  (b) multiple <i>dwelling unit</i> entrances,</p> <p class="clause-e">  (c)  <i>hotels</i>, or</p> <p class="clause-e">  (d) motels.</p> 
	  
      
	  
	  
	  
	  
    </div>