<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Stairways
	  </h1>
      <p>
</p><p class="section-e"><b>9.34.2.3. Stairways</b></p> <p class="subsection-e">  <b>(1) </b>Every stairway shall be lighted.</p> <p class="subsection-e">  <b>(2) </b>Except as provided in Sentence (3), 3-way wall switches located at the head and foot of every stairway shall be provided to control at least one lighting outlet with fixture for stairways with four or more risers in <i>dwelling units</i>.</p> <p class="Pnote-e">Note: On July 1, 2017, Sentence 9.34.2.3.(2) of Division B of the Regulation is amended by striking out "<i>dwelling units</i>" and substituting "a <i>house</i> or an individual <i>dwelling unit</i>". (See: O. Reg. 139/17, s. 130)</p> <p class="subsection-e">  <b>(3) </b>The stairway lighting for<i> basements</i> that do not contain finished space or lead to an outside entrance or built-in garage and that serve not more than one <i>dwelling unit</i> is permitted to be controlled by a single switch located at the head of the stairs.</p> 
	  
      
	  
	  
	  
	  
    </div>