<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Garages and Carports
	  </h1>
      <p>
</p><p class="section-e"><b>9.34.2.6. garages and Carports</b></p> <p class="subsection-e">  <b>(1) </b>A lighting outlet with fixture shall be provided for an attached, built-in or detached garage or carport.</p> <p class="subsection-e">  <b>(2) </b>Except as provided in Sentence (3), lighting outlets required in Sentence (1) shall be controlled by a wall switch near the doorway.</p> <p class="subsection-e">  <b>(3) </b>Where the lighting outlet and fixture required in Sentence (1) are ceiling mounted above an area not normally occupied by a parked car, or are wall mounted, a fixture with a built-in switch is permitted to be used.</p> <p class="subsection-e">  <b>(4) </b>Where a carport is lighted by a light at the entrance to a <i>dwelling unit</i>, additional carport lighting is not required.</p> 
	  
      
	  
	  
	  
	  
    </div>