<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Carport Considered to be Garage
	  </h1>
      <p>
</p><p class="section-e"><b>9.35.2.1. Carport Considered to be garage</b></p> <p class="subsection-e">  <b>(1) </b>Where a roofed enclosure used for the storage or parking of motor vehicles has more than 60 per cent of the total perimeter enclosed by walls, doors or windows, the enclosure shall be considered a garage.</p> 
	  
      
	  
	  
	  
	  
    </div>