<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Carport Considered to be Garage
	  </h1>
      <p>
</p><p class="section-e"><b>9.35.2.1. Carport Considered to be <a href ="http://thehandyforce.com/roofing/" title ="Toronto Roofer">garage</a></b></p> <p class="subsection-e">  <b>(1) </b>Where a roofed enclosure used for the storage or parking of motor vehicles has more than 60 per cent of the total perimeter enclosed by <a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a>s, <a href ="http://thehandyforce.com/doors/" title ="Toronto Door installer">door</a>s or <a href ="http://thehandyforce.com/windows/" title ="East York Window installer">window</a>s, the enclosure shall be considered a <a href ="http://thehandyforce.com/roofing/" title ="Toronto Roofer">garage</a>.</p> 
	  
      
	  
	  
	  
	  
    </div>