<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Garage Floor
	  </h1>
      <p>
</p><p class="section-e"><b>9.35.2.2. <a href ="http://thehandyforce.com/roofing/" title ="Toronto Roofer">garage</a> Floor</b></p> <p class="subsection-e">  <b>(1) </b>Where an attached or built-in <a href ="http://thehandyforce.com/roofing/" title ="Toronto Roofer">garage</a> is provided, the <a href ="http://thehandyforce.com/roofing/" title ="Toronto Roofer">garage</a> floor shall be sloped to drain liquids to the <a href ="http://thehandyforce.com/exterior/" title ="Toronto Exterior Handyman">outdoor</a>ref ="http://thehandyforce.com/doors/" title ="Toronto Door installer">doors.</p> <p class="ruleb-e">9.35.3. <a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Toronto Basement renovator">foundation</a>s</p> 
	  
      
	  
	  
	  
	  
    </div>