<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Foundation Required
	  </h1>
      <p>
</p><p class="section-e"><b>9.35.3.1. <a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Toronto Basement renovator">foundation</a> Required</b></p> <p class="subsection-e">  <b>(1) </b>Except as permitted in this Subsection, <i><a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Toronto Basement renovator">foundation</a>s</i>conforming to Sections 9.12. and 9.15. shall be provided for the <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a> of carport and <a href ="http://thehandyforce.com/roofing/" title ="Toronto Roofer">garage</a> super-structures, including that portion beneath <a href ="http://thehandyforce.com/roofing/" title ="Toronto Roofer">garage</a> doors.</p> 
	  
      
	  
	  
	  
	  
    </div>