<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Column Piers
	  </h1>
      <p>
</p><p class="section-e"><b>9.35.3.4. Column Piers</b></p> <p class="subsection-e">  <b>(1) </b>Piers for the support of carport columns shall extend not less than 150 mm above ground level.</p> <p class="subsection-e">  <b>(2) </b>Piers referred to in Sentence (1) shall project not less than 25 mm beyond the base of the column but in no case be less than 190 mm by 190 mm in size.</p> <p class="ruleb-e">9.35.4. walls and columns</p> 
	  
      
	  
	  
	  
	  
    </div>