<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Interior Finish
	  </h1>
      <p>
</p><p class="section-e"><b>9.35.4.1. <a href ="http://thehandyforce.com/interior/" title ="Interior Handyman services in Toronto">interior</a> Finish</b></p> <p class="subsection-e">  <b>(1) </b><a href ="http://thehandyforce.com/interior/" title ="Interior Handyman services in Toronto">interior</a> finish need not be applied to <a href ="http://thehandyforce.com/roofing/" title ="Toronto Roofer">garage</a> and carport <a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a>s.</p> 
	  
      
	  
	  
	  
	  
    </div>