<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Columns
	  </h1>
      <p>
</p><p class="section-e"><b>9.35.4.2. <a href ="http://thehandyforce.com/interior/" title ="Home renovations in East York">columns</a></b></p> <p class="subsection-e">  <b>(1) </b><a href ="http://thehandyforce.com/interior/" title ="Home renovations in East York">columns</a> for <a href ="http://thehandyforce.com/roofing/" title ="Toronto Roofer">garage</a>s and carports shall conform to Section 9.17., except that 89 mm by 89 mm <a href ="http://thehandyforce.com/interior/" title ="Handyman Services in Toronto">wood</a> <a href ="http://thehandyforce.com/interior/" title ="Home renovations in East York">columns</a> may be used.</p> 
	  
      
	  
	  
	  
	  
    </div>