<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Application
	  </h1>
      <p>
</p><p class="section-e"><b>9.36.1.1. application</b></p> <p class="subsection-e">  <b>(1) </b>This Section applies to<i> buildings</i> of <i>residential occupancy</i> used or intended to be used as seasonal recreational <i>buildings</i>.</p> <p class="subsection-e">  <b>(2) </b>The<i>buildings</i> described in Sentence (1) shall comply with all the requirements of this Part, except where they are specifically exempted in this Section.</p> <p class="ruleb-e">9.36.2. General</p> 
	  
      
	  
	  
	  
	  
    </div>