<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Waterproofing and Dampproofing
	  </h1>
      <p>
</p><p class="section-e"><b>9.36.2.3. <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a>proofing and Dampproofing</b></p> <p class="subsection-e">  <b>(1) </b>Where<i><a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Toronto Basement renovator">foundation</a>s</i> below ground level and concrete <a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a>s on ground are used, they shall comply with Section 9.13.</p> 
	  
      
	  
	  
	  
	  
    </div>