<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Buildings for Seasonal Tourist Accommodation or for Rent
	  </h1>
      <p>
</p><p class="section-e"><b>9.36.3.1. buildings for Seasonal Tourist Accommodation or for Rent</b></p> <p class="subsection-e">  <b>(1) </b>Where<i>buildings</i> are used or intended to be used for seasonal tourist accommodation or for rent, they shall comply with Sections 9.5. to 9.8. in addition to the requirements of this Section.</p> <p class="ruleb-e">Section 9.37. Log Construction</p> <p class="ruleb-e">9.37.1. General</p> 
	  
      
	  
	  
	  
	  
    </div>