<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Material Requirements
	  </h1>
      <p>
</p><p class="section-e"><b>9.37.1.1. Material Requirements</b></p> <p class="subsection-e">  <b>(1) </b>Logs that are sound and free of fractures may be used for <i>foundations</i>, beams, posts and similar members, provided it can be shown by a structural analysis or tests or previous experience that the strength of the member is adequate for its intended purposes.</p> 
	  
      
	  
	  
	  
	  
    </div>