<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Requirement for Wood Preservative
	  </h1>
      <p>
</p><p class="section-e"><b>9.37.1.2. Requirement for <a href ="http://thehandyforce.com/interior/" title ="Handyman Services in Toronto">wood</a> Preservative</b></p> <p class="subsection-e">  <b>(1) </b>The portion of any log coming in contact with <a href ="http://thehandyforce.com/home-renovations-north-york/" title ="Brick repair in Toronto Handyman">masonry</a> or concrete at or below <i>grade</i> shall be treated with a <a href ="http://thehandyforce.com/interior/" title ="Handyman Services in Toronto">wood</a> preservative to pre<a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renovation inspiration">vent</a> decay.</p> 
	  
      
	  
	  
	  
	  
    </div>