<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Exterior Joints
	  </h1>
      <p>
</p><p class="section-e"><b>9.37.1.3. <a href ="http://thehandyforce.com/exterior/" title ="Certified home renovator">exterior</a> Joints</b></p> <p class="subsection-e">  <b>(1) </b>All <a href ="http://thehandyforce.com/exterior/" title ="Certified home renovator">exterior</a> joints between logs shall be rendered <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a>-tight by methods such as machined joints, oakum packing, <a href ="http://thehandyforce.com/exterior/" title ="Exterior home repairs in Toronto">cement</a> parging, chinking, caulking or a combination of these.</p> <p class="ruleb-e">9.37.2. <a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a>s</p> 
	  
      
	  
	  
	  
	  
    </div>