<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Protection of Structural Members
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.3.9. Protection of Structural Members</b></p> <p class="subsection-e"><b>  (1) </b>Structural members, including beams, columns and arches, placed wholly or partly outside an exterior face of a <i>building </i>that are less than 3 m from the property line or centreline of a public thoroughfare shall be protected from exterior fire by fire protection having a <i>fire-resistance rating </i>not less than that required by Articles 3.2.2.20. to 3.2.2.83. for their protection from interior fires, but not less than 1 h.</p> <p class="subsection-e"><b>  (2) </b>Structural members of <i>heavy timber construction</i>, including beams, columns and arches, placed wholly or partly outside an exterior face of a <i>building </i>and 3 m or more from the property line or centreline of a public thoroughfare need not be covered with <i>noncombustible </i>cladding.</p> 
	  
      
	  
	  
	  
	  
    </div>