<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Attachment of Logs
	  </h1>
      <p>
</p><p class="section-e"><b>9.37.2.2. Attachment of Logs</b></p> <p class="subsection-e">  <b>(1) </b>walls made of logs in a horizontal position shall have interlocking intersections that will prevent the collection of water in the joints, or the horizontal logs shall butt to a vertical corner post to which the horizontal logs shall be firmly attached.</p> 
	  
      
	  
	  
	  
	  
    </div>