<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Joining Logs
	  </h1>
      <p>
</p><p class="section-e"><b>9.37.2.3. Joining Logs</b></p> <p class="subsection-e">  <b>(1) </b>Each log in a horizontal position shall be scribed as close as possible to its bearer and fastened to the bearer in at least three places throughout its length, by dowels, continuous machined joints, vertical framing members or interlocking intersections or any combination of these, but in no case shall the distance between fastenings exceed 1 800 mm.</p> 
	  
      
	  
	  
	  
	  
    </div>