<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Support Over Openings
	  </h1>
      <p>
</p><p class="section-e"><b>9.37.3.1. <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a> Over <a href ="http://thehandyforce.com/doors/" title ="Door installer in Toronto">openings</a>="http://thehandyforce.com/windows/" title ="Window installer in Toronto">openings</b></p> <p class="subsection-e">  <b>(1) </b>Logs placed in vertical position shall be <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>ed over <a href ="http://thehandyforce.com/windows/" title ="East York Window installer">window</a> and <a href ="http://thehandyforce.com/doors/" title ="Toronto Door installer">door</a> <a href ="http://thehandyforce.com/doors/" title ="Door installer in Toronto">openings</a>="http://thehandyforce.com/windows/" title ="Window installer in Toronto">openings by lintels meeting the requirements of Tables A-12 to A-16.</p> 
	  
      
	  
	  
	  
	  
    </div>