<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Clearance
	  </h1>
      <p>
</p><p class="section-e"><b>9.37.3.2. Clearance</b></p> <p class="subsection-e">  <b>(1) </b>At every opening in a wall made of logs in a horizontal position where shrinkage can occur there shall be a clearance between the rough buck header and the lintel log of not less than 13 mm in width for each 300 mm of height to allow for settlement.</p> <p class="ruleb-e">Section 9.38. Park Model Trailers</p> <p class="ruleb-e">9.38.1. Scope</p> 
	  
      
	  
	  
	  
	  
    </div>