<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | General
	  </h1>
      <p>
</p><p class="section-e"><b>9.38.2.1. General</b></p> <p class="subsection-e">  <b>(1) </b>Except as provided in Subsection 9.38.3., a manufactured <i><a href ="http://thehandyforce.com/doors/" title ="Steel and fiberglass doors in Toronto">building</a></i>used or intended to be used as a seasonal recreational <i>building</i>of <i>residential occupancy</i> is deemed to comply with this Code if it is designed and constructed in conformance with CAN/CSA-Z241 Series, "Park Model Trailers".</p> <p class="ruleb-e">9.38.3. Requirements</p> 
	  
      
	  
	  
	  
	  
    </div>