<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Spatial Separation
	  </h1>
      <p>
</p><p class="section-e"><b>9.38.3.2. Spatial Separation</b></p> <p class="subsection-e">  <b>(1) </b><i>buildings</i> described in Article 9.38.1.1. shall comply with Section 9.10. where the<i> building</i> is,</p> <p class="clause-e">  (a) used or intended to be used for seasonal tourist accommodation, or</p> <p class="clause-e">  (b) leased or intended to be leased.</p> 
	  
      
	  
	  
	  
	  
    </div>