<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Unlimited Unprotected Openings
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.3.10. Unlimited Unprotected Openings</b></p> <p class="subsection-e"><b>  (1) </b>An <i>exposing building face</i> of an <i>open-air storey</i> in a <i>storage garage</i>is permitted to have unlimited <i>unprotected openings</i>provided it has a <i>limiting distance</i> not less than 3 m.</p> <p class="subsection-e"><b>  (2) </b>The <i>exposing building face</i> of a <i>storey</i> that faces a <i>street</i>and is at the same level as the <i>street</i> is permitted to have unlimited <i>unprotected openings</i> if the <i>limiting distance</i> is not less than 9 m.</p> 
	  
      
	  
	  
	  
	  
    </div>