<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Foundations and Anchorage
	  </h1>
      <p>
</p><p class="section-e"><b>9.38.3.3. <a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Toronto Basement renovator">foundation</a>s and Anchorage</b></p> <p class="subsection-e">  <b>(1) </b><i><a href ="http://thehandyforce.com/insulation/" title ="Batten insulation in Toronto">building</a>s</i> described in Article 9.38.1.1. shall be <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>ed and anchored in conformance with the manufacturer's <a href ="http://thehandyforce.com/insulation/" title ="Sprayfoam insulation in Toronto">installation</a> instructions.</p> 
	  
      
	  
	  
	  
	  
    </div>