<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Proximity to Above Ground Electrical Conductors
	  </h1>
      <p>
</p><p class="section-e"><b>9.38.3.4. Proximity to Above Ground Electrical Conductors</b></p> <p class="subsection-e">  <b>(1) </b><i>buildings</i> described in Article 9.38.1.1. shall comply with Article 9.1.1.5.</p> <p class="ruleb-e">Section 9.39. Reinforced Concrete Slabs</p> <p class="ruleb-e">9.39.1. Scope</p> 
	  
      
	  
	  
	  
	  
    </div>