<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Application
	  </h1>
      <p>
</p><p class="section-e"><b>9.39.1.1. application</b></p> <p class="subsection-e">  <b>(1) </b>This Section applies to,</p> <p class="clause-e">  (a) reinforced concrete slabs that are suspended over cold rooms in <i>basements</i>, and are supported by <i>foundation</i> walls along the perimeter of the slab with no additional interior supports, and</p> <p class="clause-e">  (b) slabs in which the clear span between supporting walls is not more than 2.5 m along the shortest dimension of the slab.</p> <p class="subsection-e">  <b>(2) </b>Slabs for conditions other than described in Sentence (1) shall be designed in accordance with Part 4.</p> <p class="subsection-e">  <b>(3) </b>This Section does not apply to reinforced concrete slabs intended to support motor vehicles.</p> 
	  
      
	  
	  
	  
	  
    </div>