<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Low Fire Load, 1 Storey Building
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.3.11. Low Fire Load, 1 Storey building</b></p> <p class="subsection-e"><b>  (1) </b>An <i>exposing building face</i> of a <i>building</i> of <i>low hazard industrial occupancy</i> conforming to Article 3.2.2.82. is permitted to be of <i>noncombustible construction</i> without a <i>fire-resistance rating</i> provided,</p> <p class="clause-e">  (a) it is not a <i>loadbearing</i>wall, and</p> <p class="clause-e">  (b) the <i>limiting distance</i> is not less than 3 m.</p> 
	  
      
	  
	  
	  
	  
    </div>