<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Classification According to Construction and Occupancy
	  </h1>
      <p>
</p><p class="section-e"><b>10.2.1.2. Classification According to Construction and Occupancy</b></p> <p class="subsection-e"><b>  (1) </b>For the purposes of this Part, existing <i>buildings</i>shall be classified as to their <i>construction</i> and <i>occupancy</i> as provided for in Sentence 11.2.1.1.(1).</p> 
	  
      
	  
	  
	  
	  
    </div>