<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | General
	  </h1>
      <p>
</p><p class="section-e"><b>10.3.1.1. General</b></p> <p class="subsection-e"><b>  (1) </b>Except as provided in Section 10.4., a <i>building</i>or part of a <i>building</i> subject to a change of <i>major occupancy</i> shall conform to the requirements of Subsection 3.2.6., Sections 3.7., 3.11. and 3.12., Sentences 6.2.2.1.(2), 6.2.3.9.(1) and 6.2.4.7.(1), Subsections 9.5.1. and 9.5.3. to 9.5.10., Sentences 9.6.1.4.(3), (4) and (7) to (9), Article 9.7.2.3., Sentences 9.8.8.1.(5) to (9) and 9.9.10.1.(1) to (7), Subsection 9.10.17., Sections 9.31. and 9.32., and Subsections 9.34.1. to 9.34.3. as they apply to the new <i>major occupancy</i> that the <i>building</i>or part of a <i>building</i> is to support.</p> <p class="ruleb-e">10.3.2. Performance Level</p> 
	  
      
	  
	  
	  
	  
    </div>