<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | General
	  </h1>
      <p>
</p><p class="section-e"><b>10.3.2.1. General</b></p> <p class="subsection-e">  <b>(1) </b>The <i>performance level</i> of a <i>building</i>after the change of <i>major occupancy</i> shall not be less than the <i>performance level</i> prior to the change of <i>major occupancy</i>.</p> <p class="subsection-e">  <b>(2) </b>For the purposes of Sentence (1), reduction of <i>performance level</i>shall be determined in accordance with Article 10.3.2.2.</p> 
	  
      
	  
	  
	  
	  
    </div>