<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Area Increase for Unprotected Openings
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.3.12. Area Increase for Unprotected Openings</b></p> <p class="subsection-e"><b>  (1) </b>Except as required by Sentence 3.2.3.7.(8), the maximum area of <i>unprotected openings </i>in any <i>exposing building face </i>or <i>fire compartment </i>of a <i>building </i>that is not <i>sprinklered </i>is permitted to be doubled if the openings are glazed with,</p> <p class="clause-e">  (a) glass block conforming to the requirements of Article 3.1.8.14., or</p> <p class="clause-e">  (b) wired glass assemblies conforming to MMAH Supplementary Standard SB-2, "Fire Performance Ratings".</p> 
	  
      
	  
	  
	  
	  
    </div>