<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Material Alteration or Repair of a Building System
	  </h1>
      <p>
</p><p class="section-e"><b>11.3.1.1. Material Alteration or Repair of a building System</b></p> <p class="subsection-e">  <b>(1) </b>Where an existing <i>building system</i> is materially altered or repaired, the <i>performance level</i> of the <i>building</i> after the material alteration or repair shall be at least equal to the <i>performance level</i> of the <i>building</i> prior to the material alteration or repair.</p> 
	  
      
	  
	  
	  
	  
    </div>