<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | New Building Systems and Extension of Existing Building Systems
	  </h1>
      <p>
</p><p class="section-e"><b>11.3.1.2. New building Systems and Extension of Existing Building Systems</b></p> <p class="subsection-e">  <b>(1) </b>Except as provided in Article 11.3.3.1. and Section 11.5., the design and <i>construction</i> of a new <i>building system</i> or the extension of an existing <i>building system</i>, shall comply with all other Parts.</p> <p class="ruleb-e">11.3.2. Extension of Buildings</p> 
	  
      
	  
	  
	  
	  
    </div>