<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Extension, Material Alteration or Repair
	  </h1>
      <p>
</p><p class="section-e"><b>11.3.4.1. Extension, Material Alteration or Repair</b></p> <p class="subsection-e"><b>  (1) </b>Despite Subsections 11.3.1. to 11.3.3., when an existing <i><a href ="http://thehandyforce.com/windows/" title ="East York Window installer">building</a></i> is extended or subject to material alteration or repair, Part 7 applies,</p> <p class="clause-e">  (a) to the <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a> and <i>construction</i> of <i>plumbing</i> in the extensions and those parts of the <i>building</i>subject to material alteration and repair, and</p> <p class="clause-e">  (b) to <i>plumbing</i>which is adversely affected by the extension, alteration or repair.</p> <p class="ruleb-e">11.3.5. Sewage Systems</p> 
	  
      
	  
	  
	  
	  
    </div>