<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Existing Septic Tanks
	  </h1>
      <p>
</p><p class="section-e"><b>11.3.5.1. Existing Septic Tanks</b></p> <p class="subsection-e">  <b>(1) </b>Despite Subsections 11.3.1. to 11.3.3., where an existing <i>septic tank</i> is subject to material alteration, repair or repla<a href ="http://thehandyforce.com/exterior/" title ="Exterior home repairs in Toronto">cement</a>, the <i>construction </i>of the <i>septic tank</i>shall comply with Part 8.</p> 
	  
      
	  
	  
	  
	  
    </div>