<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Vertical Separations and Existing Sewage Sys
	  </h1>
      <p>
</p><p class="section-e"><b>11.3.5.2. Vertical Separations and Existing Sewage Systems <p class="subsection-e">  <b>(1) </b>Despite Subsections 11.3.1. to 11.3.3., where an existing <i>sewage system</i> is extended or is subject to material alteration or repair, the requirements respecting the vertical separation to the water table set out in Part 8 apply to the extended, altered or repaired portions of the <i>sewage system</i> as well as to the existing portions of the <i>sewage system</i>.</p> <p class="ruleb-e">Section 11.4. Performance Level Evaluation and Compensating Construction</p> <p class="ruleb-e">11.4.1. General</p> 
	  
      
	  
	  
	  
	  
    </b></p></div>