<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Performance Level
	  </h1>
      <p>
</p><p class="section-e"><b>11.4.1.1. Performance Level</b></p> <p class="subsection-e">  <b>(1) </b>The <i>performance level</i> of a <i><a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renovation inspiration">building</a></i>after <i>construction</i> shall not be less than the <i>performance level</i> of the <i>building</i>prior to <i>construction</i>.</p> <p class="subsection-e">  <b>(2) </b>For the purposes of Sentence (1), reduction of <i>performance level</i>shall be determined in accordance with Subsection 11.4.2.</p> <p class="subsection-e">  <b>(3) </b>Where the proposed <i>construction</i> would reduce the <i>performance level</i> of an existing <i>building</i>, compensating <i>construction</i> shall be required in conformance with Subsection 11.4.3.</p> <p class="ruleb-e">11.4.2. Reduction in Performance Level</p> 
	  
      
	  
	  
	  
	  
    </div>