<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Structural
	  </h1>
      <p>
</p><p class="section-e"><b>11.4.2.1. Structural</b></p> <p class="subsection-e">  <b>(1) </b>The <i>performance level</i> of an existing <i><a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">building</a></i>is reduced where after proposed <i>construction</i> in all or part of an existing <i>building</i>,</p> <p class="clause-e">  (a) the <i>major occupancy</i> will change to a different <i>major occupancy</i>,</p> <p class="clause-e">  (b) the <i>occupant load</i> will increase by more than 15%, or</p> <p class="clause-e">  (c) the <i>live load</i> will increase due to change in use within the same <i>major occupancy</i>,</p> <p class="Ssubsection-e">and the existing structural floor and roof framing systems and their supporting members after the <i>construction</i> are not adequate to support the proposed <i>dead loads</i> and <i>live loads</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>