<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Plumbing
	  </h1>
      <p>
</p><p class="section-e"><b>11.4.2.4. Plumbing</b></p> <p class="subsection-e">  <b>(1) </b>The <i>performance level</i> of an existing <i><a href ="http://thehandyforce.com/interior/" title ="Handyman and General Contractors in Toronto">building</a></i>is reduced where the existing <i>building</i> is extended or subject to material alteration or repair, and <i>plumbing</i>in the existing <i>building</i> is adversely affected by the extension, alteration or repair.</p> 
	  
      
	  
	  
	  
	  
    </div>