<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Extension of Buildings of Combustible Construction
	  </h1>
      <p>
</p><p class="section-e"><b>11.4.2.6. Extension of buildings of Combustible Construction</b></p> <p class="subsection-e">  <b>(1) </b>The <i>performance level</i> of an existing <i>building</i>of <i>combustible construction</i> is reduced where the existing <i>building</i> is extended by adding a <i>storey</i> or <i>storeys</i> such that the extended <i>building</i> will be more than four <i>storeys</i> in <i>building height</i>.</p> <p class="ruleb-e">11.4.3. Compensating Construction</p> 
	  
      
	  
	  
	  
	  
    </div>