<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Plumbing
	  </h1>
      <p>
</p><p class="section-e"><b>11.4.3.5. Plumbing</b></p> <p class="subsection-e">  <b>(1) </b>Where the <i>performance level</i> of an existing <i>building</i>is reduced under Sentence 11.4.2.4.(1), upgrading of <i>plumbing</i>in the existing <i>building</i> which is adversely affected by the extension, alteration or repair shall be required in conformance with Part 7.</p> 
	  
      
	  
	  
	  
	  
    </div>