<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Application
	  </h1>
      <p>
</p><p class="section-e"><b>12.1.1.2. <a href ="http://thehandyforce.com/businesses/" title ="Business Services in Toronto">application</a></b></p> <p class="subsection-e"><b>  (1) </b>This Part applies to resource conservation and environmental integrity in the <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a> and <i>construction </i>of <i><a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Professional East York Basement Renvator">building</a>s</i>.</p> <p class="ruleb-e">Section 12.2. Energy Efficiency, Carbon Dioxide Equivalents and Peak Electric Demand</p> <p class="ruleb-e">12.2.1. Energy Efficiency <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a></p> 
	  
      
	  
	  
	  
	  
    </div>