<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Wall Exposed to Adjoining Roof
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.3.15. wall Exposed to Adjoining Roof</b></p> <p class="subsection-e"><b>  (1) </b>Except as permitted by Sentence 3.2.3.19.(4), if a wall in a <i>building</i> is exposed to a fire hazard from an adjoining roof of a separate <i>fire compartment</i> that is not <i>sprinklered</i> in the same <i>building</i>, and the exposed wall contains windows within 3 <i>storeys</i>vertically and 5 m horizontally of the roof, the roof shall contain no skylights within 5 m of the exposed wall.</p> 
	  
      
	  
	  
	  
	  
    </div>