<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Service Lines under Buildings
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.3.21. service Lines under buildings</b></p> <p class="subsection-e">  <b>(1) </b>A <i>building</i> shall not be constructed over an existing buried flammable gas main unless the gas main is encased in a gas-tight conduit in conformance with CAN/CSA-Z662 / Z662.1, "Oil and Gas Pipeline Systems / Commentary on CAN/CSA-Z662-11, Oil and Gas Pipeline Systems".</p> <p class="ruleb-e">3.2.4. Fire Alarm and Detection Systems</p> 
	  
      
	  
	  
	  
	  
    </div>