<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Types of Fire Alarm Systems
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.4.3. Types of Fire Alarm Systems</b></p> <p class="subsection-e"><b>  (1) </b>A fire alarm system shall be,</p> <p class="clause-e">  (a) a single stage system in a Group F, Division 1 <i>occupancy</i>,</p> <p class="clause-e">  (b) a two stage system in a Group B <i>occupancy</i> other than those described in Clause (c),</p> <p class="clause-e">  (c) a single or two stage system in a<i>building</i> 3 <i>storeys</i> or less in <i>building height</i> that contains a Group B, Division 3 <i>occupancy</i>,</p> <p class="clause-e">  (d) a single stage system in elementary and secondary schools, except for a special needs facility, and</p> <p class="clause-e">  (e) a single or two stage system in all other cases.</p> 
	  
      
	  
	  
	  
	  
    </div>