<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Installation and Verification of Fire Alarm Systems
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.4.5. installation and Verification of Fire Alarm Systems</b></p> <p class="subsection-e"><b>  (1) </b>Fire alarm systems, including those with voice communication capability, shall be installed in conformance with CAN/ulc-S524, "installation of Fire Alarm Systems".</p> <p class="subsection-e"><b>  (2) </b>A fire alarm system shall be verified in conformance with CAN/ulc-S537, "Verification of Fire Alarm Systems", to ensure satisfactory operation.</p> 
	  
      
	  
	  
	  
	  
    </div>