<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Commissioning of Life Safety and Fire Protection Systems
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.4.6. Commissioning of Life Safety and Fire Protection Systems</b></p> <p class="subsection-e">  <b>(1) </b>Where life safety and fire protection systems are installed to comply with the provisions of this Code or the Fire Code made under the <i>Fire Protection and Pre<a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renovation inspiration">vent</a>ion Act, 1997</i>, the commissioning of these integrated systems must be performed as a whole to ensure the proper operation and inter-relationship between the systems.</p> 
	  
      
	  
	  
	  
	  
    </div>