<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Silencing of Alarm Signals
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.4.7. Silencing of Alarm Signals</b></p> <p class="subsection-e"><b>  (1) </b>Except as permitted by Sentence (3), a fire alarm system shall be designed so that when an <i>alarm signal</i> is actuated it cannot be silenced automatically before a period of time has elapsed that is not less than,</p> <p class="clause-e">  (a) 5 min for a <i>building</i>not required to be equipped with an annunciator, and</p> <p class="clause-e">  (b) 20 min for any other <i>building</i>.</p> <p class="subsection-e"><b>  (2) </b>Except as permitted by Sentences 3.2.4.20.(9) and 3.2.4.23.(3) and (4), a fire alarm system shall not incorporate manual silencing switches other than those installed inside the fire alarm control unit.</p> <p class="subsection-e"><b>  (3) </b>Except as provided by Clause 3.2.4.23.(4)(a), in a <i>care and treatment occupancy</i> an <i>alert signal</i> is permitted to be silenced automatically after 1 min.</p> 
	  
      
	  
	  
	  
	  
    </div>