<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Fire-Retardant Treated Wood
	  </h1>
      <p>
</p><p class="section-e"><b>3.1.4.5. Fire-Retardant Treated <a href ="http://thehandyforce.com/interior/" title ="Handyman Services in Toronto">wood</a></b></p> <p class="subsection-e"><b>  (1) </b>If <i>fire-retardant treated <a href ="http://thehandyforce.com/interior/" title ="Handyman Services in Toronto">wood</a></i> is specified in this Part, the <a href ="http://thehandyforce.com/interior/" title ="Handyman Services in Toronto">wood</a> shall,</p> <p class="clause-e">  (a) be <a href ="http://thehandyforce.com/plumbing/" title ="Increase water pressure with a Toronto Plumber">pressure</a> impregnated with fire-retardant chemicals in conformance with CAN/CSA-O80 Series-M, "<a href ="http://thehandyforce.com/interior/" title ="Handyman Services in Toronto">wood</a> Preservation", and</p> <p class="clause-e">  (b) have a <i>flame-spread rating</i> not more than 25.</p> 
	  
      
	  
	  
	  
	  
    </div>