<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Fire-Retardant Treated Wood
	  </h1>
      <p>
</p><p class="section-e"><b>3.1.4.5. Fire-Retardant Treated wood</b></p> <p class="subsection-e"><b>  (1) </b>If <i>fire-retardant treated wood</i> is specified in this Part, the wood shall,</p> <p class="clause-e">  (a) be pressure impregnated with fire-retardant chemicals in conformance with CAN/CSA-O80 Series-M, "wood Preservation", and</p> <p class="clause-e">  (b) have a <i>flame-spread rating</i> not more than 25.</p> 
	  
      
	  
	  
	  
	  
    </div>