<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Fire Detectors
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.4.11. Fire detectors</b></p> <p class="subsection-e"><b>  (1) </b><i>Fire detectors</i>required by this Article shall be connected to the fire alarm system.</p> <p class="subsection-e"><b>  (2) </b>Except as provided in Article 3.2.4.16., if a fire alarm system is required, <i>fire detectors</i> shall be installed in each,</p> <p class="clause-e">  (a) storage room not within a <i>dwelling unit</i>,</p> <p class="clause-e">  (b)  <i>service room</i>not within a <i>dwelling unit</i>,</p> <p class="clause-e">  (c) janitors’ room,</p> <p class="clause-e">  (d) room in which hazardous substances are to be used or stored,</p> <p class="clause-e">  (e) elevator or dumbwaiter shaft,</p> <p class="clause-e">  (f) laundry room in a <i>building</i> of <i>residential occupancy</i>, but not one within a <i>dwelling unit</i>, and</p> <p class="clause-e">  (g)<i>  hazardous classroom</i> and change room in an elementary or secondary school.</p> 
	  
      
	  
	  
	  
	  
    </div>