<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Prevention of Smoke Circulation
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.4.13. Prevention of Smoke Circulation</b></p> <p class="subsection-e"><b>  (1) </b>If a fire alarm system is installed, an air handling system shall be designed to prevent the circulation of smoke upon a signal from a duct-type <i>smoke detector</i> if the air handling system,</p> <p class="clause-e">  (a) serves more than 1 <i>storey</i>,</p> <p class="clause-e">  (b) serves more than one <i>suite</i> in a <i>storey</i>,</p> <p class="clause-e">  (c) serves more than one <i>fire compartment</i> required by Sentence 3.3.3.5.(2), or</p> <p class="Pnote-e">Note: On July 1, 2017, Clause 3.2.4.13.(1)(c) of Division B of the Regulation is amended by striking out "Sentence 3.3.3.5.(2)" and substituting "Sentence 3.3.3.5.(2) or Sentence 3.3.4.11.(2)". (See: O. Reg. 139/17, s. 27)</p> <p class="clause-e">  (d) is not provided with <i>fire dampers </i>as permitted by Sentence 3.1.8.8.(8).</p> 
	  
      
	  
	  
	  
	  
    </div>