<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Vacuum Cleaning System Shutdown
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.4.14. Vacuum Cleaning System Shutdown</b></p> <p class="subsection-e"><b>  (1) </b>A central vacuum cleaning system serving more than one <i>suite</i> or <i>storey</i> in a <i>building</i> equipped with a fire alarm system shall be designed to shut down upon actuation of the fire alarm system.</p> 
	  
      
	  
	  
	  
	  
    </div>