<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Vacuum Cleaning System Shutdown
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.4.14. Vacuum Cleaning System Shutdown</b></p> <p class="subsection-e"><b>  (1) </b>A central vacuum cleaning system serving more than one <i>suite</i> or <i>storey</i> in a <i><a href ="http://thehandyforce.com/home-renovations-east-york/" title ="East York General Contractor for Basements">building</a></i> equipped with a fire alarm system shall be <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a>ed to shut down upon actuation of the fire alarm system.</p> 
	  
      
	  
	  
	  
	  
    </div>