<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Elevator Emergency Return
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.4.15. Elevator Emergency Return</b></p> <p class="subsection-e"><b>  (1) </b>Except as permitted by Sentence (3), in a <i>building</i>having elevators that serve <i>storeys</i> above the <i>first storey</i> and that are equipped with an automatic emergency recall feature, <i>smoke detectors</i> shall be installed in the elevator lobbies on the recall level so that when these <i>smoke detectors</i> are actuated, the elevators will automatically return directly to an alternate floor level.</p> <p class="subsection-e"><b>  (2) </b><i>Smoke detectors</i>required by Sentence (1) shall be designed as part of the <i>building</i>fire alarm system.</p> <p class="subsection-e"><b>  (3) </b>The alternate floor recall feature required by Sentence (1) is not required if the <i>floor area</i> containing the recall level is <i>sprinklered</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>