<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Sprinklers in Lieu of Fire Detectors
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.4.16. Sprinklers in Lieu of Fire detectors</b></p> <p class="subsection-e"><b>  (1) </b><i>Fire detectors</i>required by Article 3.2.4.11. and <i>heat detectors</i>required by Sentence 3.2.4.12.(2) need not be provided within a<i> floor area</i> if the <i>floor area</i>is <i>sprinklered</i> and the sprinkler system is electrically supervised in conformance with Sentence 3.2.4.10.(3).</p> 
	  
      
	  
	  
	  
	  
    </div>