<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | System Monitoring
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.4.17. System Monitoring</b></p> <p class="subsection-e"><b>  (1) </b>An automatic sprinkler system shall be equipped with waterflow detecting devices and, if an annunciator is required by Article 3.2.4.9., shall be installed so that each device serves,</p> <p class="clause-e">  (a) not more than 1 <i>storey</i>, and</p> <p class="clause-e">  (b) an area on each <i>storey</i> that is not more than the system area limits as specified in nfpa 13, "installation of Sprinkler Systems".</p> <p class="subsection-e"><b>  (2) </b>If a fire alarm system is provided, waterflow indicating devices required by Sentence (1) shall be connected to the fire alarm system so that on actuation an <i>alert signal </i>or an <i>alarm signal </i>is initiated.</p> 
	  
      
	  
	  
	  
	  
    </div>