<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Heavy Timber Construction Alternative
	  </h1>
      <p>
</p><p class="section-e"><b>3.1.4.6. Heavy Timber Construction Alternative</b></p> <p class="subsection-e"><b>  (1) </b>If <i>combustible construction</i> is permitted and is not required to have a <i>fire-resistance rating</i>more than 45 min, <i>heavy timber construction</i> is permitted to be used.</p> <p class="subsection-e"><b>  (2) </b>If <i>heavy timber construction</i> is permitted, it shall conform to Article 3.1.4.7.</p> 
	  
      
	  
	  
	  
	  
    </div>