<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Visual Signals
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.4.21. Visual Signals</b></p> <p class="subsection-e"><b>  (1) </b>Visual signal devices required by Sentences 3.2.4.19.(4) and 3.2.4.20.(7) and (8) shall be installed so that the signal from at least one device is visible throughout the <i>floor area</i> or portion of it in which they are installed.</p> <p class="subsection-e"><b>  (2) </b>Visual signal devices permitted by Sentence 3.2.4.19.(5) shall be installed so that the signal from at least one device is visible throughout the compartment in which they are installed.</p> 
	  
      
	  
	  
	  
	  
    </div>