<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Access to Basements
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.5.2. Access to basements</b></p> <p class="subsection-e"><b>  (1) </b>Direct access from at least one <i>street</i>shall be provided from the doors to each <i>basement</i><i>,</i></p> <p class="clause-e">  (a) that is not <i>sprinklered</i>, and</p> <p class="clause-e">  (b) that has horizontal dimension more than 25 m.</p> <p class="subsection-e"><b>  (2) </b>The access required by Sentence (1) is permitted to be provided by,</p> <p class="clause-e">  (a) doors, windows or other means that provide an opening not less than 1 100 mm high and 550 mm wide, with a sill no higher than 900 mm above the inside floor, or</p> <p class="clause-e">  (b) an interior stairway immediately accessible from the doors.</p> 
	  
      
	  
	  
	  
	  
    </div>