<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Access Routes
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.5.4. Access Routes</b></p> <p class="subsection-e"><b>  (1) </b>A <i>building</i> that is more than 3 <i>storeys</i> in <i>building height</i> or more than 600 m<sup>2</sup> in <i>building area</i> shall be provided with access routes for fire department vehicles,</p> <p class="clause-e">  (a) to the <i>building</i>face having a principal entrance, and</p> <p class="clause-e">  (b) to each <i>building</i>face having access openings for firefighting as required by Articles 3.2.5.1. and 3.2.5.2.</p> 
	  
      
	  
	  
	  
	  
    </div>