<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Water Supply
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.5.7. water Supply</b></p> <p class="subsection-e"><b>  (1) </b>An adequate water supply for firefighting shall be provided for every <i>building</i>.</p> <p class="subsection-e"><b>  (2) </b>Hydrants shall be located within 90 m horizontally of any portion of a <i>building</i> perimeter that is required to face a <i>street</i> in Subsection 3.2.2.</p> 
	  
      
	  
	  
	  
	  
    </div>