<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Cladding
	  </h1>
      <p>
</p><p class="section-e"><b>3.1.4.8. Cladding</b></p> <p class="subsection-e">  <b>(1) </b>Except as permitted by Sentence 3.2.3.7.(6), cladding for a <i>building</i>within the scope of Article 3.2.2.43A. or 3.2.2.50A. that exceeds 4 <i>storeys</i> in <i>building height</i> or cladding for a <i>fire compartment</i> in such a <i>building</i> shall be <i>noncombustible</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>