<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Fire Department Connections
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.5.16. Fire Department Connections</b></p> <p class="subsection-e"><b>  (1) </b>The fire department connection for a standpipe system shall be located so that the distance from the fire department connection to a hydrant is not more than 45 m and is unobstructed.</p> <p class="subsection-e"><b>  (2) </b>The fire department connection for an automatic sprinkler system shall be located so that the distance from the fire department connection to a hydrant is not more than 45 m and is unobstructed.</p> <p class="subsection-e"><b>  (3) </b>The fire department connections required in Sentences (1) and (2) shall be,</p> <p class="clause-e">  (a) located on the outside of a <i>building</i> adjacent to a <i>street</i>or an access route, not less than 300 mm and not more than 900 mm above ground level, and</p> <p class="clause-e">  (b) provided with two 65 mm hose connections with female swivel hose couplings.</p> 
	  
      
	  
	  
	  
	  
    </div>