<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Fire Pumps
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.5.19. Fire Pumps</b></p> <p class="subsection-e"><b>  (1) </b>A fire pump having a rated net head pressure greater than 280 kPa shall be installed in accordance with the requirements of nfpa 20, "installation of Stationary Pumps for Fire Protection".</p> <p class="ruleb-e">3.2.6. Additional Requirements for High buildings</p> 
	  
      
	  
	  
	  
	  
    </div>