<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Venting to Aid Firefighting
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.6.6. venting to Aid Firefighting</b></p> <p class="subsection-e"><b>  (1) </b>Means of venting each <i>floor area </i>to the doors shall be provided by windows, wall panels, smoke shafts or, except as provided by Sentence (5), the <i>building </i>exhaust system.</p> <p class="subsection-e"><b>  (2) </b>Fixed glass windows shall not be used for the venting required by Sentence (1) if the breaking of the windows could endanger pedestrians below.</p> <p class="subsection-e"><b>  (3) </b>Openable windows used for the venting required by Sentence (1) shall be permanently marked so that they are easily identifiable.</p> <p class="subsection-e"><b>  (4) </b>Elevator hoistways shall not be designed for the venting required by Sentence (1).</p> <p class="subsection-e">  <b>(5) </b>In a <i>building </i>that is not <i>sprinklered,</i>venting of <i>floor areas</i> required in Sentence (1) shall not be provided by the <i>building</i> exhaust system.</p> 
	  
      
	  
	  
	  
	  
    </div>