<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Voice Communication System
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.6.8. Voice Communication System</b></p> <p class="subsection-e">  <b>(1) </b>A voice communication system conforming to Article 3.2.4.23. shall be provided in a <i>building</i> if,</p> <p class="clause-e">  (a) the floor of the top <i>storey</i> is more than 36 m above <i>grade</i>,</p> <p class="clause-e">  (b) a <i>floor area</i>or part of a <i>floor area</i> located above the third <i>storey</i> is designed or intended for use as a Group B, Division 2 or 3 <i>occupancy</i>, or</p> <p class="clause-e">  (c) a <i>floor area</i>or part of a <i>floor area</i> located more than 18 m above <i>grade</i> is designed or intended for use as a retirement home regulated under the <i>Retirement Homes Act, 2010</i> that is a Group C <i>occupancy</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>