<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Testing
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.6.9. Testing</b></p> <p class="subsection-e"><b>  (1) </b>The systems for control of smoke movement and mechanical venting required by Articles 3.2.6.2. and 3.2.6.6. shall be tested to ensure satisfactory operation in accordance with the procedures described in MMAH Supplementary Standard SB-4, "Measures for Fire Safety in High buildings".</p> <p class="ruleb-e">3.2.7. lighting and Emergency Power Systems</p> 
	  
      
	  
	  
	  
	  
    </div>