<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Recessed Lighting Fixtures
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.7.2. Recessed <a href ="http://thehandyforce.com/electrical/" title ="Electrician in East York">lighting</a>="http://thehandyforce.com/electrical/" title ="East York Electrician">lighting Fixtures</b></p> <p class="subsection-e"><b>  (1) </b>A recessed <a href ="http://thehandyforce.com/electrical/" title ="Electrician in East York">lighting</a>="http://thehandyforce.com/electrical/" title ="East York Electrician">lighting fixture shall not be located in an insulated <a href ="http://thehandyforce.com/drywall/" title ="Drywall repair and installation in Toronto">ceiling</a> unless the fixture is <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a>ed for this type of <a href ="http://thehandyforce.com/insulation/" title ="Sprayfoam insulation in Toronto">installation</a>.</p> 
	  
      
	  
	  
	  
	  
    </div>