<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Emergency Power Supply Installation
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.7.5. Emergency Power Supply installation</b></p> <p class="subsection-e"><b>  (1) </b>Except as required by Articles 3.2.7.6. and 3.2.7.7., an emergency electrical power system shall be installed in conformance with CSA C282, "Emergency Electrical Power Supply for buildings".</p> <p class="subsection-e">  <b>(2) </b>Every emergency power supply shall be equipped with an emergency audible and visual trouble indication.</p> 
	  
      
	  
	  
	  
	  
    </div>