<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Emergency Power for Hospitals
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.7.6. Emergency Power for Hospitals</b></p> <p class="subsection-e"><b>  (1) </b>Except as required by Article 3.2.7.7., an emergency electrical power system for emergency equipment required by this Part for health care facilities shall be installed in conformance with CSA Z32, "Electrical Safety and Essential Electrical Systems in Health Care Facilities".</p> 
	  
      
	  
	  
	  
	  
    </div>