<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Fuel Supply Shut-off Valves and Exhaust Pipes
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.7.7. Fuel Supply Shut-off Valves and Exhaust <a href ="http://thehandyforce.com/plumbing/" title ="Plubing leak repair in Toronto">pipe</a>s</b></p> <p class="subsection-e"><b>  (1) </b>If a liquid or gas fuel-fired engine or turbine for an emergency electric power supply is dependent on a fuel supply from outside the <i><a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Bathroom General Contractor in Toronto">building</a></i>, the fuel supply shall be provided with a suitably-identified separate shut-off valve outside the <i>building</i>.</p> <p class="subsection-e"><b>  (2) </b>Where pipes for exhaust gases from emergency power systems penetrate required <i>fire separations</i>, they shall be enclosed in a separate <i>service space</i> having a <i>fire-resistance rating</i> equal to that of the penetrated floor assembly, but not less than 45 min.</p> 
	  
      
	  
	  
	  
	  
    </div>