<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Configuration
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.8.3. Configuration</b></p> <p class="subsection-e"><b>  (1) </b>In <i>buildings</i> constructed in conformance with Articles 3.2.8.4. to 3.2.8.11., the <i>unprotected openings</i> through floor assemblies in an <i>interconnected floor space</i> shall be of sufficient size and shall be positioned relative to each other so as to be capable of containing, within the full height of the <i>interconnected floor space</i>, a cylinder conforming to Sentence (2).</p> <p class="subsection-e"><b>  (2) </b>The cylinder referred to in Sentence (1) shall have a cross-section that, where taken at a right angle to the longitudinal axis of such cylinder, is,</p> <p class="clause-e">  (a) a circle at least 9 m in diameter, or</p> <p class="clause-e">  (b) an ellipse at least 7 m wide along the minor axis and at least 65 m<sup>2</sup> in area.</p> 
	  
      
	  
	  
	  
	  
    </div>