<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Group B Sleeping Rooms
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.8.6. Group B Sleeping Rooms</b></p> <p class="subsection-e"><b>  (1) </b>openings provided for access between an <i>interconnected floor space</i> and a <i>building</i> or a portion of a<i>building</i> containing Group B <i>major occupancy</i> sleeping rooms shall be provided with vestibules that are provided with a mechanical air supply and that are designed,</p> <p class="clause-e">  (a) to restrict the passage of smoke from the <i>interconnected floor space</i> into the area containing sleeping rooms in accordance with the limits described in Sentence 3.2.8.4.(1), and</p> <p class="clause-e">  (b) in conformance with Clause 3.2.8.4.(3)(a).</p> 
	  
      
	  
	  
	  
	  
    </div>