<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Climatic and Seismic Design Values
	  </h1>
      <p>
</p><p class="section-e"><b>1.1.2.1. Climatic and Seismic <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a> Values</b></p> <p class="subsection-e"><b>  (1) </b>The climatic and seismic values required for the <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a> of <i><a href ="http://thehandyforce.com/windows/" title ="Window installer in Toronto">building</a>s</i> under this Code shall be in conformance with the climatic and seismic values provided in MMAH Supplementary Standard SB-1, "Climatic and Seismic Data".</p> <p class="subsection-e">  <b>(2) </b>The outside winter <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a> temperatures determined from MMAH Supplementary Standard SB-1, "Climatic and Seismic Data", shall be those listed for the January 2.5% values.</p> 
	  
      
	  
	  
	  
	  
    </div>