<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Sprinklers
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.8.7. Sprinklers</b></p> <p class="subsection-e"><b>  (1) </b>In a <i>building</i> containing an <i>interconnected floor space</i>, <i>storeys</i>that are wholly or partially within an <i>interconnected floor space</i> and all <i>storeys</i> below an <i>interconnected floor</i> <i>space</i>shall be <i>sprinklered</i>.</p> <p class="subsection-e"><b>  (2) </b>In a <i>building</i> containing an <i>interconnected floor space</i>,</p> <p class="clause-e">  (a) waterflow alarm signals from sprinkler systems shall be transmitted to the fire department in conformance with Sentence 3.2.4.8.(4), and</p> <p class="clause-e">  (b) sprinkler systems shall be electrically supervised as required by Sentence 3.2.4.10.(3).</p> 
	  
      
	  
	  
	  
	  
    </div>