<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Fire Alarm and Detection System
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.8.8. Fire Alarm and Detection System</b></p> <p class="subsection-e"><b>  (1) </b>A <i>building</i> containing an <i>interconnected floor space</i> shall be provided with,</p> <p class="clause-e">  (a) a fire alarm system and electrically supervised annunciator conforming to Subsection 3.2.4.,</p> <p class="clause-e">  (b) a system of <i>smoke detectors</i> located,</p> <p class="subclause-e">  (i) on the ceiling of each <i>storey</i> in the vicinity of the openings through floor assemblies described in Article 3.2.8.3., except within <i>dwelling units</i>, <i>heat detectors</i>may be installed instead of <i>smoke detectors</i>, and</p> <p class="subclause-e">  (ii) as required for the activation of the smoke control system described in Sentences 3.2.8.9.(3), (4), (6) and (7), and</p> <p class="clause-e">  (c) facilities for transmitting a signal to the fire department in conformance with Article 3.2.4.8.</p> 
	  
      
	  
	  
	  
	  
    </div>