<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Emergency Power Supply
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.8.10. Emergency Power Supply</b></p> <p class="subsection-e"><b>  (1) </b>In a <i>building</i> that is more than 18 m in height, measured between <i>grade</i> and the floor level of the top <i>storey</i>, an emergency power supply capable of operating under a full load for at least 2 h shall be provided by an emergency generator or by a separate service not supplied by the same substation as the primary source for fans required for smoke control purposes in Articles 3.2.8.4., 3.2.8.5., 3.2.8.6. and 3.2.8.9.</p> 
	  
      
	  
	  
	  
	  
    </div>