<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Hose Connections
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.9.3. Hose Connections</b></p> <p class="subsection-e"><b>  (1) </b>If a stand<a href ="http://thehandyforce.com/plumbing/" title ="Plubing leak repair in Toronto">pipe</a> system is required in a <i><a href ="http://thehandyforce.com/tiling/" title ="Toronto tile installer">building</a></i>, 38 mm diam hose connections shall be provided in each <i>storey</i>in the <i>building</i>.</p> <p class="subsection-e"><b>  (2) </b>In addition to the requirements in Sentence (1), if a standpipe system is required, 65 mm diam hose connections shall be installed in each <i>storey</i> in the <i>building</i> if the<i>building</i><i>,</i></p> <p class="clause-e">  (a) is more than 25 m high, measured between <i>grade</i> and the ceiling of the top <i>storey</i>, or</p> <p class="clause-e">  (b) has a <i>building area</i> of more than 4 000 m<sup>2</sup>.</p> 
	  
      
	  
	  
	  
	  
    </div>