<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Water Supply for 38 mm Hose Connections
	  </h1>
      <p>
</p><p class="section-e"><b>3.2.9.6. water Supply for 38 mm Hose Connections</b></p> <p class="subsection-e"><b>  (1) </b>If a standpipe and hose system is required, the water supply shall be sufficient to provide a flow, measured at each of the two hydraulically most remote 38 mm diam hose connections,</p> <p class="clause-e">  (a) of not less than 380 L/min,</p> <p class="clause-e">  (b) for not less than 30 min,</p> <p class="clause-e">  (c) at a pressure of not less than 450 kPa, and</p> <p class="clause-e">  (d) of not less than 190 L/min from each of the two outlets simultaneously.</p> 
	  
      
	  
	  
	  
	  
    </div>