<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Hazardous Substances, Equipment and Processes
	  </h1>
      <p>
</p><p class="section-e"><b>3.3.1.2. Hazardous Substances, Equipment and Processes</b></p> <p class="subsection-e"><b>  (1) </b>Except as provided in Subsection 3.3.6., the storage, handling and use of the hazardous substances shall be in conformance with,</p> <p class="clause-e">  (a) the Fire Code made under the <i>Fire Protection and Prevention Act, 1997</i>, or</p> <p class="clause-e">  (b) the CCBFC NRCC 53303, "National Fire Code of Canada", in the absence of regulations referred to in Clause (a).</p> <p class="subsection-e"><b>  (2) </b>Cooking equipment, not within a <i>dwelling unit</i>, used in processes producing grease-laden vapours shall be designed and installed in conformance with Part 6.</p> <p class="subsection-e"><b>  (3) </b>A fuel-fired <i>appliance</i> shall not be installed in a corridor serving as an <i>access to exit</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>