<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Travel Distance
	  </h1>
      <p>
</p><p class="section-e"><b>3.3.1.6. Travel Distance</b></p> <p class="subsection-e"><b>  (1) </b>If more than one egress doorway is required from a room or <i>suite</i> referred to in Article 3.3.1.5., the travel distance within the room or <i>suite</i> to the nearest egress doorway shall not exceed the maximum travel distances specified in Clauses 3.4.2.5.(1)(a), (b), (c) and (f) for <i>exits</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>