<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Ramps and Stairways
	  </h1>
      <p>
</p><p class="section-e"><b>3.3.1.13. Ramps and Stairways</b></p> <p class="subsection-e"><b>  (1) </b>Except as permitted by Sentence (2), Article 3.3.4.7. and Subsection 3.3.2., ramps and stairways that do not serve as <i>exits </i>shall conform to the dimensional, <i>guard</i>, handrail and slip-resistance requirements for <i>exit </i>ramps and stairways of Sentence 3.4.3.2.(7) and Articles 3.4.3.5. and 3.4.6.1. to 3.4.6.9.</p> <p class="subsection-e"><b>  (2) </b>Ramps and stairways that do not conform to the requirements of Sentence (1) and are intended only for occasional use for servicing equipment and machinery are permitted,</p> <p class="clause-e">  (a) to serve <i>service rooms</i> and <i>service spaces,</i> and</p> <p class="clause-e">  (b) in <i>industrial occupancies</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>