<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Curved or Spiral Stairs
	  </h1>
      <p>
</p><p class="section-e"><b>3.3.1.15. Curved or Spiral Stairs</b></p> <p class="subsection-e"><b>  (1) </b>A curved or spiral stair is permitted in a stairway not required as an <i>exit</i> provided the stair has,</p> <p class="clause-e">  (a) treads with,</p> <p class="subclause-e">  (i) a minimum run not less than 150 mm, and</p> <p class="subclause-e">  (ii) an average run not less than 200 mm, and</p> <p class="clause-e">  (b) risers in conformance with Sentence 3.4.6.8.(2).</p> 
	  
      
	  
	  
	  
	  
    </div>