<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Exhaust Ventilation
	  </h1>
      <p>
</p><p class="section-e"><b>3.3.1.19. Exhaust ventilation</b></p> <p class="subsection-e"><b>  (1) </b>An exhaust ventilation system designed in conformance with the appropriate requirements of Part 6 shall be provided in a <i>building</i>or part of a <i>building</i> in which dust, fumes, gases, vapour or other impurities or contaminants have the potential to create a fire or explosion hazard.</p> <p class="subsection-e"><b>  (2) </b>Explosion relief devices, vents or other protective measures conforming to Subsection 6.2.2. shall be provided for a space in which substances or conditions that have the potential to create an explosion hazard are present as a result of the principal use of a <i>building</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>