<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Obstructions
	  </h1>
      <p>
</p><p class="section-e"><b>3.3.1.22. Obstructions</b></p> <p class="subsection-e"><b>  (1) </b>No obstruction shall be permitted in any <i>occupancy</i>that would restrict the width of a normal <i>means of egress</i>from any part of a <i><a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a> area</i> to less than 750 mm unless an unobstructed alternative <i>means of egress</i>is provided adjacent to, accessible from, and plainly visible from the obstructed <i>means of egress</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>