<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Nailing Elements
	  </h1>
      <p>
</p><p class="section-e"><b>3.1.5.6. Nailing Elements</b></p> <p class="subsection-e"><b>  (1) </b><a href ="http://thehandyforce.com/interior/" title ="Handyman Services in Toronto">wood</a> nailing elements attached directly to or set into a continuous <i>noncombustible</i> backing for the attachment of <a href ="http://thehandyforce.com/interior/" title ="Interior Handyman services in Toronto">interior</a> finishes, are permitted in a <i><a href ="http://thehandyforce.com/electrical/" title ="Electricians in East York">building</a></i> required to be of <i>noncombustible construction</i> provided the concealed space created by the <a href ="http://thehandyforce.com/interior/" title ="Handyman Services in Toronto">wood</a> elements is not more than 50 mm thick.</p> 
	  
      
	  
	  
	  
	  
    </div>