<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Nailing Elements
	  </h1>
      <p>
</p><p class="section-e"><b>3.1.5.6. Nailing Elements</b></p> <p class="subsection-e"><b>  (1) </b>wood nailing elements attached directly to or set into a continuous <i>noncombustible</i> backing for the attachment of interior finishes, are permitted in a <i>building</i> required to be of <i>noncombustible construction</i> provided the concealed space created by the wood elements is not more than 50 mm thick.</p> 
	  
      
	  
	  
	  
	  
    </div>