<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Doors
	  </h1>
      <p>
</p><p class="section-e"><b>3.3.2.6. doors</b></p> <p class="subsection-e"><b>  (1) </b>A door equipped with a latching mechanism in an <i>access to exit</i> from a room or <i>suite</i>of <i>assembly occupancy</i> containing an <i>occupant load</i> more than 100 shall be equipped with a device that will release the latch and allow the door to swing wide open when a force not more than that specified in Sentence 3.8.3.3.(7) is applied to the device in the direction of travel to the <i>exit</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>