<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Fixed Bench-Type Seats without Arms
	  </h1>
      <p>
</p><p class="section-e"><b>3.3.2.7. Fixed Bench-Type Seats without Arms</b></p> <p class="subsection-e"><b>  (1) </b>If fixed bench-type seats without arms are provided, the seat width per person shall be assumed to be 450 mm.</p> <p class="subsection-e"><b>  (2) </b>The centre-to-centre spacing between rows of bench-type seats shall be not less than 760 mm if back rests are provided, and not less than 550 mm if back rests are not provided.</p> <p class="subsection-e"><b>  (3) </b>A clear space of not less than 300 mm shall be provided between the back of each seat and the front of the seat immediately behind it.</p> 
	  
      
	  
	  
	  
	  
    </div>