<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Risers for Stairs
	  </h1>
      <p>
</p><p class="section-e"><b>3.3.2.13. Risers for Stairs</b></p> <p class="subsection-e"><b>  (1) </b>In a Group A, Division 2 <i>occupancy</i> used for the serving of food and beverages, an interior flight of stairs with fewer than three risers is permitted provided it,</p> <p class="clause-e">  (a) is not less than 900 mm wide,</p> <p class="clause-e">  (b) is illuminated at all times that occupants are on the premises, and</p> <p class="clause-e">  (c) has a handrail on each side.</p> 
	  
      
	  
	  
	  
	  
    </div>