<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Storage Rooms
	  </h1>
      <p>
</p><p class="section-e"><b>3.3.2.14. Storage Rooms</b></p> <p class="subsection-e"><b>  (1) </b>A room intended for the storage of <i>flammable liquids</i> or <i>combustible liquids</i> required by the Fire Code made under the <i>Fire Protection and Prevention Act, 1997 </i>shall not be located above or below the <i>first storey</i> of the <i>building</i>.</p> <p class="ruleb-e">3.3.3. Care, Care and Treatment or Detention Occupancy</p> 
	  
      
	  
	  
	  
	  
    </div>