<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Combustible Millwork
	  </h1>
      <p>
</p><p class="section-e"><b>3.1.5.7. Combustible Millwork</b></p> <p class="subsection-e">  <b>(1) </b><i>Combustible</i> millwork, including interior trim, doors and door frames, show windows together with their frames, aprons and backing, handrails, shelves, cabinets and counters, is permitted in a <i>building</i> required to be of <i>noncombustible construction</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>