<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Protection for Special Care and Treatment Facilities
	  </h1>
      <p>
</p><p class="section-e"><b>3.3.3.6. Protection for Special Care and Treatment Facilities</b></p> <p class="subsection-e"><b>  (1) </b>Compartments containing rooms such as operating rooms, recovery rooms, delivery rooms, intensive care units and critical care units, from which it is impracticable to move patients in an emergency, shall be,</p> <p class="clause-e">  (a) separated from adjacent spaces by <i>fire separations</i> having a <i>fire-resistance rating</i> not less than 1 h, and</p> <p class="clause-e">  (b) provided with a mechanical air supply so that during a period of 2 h after the start of a fire in another space, the compartments will not contain more than 1% by volume of contaminated air from the fire area.</p> 
	  
      
	  
	  
	  
	  
    </div>