<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Handrails
	  </h1>
      <p>
</p><p class="section-e"><b>3.3.3.8. <a href ="http://thehandyforce.com/services/" title ="East York Handyman">handrail</a>s</b></p> <p class="subsection-e"><b>  (1) </b><a href ="http://thehandyforce.com/interior/" title ="East York home renovator">corridor</a>s and ramps used by residents in a long-term care home shall be equipped with <a href ="http://thehandyforce.com/services/" title ="East York Handyman">handrail</a>s on each side conforming to Sentences 3.4.6.5.(3) to (5) and (9) to (11).</p> <p class="ruleb-e">3.3.4. <a href ="http://thehandyforce.com/insulation/" title ="East York Home Energy Efficiency">residential</a> Occupancy</p> 
	  
      
	  
	  
	  
	  
    </div>