<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Stairs, Ramps, Landings, Handrails and Guards for Dwelling Units
	  </h1>
      <p>
</p><p class="section-e"><b>3.3.4.7. Stairs, Ramps, Landings, handrails and Guards for Dwelling Units</b></p> <p class="subsection-e"><b>  (1) </b>Except as required by Article 3.3.4.8., stairs, ramps, landings, handrails and interior <i>guards</i> within a <i>dwelling unit</i> shall conform to the applicable requirements in Section 9.8.</p> <p class="subsection-e"><b>  (2) </b>Except as provided in Sentence (3), exterior stairs, ramps, landings, handrails and <i>guards</i> serving a single <i>dwelling unit</i> shall conform to the applicable requirements in Section 9.8. and Sentence 3.1.20.1.(1).</p> <p class="subsection-e"><b>  (3) </b>Loads on exterior <i>guards</i> serving a single <i>dwelling unit</i> shall comply with Part 4.</p> 
	  
      
	  
	  
	  
	  
    </div>