<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Combustible Stairs in Dwelling Units
	  </h1>
      <p>
</p><p class="section-e"><b>3.1.5.9. Combustible Stairs in Dwelling Units</b></p> <p class="subsection-e"><b>  (1) </b><i>Combustible</i>stairs are permitted in a <i>dwelling unit</i> in a <i><a href ="http://thehandyforce.com/exterior/" title ="Toronto Exterior Handyman">building</a></i> required to be of <i>noncombustible construction</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>