<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Basements
	  </h1>
      <p>
</p><p class="section-e"><b>3.3.5.3. basements</b></p> <p class="subsection-e"><b>  (1) </b>A <i>basement</i> shall not be used for the storage, manufacture or handling of volatile solids, liquids or gases that generate explosive air-vapour mixtures or for processes that involve explosive dusts.</p> <p class="subsection-e"><b>  (2) </b>Entrances and <i>exits</i> to a <i>basement</i> and to rooms containing <i>building</i>services shall be separate from the remainder of the <i>building</i>in a <i>building</i> in which,</p> <p class="clause-e">  (a) the storage, manufacture or handling of volatile materials can generate explosive air-vapour mixtures, or</p> <p class="clause-e">  (b) processes occur that produce explosive dusts.</p> <p class="subsection-e"><b>  (3) </b><i>Basements</i> and rooms referred to in Sentence (2) shall be separated from the remainder of the <i>building</i> with a vapour-tight separation.</p> 
	  
      
	  
	  
	  
	  
    </div>