<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Repair Garage Separation
	  </h1>
      <p>
</p><p class="section-e"><b>3.3.5.5. Repair garage Separation</b></p> <p class="subsection-e"><b>  (1) </b>A <i>repair garage</i> and any ancillary spaces serving it, including waiting rooms, reception rooms, tool and parts storage areas and supervisory office space, shall be separated from other <i>occupancies</i> by a <i>fire separation</i>having a <i>fire-resistance rating</i> not less than 2 h.</p> 
	  
      
	  
	  
	  
	  
    </div>