<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Toe-Boards Required
	  </h1>
      <p>
</p><p class="section-e"><b>3.3.5.8. Toe-Boards Required</b></p> <p class="subsection-e"><b>  (1) </b>Where tools or other objects could fall from the floor of an upper level to a lower level in a room or space intended for use as a Group F <i>occupancy</i>, the edge of the floor at the upper level shall be provided with a toe-board extending from the floor surface to a height at least 125 mm above the floor surface.</p> <p class="ruleb-e">3.3.6. design of Hazardous Areas</p> 
	  
      
	  
	  
	  
	  
    </div>