<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Application
	  </h1>
      <p>
</p><p class="section-e"><b>3.3.6.1. application</b></p> <p class="subsection-e"><b>  (1) </b>This Subsection applies to design and fire protection requirements for <i>buildings</i> or parts of <i>buildings</i>intended for the storage, handling, use and processing of,</p> <p class="clause-e">  (a)  <i>dangerous goods</i>,</p> <p class="clause-e">  (b) materials that involve a risk of explosion or high flammability, and</p> <p class="clause-e">  (c) materials that are highly reactive.</p> 
	  
      
	  
	  
	  
	  
    </div>