<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Application
	  </h1>
      <p>
</p><p class="section-e"><b>3.3.6.1. <a href ="http://thehandyforce.com/businesses/" title ="Business Services in Toronto">application</a></b></p> <p class="subsection-e"><b>  (1) </b>This Subsection applies to <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a> and fire protection requirements for <i><a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Professional East York Basement Renvator">building</a>s</i> or parts of <i>buildings</i>intended for the storage, handling, use and processing of,</p> <p class="clause-e">  (a)  <i>dangerous goods</i>,</p> <p class="clause-e">  (b) materials that involve a risk of explosion or high flammability, and</p> <p class="clause-e">  (c) materials that are highly reactive.</p> 
	  
      
	  
	  
	  
	  
    </div>