<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Storage of Explosives
	  </h1>
      <p>
</p><p class="section-e"><b>3.3.6.2. Storage of Explosives</b></p> <p class="subsection-e"><b>  <b>(1) </b></b>The design of <i>buildings</i> or parts of <i>buildings</i> intended for the storage of explosives, blasting agents, detonators, propellant explosives, fireworks, pyrotechnics and ammunition shall conform to the <i>Explosives Act </i>(Canada) and the <i>Explosives Regulations</i> made under that Act.</p> 
	  
      
	  
	  
	  
	  
    </div>