<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Flooring Materials
	  </h1>
      <p>
</p><p class="section-e"><b>3.3.6.7. <a href ="http://thehandyforce.com/tiling/" title ="Toronto tile installer">flooring</a>="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">flooring Materials</b></p> <p class="subsection-e"><b>  (1) </b>The <a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a> in an area intended for the storage of <i>dangerous goods</i> shall be constructed of impermeable materials to pre<a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renovation inspiration">vent</a> the absorption of chemicals.</p> 
	  
      
	  
	  
	  
	  
    </div>