<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Fire Separations in Process Plants
	  </h1>
      <p>
</p><p class="section-e"><b>3.3.6.8. Fire Separations in Process Plants</b></p> <p class="subsection-e"><b>  (1) </b>In a <i>process plant</i>, an area intended as a location where <i>unstable liquids</i> are handled or small scale unit chemical processes occur shall be separated from the remainder of the <i>building</i> by a <i>fire separation</i> having a <i>fire-resistance rating</i>of not less than 2 h.</p> 
	  
      
	  
	  
	  
	  
    </div>