<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Basements and Pits
	  </h1>
      <p>
</p><p class="section-e"><b>3.3.6.9. <a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Basement renvator in Toronto">basement</a>s and Pits</b></p> <p class="subsection-e"><b>  (1) </b>A<i> process plant</i> intended as a location where Class I and Class II liquids are handled shall not contain a <i><a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Basement renvator in Toronto">basement</a></i> or a covered pit.</p> <p class="ruleb-e">Section 3.4. Exits</p> <p class="ruleb-e">3.4.1. General</p> 
	  
      
	  
	  
	  
	  
    </div>