<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Separation of Exits
	  </h1>
      <p>
</p><p class="section-e"><b>3.4.1.2. Separation of Exits</b></p> <p class="subsection-e"><b>  (1) </b>Except as permitted by Sentence (2), if more than one <i>exit</i> is required from a <i>floor area</i>, each <i>exit</i> shall be separate from every other <i>exit</i> leading from that <i>floor area</i>.</p> <p class="subsection-e"><b>  (2) </b>If more than two <i>exits</i> are provided from a <i>floor area</i>, <i>exits</i> are permitted to converge in conformance with Sentence 3.4.3.1.(2), provided the cumulative capacity of the converging <i>exits</i> does not contribute more than 50% of the total required <i>exit</i>width for the <i>floor area</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>