<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Exterior Exit Passageways
	  </h1>
      <p>
</p><p class="section-e"><b>3.4.1.5. <a href ="http://thehandyforce.com/exterior/" title ="Certified home renovator">exterior</a> Exit Passageways</b></p> <p class="subsection-e"><b>  (1) </b>Access to an <a href ="http://thehandyforce.com/exterior/" title ="Certified home renovator">exterior</a> <i>exit</i> passageway from a <i><a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a> area</i> shall be through <i>exit</i> <a href ="http://thehandyforce.com/doors/" title ="Toronto Door installer">door</a>s at the <a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a> level.</p> <p class="subsection-e"><b>  (2) </b>Every <a href ="http://thehandyforce.com/exterior/" title ="Certified home renovator">exterior</a> <i>exit</i> passageway that has a drop of more than 500 mm on any side shall have <i>guards</i>on the open sides not less than 1 070 mm high.</p> 
	  
      
	  
	  
	  
	  
    </div>