<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Exterior Exit Passageways
	  </h1>
      <p>
</p><p class="section-e"><b>3.4.1.5. exterior Exit Passageways</b></p> <p class="subsection-e"><b>  (1) </b>Access to an exterior <i>exit</i> passageway from a <i>floor area</i> shall be through <i>exit</i> doors at the floor level.</p> <p class="subsection-e"><b>  (2) </b>Every exterior <i>exit</i> passageway that has a drop of more than 500 mm on any side shall have <i>guards</i>on the open sides not less than 1 070 mm high.</p> 
	  
      
	  
	  
	  
	  
    </div>