<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Gypsum Board
	  </h1>
      <p>
</p><p class="section-e"><b>3.1.5.11. <a href ="http://thehandyforce.com/drywall/" title ="Professional Toronto Handyman">gypsum</a> Board</b></p> <p class="subsection-e"><b>  (1) </b><a href ="http://thehandyforce.com/drywall/" title ="Professional Toronto Handyman">gypsum</a> board with a tightly adhering paper covering not more than 1 mm thick is permitted in a <i><a href ="http://thehandyforce.com/renovations/" title ="Toronto Handyman">building</a> </i>required to be of <i>noncombustible construction </i>provided the <i>flame-spread ratin</i>g of the <a href ="http://thehandyforce.com/tiling/" title ="Professional Tile installer in Toronto">surface</a> is not more than 25.</p> 
	  
      
	  
	  
	  
	  
    </div>