<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Gypsum Board
	  </h1>
      <p>
</p><p class="section-e"><b>3.1.5.11. gypsum Board</b></p> <p class="subsection-e"><b>  (1) </b>gypsum board with a tightly adhering paper covering not more than 1 mm thick is permitted in a <i>building </i>required to be of <i>noncombustible construction </i>provided the <i>flame-spread ratin</i>g of the surface is not more than 25.</p> 
	  
      
	  
	  
	  
	  
    </div>