<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Slide Escapes
	  </h1>
      <p>
</p><p class="section-e"><b>3.4.1.7. Slide Escapes</b></p> <p class="subsection-e"><b>  (1) </b>A slide escape shall not be erected on any <i><a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Basement renvator in Toronto">building</a></i>as a required <i>exit</i>, but is permitted to be provided as an additional egress facility if unusual hazards are foreseen.</p> 
	  
      
	  
	  
	  
	  
    </div>