<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Combustible Glazing in Exits
	  </h1>
      <p>
</p><p class="section-e"><b>3.4.1.10. Combustible Glazing in Exits</b></p> <p class="subsection-e"><b>  (1) </b><i>Combustible</i>glazing is not permitted in <a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a> or <a href ="http://thehandyforce.com/drywall/" title ="Drywall repair and installation in Toronto">ceiling</a> assemblies or in <i>closures</i> used to <i>construct</i> an<i>exit</i> enclosure.</p> 
	  
      
	  
	  
	  
	  
    </div>