<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Exterior Stairway for Long-Term Care Homes
	  </h1>
      <p>
</p><p class="section-e"><b>3.4.1.11. exterior Stairway for Long-Term Care Homes</b></p> <p class="subsection-e"><b>  (1) </b>No open exterior stairway shall serve as a <i>means of egress</i> for residents above the second floor of a long-term care home.</p> <p class="ruleb-e">3.4.2. Number and Location of Exits from floor Areas</p> 
	  
      
	  
	  
	  
	  
    </div>