<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Depth of Frost Penetration
	  </h1>
      <p>
</p><p class="section-e"><b>1.1.2.2. Depth of Frost Penetration</b></p> <p class="subsection-e"><b>  (1) </b>Depth of frost penetration shall be established on the basis of local experience.</p> <p class="ruleb-e"><b>Section 1.2. Reserved</b></p> <p class="ruleb-e">Section 1.3. Referenced Documents and Organizations</p> <p class="ruleb-e">1.3.1. Referenced Documents</p> 
	  
      
	  
	  
	  
	  
    </div>