<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Principal Entrance
	  </h1>
      <p>
</p><p class="section-e"><b>3.4.2.6. Principal Entrance</b></p> <p class="subsection-e"><b>  (1) </b>For the purposes of this Section, at least one <a href ="http://thehandyforce.com/doors/" title ="Toronto Door installer">door</a> at every principal entrance from ground level shall be <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a>ed in accordance with the requirements for <i>exits</i>.</p> <p class="ruleb-e">3.4.3. Width and Height of Exits</p> 
	  
      
	  
	  
	  
	  
    </div>