<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Exit Width Based on Occupant Load
	  </h1>
      <p>
</p><p class="section-e"><b>3.4.3.1. Exit Width Based on Occupant Load</b></p> <p class="subsection-e"><b>  (1) </b>For the purpose of determining the aggregate width of <i>exits</i>, the <i>occupant load</i> of every room or <i>floor area</i> shall be determined in conformance with Subsection 3.1.17.</p> <p class="subsection-e"><b>  (2) </b>Except as permitted by Sentence 3.4.3.2.(4), the required <i>exit</i> width shall be cumulative if two or more <i>exits</i> converge.</p> 
	  
      
	  
	  
	  
	  
    </div>