<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Exterior Passageway Exceptions
	  </h1>
      <p>
</p><p class="section-e"><b>3.4.4.3. exterior Passageway Exceptions</b></p> <p class="subsection-e"><b>  (1) </b>The requirements of Sentences 3.4.4.1.(1) and 3.2.3.13.(1) and (3) do not apply to an exterior <i>exit</i> passageway provided,</p> <p class="clause-e">  (a) not less than 50% of the exterior side is open to the doors, and</p> <p class="clause-e">  (b) an <i>exit</i>stair is provided at each end of the passageway.</p> 
	  
      
	  
	  
	  
	  
    </div>