<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Exterior Passageway Exceptions
	  </h1>
      <p>
</p><p class="section-e"><b>3.4.4.3. <a href ="http://thehandyforce.com/exterior/" title ="Certified home renovator">exterior</a> Passageway Exceptions</b></p> <p class="subsection-e"><b>  (1) </b>The requirements of Sentences 3.4.4.1.(1) and 3.2.3.13.(1) and (3) do not apply to an <a href ="http://thehandyforce.com/exterior/" title ="Certified home renovator">exterior</a> <i>exit</i> passageway provided,</p> <p class="clause-e">  (a) not less than 50% of the <a href ="http://thehandyforce.com/exterior/" title ="Certified home renovator">exterior</a> side is open to the <a href ="http://thehandyforce.com/exterior/" title ="Toronto Exterior Handyman">outdoor</a>ref ="http://thehandyforce.com/doors/" title ="Toronto Door installer">doors, and</p> <p class="clause-e">  (b) an <i>exit</i>stair is provided at each end of the passageway.</p> 
	  
      
	  
	  
	  
	  
    </div>