<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Signs within Exit Facilities
	  </h1>
      <p>
</p><p class="section-e"><b>3.4.5.2. Signs within Exit Facilities</b></p> <p class="subsection-e"><b>  (1) </b>In a <i><a href ="http://thehandyforce.com/tiling/" title ="Professional Tile installer in Toronto">building</a></i> more than 2 <i>storeys</i> in <i>building height</i>, any part of an <i>exit</i> ramp or stair that continues up or down past the lowest <i>exit level</i> shall be clearly marked by a sign indicating that it does not lead to an <i>exit</i>.</p> <p class="subsection-e"><b>  (2) </b>An <i>exit</i> stair serving a <i>building</i> more than 6 <i>storeys</i>in <i>building height</i> shall be clearly marked by signs indicating that it does not lead to an <i>exit</i> at the roof level.</p> <p class="ruleb-e">3.4.6. Types of Exit Facilities</p> 
	  
      
	  
	  
	  
	  
    </div>