<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Ramp Slope
	  </h1>
      <p>
</p><p class="section-e"><b>3.4.6.7. Ramp Slope</b></p> <p class="subsection-e"><b>  (1) </b>Except as required for aisles by Article 3.3.2.4., the maximum slope of a ramp shall be,</p> <p class="clause-e">  (a) 1 in 10 in any <i>assembly</i>, <i>care</i>,<i>care and treatment</i>, <i>detention </i>or <i>residential occupancy</i>,</p> <p class="clause-e">  (b) 1 in 6 in rooms or <i>floor areas</i> classified as <i>mercantile occupancy</i> or <i>industrial occupancy</i>,</p> <p class="clause-e">  (c) 1 in 8 in any other <i>floor area</i>, and</p> <p class="clause-e">  (d) 1 in 10 for an exterior ramp.</p> 
	  
      
	  
	  
	  
	  
    </div>