<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Storage Lockers in Residential Buildings
	  </h1>
      <p>
</p><p class="section-e"><b>3.1.5.14. Storage Lockers in <a href ="http://thehandyforce.com/insulation/" title ="East York Home Energy Efficiency">residential</a> Buildings</b></p> <p class="subsection-e"><b>  (1) </b>Storage lockers in storage rooms are permitted to be constructed of <a href ="http://thehandyforce.com/interior/" title ="Handyman Services in Toronto">wood</a> in a <i><a href ="http://thehandyforce.com/flooring/" title ="Hardwood and engineered flooring installation">building</a></i> of <i><a href ="http://thehandyforce.com/insulation/" title ="East York Home Energy Efficiency">residential</a> occupancy</i> required to be of <i>noncombustible construction</i>.</p> <p class="Pnote-e">Note: On July 1, 2017, Sentence 3.1.5.14.(1) of Division B of the Regulation is amended by adding "Except in a <i>retirement home</i>" at the beginning. (See: O. Reg. 139/17, s. 11)</p> 
	  
      
	  
	  
	  
	  
    </div>