<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Curved Stairs
	  </h1>
      <p>
</p><p class="section-e"><b>3.4.6.9. Curved Stairs</b></p> <p class="subsection-e"><b>  (1) </b>Except as permitted by Sentence (2), tapered treads shall not be used in an <i>exit</i>.</p> <p class="subsection-e"><b>  (2) </b>A curved stair used as an <i>exit</i> shall have,</p> <p class="clause-e">  (a) a handrail on each side,</p> <p class="clause-e">  (b) treads with a minimum run of 240 mm exclusive of nosings,</p> <p class="clause-e">  (c) treads that conform to Article 3.4.6.8. where they are measured 230 mm away from the handrail at the narrow end of the tread, and</p> <p class="clause-e">  (d) an inside radius that is not less than twice the stair width.</p> 
	  
      
	  
	  
	  
	  
    </div>