<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Doors
	  </h1>
      <p>
</p><p class="section-e"><b>3.4.6.11. doors</b></p> <p class="subsection-e"><b>  (1) </b>The distance between a stair riser and the leading edge of a door during its swing shall be not less than 300 mm.</p> <p class="subsection-e"><b>  (2) </b>No <i>exit</i> door shall open directly onto a step except that, if there is danger of blockage from ice or snow, an <i>exit</i> door is permitted to open onto not more than one step which shall be not more than 150 mm high.</p> <p class="subsection-e"><b>  (3) </b><i>Exit</i> doors shall be clearly identifiable.</p> <p class="subsection-e"><b>  (4) </b>No door leaf in an <i>exit</i> doorway with more than one leaf shall be less than 600 mm wide.</p> 
	  
      
	  
	  
	  
	  
    </div>