<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Direction of Door Swing
	  </h1>
      <p>
</p><p class="section-e"><b>3.4.6.12. Direction of door Swing</b></p> <p class="subsection-e"><b>  (1) </b>Except as permitted by Sentences (2) and (3) and Article 3.4.6.14., every <i>exit</i> door shall,</p> <p class="clause-e">  (a) open in the direction of <i>exit</i> travel, and</p> <p class="clause-e">  (b) swing on its vertical axis.</p> <p class="subsection-e"><b>  (2) </b>A door serving a single <i>dwelling unit</i>shall swing on its vertical axis.</p> <p class="subsection-e"><b>  (3) </b>Except in a <i>high hazard industrial occupancy</i>, an <i>exit</i> door need not swing in the direction of <i>exit</i> travel where it serves,</p> <p class="clause-e">  (a) a room, <i>suite</i>or <i>floor area</i> having an <i>occupant load</i> of not more than 60 persons, or</p> <p class="clause-e">  (b) as part of a <i>means of egress</i> from more than one <i>floor area</i> and the <i>floor areas</i> so served have a total <i>occupant load</i> of not more than 60 persons.</p> 
	  
      
	  
	  
	  
	  
    </div>