<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Self-Closing Devices
	  </h1>
      <p>
</p><p class="section-e"><b>3.4.6.13. Self-Closing Devices</b></p> <p class="subsection-e"><b>  (1) </b>An <i>exit</i> door that is normally required to be kept closed,</p> <p class="clause-e">  (a) shall be provided with a self-closing mechanism, and</p> <p class="clause-e">  (b) shall not be secured in an open position except as permitted by Sentence 3.1.8.12.(1).</p> 
	  
      
	  
	  
	  
	  
    </div>