<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Sliding Doors
	  </h1>
      <p>
</p><p class="section-e"><b>3.4.6.14. Sliding doors</b></p> <p class="subsection-e"><b>  (1) </b>Except as permitted by Sentence (2) an <i>exit</i>door leading directly to doors at ground level is permitted to be a sliding door provided it is released in conformance with Sentence 3.3.1.11.(1).</p> <p class="subsection-e"><b>  (2) </b>An <i>exit</i> door serving a Group B, Division 1 <i>occupancy</i>, or an <i>impeded egress zone</i> in other <i>occupancies</i>, is permitted to be a sliding door that does not conform to Sentence 3.3.1.11.(1) provided it is designed to be released in conformance with Article 3.3.1.12.</p> 
	  
      
	  
	  
	  
	  
    </div>