<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Fire Escape Construction
	  </h1>
      <p>
</p><p class="section-e"><b>3.4.7.2. Fire Escape Construction</b></p> <p class="subsection-e"><b>  (1) </b>Fire escapes shall be of metal or concrete, of the stair type extending to ground level, constructed throughout in a strong substantial manner and securely fixed to the <i><a href ="http://thehandyforce.com/exterior/" title ="Exterior ashphalt in Toronto">building</a></i>, except that <a href ="http://thehandyforce.com/interior/" title ="Handyman Services in Toronto">wood</a>en fire escapes are permitted to be used on <i>buildings</i>of <i>combustible construction</i> if all posts and brackets are not less than 89 mm in their least dimension and all other woodwork is not less than 38 mm in its least dimension.</p> 
	  
      
	  
	  
	  
	  
    </div>