<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Access to Fire Escapes
	  </h1>
      <p>
</p><p class="section-e"><b>3.4.7.3. Access to Fire Escapes</b></p> <p class="subsection-e"><b>  (1) </b>Access to fire escapes shall be from corridors through doors at floor level, except that access from a <i>dwelling unit</i> is permitted to be through a casement window having an unobstructed opening not less than 1 100 mm high by 550 mm wide with a sill height of not more than 900 mm above the inside floor.</p> <p class="subsection-e"><b>  (2) </b>The clear area of a fire escape balcony onto which a door opens, shall be not less than 1 m<sup>2</sup>.</p> 
	  
      
	  
	  
	  
	  
    </div>