<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Scope
	  </h1>
      <p>
</p><p class="section-e"><b>3.5.1.1. Scope</b></p> <p class="subsection-e"><b>  (1) </b>This Section applies to vertical transportation facilities installed in a <i>building</i>, including elevators, escalators and dumbwaiters.</p> <p class="subsection-e"><b>  (2) </b>Elevators in a <i>building</i> within the scope of Subsection 3.2.6. shall conform to Articles 3.2.6.4. and 3.2.6.5.</p> <p class="ruleb-e">3.5.2. Elevator Requirements</p> 
	  
      
	  
	  
	  
	  
    </div>