<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Elevator Car Dimensions
	  </h1>
      <p>
</p><p class="section-e"><b>3.5.4.1. Elevator Car Dimensions</b></p> <p class="subsection-e"><b>  (1) </b>If an elevator is installed to conform to the requirements of Article 3.3.1.7., or if one or more elevators are provided in a <i>building</i> more than three <i>storeys</i>in <i>building height</i>, each <i>storey</i>having elevator service shall be served by at least one elevator that has inside dimensions that will accommodate and provide adequate access for a patient stretcher 2 010 mm long and 610 mm wide in the prone position.</p> <p class="subsection-e"><b>  (2) </b>An elevator satisfying the requirements of Sentence (1) shall be clearly identified on the main entrance level of the <i>building</i>.</p> <p class="ruleb-e">Section 3.6. Service Facilities</p> <p class="ruleb-e">3.6.1. General</p> 
	  
      
	  
	  
	  
	  
    </div>