<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Scope
	  </h1>
      <p>
</p><p class="section-e"><b>3.6.1.1. Scope</b></p> <p class="subsection-e"><b>  (1) </b>The provisions of this Section apply to <i>horizontal service spaces</i>, <i>vertical service spaces</i>, <i>attic or roof spaces</i>, ducts, crawl spaces, shaft spaces, <i>service rooms</i>, and mechanical penthouses, and facilities contained in any of them.</p> <p class="subsection-e"><b>  (2) </b>Except for <i>plenum</i> requirements in 3.6.4.3., the fire safety characteristics of heating, ventilating and <i>air-conditioning</i> systems shall comply with Part 6.</p> 
	  
      
	  
	  
	  
	  
    </div>