<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Storage Use Prohibition
	  </h1>
      <p>
</p><p class="section-e"><b>3.6.1.3. Storage Use Prohibition</b></p> <p class="subsection-e"><b>  (1) </b><i><a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">service</a> spaces</i>shall not be <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a>ed to facilitate subsequent use as storage space.</p> 
	  
      
	  
	  
	  
	  
    </div>