<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Combustible Plumbing Fixtures
	  </h1>
      <p>
</p><p class="section-e"><b>3.1.5.17. Combustible Plumbing Fixtures</b></p> <p class="subsection-e"><b>  (1) </b><i>Combustible plumbing fixtures</i> are permitted in a <i><a href ="http://thehandyforce.com/renovations/" title ="Attic renovations in Toronto">building</a></i> required to be of <i>noncombustible construction</i> if they are constructed of material having a <i>flame-spread rating</i>and smoke developed classification permitted in Subsection 3.1.13.</p> 
	  
      
	  
	  
	  
	  
    </div>