<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Fixed Access Ladders
	  </h1>
      <p>
</p><p class="section-e"><b>3.6.1.5. Fixed Access Ladders</b></p> <p class="subsection-e"><b>  (1) </b>If a fixed ladder is installed to provide access to a roof of a <i><a href ="http://thehandyforce.com/electrical/" title ="Electrician in East York">building</a></i>, the <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a> and <a href ="http://thehandyforce.com/insulation/" title ="Sprayfoam insulation in Toronto">installation</a> of the attachment and anchorage system for the ladder shall be as described in MMAH Supplementary Standard SB-8, "<a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a>, Construction and <a href ="http://thehandyforce.com/insulation/" title ="Sprayfoam insulation in Toronto">installation</a> of Anchorage System for Fixed Access Ladders".</p> <p class="ruleb-e">3.6.2. <a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">service</a> Rooms</p> 
	  
      
	  
	  
	  
	  
    </div>