<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Service Equipment
	  </h1>
      <p>
</p><p class="section-e"><b>3.6.2.3. <a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">service</a> Equipment</b></p> <p class="subsection-e"><b>  (1) </b>A <i><a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">service</a> room</i> containing space heating, space cooling and <a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">service</a> water heating <i>appliances</i>is permitted to contain other <a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">service</a> equipment such as electrical <a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">service</a> equipment.</p> 
	  
      
	  
	  
	  
	  
    </div>