<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Combustible Refuse Storage
	  </h1>
      <p>
</p><p class="section-e"><b>3.6.2.5. Combustible Refuse Storage</b></p> <p class="subsection-e"><b>  (1) </b>Except as required by Sentence 3.6.3.3.(9), a room for the storage of <i>combustible</i> refuse shall be,</p> <p class="clause-e">  (a) separated from the remainder of the <i>building</i> by a <i>fire separation</i> with a <i>fire-resistance rating</i> not less than 1 h, and</p> <p class="clause-e">  (b)<i>  sprinklered</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>