<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Door Swing for Service Rooms
	  </h1>
      <p>
</p><p class="section-e"><b>3.6.2.6. <a href ="http://thehandyforce.com/doors/" title ="Toronto Door installer">door</a> Swing for <a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">service</a> Rooms</b></p> <p class="subsection-e"><b>  (1) </b>A swing-type <a href ="http://thehandyforce.com/doors/" title ="Toronto Door installer">door</a> from a <i><a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">service</a> room</i>containing a <i>boiler</i> or incinerator shall swing outward from the room, except that the <a href ="http://thehandyforce.com/doors/" title ="Toronto Door installer">door</a> shall swing inward if the <a href ="http://thehandyforce.com/doors/" title ="Toronto Door installer">door</a> opens onto a <a href ="http://thehandyforce.com/interior/" title ="East York home renovator">corridor</a> or any room used for an <i>assembly occupancy</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>