<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Door Swing for Service Rooms
	  </h1>
      <p>
</p><p class="section-e"><b>3.6.2.6. door Swing for service Rooms</b></p> <p class="subsection-e"><b>  (1) </b>A swing-type door from a <i>service room</i>containing a <i>boiler</i> or incinerator shall swing outward from the room, except that the door shall swing inward if the door opens onto a corridor or any room used for an <i>assembly occupancy</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>