<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Emergency Power Installations
	  </h1>
      <p>
</p><p class="section-e"><b>3.6.2.8. Emergency Power installations</b></p> <p class="subsection-e"><b>  (1) </b>Where a generator intended to supply emergency power for lighting, fire safety and life safety systems is located in a <i>building</i>, it shall be located in a room that,</p> <p class="clause-e">  (a) is separated from the remainder of the <i>building </i>by a <i>fire separation </i>with a <i>fire-resistance rating </i>not less than,</p> <p class="subclause-e">  (i) 2 h for <i>buildings</i> within the scope of Subsection 3.2.6., and</p> <p class="subclause-e">  (ii) 1 h for other <i>buildings</i>, and</p> <p class="clause-e">  (b) contains only the generating set and equipment that is related to the emergency power supply system.</p> 
	  
      
	  
	  
	  
	  
    </div>