<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Foamed Plastic Protection
	  </h1>
      <p>
</p><p class="section-e"><b>3.6.3.2. Foamed Plastic Protection</b></p> <p class="subsection-e"><b>  (1) </b>Foamed plastic <a href ="http://thehandyforce.com/insulation/" title ="Toronto basement insulation">insulation</a>http://thehandyforce.com/insulation/" title ="Toronto home insulation">insulation in a <i>vertical <a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">service</a> space</i> shall be <a href ="http://thehandyforce.com/guarantee/" title ="Guaranteed Handymand and Renovation Services">protected</a> in conformance with Article 3.1.5.12.</p> 
	  
      
	  
	  
	  
	  
    </div>