<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Exhaust Duct Negative Pressure
	  </h1>
      <p>
</p><p class="section-e"><b>3.6.3.4. Exhaust Duct Negative <a href ="http://thehandyforce.com/plumbing/" title ="Increase water pressure with a Toronto Plumber">pressure</a></b></p> <p class="subsection-e"><b>  (1) </b>If a <i>vertical <a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">service</a> space</i> contains an <i>exhaust duct</i> that serves more than one <i>fire compartment</i>, the duct shall have a fan located at or near the exhaust <a href ="http://thehandyforce.com/electrical/" title ="Handyman electrial">outlet</a> to ensure that the duct is under negative <a href ="http://thehandyforce.com/plumbing/" title ="Increase water pressure with a Toronto Plumber">pressure</a>.</p> <p class="ruleb-e">3.6.4. Horizontal <a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">service</a> Spaces and <a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">service</a> Facilities</p> 
	  
      
	  
	  
	  
	  
    </div>