<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Exhaust Duct Negative Pressure
	  </h1>
      <p>
</p><p class="section-e"><b>3.6.3.4. Exhaust Duct Negative pressure</b></p> <p class="subsection-e"><b>  (1) </b>If a <i>vertical service space</i> contains an <i>exhaust duct</i> that serves more than one <i>fire compartment</i>, the duct shall have a fan located at or near the exhaust outlet to ensure that the duct is under negative pressure.</p> <p class="ruleb-e">3.6.4. Horizontal service Spaces and service Facilities</p> 
	  
      
	  
	  
	  
	  
    </div>