<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Scope
	  </h1>
      <p>
</p><p class="section-e"><b>3.6.4.1. Scope</b></p> <p class="subsection-e"><b>  (1) </b>This Subsection applies to <i>horizontal <a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">service</a> spaces</i> and <a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">service</a> facilities, including <a href ="http://thehandyforce.com/drywall/" title ="Drywall repair and installation in Toronto">ceiling</a> spaces, duct spaces, crawl spaces and <i><a href ="http://thehandyforce.com/renovations/" title ="Attic renovations in Toronto">attic</a> or roof spaces</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>