<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Attic or Roof Space Access
	  </h1>
      <p>
</p><p class="section-e"><b>3.6.4.4. <a href ="http://thehandyforce.com/renovations/" title ="Attic renovations in Toronto">attic</a> or Roof Space Access</b></p> <p class="subsection-e"><b>  (1) </b>An <i><a href ="http://thehandyforce.com/renovations/" title ="Attic renovations in Toronto">attic</a> or roof space</i> more than 600 mm high shall be provided with access from the <a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a> immediately below by a hatchway not less than 550 mm by 900 mm or by a stairway.</p> 
	  
      
	  
	  
	  
	  
    </div>