<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Horizontal Service Space Access
	  </h1>
      <p>
</p><p class="section-e"><b>3.6.4.5. Horizontal <a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">service</a> Space Access</b></p> <p class="subsection-e"><b>  (1) </b>A <i>horizontal <a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">service</a> space</i>, consisting of <a href ="http://thehandyforce.com/drywall/" title ="Drywall repair and installation in Toronto">ceiling</a> and duct spaces, that is more than 1 200 mm high and 600 mm wide shall have inspection <a href ="http://thehandyforce.com/doors/" title ="Toronto Door installer">door</a>s not less than 300 mm in both horizontal and vertical dimensions placed so that the entire <a href ="http://thehandyforce.com/interior/" title ="Interior Handyman services in Toronto">interior</a> of the duct or space can be viewed.</p> 
	  
      
	  
	  
	  
	  
    </div>