<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Horizontal Service Space Access
	  </h1>
      <p>
</p><p class="section-e"><b>3.6.4.5. Horizontal service Space Access</b></p> <p class="subsection-e"><b>  (1) </b>A <i>horizontal service space</i>, consisting of ceiling and duct spaces, that is more than 1 200 mm high and 600 mm wide shall have inspection doors not less than 300 mm in both horizontal and vertical dimensions placed so that the entire interior of the duct or space can be viewed.</p> 
	  
      
	  
	  
	  
	  
    </div>