<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Combustible Travelling Cables for Elevators
	  </h1>
      <p>
</p><p class="section-e"><b>3.1.5.19. Combustible Travelling Cables for Elevators</b></p> <p class="subsection-e"><b>  (1) </b><i>Combustible</i>travelling cables are permitted on elevating devices in a <i><a href ="http://thehandyforce.com/home-renovations-north-york/" title ="Brick repair in Toronto Handyman">building</a></i>required to be of <i>noncombustible construction</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>