<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Room and Space Height
	  </h1>
      <p>
</p><p class="section-e"><b>3.7.1.1. Room and Space Height</b></p> <p class="subsection-e"><b>  (1) </b>The height of every room and space shall be sufficient so that the ceiling or ceiling fixtures do not obstruct movement or activities below.</p> <p class="subsection-e"><b>  (2) </b>The unobstructed height in <i>dwelling units</i>and sleeping rooms in Group C <i>occupancies</i> shall conform to Subsection 9.5.3.</p> 
	  
      
	  
	  
	  
	  
    </div>