<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Residential Room Dimensions
	  </h1>
      <p>
</p><p class="section-e"><b>3.7.1.2. <a href ="http://thehandyforce.com/insulation/" title ="East York Home Energy Efficiency">residential</a> Room Dimensions</b></p> <p class="subsection-e"><b>  (1) </b>The areas of rooms in <i>dwelling units</i>, dormitories, boarding <a href ="http://thehandyforce.com/exterior/" title ="East York Handy Man">house</a>s and rooming <a href ="http://thehandyforce.com/exterior/" title ="East York Handy Man">house</a>s shall conform to Part 9.</p> 
	  
      
	  
	  
	  
	  
    </div>