<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Sleeping Areas in Camps
	  </h1>
      <p>
</p><p class="section-e"><b>3.7.1.4. Sleeping Areas in Camps</b></p> <p class="subsection-e"><b>  (1) </b><i>Recreational camps</i> shall have an area in the sleeping quarters of not less than 3.72 m<sup>2</sup>per camper or, if double or triple tier bunk units are used, 2.79 m<sup>2</sup>per camper.</p> <p class="subsection-e"><b>  (2) </b>A <i>camp for housing of workers</i> shall have an area of not less than 3.72 m<sup>2</sup> per employee in every room used for sleeping purposes.</p> <p class="ruleb-e">3.7.2. windows</p> 
	  
      
	  
	  
	  
	  
    </div>