<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Plumbing Facilities for Dwelling Units
	  </h1>
      <p>
</p><p class="section-e"><b>3.7.4.5. Plumbing Facilities for Dwelling Units</b></p> <p class="subsection-e"><b>  (1) </b>A <i>dwelling unit</i> where a <a href ="http://thehandyforce.com/plumbing/" title ="Plubing leak repair in Toronto">pipe</a>d <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> supply is available shall be provided with a,</p> <p class="clause-e">  (a) kitchen sink,</p> <p class="clause-e">  (b) lavatory,</p> <p class="clause-e">  (c) <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> closet or drainless composting <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> closet, and</p> <p class="clause-e">  (d) bathtub or <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Quality Bathroom Renovator in Toronto">shower</a> stall.</p> 
	  
      
	  
	  
	  
	  
    </div>