<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Plumbing Facilities for Dwelling Units
	  </h1>
      <p>
</p><p class="section-e"><b>3.7.4.5. Plumbing Facilities for Dwelling Units</b></p> <p class="subsection-e"><b>  (1) </b>A <i>dwelling unit</i> where a piped water supply is available shall be provided with a,</p> <p class="clause-e">  (a) kitchen sink,</p> <p class="clause-e">  (b) lavatory,</p> <p class="clause-e">  (c) water closet or drainless composting water closet, and</p> <p class="clause-e">  (d) bathtub or shower stall.</p> 
	  
      
	  
	  
	  
	  
    </div>