<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Surface Protection
	  </h1>
      <p>
</p><p class="section-e"><b>3.7.4.12. surface Protection</b></p> <p class="subsection-e"><b>  (1) </b>wall and floor surfaces below the uppermost surfaces of urinals shall be protected from deterioration by impervious and durable material for a distance from the urinal to a point not less than 900 mm from the projected outline of the urinal on to the wall or floor.</p> <p class="subsection-e"><b>  (2) </b>floor surfaces around a water closet shall be protected from deterioration by impervious and durable material for a distance not less than 900 mm from the projected outline of the water closet on to the floor.</p> 
	  
      
	  
	  
	  
	  
    </div>