<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Floor Drains
	  </h1>
      <p>
</p><p class="section-e"><b>3.7.4.13. <a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a> Drains</b></p> <p class="subsection-e"><b>  (1) </b>A <a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a> drain shall be installed in a <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Handyman Bathroom Toronto">washroom</a> for <i>public use</i> that contains a <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renovation ideas">urinal</a> or a <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> closet equipped with an automatic <a href ="http://thehandyforce.com/plumbing/" title ="Toilet replacement in Toronto">flush</a>ing device.</p> 
	  
      
	  
	  
	  
	  
    </div>