<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Grab Bar Installation
	  </h1>
      <p>
</p><p class="section-e"><b>3.7.4.14. <a href ="http://thehandyforce.com/handyman/" title ="Best Handyman in Toronto">grab</a> Bar <a href ="http://thehandyforce.com/insulation/" title ="Sprayfoam insulation in Toronto">installation</a></b></p> <p class="subsection-e"><b>  (1) </b><a href ="http://thehandyforce.com/handyman/" title ="Best Handyman in Toronto">grab</a> bars that are installed shall resist a minimum load of 1.3 kN applied vertically or horizontally.</p> 
	  
      
	  
	  
	  
	  
    </div>