<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Clearances for Water Closets
	  </h1>
      <p>
</p><p class="section-e"><b>3.7.4.15. Clearances for <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> Closets</b></p> <p class="subsection-e">  <b>(1) </b>Except in a <i>dwelling unit</i>and except as required by Section 3.8., a minimum clearance of 380 mm shall be provided in front of a <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> closet.</p> 
	  
      
	  
	  
	  
	  
    </div>