<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Privacy
	  </h1>
      <p>
</p><p class="section-e"><b>3.7.4.16. Privacy</b></p> <p class="subsection-e"><b>  (1) </b>If a room contains not more than 1 water closet, the doorway to the room shall be provided with a full height door that is capable of being locked from the inside.</p> <p class="subsection-e"><b>  (2) </b>Except in a room for <i>private use</i>, water closets, urinals, lavatories, showers and bathtubs shall not be visible from the entrance to the room where it contains at least,</p> <p class="clause-e">  (a) two water closets,</p> <p class="clause-e">  (b) one water closet and one urinal,</p> <p class="clause-e">  (c) one shower stall, or</p> <p class="clause-e">  (d) one bathtub.</p> 
	  
      
	  
	  
	  
	  
    </div>