<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Water Temperature Control
	  </h1>
      <p>
</p><p class="section-e"><b>3.7.4.17. <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> <a href ="http://thehandyforce.com/insulation/" title ="Instulation Installtion in Toronto">temperature</a> Control</b></p> <p class="subsection-e"><b>  (1) </b>A <i><a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> distribution system</i> supplying hot <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> to <i>plumbing fixtures</i> shall conform to the requirements in Subsection 7.6.5.</p> 
	  
      
	  
	  
	  
	  
    </div>