<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Drinking Water
	  </h1>
      <p>
</p><p class="section-e"><b>3.7.4.18. Drinking <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a></b></p> <p class="subsection-e"><b>  (1) </b>On every <a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a> where work will be performed and within 100 m of any area where work will be performed, <i>potable</i> <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> shall be provided from,</p> <p class="clause-e">  (a) a fountain with an upward jet,</p> <p class="clause-e">  (b) a tap from a <a href ="http://thehandyforce.com/plumbing/" title ="Plubing leak repair in Toronto">pipe</a>d <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> supply, or</p> <p class="clause-e">  (c) a tap from a covered vessel.</p> 
	  
      
	  
	  
	  
	  
    </div>