<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Shielding of X-Ray Equipment
	  </h1>
      <p>
</p><p class="section-e"><b>3.7.5.3. Shielding of X-Ray Equipment</b></p> <p class="subsection-e"><b>  (1) </b>Every <a href ="http://thehandyforce.com/insulation/" title ="Sprayfoam insulation in Toronto">installation</a> of an <i>x-ray machine</i>or of <i>x-ray equipment</i> in a <i><a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">building</a></i>shall be shielded to protect any person who could be exposed to radiation inside and outside the <i>building</i>.</p> <p class="ruleb-e">3.7.6. Food Premises</p> 
	  
      
	  
	  
	  
	  
    </div>