<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Room Finishes
	  </h1>
      <p>
</p><p class="section-e"><b>3.7.6.2. Room Finishes</b></p> <p class="subsection-e"><b>  (1) </b>Except as provided in Sentence (2), floors and floor coverings shall be tight, smooth and non-absorbent in rooms where,</p> <p class="clause-e">  (a) food or drink for human consumption, or an ingredient of food or drink for human consumption, is manufactured, processed, prepared, stored, displayed, handled, served, distributed, sold or offered for sale,</p> <p class="clause-e">  (b) utensils are washed, or</p> <p class="clause-e">  (c) washing <i>fixtures</i>or toilet <i>fixtures</i> are located.</p> <p class="subsection-e"><b>  (2) </b>Carpeting may be used in areas where food is served.</p> <p class="subsection-e"><b>  (3) </b>wall and ceiling finishes of rooms and passageways shall be easy to clean.</p> 
	  
      
	  
	  
	  
	  
    </div>