<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Combustible Components in Public Pools and Public Spas
	  </h1>
      <p>
</p><p class="section-e"><b>3.1.5.22. Combustible Components in Public Pools and Public Spas</b></p> <p class="subsection-e"><b>  (1) </b><i>Combustible</i>fittings and components in a <i>public pool</i> or <i>public spa</i>, including main drains, piping, skimmers, return inlets, steps, ladder rungs and liners, are permitted in a <i>building</i> required to be of <i>noncombustible construction</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>