<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Hot and Cold Water Supply
	  </h1>
      <p>
</p><p class="section-e"><b>3.7.6.5. Hot and Cold water Supply</b></p> <p class="subsection-e"><b>  (1) </b>A hot and cold water supply shall be provided to,</p> <p class="clause-e">  (a) every <i>plumbing appliance</i> and <i>fixture</i> required by Article 3.7.6.4.,</p> <p class="clause-e">  (b) every area where food or drink for human consumption, or an ingredient of food or drink for human consumption, is manufactured, processed or prepared, and</p> <p class="clause-e">  (c) every area where utensils are washed.</p> <p class="subsection-e"><b>  (2) </b>This Article does not apply to a retail <i>food premises</i> described in Sentence 3.7.6.4.(3).</p> 
	  
      
	  
	  
	  
	  
    </div>