<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Employee Facilities
	  </h1>
      <p>
</p><p class="section-e"><b>3.7.6.6. Employee Facilities</b></p> <p class="subsection-e"><b>  (1) </b>In a <i>food premises</i>, where dressing rooms are provided for employees, there shall be separate dressing rooms for males and females that,</p> <p class="clause-e">  (a) are large enough for the employees to change and store their clothing, and</p> <p class="clause-e">  (b) are equipped with lockers or other facilities suitable for storing the clothing of the employees.</p> <p class="subsection-e"><b>  (2) </b>Every room containing <i><a href ="http://thehandyforce.com/plumbing/" title ="East York Plumbing Repairs">sanitary</a> units</i> for employees shall have a <a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a> area not less than 2.3 m<sup>2</sup>.</p> 
	  
      
	  
	  
	  
	  
    </div>