<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Sleeping Quarters
	  </h1>
      <p>
</p><p class="section-e"><b>3.7.6.7. Sleeping Quarters</b></p> <p class="subsection-e"><b>  (1) </b>A room or space intended to be used as sleeping quarters shall not open directly into any room where food or drink for human consumption, or an ingredient of food or drink for human consumption, is manufactured, processed, prepared, stored, displayed, handled, served, distributed, sold or offered for sale.</p> <p class="ruleb-e">Section 3.8. Barrier-Free design</p> <p class="ruleb-e">3.8.1. General</p> 
	  
      
	  
	  
	  
	  
    </div>