<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Combustible Mezzanines
	  </h1>
      <p>
</p><p class="section-e"><b>3.1.5.24. Combustible Mezzanines</b></p> <p class="subsection-e"><b>  (1) </b>In a <i>building</i> required to be of <i>noncombustible construction</i>, a <i>mezzanine</i>located within a <i>live/work unit</i> is permitted to be of <i>combustible construction</i>, provided the area of the <i>mezzanine</i> is not more than 25% of the <i>floor area</i> of the <i>live/work unit</i>or 20 m<sup>2</sup>, whichever is less, and has no obstructions more than 1 070 mm above the floor.</p> 
	  
      
	  
	  
	  
	  
    </div>