<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Assistive Listening Devices
	  </h1>
      <p>
</p><p class="section-e"><b>3.8.3.7. Assistive Listening Devices</b></p> <p class="subsection-e"><b>  (1) </b>In <i><a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">building</a>s</i> of <i>assembly occupancy</i>, all classrooms, auditoria, meeting rooms and <i>theatres</i> with an area of more than 100 m<sup>2</sup> and an<i> occupant load</i> of more than 75 shall be equipped with assistive listening systems encompassing the entire seating area.</p> 
	  
      
	  
	  
	  
	  
    </div>