<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Water Closets
	  </h1>
      <p>
</p><p class="section-e"><b>3.8.3.9. water Closets</b></p> <p class="subsection-e"><b>  (1) </b>A water closet described in Clause 3.8.3.8.(1)(c) or (10)(c) or 3.8.3.12.(1)(d) shall,</p> <p class="clause-e">  (a) be equipped with a seat located at not less than 430 mm and not more than 485 mm above the finished floor,</p> <p class="clause-e">  (b) be equipped with hand-operated flushing controls that are easily accessible to a wheelchair user or be automatically operable,</p> <p class="clause-e">  (c) be equipped with a back support where there is no seat lid or tank, and</p> <p class="clause-e">  (d) not have a spring-activated seat.</p> <p class="subsection-e">  <b>(2) </b>Hand-operated flushing controls required by Clause (1)(b) shall be operable using a closed fist and with a force of not more than 22.2 N.</p> 
	  
      
	  
	  
	  
	  
    </div>