<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Wood Decorative Cladding
	  </h1>
      <p>
</p><p class="section-e"><b>3.1.5.25. wood Decorative Cladding</b></p> <p class="subsection-e"><b>  (1) </b>wood decorative cladding is permitted to be used on exterior <i>marquee</i> fascias, of a <i>storey </i>having direct access to a <i>street </i>or access route, of a <i>building </i>required to be of <i>noncombustible construction</i>, provided the cladding is <i>fire-retardant treated wood </i>that, before testing to CAN/ulc-S102, "Test for surface Burning Characteristics of Building Materials and Assemblies", has been conditioned in conformance with ASTM D2898, "Accelerated Weathering of Fire-Retardant-Treated Wood for Fire Testing".</p> 
	  
      
	  
	  
	  
	  
    </div>