<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Platforms
	  </h1>
      <p>
</p><p class="section-e"><b>3.8.3.17. Platforms</b></p> <p class="subsection-e">  <b>(1) </b>A tactile attention indicator conforming to Article 3.8.3.18. shall be installed along any edge of a platform that is,</p> <p class="clause-e">  (a) not protected by a <i>guard</i>, and</p> <p class="clause-e">  (b) higher than 250 mm above the finished floor or ground or sloped steeper than 1 in 3.</p> <p class="subsection-e">  <b>(2) </b>Sentence (1) does not apply to the front edges of <i>stages</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>