<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Tactile Attention Indicators
	  </h1>
      <p>
</p><p class="section-e"><b>3.8.3.18. Tactile Attention Indicators</b></p> <p class="subsection-e">  <b>(1) </b>Where a tactile attention indicator is required, it shall conform to Sentence (2) and Clauses 4.1.1. and  4.1.2. of  ISO 23599, "Assistive Products for Blind and Vision-Impaired Persons – Tactile Walking surface Indicators".</p> <p class="subsection-e">  <b>(2) </b>The depth of the tactile attention indicator shall be not less than 300 mm and not more than 610 mm.</p> <p class="ruleb-e">Section 3.9. Portable Classrooms</p> <p class="ruleb-e">3.9.1. Scope</p> 
	  
      
	  
	  
	  
	  
    </div>