<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Flame-Spread Ratings
	  </h1>
      <p>
</p><p class="section-e"><b>3.9.2.1. Flame-Spread Ratings</b></p> <p class="subsection-e"><b>  (1) </b><a href ="http://thehandyforce.com/interior/" title ="Interior Handyman services in Toronto">interior</a> finish material used on a <a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a> or <a href ="http://thehandyforce.com/drywall/" title ="Drywall repair and installation in Toronto">ceiling</a> of a portable classroom shall have a <i>flame-spread rating</i> of 150 or less.</p> <p class="ruleb-e">3.9.3. <a href ="http://thehandyforce.com/businesses/" title ="Business Services in Toronto">application</a></p> 
	  
      
	  
	  
	  
	  
    </div>