<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Provisions for Firefighting
	  </h1>
      <p>
</p><p class="section-e"><b>3.9.3.4. Provisions for Firefighting</b></p> <p class="subsection-e"><b>  (1) </b>The requirements in Articles 3.2.2.10. and 3.2.5.1. to 3.2.5.7. need not be provided where there are not more than 12 portable classrooms on a site and where,</p> <p class="clause-e">  (a) the distance between portable classrooms is 6 m or more,</p> <p class="clause-e">  (b) the distance between portable classrooms is less than 6 m and the requirements of Subsection 3.2.3. are applied between the classrooms, or</p> <p class="clause-e">  (c) the portable classrooms are in groups conforming with either Clause 3.9.3.2.(2)(a) or (b).</p> 
	  
      
	  
	  
	  
	  
    </div>