<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Combustible Solar Collector Systems
	  </h1>
      <p>
</p><p class="section-e"><b>3.1.5.26. Combustible Solar Collector Systems</b></p> <p class="subsection-e">  <b>(1) </b>A <i>combustible</i> solar collector system is permitted to be installed above the roof of a <i>building</i> required to be of <i>noncombustible construction</i>.</p> <p class="ruleb-e">3.1.6. Reserved</p> <p class="ruleb-e">3.1.7. Fire-Resistance Ratings</p> 
	  
      
	  
	  
	  
	  
    </div>