<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Washroom Facilities
	  </h1>
      <p>
</p><p class="section-e"><b>3.9.3.8. washroom Facilities</b></p> <p class="subsection-e"><b>  (1) </b>washroom facilities need not be provided in a portable classroom where the facilities in the main school <i>building</i>comply with the requirements of Subsection 3.7.4. for the total <i>occupant load</i> of the main school <i>building</i>and the portable classrooms.</p> 
	  
      
	  
	  
	  
	  
    </div>