<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Barrier-Free Access
	  </h1>
      <p>
</p><p class="section-e"><b>3.9.3.9. Barrier-Free Access</b></p> <p class="subsection-e"><b>  (1) </b>The requirements of Section 3.8. for <i>barrier-free</i>access need not be provided for a portable classroom provided that the main school <i><a href ="http://thehandyforce.com/plumbing/" title ="Increase water pressure with a Toronto Plumber">building</a></i> complies with the requirements of Section 3.8.</p> <p class="ruleb-e">Section 3.10. Self-<a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">service</a> Storage Buildings</p> <p class="ruleb-e">3.10.1. Scope</p> 
	  
      
	  
	  
	  
	  
    </div>