<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Application
	  </h1>
      <p>
</p><p class="section-e"><b>3.10.1.1. <a href ="http://thehandyforce.com/businesses/" title ="Business Services in Toronto">application</a></b></p> <p class="subsection-e"><b>  (1) </b>Except as provided in this Section, the requirements in this Division apply to <i>self-<a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">service</a> storage <a href ="http://thehandyforce.com/interlock/" title ="Interlock Brick Layer in Toronto">building</a>s</i>.</p> <p class="ruleb-e">3.10.2. Requirements for All Buildings</p> 
	  
      
	  
	  
	  
	  
    </div>