<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Occupancy Classification
	  </h1>
      <p>
</p><p class="section-e"><b>3.10.2.1. Occupancy Classification</b></p> <p class="subsection-e"><b>  (1) </b>A <i>self-service storage building</i>,</p> <p class="clause-e">  (a) shall comply with the requirements for a Group F, Division 2 <i>major occupancy</i>, and</p> <p class="clause-e">  (b) shall not contain a Group F, Division 1 <i>occupancy</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>