<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Structural Fire Protection
	  </h1>
      <p>
</p><p class="section-e"><b>3.10.2.3. Structural Fire Protection</b></p> <p class="subsection-e"><b>  (1) </b>Except as provided in Sentence (2) and Sentence 3.10.4.2.(1), the requirements in Subsections 3.2.1. and 3.2.2. shall apply.</p> <p class="subsection-e"><b>  (2) </b>The <i>first storey</i> shall be subdivided into areas not more than 500 m<sup>2</sup> by a masonry or reinforced concrete <i>fire separation</i> having a <i>fire-resistance rating</i> not less than 1 h, or it shall be <i>sprinklered</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>