<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Exit Requirements
	  </h1>
      <p>
</p><p class="section-e"><b>3.10.2.5. Exit Requirements</b></p> <p class="subsection-e"><b>  (1) </b>Except as provided in Sentences (2) and (3), the requirements in Section 3.4. shall apply.</p> <p class="subsection-e"><b>  (2) </b>The clear width of an <i>exit</i> stair shall be not less than 1 100 mm.</p> <p class="subsection-e"><b>  (3) </b><i>Exit</i> <a href ="http://thehandyforce.com/doors/" title ="Toronto Door installer">door</a>s from rental spaces are not required to swing on a vertical axis provided,</p> <p class="clause-e">  (a) the area of the rental space is not more than 50 m<sup>2</sup>, and</p> <p class="clause-e">  (b) the travel distance within the rental space is not more than 10 m.</p> 
	  
      
	  
	  
	  
	  
    </div>