<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Determination of Ratings
	  </h1>
      <p>
</p><p class="section-e"><b>3.1.7.1. Determination of Ratings</b></p> <p class="subsection-e"><b>  (1) </b>Except as permitted by Sentence (2) and Article 3.1.7.2., the rating of a material, assembly of materials or a structural member that is required to have a<i> fire-resistance rating</i>, shall be determined on the basis of the results of tests conducted in conformance with CAN/ulc-S101, "Fire Endurance Tests of building Construction and Materials".</p> <p class="subsection-e"><b>  (2) </b>A material, assembly of materials or a structural member is permitted to be assigned a <i>fire-resistance rating</i>on the basis of MMAH Supplementary Standard SB-2, "Fire Performance Ratings".</p> 
	  
      
	  
	  
	  
	  
    </div>