<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Service Facilities
	  </h1>
      <p>
</p><p class="section-e"><b>3.10.2.6. service Facilities</b></p> <p class="subsection-e"><b>  (1) </b>Except as provided in Sentence (2), the requirements in Section 3.6. shall apply.</p> <p class="subsection-e"><b>  (2) </b>Except where located in and serving only the <i>dwelling units</i>, a fuel-fired <i>appliance</i> shall be located in a <i>service room</i> separated from the remainder of the <i>building</i> by a <i>fire separation</i> having a <i>fire-resistance rating</i> not less than 1 h.</p> 
	  
      
	  
	  
	  
	  
    </div>