<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Sanitary Facilities
	  </h1>
      <p>
</p><p class="section-e"><b>3.10.2.7. <a href ="http://thehandyforce.com/plumbing/" title ="East York Plumbing Repairs">sanitary</a> Facilities</b></p> <p class="subsection-e"><b>  (1) </b>Except as provided in Sentence (2), the requirements in Subsection 3.7.4. shall apply.</p> <p class="subsection-e"><b>  (2) </b>Except as permitted in Sentences 3.7.4.1.(2) and (3), two <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Handyman Bathroom Toronto">washroom</a>s, each containing a <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> closet and a lavatory, shall be provided within one of the <i><a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Basement renvator in Toronto">building</a>s</i> on the property.</p> <p class="ruleb-e">3.10.3. Additional Requirements for Buildings Containing more than 1 Storey</p> 
	  
      
	  
	  
	  
	  
    </div>