<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Sanitary Facilities
	  </h1>
      <p>
</p><p class="section-e"><b>3.10.2.7. sanitary Facilities</b></p> <p class="subsection-e"><b>  (1) </b>Except as provided in Sentence (2), the requirements in Subsection 3.7.4. shall apply.</p> <p class="subsection-e"><b>  (2) </b>Except as permitted in Sentences 3.7.4.1.(2) and (3), two washrooms, each containing a water closet and a lavatory, shall be provided within one of the <i>buildings</i> on the property.</p> <p class="ruleb-e">3.10.3. Additional Requirements for Buildings Containing more than 1 Storey</p> 
	  
      
	  
	  
	  
	  
    </div>