<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Spatial Separations
	  </h1>
      <p>
</p><p class="section-e"><b>3.10.3.2. Spatial Separations</b></p> <p class="subsection-e"><b>  (1) </b>Except as provided in Sentence (2), the requirements in Subsection 3.2.3. shall apply.</p> <p class="subsection-e"><b>  (2) </b>The distance between <i><a href ="http://thehandyforce.com/guarantee/" title ="Reliable Contractors">building</a>s</i> shall be not less than 9 m.</p> 
	  
      
	  
	  
	  
	  
    </div>