<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Fire Alarm Systems
	  </h1>
      <p>
</p><p class="section-e"><b>3.10.3.3. Fire Alarm Systems</b></p> <p class="subsection-e"><b>  (1) </b>Except as provided in Sentences (2) and (3), the requirements in Subsection 3.2.4. shall apply.</p> <p class="subsection-e"><b>  (2) </b>A fire alarm system shall be installed.</p> <p class="subsection-e"><b>  (3) </b>Within the <i>first storey</i>, manual pull stations are required only in <a href ="http://thehandyforce.com/interior/" title ="East York home renovator">corridor</a>s.</p> 
	  
      
	  
	  
	  
	  
    </div>