<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Standpipe Systems
	  </h1>
      <p>
</p><p class="section-e"><b>3.10.3.5. Standpipe Systems</b></p> <p class="subsection-e"><b>  (1) </b>Except as provided in Sentence (2), the requirements in Subsection 3.2.9. shall apply.</p> <p class="subsection-e"><b>  (2) </b>Hose stations are not required in the <i>first storey</i>.</p> <p class="ruleb-e">3.10.4. Additional Requirements for 1 Storey buildings</p> 
	  
      
	  
	  
	  
	  
    </div>