<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Application
	  </h1>
      <p>
</p><p class="section-e"><b>3.10.4.1. <a href ="http://thehandyforce.com/businesses/" title ="Business Services in Toronto">application</a></b></p> <p class="subsection-e"><b>  (1) </b>The requirements in this Subsection apply to 1 <i>storey</i><i><a href ="http://thehandyforce.com/windows/" title ="Window fabrication in Toronto">building</a>s</i> that do not contain a <i><a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Basement renvator in Toronto">basement</a></i> or <i>mezzanine</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>