<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Building Area
	  </h1>
      <p>
</p><p class="section-e"><b>3.10.4.2. building Area</b></p> <p class="subsection-e"><b>  (1) </b>For the purposes of Subsection 3.2.2., <i>building area</i> means,</p> <p class="clause-e">  (a) the <i>building area</i> of each <i>building</i>,</p> <p class="clause-e">  (b) the total of the <i>building areas</i> of all <i>buildings</i>as a group, or</p> <p class="clause-e">  (c) the total of the <i>building areas</i> of any number or group of <i>buildings</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>