<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Spatial Separations
	  </h1>
      <p>
</p><p class="section-e"><b>3.10.4.3. Spatial Separations</b></p> <p class="subsection-e"><b>  (1) </b>Except as provided in Sentences (2) to (4), the requirements in Subsection 3.2.3. shall apply.</p> <p class="subsection-e"><b>  (2) </b>Where the <i>building area</i> conforms to Clause 3.10.4.2.(1)(b), the <i>limiting distance</i>requirements shall not apply between individual <i>buildings</i>.</p> <p class="subsection-e"><b>  (3) </b>Where the <i>building area</i> conforms to Clause 3.10.4.2.(1)(c),</p> <p class="clause-e">  (a) the <i>limiting distance</i> requirements shall apply between each group of <i>buildings</i>, but not between individual <i>buildings</i> within a group, and</p> <p class="clause-e">  (b) the distance between each group of<i>buildings</i> shall be not less than 9 m.</p> <p class="subsection-e"><b>  (4) </b>The distance between individual <i>buildings</i>within a group shall be not less than 6 m.</p> 
	  
      
	  
	  
	  
	  
    </div>