<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Exception for Exterior Walls
	  </h1>
      <p>
</p><p class="section-e"><b>3.1.7.2. Exception for <a href ="http://thehandyforce.com/exterior/" title ="Certified home renovator">exterior</a> Walls</b></p> <p class="subsection-e"><b>  (1) </b>The limit on the rise of <a href ="http://thehandyforce.com/insulation/" title ="Instulation Installtion in Toronto">temperature</a> on the unexposed <a href ="http://thehandyforce.com/tiling/" title ="Professional Tile installer in Toronto">surface</a> of an assembly as required by the tests referred to in Sentence 3.1.7.1.(1) shall not apply to an <a href ="http://thehandyforce.com/exterior/" title ="Certified home renovator">exterior</a> wall that has a <i>limiting distance</i>of 1.2 m or more, provided correction is made for radiation from the unexposed <a href ="http://thehandyforce.com/tiling/" title ="Professional Tile installer in Toronto">surface</a> in accordance with Sentence 3.2.3.1.(9).</p> 
	  
      
	  
	  
	  
	  
    </div>