<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Fire Alarm Systems
	  </h1>
      <p>
</p><p class="section-e"><b>3.10.4.4. Fire Alarm Systems</b></p> <p class="subsection-e"><b>  (1) </b>Except as provided in Sentence (2), the requirements in Subsection 3.2.4. shall not apply.</p> <p class="subsection-e"><b>  (2) </b>The requirements for <i>smoke alarms</i> in Article 3.2.4.22. shall apply to a <i>dwelling unit</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>