<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Application
	  </h1>
      <p>
</p><p class="section-e"><b>3.11.1.1. application</b></p> <p class="subsection-e"><b>  (1) </b>This Section applies to every <i>public pool</i>.</p> <p class="subsection-e"><b>  (2) </b>This Section applies to the design and construction of site assembled and manufactured pools that are intended for use as <i>public pools</i>.</p> <p class="subsection-e"><b>  (3) </b>Where material alterations to a <i>public pool</i>or the equipment installed in a <i>public pool</i> affect the bottom slope, the water volume or the capacity of the <i>recirculation system</i>, the adversely affected portions shall comply with the requirements of this Division.</p> <p class="subsection-e"><b>  (4) </b>Where material alterations or repairs concern any pool fitting passing water and/or air in or out of the pool tank, the affected fitting shall comply with Sentences 3.11.8.1.(14) to (20).</p> <p class="ruleb-e">3.11.2. designations of Public Pools</p> 
	  
      
	  
	  
	  
	  
    </div>