<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Barrier-Free Path of Travel for Outdoor Pool Deck
	  </h1>
      <p>
</p><p class="section-e"><b>3.11.3.2. Barrier-Free Path of Travel for <a href ="http://thehandyforce.com/exterior/" title ="Toronto Exterior Handyman">outdoor</a>ref ="http://thehandyforce.com/doors/" title ="Toronto Door installer">door Pool Deck</b></p> <p class="subsection-e">  <b>(1) </b>Where an <i><a href ="http://thehandyforce.com/exterior/" title ="Toronto Exterior Handyman">outdoor</a>ref ="http://thehandyforce.com/doors/" title ="Toronto Door installer">door pool</i> is provided, a <i>barrier-free</i>path of travel shall be provided to and throughout the normally occupied portions of the <i>pool deck</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>