<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Ramps into Public Spas
	  </h1>
      <p>
</p><p class="section-e"><b>3.12.3.1. Ramps into Public Spas</b></p> <p class="subsection-e"><b>  (1) </b>Not more than 50% of the total perimeter of a <i>public spa</i> may be replaced by one or more ramps that permit a bather seated in a wheelchair to enter the water with or without the wheelchair.</p> <p class="subsection-e"><b>  (2) </b>If a <i>public spa</i> has one or more ramps described in Sentence (1), the <i>public spa</i> shall comply with Article 3.11.5.1. and Sentences 3.11.5.2.(3) and (4).</p> 
	  
      
	  
	  
	  
	  
    </div>