<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Service Rooms and Storage Facilities
	  </h1>
      <p>
</p><p class="section-e"><b>3.12.6.1. service Rooms and Storage Facilities</b></p> <p class="subsection-e"><b>  (1) </b><i>service rooms</i>and storage facilities for all <i>public spas</i> shall comply with the requirements of Article 3.11.11.1.</p> <p class="ruleb-e">Section 3.13. Rapid Transit Stations</p> <p class="ruleb-e">3.13.1. Scope and Definitions</p> 
	  
      
	  
	  
	  
	  
    </div>