<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Vehicle Terminal
	  </h1>
      <p>
</p><p class="section-e"><b>3.13.3.5. Vehicle Terminal</b></p> <p class="subsection-e"><b>  (1) </b>Where an enclosed terminal serves vehicles powered by combustible fuels, and the terminal has direct access to a <i>rapid transit station</i>,</p> <p class="clause-e">  (a) the terminal shall be <i>sprinklered</i>, and</p> <p class="clause-e">  (b) the terminal shall be separated from the <i>rapid transit station</i><i>,</i></p> <p class="subclause-e">  (i) by a <i>fire separation</i> having a <i>fire-resistance rating</i> not less than 1 h, or</p> <p class="subclause-e">  (ii) by wired glass assemblies conforming to MMAH Supplementary Standard SB-2, "Fire Performance Ratings", with wired glass doors equipped with self-closing devices.</p> <p class="subsection-e"><b>  (2) </b>doors in the <i>fire separation</i> or in the wired glass assembly in Clause (1)(b) are not required to have latches where close spaced sprinkler protection is provided on the station side.</p> 
	  
      
	  
	  
	  
	  
    </div>