<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | General Requirements
	  </h1>
      <p>
</p><p class="section-e"><b>3.1.8.1. General Requirements</b></p> <p class="subsection-e"><b>  (1) </b>Any wall, <i>partition</i> or floor assembly required to be a <i>fire separation</i> shall,</p> <p class="clause-e">  (a) except as permitted by Sentence (2), be constructed as a continuous element, and</p> <p class="clause-e">  (b) as required in this Part, have a <i>fire-resistance rating</i> as specified.</p> <p class="subsection-e"><b>  (2) </b>openings in a <i>fire separation</i> shall be protected with <i>closures</i>, shafts or other means in conformance with Articles 3.1.8.4. to 3.1.8.18. and Subsections 3.1.9. and 3.2.8.</p> 
	  
      
	  
	  
	  
	  
    </div>