<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Fire Detectors
	  </h1>
      <p>
</p><p class="section-e"><b>3.13.5.3. Fire <a href ="http://thehandyforce.com/electrical/" title ="Licensed electrician East York">detector</a>s</b></p> <p class="subsection-e"><b>  (1) </b>Except where the area is <i>sprinklered</i>, <i>fire <a href ="http://thehandyforce.com/electrical/" title ="Licensed electrician East York">detector</a>s</i> shall be installed in every <i><a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">service</a> room</i>, <i>ancillary space</i>, leased space, booth and kiosk.</p> 
	  
      
	  
	  
	  
	  
    </div>