<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Central Supervising Station
	  </h1>
      <p>
</p><p class="section-e"><b>3.13.5.4. Central Supervising Station</b></p> <p class="subsection-e"><b>  (1) </b>Each <i>rapid transit station</i> shall be monitored by a <i>central supervising station</i>conforming to CAN/<a href ="http://canada.ul.com/ulcstandards/" title ="ULC Standards">ulc</a>-S561, "<a href ="http://thehandyforce.com/insulation/" title ="Sprayfoam insulation in Toronto">installation</a> and Services for Fire Signal Receiving Centres and Systems".</p> 
	  
      
	  
	  
	  
	  
    </div>