<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Annunciators
	  </h1>
      <p>
</p><p class="section-e"><b>3.13.5.5. Annunciators</b></p> <p class="subsection-e"><b>  (1) </b>An annunciator shall be installed,</p> <p class="clause-e">  (a) in a location that is readily accessible to firefighters entering the <i><a href ="http://thehandyforce.com/electrical/" title ="Electrical panel installation in Toronto">building</a></i>, and</p> <p class="clause-e">  (b) in the <i>rapid transit station</i><i>,</i></p> <p class="subclause-e">  (i) in a <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a>ated collector’s booth, or</p> <p class="subclause-e">  (ii) within viewing distance of a <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a>ated collector’s booth.</p> 
	  
      
	  
	  
	  
	  
    </div>