<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Emergency Reporting Devices
	  </h1>
      <p>
</p><p class="section-e"><b>3.13.5.9. Emergency Reporting Devices</b></p> <p class="subsection-e"><b>  (1) </b>Emergency reporting devices shall be located on passenger platforms and throughout a <i>rapid transit station</i> such that the distance of travel from any point in the <i>public area</i>to such a device is not more than 90 m.</p> <p class="subsection-e"><b>  (2) </b>The emergency reporting devices required in Sentence (1) are permitted to be public telephones with an emergency no charge capability and their location shall be plainly indicated by appropriate signs.</p> 
	  
      
	  
	  
	  
	  
    </div>