<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Sprinkler Systems
	  </h1>
      <p>
</p><p class="section-e"><b>3.13.5.10. Sprinkler Systems</b></p> <p class="subsection-e"><b>  (1) </b>Sprinkler systems shall conform with the requirements of Articles 3.2.5.13 to 3.2.5.16.</p> <p class="subsection-e"><b>  (2) </b>In addition to the requirements of Subsection 3.13.3. the steel truss enclosure of an escalator shall be <i>sprinklered</i>.</p> <p class="subsection-e"><b>  (3) </b>There shall be identification on a fire department connection for a sprinkler system in a <i>rapid transit station</i> to indicate that the connection is part of the station system.</p> 
	  
      
	  
	  
	  
	  
    </div>