<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Application
	  </h1>
      <p>
</p><p class="section-e"><b>3.13.7.1. <a href ="http://thehandyforce.com/businesses/" title ="Business Services in Toronto">application</a></b></p> <p class="subsection-e"><b>  (1) </b>Every <i>rapid transit station</i> shall be provided with an emergency <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renovation inspiration">vent</a>ilation system conforming to <a href ="http://www.nfpa.org/" title ="National Fire Protection Agency">nfpa</a> 130, "Fixed Guideway Transit and Passenger Rail Systems".</p> <p class="ruleb-e">3.13.8. Barrier-Free <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a></p> 
	  
      
	  
	  
	  
	  
    </div>