<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Application
	  </h1>
      <p>
</p><p class="section-e"><b>3.13.8.1. application</b></p> <p class="subsection-e"><b>  (1) </b>Except as provided in this Subsection, the requirements in Section 3.8. apply to <i>rapid transit stations</i>.</p> <p class="subsection-e"><b>  (2) </b>A <i>rapid transit station</i> need not be provided with more than one <i>barrier-free</i> entrance described in Article 3.8.1.2.</p> <p class="subsection-e"><b>  (3) </b>At least one <i>barrier-free</i> path of travel shall be provided from a <i>barrier-free</i> entrance,</p> <p class="clause-e">  (a) into the <i>fare-paid area</i>, and</p> <p class="clause-e">  (b) to each platform.</p> 
	  
      
	  
	  
	  
	  
    </div>