<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Elevator Requirements
	  </h1>
      <p>
</p><p class="section-e"><b>3.13.8.3. Elevator Requirements</b></p> <p class="subsection-e"><b>  (1) </b>Except as provided in Sentence (2), the elevator described in Article 3.13.8.2. shall be capable of providing transportation from each platform to a <i>barrier-free</i> entrance described in Article 3.8.1.2.</p> <p class="subsection-e"><b>  (2) </b>Where it is necessary to change elevators to reach the entrance described in Sentence (1), the elevator system shall be designed so that not more than one change of elevator is required between,</p> <p class="clause-e">  (a) a platform and a <i>fare-paid area control</i>, and</p> <p class="clause-e">  (b) the <i>fare-paid area control</i> and the entrance.</p> 
	  
      
	  
	  
	  
	  
    </div>