<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Emergency Operation of Elevators
	  </h1>
      <p>
</p><p class="section-e"><b>3.13.8.4. Emergency Operation of Elevators</b></p> <p class="subsection-e"><b>  (1) </b>Manual emergency recall operation shall be provided for all elevators.</p> <p class="subsection-e"><b>  (2) </b>Key-operated switches for emergency recall described in Sentence (1) shall be provided and shall be located on the outside of each elevator shaft at the level of the <i>fare-paid area control</i>.</p> <p class="subsection-e"><b>  (3) </b>In-car emergency service switches shall be provided in all elevator cars.</p> <p class="subsection-e"><b>  (4) </b>Keys to operate the switches required in Sentences (2) and (3) shall be located at,</p> <p class="clause-e">  (a) the annunciator required in Clause 3.13.5.5.(1)(a), and</p> <p class="clause-e">  (b) the collector’s booth designated in Clause 3.13.5.5.(1)(b).</p> 
	  
      
	  
	  
	  
	  
    </div>