<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | General
	  </h1>
      <p>
</p><p class="section-e"><b>3.14.1.2. General</b></p> <p class="subsection-e"><b>  (1) </b>Except as provided in Sentence (2), the requirements of this Subsection shall apply to all tents.</p> <p class="subsection-e"><b>  (2) </b>Articles 3.14.1.3., 3.14.1.7. and 3.14.1.8. do not apply to tents that,</p> <p class="clause-e">  (a) do not exceed 225 m<sup>2</sup> in ground area,</p> <p class="clause-e">  (b) do not exceed 225 m<sup>2</sup> in aggregate ground area and are closer than 3 m apart,</p> <p class="clause-e">  (c) do not contain bleachers, and</p> <p class="clause-e">  (d) are not enclosed with sidewalls.</p> 
	  
      
	  
	  
	  
	  
    </div>