<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Means of Egress
	  </h1>
      <p>
</p><p class="section-e"><b>3.14.1.3. Means of Egress</b></p> <p class="subsection-e"><b>  (1) </b>Except as provided in Sentences (2) and (3), tents shall conform to Sections 3.3. and 3.4.</p> <p class="subsection-e"><b>  (2) </b>A tent need not conform to Article 3.4.6.12. except where swing type doors are provided.</p> <p class="subsection-e"><b>  (3) </b>Where the area between adjacent tents or a tent and the property line is used as a<i> means of egress</i>, the minimum width between stake lines shall be the width necessary for <i>means of egress</i>, but not less than 3 m.</p> 
	  
      
	  
	  
	  
	  
    </div>