<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Flame Resistance
	  </h1>
      <p>
</p><p class="section-e"><b>3.14.1.6. Flame Resistance</b></p> <p class="subsection-e"><b>  (1) </b>Every tent, and tarpaulins, decorative materials, fabrics and films used in connection with tents, shall be certified to CAN/ulc-S109, "Flame Tests of Flame-Resistant Fabrics and Films", or nfpa 701, "Fire Tests for Flame Propagation of Textiles and Films".</p> 
	  
      
	  
	  
	  
	  
    </div>