<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Flame Resistance
	  </h1>
      <p>
</p><p class="section-e"><b>3.14.1.6. Flame Resistance</b></p> <p class="subsection-e"><b>  (1) </b>Every tent, and tarpaulins, decorative materials, fabrics and films used in connection with tents, shall be certified to CAN/<a href ="http://canada.ul.com/ulcstandards/" title ="ULC Standards">ulc</a>-S109, "Flame Tests of Flame-Resistant Fabrics and Films", or <a href ="http://www.nfpa.org/" title ="National Fire Protection Agency">nfpa</a> 701, "Fire Tests for Flame Propagation of Tex<a href ="http://thehandyforce.com/tiling/" title ="Professional Tile installer in East York">tile</a>s and Films".</p> 
	  
      
	  
	  
	  
	  
    </div>