<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Sanitary Facilities
	  </h1>
      <p>
</p><p class="section-e"><b>3.14.1.8. sanitary Facilities</b></p> <p class="subsection-e"><b>  (1) </b>Except as provided in Sentence (3), the minimum number of water closets for tents shall be determined in accordance with Table 3.7.4.3.E.</p> <p class="subsection-e"><b>  (2) </b>Article 3.7.4.17. applies to sanitary facilities in Sentence (1).</p> <p class="subsection-e"><b>  (3) </b>sanitary privies, chemical closets or other means for the disposal of human waste may be provided in lieu of toilet fixtures.</p> 
	  
      
	  
	  
	  
	  
    </div>