<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Electrical Systems
	  </h1>
      <p>
</p><p class="section-e"><b>3.14.1.10. Electrical Systems</b></p> <p class="subsection-e"><b>  (1) </b>The electrical system and equipment in a tent, including electrical fuses and switches, shall be inaccessible to the public.</p> <p class="subsection-e"><b>  (2) </b>Cables on the ground in areas used by the public in a tent shall be placed in trenches or <a href ="http://thehandyforce.com/guarantee/" title ="Guaranteed Handymand and Renovation Services">protected</a> by covers to pre<a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renovation inspiration">vent</a> damage from traffic.</p> <p class="ruleb-e">3.14.2. Air-<a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>ed Structures</p> 
	  
      
	  
	  
	  
	  
    </div>