<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Application
	  </h1>
      <p>
</p><p class="section-e"><b>3.14.2.1. <a href ="http://thehandyforce.com/businesses/" title ="Business Services in Toronto">application</a></b></p> <p class="subsection-e"><b>  (1) </b>Except as provided in this Subsection, the requirements of this Division apply to <i>air-<a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>ed structures</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>