<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Clearances to Flammable Material
	  </h1>
      <p>
</p><p class="section-e"><b>3.14.2.4. Clearances to Flammable Material</b></p> <p class="subsection-e"><b>  (1) </b>The ground enclosed by an <i>air-supported structure</i> and for not less than 3 m outside of such structure shall be clear of all flammable or <i>combustible</i> material or vegetation that will carry fire.</p> 
	  
      
	  
	  
	  
	  
    </div>