<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Flame Resistance
	  </h1>
      <p>
</p><p class="section-e"><b>3.14.2.5. Flame Resistance</b></p> <p class="subsection-e"><b>  (1) </b><i>Air-supported structures</i> shall be constructed of material conforming to CAN/ulc-S109, "Flame Tests of Flame-Resistant Fabrics and Films", or nfpa 701, "Fire Tests for Flame Propagation of Textiles and Films".</p> <p class="subsection-e"><b>  (2) </b>Materials for fabrics used in connection with <i>air-supported structures</i> are exempt from compliance with the requirements for <i>flame-spread ratings</i> for interior finishes in Subsection 3.1.13.</p> 
	  
      
	  
	  
	  
	  
    </div>