<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Emergency Air Supply
	  </h1>
      <p>
</p><p class="section-e"><b>3.14.2.6. Emergency Air Supply</b></p> <p class="subsection-e"><b>  (1) </b>An <i>air-<a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>ed structure</i> <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a>ed for an <i>assembly occupancy</i> with an <i>occupant load</i> of more than 200 persons shall have either an automatic emergency engine-generator set capable of powering one blower continuously for 4 h, or a supplementary blower powered by an automatic internal combustion engine.</p> 
	  
      
	  
	  
	  
	  
    </div>