<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Structural Design
	  </h1>
      <p>
</p><p class="section-e"><b>3.15.3.1. Structural <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a></b></p> <p class="subsection-e"><b>  (1) </b>Except as provided in this Section, all sign structures shall be <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a>ed in accordance with Part 4.</p> <p class="ruleb-e">3.15.4. Plastic Sign Facing Materials</p> 
	  
      
	  
	  
	  
	  
    </div>