<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Application
	  </h1>
      <p>
</p><p class="section-e"><b>3.16.1.1. application</b></p> <p class="subsection-e"><b>  (1) </b>The requirements of this Section apply to a <i>shelf and rack storage system</i>.</p> <p class="subsection-e"><b>  (2) </b>The requirements of Subsection 3.2.8. do not apply to a <i>shelf and rack storage system </i>conforming to this Section.</p> <p class="subsection-e"><b>  (3) </b>The requirements of Subsection 3.16.2. apply to a <i>shelf and rack storage system </i>for the storage of Class I, II, III and IV commodities as defined in nfpa 13, "installation of Sprinkler Systems".</p> <p class="subsection-e"><b>  (4) </b>The requirements of Subsection 3.16.3. apply to a <i>shelf and rack storage system </i>for the storage of Group A, B and C plastics and rubber tires as defined in nfpa 13, "installation of Sprinkler Systems".</p> 
	  
      
	  
	  
	  
	  
    </div>