<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | General
	  </h1>
      <p>
</p><p class="section-e"><b>3.16.1.2. General</b></p> <p class="subsection-e"><b>  (1) </b>A <i>shelf and rack storage system </i>shall not be designed for production, manufacturing, assembling, disassembling or ancillary administrative functions.</p> <p class="subsection-e"><b>  (2) </b>A <i>shelf and rack storage system </i>may be designed for the storage, accessing, retrieval, packing and distribution of commodities.</p> <p class="subsection-e"><b>  (3) </b>A <i>high hazard industrial occupancy </i>shall not contain a <i>shelf and rack storage system</i>.</p> <p class="subsection-e"><b>  (4) </b>Except as required by Sentence 3.16.3.2.(3), a <i>shelf and rack storage system </i>shall not exceed 24 m in height.</p> 
	  
      
	  
	  
	  
	  
    </div>