<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Signs
	  </h1>
      <p>
</p><p class="section-e"><b>3.16.1.4. Signs</b></p> <p class="subsection-e"><b>  (1) </b>A permanent sign shall be posted in a conspicuous location to indicate the maximum permissible <i>design loads</i> for each <i>shelf and rack storage system</i>.</p> <p class="subsection-e">  <b>(2) </b>Permanent signs shall be posted in conspicuous locations with,</p> <p class="clause-e">  (a) the words <b>NO SMOKING</b> in black lettering not less than 50 mm high with a stroke not less than 12 mm on a yellow background, or</p> <p class="clause-e">  (b) a non-smoking symbol having a size not less than 150 mm by 150 mm.</p> 
	  
      
	  
	  
	  
	  
    </div>