<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Lighting
	  </h1>
      <p>
</p><p class="section-e"><b>3.16.1.5. lighting</b></p> <p class="subsection-e"><b>  (1) </b>Walkways and platforms shall be equipped to provide illumination to an average level not less than 50 lx at floor or tread level and at angles and intersections at changes of level where there are stairs or ramps.</p> <p class="subsection-e"><b>  (2) </b>Emergency lighting on walkways, platforms, unenclosed egress stairs and <i>exits </i>providing <i>means of egress</i> shall conform to not less than,</p> <p class="clause-e">  (a) the illumination level in Sentences 3.2.7.3.(2) and (3), and</p> <p class="clause-e">  (b) the duration in Sentence 3.2.7.4.(1).</p> 
	  
      
	  
	  
	  
	  
    </div>