<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Application
	  </h1>
      <p>
</p><p class="section-e"><b>3.16.3.1. <a href ="http://thehandyforce.com/businesses/" title ="Business Services in Toronto">application</a></b></p> <p class="subsection-e"><b>  (1) </b>The requirements in this Subsection apply to a <i><a href ="http://thehandyforce.com/handyman/" title ="#1 Handyman in Toronto">shelf</a> and rack storage system </i>intended for the storage of Group A, B and C plastics and rubber tires as defined in <a href ="http://www.nfpa.org/" title ="National Fire Protection Agency">nfpa</a> 13, "<a href ="http://thehandyforce.com/insulation/" title ="Sprayfoam insulation in Toronto">installation</a> of Sprinkler Systems".</p> 
	  
      
	  
	  
	  
	  
    </div>