<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Construction
	  </h1>
      <p>
</p><p class="section-e"><b>3.16.3.2. Construction</b></p> <p class="subsection-e"><b>  (1) </b>A <i>shelf and rack storage system</i> intended for the storage of rubber tires shall conform to,</p> <p class="clause-e">  (a) Article 3.3.6.5., and</p> <p class="clause-e">  (b) the Fire Code made under the <i>Fire Protection and Prevention Act, 1997</i>.</p> <p class="subsection-e"><b>  (2) </b>Platform and walkway levels shall not be of open construction.</p> <p class="subsection-e"><b>  (3) </b>A <i>shelf and rack storage system </i>shall not exceed 7 m in height.</p> <p class="ruleb-e">Section 3.17. Additional Requirements for Existing buildings</p> <p class="ruleb-e">3.17.1. Scope</p> 
	  
      
	  
	  
	  
	  
    </div>