<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Change of Use and Compensating Construction
	  </h1>
      <p>
</p><p class="section-e"><b>3.17.2.1. Change of Use and Compensating Construction</b></p> <p class="subsection-e"><b>  (1) </b>Where proposed <i>construction</i> will result in a change of use described in Subclauses 3.17.1.1.(1)(a)(i) to (iv) and (vi), additional <i>construction</i> shall be required in order that the <i>building</i> or part of a <i>building</i> subject to the change of use conforms to the requirements of Subsection 3.2.6. and Sections 3.7., 3.11. and 3.12. as they apply to the new <i>major occupancy</i> that the <i>building</i> or part of a <i>building</i>is to support.</p> <p class="subsection-e"><b>  (2) </b>For the purposes of this Article, existing <i>buildings</i>shall be classified as to their <i>construction</i> and <i>occupancy</i> as provided for in Sentence 11.2.1.1.(1).</p> 
	  
      
	  
	  
	  
	  
    </div>