<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Design Basis
	  </h1>
      <p>
</p><p class="section-e"><b>4.1.1.4. design Basis</b></p> <p class="subsection-e">  <b>(1) </b>Except as provided in Sentence (2), <i>buildings</i> and their structural members shall be designed in conformance with the procedures and practices provided in this Part.</p> <p class="subsection-e">  <b>(2) </b>Provided the design is carried out by a person especially qualified in the specific methods applied and provided the design demonstrates a level of safety and performance in accordance with the requirements of this Part, <i>buildings</i>and their structural components falling within the scope of this Part that are not amenable to analysis using a generally established theory may be designed by,</p> <p class="clause-e">  (a) evaluation of a full-scale structure or a prototype by a loading test, or</p> <p class="clause-e">  (b) studies of model analogues.</p> <p class="ruleb-e">4.1.2. Specified Loads and Effects</p> 
	  
      
	  
	  
	  
	  
    </div>