<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Loads Not Listed
	  </h1>
      <p>
</p><p class="section-e"><b>4.1.2.2. Loads Not Listed</b></p> <p class="subsection-e">  <b>(1) </b>Where a <i>building </i>or structural member can be expected to be subjected to loads, forces or other effects not listed in Article 4.1.2.1., such effects shall be taken into account in the design based on the most appropriate information available.</p> <p class="ruleb-e">4.1.3. Limit States design</p> 
	  
      
	  
	  
	  
	  
    </div>