<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Fatigue
	  </h1>
      <p>
</p><p class="section-e"><b>4.1.3.3. Fatigue</b></p> <p class="subsection-e">  <b>(1) </b>A <i><a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">building</a></i> and its structural components, including connections, shall be checked for fatigue failure under the effect of the cyclical loads, as required in the standards listed in Section 4.3.</p> <p class="subsection-e">  <b>(2) </b>Where vibration effects, such as resonance and fatigue resulting from machinery and equipment, are likely to be significant, a dynamic analysis shall be carried out.</p> 
	  
      
	  
	  
	  
	  
    </div>