<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Serviceability
	  </h1>
      <p>
</p><p class="section-e"><b>4.1.3.4. <a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">service</a>ability</b></p> <p class="subsection-e">  <b>(1) </b>A <i><a href ="http://thehandyforce.com/businesses/" title ="Business Services in Toronto">building</a> </i>and its structural components shall be checked for <a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">service</a>ability limit states as defined in Clause 4.1.3.1.(1)(a) under the effect of <a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">service</a> loads for <a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">service</a>ability criteria specified or recommended in Articles 4.1.3.5. and 4.1.3.6. and in the standards listed in Section 4.3.</p> 
	  
      
	  
	  
	  
	  
    </div>