<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Serviceability
	  </h1>
      <p>
</p><p class="section-e"><b>4.1.3.4. serviceability</b></p> <p class="subsection-e">  <b>(1) </b>A <i>building </i>and its structural components shall be checked for serviceability limit states as defined in Clause 4.1.3.1.(1)(a) under the effect of service loads for serviceability criteria specified or recommended in Articles 4.1.3.5. and 4.1.3.6. and in the standards listed in Section 4.3.</p> 
	  
      
	  
	  
	  
	  
    </div>