<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Vibration
	  </h1>
      <p>
</p><p class="section-e"><b>4.1.3.6. Vibration</b></p> <p class="subsection-e">  <b>(1) </b>floor systems susceptible to vibration shall be designed so that vibrations will have no significant adverse effects on the intended <i>occupancy </i>of the <i>building</i>.</p> <p class="subsection-e">  <b>(2) </b>Where the fundamental vibration frequency of a structural system supporting an <i>assembly occupancy</i> used for rhythmic activities, such as dancing, concerts, jumping exercises or gymnastics, is less than 6 Hz, the effects of resonance shall be investigated by means of a dynamic analysis.</p> <p class="subsection-e">  <b>(3) </b>A <i>building </i>susceptible to lateral vibration under wind load shall be designed in accordance with Article 4.1.7.2. so that the vibrations will have no significant adverse effects on the intended use and <i>occupancy </i>of the <i>building</i>.</p> <p class="ruleb-e">4.1.4. Dead Loads</p> 
	  
      
	  
	  
	  
	  
    </div>