<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Loads Due to Use of Floors and Roofs
	  </h1>
      <p>
</p><p class="section-e"><b>4.1.5.1. Loads Due to Use of floors and Roofs</b></p> <p class="subsection-e">  <b>(1) </b>Except as provided in Sentence (2), the specified <i>live load</i>on an area of floor or roof depends on the intended use and <i>occupancy</i>, and shall not be less than whichever of the following loads produces the most critical effect:</p> <p class="clause-e">  (a) the uniformly distributed load patterns listed in Article 4.1.5.3.,</p> <p class="clause-e">  (b) the loads due to the intended use and<i>occupancy</i>, or</p> <p class="clause-e">  (c) the concentrated loads listed in Article 4.1.5.9.</p> <p class="subsection-e">  <b>(2) </b>For <i>buildings </i>in the Low Importance Category as described in Table 4.1.2.1.B., a factor of 0.8 may be applied to the <i>live load</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>