<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Uses Not Stipulated
	  </h1>
      <p>
</p><p class="section-e"><b>4.1.5.2. Uses Not Stipulated</b></p> <p class="subsection-e">  <b>(1) </b>Except as provided in Sentence (2), where the use of an area of floor or roof is not provided for in Article 4.1.5.3., the specified <i>live loads</i>due to the use and <i>occupancy</i> of the area shall be determined from an analysis of the loads resulting from the weight of,</p> <p class="clause-e">  (a) the probable assembly of persons,</p> <p class="clause-e">  (b) the probable accumulation of equipment and furnishings, and</p> <p class="clause-e">  (c) the probable storage of materials.</p> <p class="subsection-e">  <b>(2) </b>For <i>buildings </i>in the Low Importance Category as described in Table 4.1.2.1.B., a factor of 0.8 may be applied to the <i>live load</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>