<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Loads for Occupancy Served
	  </h1>
      <p>
</p><p class="section-e"><b>4.1.5.4. Loads for Occupancy Served</b></p> <p class="subsection-e">  <b>(1) </b>The following shall be designed to carry not less than the specified load required for the <i>occupancy</i> they serve, provided they cannot be used by an assembly of people as a viewing area:</p> <p class="clause-e">  (a) corridors, lobbies and aisles not more than 1 200 mm wide,</p> <p class="clause-e">  (b) all corridors above the <i>first storey</i> of residential areas of apartments, <i>hotels </i>and motels, and</p> <p class="clause-e">  (c) interior balconies and <i>mezzanines.</i></p> 
	  
      
	  
	  
	  
	  
    </div>