<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Loads for Dining Areas
	  </h1>
      <p>
</p><p class="section-e"><b>4.1.5.6. Loads for Dining Areas</b></p> <p class="subsection-e">  <b>(1) </b>The minimum specified <i>live load </i>listed<i> </i>in Table 4.1.5.3. for dining areas may be reduced to 2.4 kPa for areas in <i>buildings</i> that are being converted to dining areas, provided that the <i>floor area</i> does not exceed 100 m² and the dining area will not be used for other assembly purposes, including dancing.</p> 
	  
      
	  
	  
	  
	  
    </div>