<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Bleachers
	  </h1>
      <p>
</p><p class="section-e"><b>4.1.5.12. Bleachers</b></p> <p class="subsection-e">  <b>(1) </b>Bleacher seats shall be <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a>ed for a uniformly distributed <i>live</i> <i>load </i>of 1.75 kN for each linear metre or for a concentrated load of 2.2 kN distributed over a length of 750 mm, whichever produces the most critical effect on the <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>ing members.</p> <p class="subsection-e">  <b>(2) </b>Bleachers shall be checked by the erector after erection to ensure that all structural members, including bracing specified in the <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a>, have been installed.</p> <p class="subsection-e">  <b>(3) </b>Telescopic bleachers shall be provided with locking devices to ensure stability while in use.</p> 
	  
      
	  
	  
	  
	  
    </div>