<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Helicopter Landing Areas
	  </h1>
      <p>
</p><p class="section-e"><b>4.1.5.13. Helicopter Landing Areas</b></p> <p class="subsection-e"><b>  (1) </b>Helicopter landing areas on roofs shall be constructed in conformance with the requirements for heliports contained in Part III of the <i>Canadian Aviation Regulations</i> made under the <i>Aeronautics Act</i> (Canada).</p> 
	  
      
	  
	  
	  
	  
    </div>