<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Loads on Vehicle Guardrails
	  </h1>
      <p>
</p><p class="section-e"><b>4.1.5.15. Loads on Vehicle Guardrails</b></p> <p class="subsection-e">  <b>(1) </b>Vehicle guardrails shall be <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a>ed for a concentrated load of 22 kN applied horizontally outward at any point 500 mm above the <a href ="http://thehandyforce.com/flooring/" title ="Handyman flooring install Toronto">floor</a> <a href ="http://thehandyforce.com/tiling/" title ="Professional Tile installer in Toronto">surface</a>.</p> 
	  
      
	  
	  
	  
	  
    </div>