<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Loads on Walls Acting As Guards
	  </h1>
      <p>
</p><p class="section-e"><b>4.1.5.16. Loads on walls Acting As Guards</b></p> <p class="subsection-e">  <b>(1) </b>Where the floor elevation on one side of a wall, including a wall around a shaft, is more than 600 mm higher than the elevation of the floor or ground on the other side, the wall shall be designed to resist the appropriate lateral design loads prescribed elsewhere in this Section or 0.5 kPa, whichever produces the more critical effect.</p> 
	  
      
	  
	  
	  
	  
    </div>