<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Firewalls
	  </h1>
      <p>
</p><p class="section-e"><b>4.1.5.17. Firewalls</b></p> <p class="subsection-e">  <b>(1) </b><i>Firewalls </i>shall be designed to resist the maximum effect due to,</p> <p class="clause-e">  (a) the appropriate lateral design loads prescribed elsewhere in this Section, or</p> <p class="clause-e">  (b) a factored lateral load of 0.5 kPa under fire conditions, as described in Sentence (2).</p> <p class="subsection-e">  <b>(2) </b>Under fire conditions, where the <i>fire-resistance rating</i> of the structure is less than that of the <i>firewall</i>,</p> <p class="clause-e">  (a) lateral support shall be assumed to be provided by the structure on one side only, or</p> <p class="clause-e">  (b) another structural support system capable of resisting the loads imposed by a fire on either side of the <i>firewall</i> shall be provided.</p> <p class="ruleb-e">4.1.6. Loads Due to Snow and Rain</p> 
	  
      
	  
	  
	  
	  
    </div>