<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Specified Load Due to Rain or to Snow and Associated Rain
	  </h1>
      <p>
</p><p class="section-e"><b>4.1.6.1. Specified Load Due to Rain or to Snow and Associated Rain</b></p> <p class="subsection-e">  <b>(1) </b>The specified load on a roof or any other <i>building </i>surface subject to snow and associated rain shall be the snow load specified in Article 4.1.6.2., or the rain load specified in Article 4.1.6.4., whichever produces the more critical effect.</p> 
	  
      
	  
	  
	  
	  
    </div>