<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Full and Partial Loading
	  </h1>
      <p>
</p><p class="section-e"><b>4.1.6.3. Full and Partial Loading</b></p> <p class="subsection-e"><b>  (1) </b>A roof or other <i>building</i> surface and its structural members subject to loads due to snow accumulation shall be designed for the specified load in Sentence 4.1.6.2.(1), distributed over the entire loaded area.</p> <p class="subsection-e">  <b>(2) </b>In addition to the distribution in Sentence (1), flat roofs and shed roofs, gable roofs of 15° slope or less, and arched or curved roofs shall be designed for the specified uniform snow load indicated in Sentence 4.1.6.2.(1), which shall be calculated using C<sub>a</sub> = 1.0, distributed on any one portion of the loaded area, and half of this load on the remainder of the loaded area, in such a way as to produce the most critical effects on the member concerned.</p> 
	  
      
	  
	  
	  
	  
    </div>