<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Full and Partial Loading
	  </h1>
      <p>
</p><p class="section-e"><b>4.1.7.3. Full and Partial Loading</b></p> <p class="subsection-e"><b>  (1) </b><i>buildings</i> and structural members shall be capable of withstanding the effects of,</p> <p class="clause-e">  (a) the full wind loads acting along each of the two principal horizontal axes considered separately,</p> <p class="clause-e">  (b) the wind loads as described in Clause (a) but with 100% of the load removed from any portion of the area,</p> <p class="clause-e">  (c) the wind loads as described in Clause (a) but considered simultaneously at 75% of their full value, and</p> <p class="clause-e">  (d) the wind loads as described in Clause (c) but with 50% of these loads removed from any portion of the area.</p> 
	  
      
	  
	  
	  
	  
    </div>