<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Interior Walls and Partitions
	  </h1>
      <p>
</p><p class="section-e"><b>4.1.7.4. interior Walls and Partitions</b></p> <p class="subsection-e">  <b>(1) </b>In the design of interior walls and <i>partitions</i>, due consideration shall be given to differences in air pressure on opposite sides of the wall or <i>partition</i> that may result from,</p> <p class="clause-e">  (a) pressure differences between the windward and leeward sides of a <i>building</i>,</p> <p class="clause-e">  (b) stack effects due to a difference in air temperature between the exterior and interior of the <i>building</i>, and</p> <p class="clause-e">  (c) air pressurization by the mechanical services of the <i>building</i>.</p> <p class="ruleb-e">4.1.8. Earthquake Load and Effects</p> 
	  
      
	  
	  
	  
	  
    </div>