<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Structural Separation
	  </h1>
      <p>
</p><p class="section-e"><b>4.1.8.14. Structural Separation</b></p> <p class="subsection-e">  <b>(1) </b>Adjacent structures shall either be separated by the square root of the sum of the squares of their individual deflections calculated in Sentence 4.1.8.13.(2), or shall be connected to each other.</p> <p class="subsection-e">  <b>(2) </b>The method of connection required in Sentence (1) shall take into account the mass, stiffness, strength, ductility and anticipated motion of the connected <i>buildings </i>and the character of the connection.</p> <p class="subsection-e">  <b>(3) </b>Rigidly connected <i>buildings </i>shall be assumed to have the lowest R<sub>d</sub>R<sub>o</sub> value of the <i>buildings </i>connected.</p> <p class="subsection-e">  <b>(4) </b><i>Buildings </i>with non-rigid or energy-dissipating connections require special studies.</p> 
	  
      
	  
	  
	  
	  
    </div>