<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Site Stability
	  </h1>
      <p>
</p><p class="section-e"><b>4.1.8.17. Site Stability</b></p> <p class="subsection-e"><b>  (1) </b>The potential for slope instability and its consequences, such as slope displa<a href ="http://thehandyforce.com/exterior/" title ="Exterior home repairs in Toronto">cement</a>, shall be evaluated based on site-specific material properties and ground motion parameters referenced in Subsection 1.1.2. and shall be taken into account in the <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a> of the structure and its <i><a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Toronto Basement renovator">foundation</a>s</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>