<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Subsurface Investigation
	  </h1>
      <p>
</p><p class="section-e"><b>4.2.2.1. Sub<a href ="http://thehandyforce.com/tiling/" title ="Professional Tile installer in Toronto">surface</a> Investigation</b></p> <p class="subsection-e">  <b>(1) </b>A <i>sub<a href ="http://thehandyforce.com/tiling/" title ="Professional Tile installer in Toronto">surface</a> investigation</i>, including <i>ground<a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a></i>conditions, shall be carried out, by or under the direction of a person having knowledge and experience in planning and executing such investigations to a degree appropriate for the <i><a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Handyman Bathroom Toronto">building</a> </i>and its use, the ground and the surrounding site conditions.</p> 
	  
      
	  
	  
	  
	  
    </div>