<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Subsurface Investigation
	  </h1>
      <p>
</p><p class="section-e"><b>4.2.2.1. Subsurface Investigation</b></p> <p class="subsection-e">  <b>(1) </b>A <i>subsurface investigation</i>, including <i>groundwater</i>conditions, shall be carried out, by or under the direction of a person having knowledge and experience in planning and executing such investigations to a degree appropriate for the <i>building </i>and its use, the ground and the surrounding site conditions.</p> 
	  
      
	  
	  
	  
	  
    </div>