<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Altered Subsurface Condition
	  </h1>
      <p>
</p><p class="section-e"><b>4.2.2.3. Altered Subsurface Condition</b></p> <p class="subsection-e">  <b>(1) </b>If during <i>construction</i>, the <i>soil</i>, <i>rock</i> or <i>groundwater</i> is found not to be of the type or in the condition used in design, and as indicated on the drawings, the design shall be reassessed by the <i>designer</i>.</p> <p class="subsection-e">  <b>(2) </b>If during <i>construction</i>, climatic or any other conditions have changed the properties of the <i>soil</i>, <i>rock</i> or <i>groundwater</i>, the design shall be reassessed by the <i>designer</i>.</p> <p class="ruleb-e">4.2.3. Materials Used in foundations</p> 
	  
      
	  
	  
	  
	  
    </div>