<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Preservation Treatment of Wood
	  </h1>
      <p>
</p><p class="section-e"><b>4.2.3.2. Preservation Treatment of wood</b></p> <p class="subsection-e">  <b>(1) </b>wood exposed to <i>soil</i> or air above the lowest anticipated <i>groundwater</i> table shall be treated with preservative in conformance with CAN/CSA-O80 Series, "wood Preservation", and the requirements of the appropriate commodity standard as follows:</p> <p class="clause-e">  (a) CAN/CSA-O80.2, "Processing and Treatment",</p> <p class="clause-e">  (b) CAN/CSA-O80.3, "Preservative Formulations", or</p> <p class="clause-e">  (c) CSA O80.15, "Preservative Treatment of wood for building Foundation Systems, basements and Crawl Spaces by pressure Processes".</p> 
	  
      
	  
	  
	  
	  
    </div>