<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Plain and Reinforced Masonry
	  </h1>
      <p>
</p><p class="section-e"><b>4.2.3.3. Plain and Reinforced <a href ="http://thehandyforce.com/home-renovations-north-york/" title ="Brick repair in Toronto Handyman">masonry</a></b></p> <p class="subsection-e">  <b>(1) </b>Plain or reinforced <a href ="http://thehandyforce.com/home-renovations-north-york/" title ="Brick repair in Toronto Handyman">masonry</a> used in <i><a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Toronto Basement renovator">foundation</a></i>s or in <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a> of <i><a href ="http://thehandyforce.com/decks/" title ="Deck builder in Toronto">soil</a></i> or <i>rock</i> shall conform to the requirements of Subsection 4.3.2.</p> 
	  
      
	  
	  
	  
	  
    </div>