<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Door Latches
	  </h1>
      <p>
</p><p class="section-e"><b>3.1.8.13. <a href ="http://thehandyforce.com/doors/" title ="Toronto Door installer">door</a> Latches</b></p> <p class="subsection-e"><b>  (1) </b>Except as permitted by Sentence 3.3.3.2.(5) and Article 3.3.3.5., a swing-type <a href ="http://thehandyforce.com/doors/" title ="Toronto Door installer">door</a> in a <i>fire separation</i> shall be equipped with a positive latching mechanism <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a>ed to hold the <a href ="http://thehandyforce.com/doors/" title ="Toronto Door installer">door</a> in the closed position after each use.</p> 
	  
      
	  
	  
	  
	  
    </div>