<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Protection Against Chemical Attack
	  </h1>
      <p>
</p><p class="section-e"><b>4.2.3.6. Protection Against Chemical Attack</b></p> <p class="subsection-e">  <b>(1) </b>Where concrete in <i>foundation</i>s may be subject to chemical attack, it shall be treated in conformance with the requirements in CSA A23.1, "Concrete Materials and Methods of Concrete Construction".</p> 
	  
      
	  
	  
	  
	  
    </div>