<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | High Strength Steel Tendons
	  </h1>
      <p>
</p><p class="section-e"><b>4.2.3.9. High Strength Steel Tendons</b></p> <p class="subsection-e">  <b>(1) </b>Where high strength steel is used for tendons in anchor systems used for the permanent support of a <i>foundation</i> or in the erection of temporary support of <i>soil</i> or <i>rock</i>adjacent to an <i>excavation</i>, it shall conform with the requirements of CSA A23.1, "Concrete Materials and Methods of Concrete Construction".</p> 
	  
      
	  
	  
	  
	  
    </div>