<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | High Strength Steel Tendons
	  </h1>
      <p>
</p><p class="section-e"><b>4.2.3.9. High Strength Steel Tendons</b></p> <p class="subsection-e">  <b>(1) </b>Where high strength steel is used for tendons in anchor systems used for the permanent <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a> of a <i><a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Toronto Basement renovator">foundation</a></i> or in the erection of temporary <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a> of <i><a href ="http://thehandyforce.com/decks/" title ="Deck builder in Toronto">soil</a></i> or <i>rock</i>adjacent to an <i>excavation</i>, it shall conform with the requirements of CSA A23.1, "Concrete Materials and Methods of Concrete Construction".</p> 
	  
      
	  
	  
	  
	  
    </div>