<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Corrosion of Steel
	  </h1>
      <p>
</p><p class="section-e"><b>4.2.3.10. Corrosion of Steel</b></p> <p class="subsection-e">  <b>(1) </b>Where conditions are corrosive to steel, adequate protection of exposed steel shall be provided.</p> <p class="ruleb-e">4.2.4. <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a> Requirements</p> 
	  
      
	  
	  
	  
	  
    </div>