<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Subsurface Investigation
	  </h1>
      <p>
</p><p class="section-e"><b>4.2.4.2. Subsurface Investigation</b></p> <p class="subsection-e">  <b>(1) </b>A <i>subsurface investigation</i> shall be carried out to the depth and extent to which the <i>building</i> or <i>excavation</i> will significantly change the stress in the <i>soil</i> or <i>rock</i>, or to such a depth and extent as to provide all the necessary information for the design and<i>construction</i> of the <i>excavation</i>or the <i>foundation</i>s.</p> 
	  
      
	  
	  
	  
	  
    </div>