<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Wired Glass and Glass Block
	  </h1>
      <p>
</p><p class="section-e"><b>3.1.8.14. wired glass and glass Block</b></p> <p class="subsection-e"><b>  (1) </b>Except as permitted by Articles 3.1.8.16. and 3.1.8.17. for the separation of <i>exits</i>, an opening in a <i>fire separation</i> having a <i>fire-resistance rating</i> not more than 1 h is permitted to be protected with fixed wired glass assemblies or glass blocks installed in conformance with nfpa 80, "Fire doors and Other opening Protectives".</p> <p class="subsection-e"><b>  (2) </b>wired glass assemblies permitted by Sentence (1) and described in MMAH Supplementary Standard SB-2, "Fire Performance Ratings", are permitted to be used as <i>closures</i> in vertical <i>fire separations</i> without being tested in accordance with Sentence 3.1.8.4.(1).</p> <p class="subsection-e"><b>  (3) </b>glass blocks permitted by Sentence (1) shall be installed in accordance with Subsection 4.3.2. and reinforced with steel reinforcement in each horizontal joint.</p> 
	  
      
	  
	  
	  
	  
    </div>