<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Sloping Ground
	  </h1>
      <p>
</p><p class="section-e"><b>4.2.4.5. Sloping Ground</b></p> <p class="subsection-e">  <b>(1) </b>Where a <i><a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Toronto Basement renovator">foundation</a></i> is to rest on, in or near sloping ground, this particular condition shall be provided for in the <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a>.</p> 
	  
      
	  
	  
	  
	  
    </div>