<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Hydrostatic Uplift
	  </h1>
      <p>
</p><p class="section-e"><b>4.2.4.8. Hydrostatic Uplift</b></p> <p class="subsection-e">  <b>(1) </b>Where a <i><a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Toronto Basement renovator">foundation</a></i> or any part of a <i><a href ="http://thehandyforce.com/doors/" title ="Door manufacture in Toronto">building</a></i>is subject to hydrostatic uplift the effects shall be provided for in the <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a>.</p> 
	  
      
	  
	  
	  
	  
    </div>