<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Groundwater Level Change
	  </h1>
      <p>
</p><p class="section-e"><b>4.2.4.9. Ground<a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> Level Change</b></p> <p class="subsection-e">  <b>(1) </b>Where proposed<i>construction</i> will result in a temporary or permanent change in the <i>ground<a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> level</i>, the effects of this change on adjacent <i><a href ="http://thehandyforce.com/services/" title ="East York professional renovations">building</a>s</i> shall be fully investigated and provided for in the <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a>.</p> 
	  
      
	  
	  
	  
	  
    </div>