<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Permafrost
	  </h1>
      <p>
</p><p class="section-e"><b>4.2.4.10. Permafrost</b></p> <p class="subsection-e">  <b>(1) </b>Where conditions of permafrost are encountered or proven to exist, the <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a> of the <i><a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Toronto Basement renovator">foundation</a></i> shall be based upon analysis of these conditions by a person especially qualified in that field of work.</p> 
	  
      
	  
	  
	  
	  
    </div>