<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Swelling and Shrinking Soils
	  </h1>
      <p>
</p><p class="section-e"><b>4.2.4.11. Swelling and Shrinking soils</b></p> <p class="subsection-e"><b>  (1) </b>Where swelling or shrinking <i>soils</i>, in which movements resulting from moisture content changes may be sufficient to cause damage to a structure, are encountered or known to exist, such a condition shall be fully investigated and provided for in the design.</p> 
	  
      
	  
	  
	  
	  
    </div>