<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Expanding and Deteriorating Rock
	  </h1>
      <p>
</p><p class="section-e"><b>4.2.4.12. Expanding and Deteriorating Rock</b></p> <p class="subsection-e"><b>  (1) </b>Where <i>rock</i> that expands or deteriorates when subjected to unfavourable environmental conditions or to stress release is known to exist, this condition shall be fully investigated and provided for in the <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a>.</p> 
	  
      
	  
	  
	  
	  
    </div>