<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Construction on Fill
	  </h1>
      <p>
</p><p class="section-e"><b>4.2.4.13. Construction on Fill</b></p> <p class="subsection-e">  <b>(1) </b><i>buildings</i> may be placed on <i>fill</i>if it can be shown by <i>subsurface investigation</i>that,</p> <p class="clause-e">  (a) the <i>fill</i>is or can be made capable of safely supporting the <i>building</i>,</p> <p class="clause-e">  (b) detrimental movement of the <i>building</i> or services leading to the <i>building</i>will not occur, and</p> <p class="clause-e">  (c) explosive gases can be controlled or do not exist.</p> 
	  
      
	  
	  
	  
	  
    </div>