<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Structural Design
	  </h1>
      <p>
</p><p class="section-e"><b>4.2.4.14. Structural design</b></p> <p class="subsection-e"><b>  (1) </b>The structural design of the <i>foundation</i>of a <i>building</i>, the procedures and <i>construction</i> practices shall conform with the appropriate Sections of this Code unless otherwise specified in this Section.</p> <p class="ruleb-e">4.2.5. Excavations</p> 
	  
      
	  
	  
	  
	  
    </div>