<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Structural Design
	  </h1>
      <p>
</p><p class="section-e"><b>4.2.4.14. Structural <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a></b></p> <p class="subsection-e"><b>  (1) </b>The structural <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a> of the <i><a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Toronto Basement renovator">foundation</a></i>of a <i><a href ="http://thehandyforce.com/insulation/" title ="Instulation Installtion in Toronto">building</a></i>, the procedures and <i>construction</i> practices shall conform with the appropriate Sections of this Code unless otherwise specified in this Section.</p> <p class="ruleb-e">4.2.5. Excavations</p> 
	  
      
	  
	  
	  
	  
    </div>