<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Design of Excavations
	  </h1>
      <p>
</p><p class="section-e"><b>4.2.5.1. <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a> of Excavations</b></p> <p class="subsection-e"><b>  (1) </b>The <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a> of <i>excavations</i> and of <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>s for the sides of <i>excavations</i> shall conform to the requirements of Subsection 4.2.4. and this Subsection.</p> 
	  
      
	  
	  
	  
	  
    </div>