<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Excavation Construction
	  </h1>
      <p>
</p><p class="section-e"><b>4.2.5.2. Excavation Construction</b></p> <p class="subsection-e"><b>  (1) </b>Every <i>excavation</i> shall be undertaken in such a manner as to prevent movement that would cause damage to adjacent <i>buildings </i>at all phases of <i>construction</i>.</p> <p class="subsection-e">  <b>(2) </b>Material shall not be placed nor shall equipment be operated or placed in or adjacent to an <i>excavation</i> in a manner that may endanger the integrity of the <i>excavation</i> or its supports.</p> 
	  
      
	  
	  
	  
	  
    </div>