<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Excavation Construction
	  </h1>
      <p>
</p><p class="section-e"><b>4.2.5.2. Excavation Construction</b></p> <p class="subsection-e"><b>  (1) </b>Every <i>excavation</i> shall be undertaken in such a manner as to pre<a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renovation inspiration">vent</a> movement that would cause damage to adjacent <i><a href ="http://thehandyforce.com/insulation/" title ="Toronto home insulation">building</a>s </i>at all phases of <i>construction</i>.</p> <p class="subsection-e">  <b>(2) </b>Material shall not be placed nor shall equipment be operated or placed in or adjacent to an <i>excavation</i> in a manner that may endanger the integrity of the <i>excavation</i> or its <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>s.</p> 
	  
      
	  
	  
	  
	  
    </div>