<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Supported Excavations
	  </h1>
      <p>
</p><p class="section-e"><b>4.2.5.3. <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>ed Excavations</b></p> <p class="subsection-e"><b>  (1) </b>The sides of an <i>excavation</i> in <i><a href ="http://thehandyforce.com/decks/" title ="Deck builder in Toronto">soil</a></i> or <i>rock</i> shall be <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>ed by a retaining structure conforming with the requirements of Articles 4.2.5.1. and 4.2.5.2., except as permitted in Article 4.2.5.4.</p> 
	  
      
	  
	  
	  
	  
    </div>