<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Unsupported Excavations
	  </h1>
      <p>
</p><p class="section-e"><b>4.2.5.4. Un<a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>ed Excavations</b></p> <p class="subsection-e"><b>  (1) </b>The sides of an <i>excavation</i> in <i><a href ="http://thehandyforce.com/decks/" title ="Deck builder in Toronto">soil</a></i> or <i>rock</i> may be un<a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>ed where a <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a> is prepared by a person especially qualified in this field of work in conformance with the requirements of Articles 4.2.5.1. and 4.2.5.2.</p> 
	  
      
	  
	  
	  
	  
    </div>