<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Control of Water Around Excavations
	  </h1>
      <p>
</p><p class="section-e"><b>4.2.5.5. Control of water Around Excavations</b></p> <p class="subsection-e">  <b>(1) </b><i>surface water</i>, all <i>groundwater</i>,<i>perched</i> <i>groundwater</i> and in particular <i>artesian groundwater</i> shall be kept under control at all phases of <i>excavation</i> and <i>construction</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>