<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Loss of Ground
	  </h1>
      <p>
</p><p class="section-e"><b>4.2.5.6. Loss of Ground</b></p> <p class="subsection-e"><b>  (1) </b>At all phases of <i>excavation</i> and <i>construction</i>, loss of ground due to <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> or any other cause shall be pre<a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renovation inspiration">vent</a>ed.</p> 
	  
      
	  
	  
	  
	  
    </div>