<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Protection and Maintenance at Excavations
	  </h1>
      <p>
</p><p class="section-e"><b>4.2.5.7. Protection and Maintenance at Excavations</b></p> <p class="subsection-e"><b>  (1) </b>All sides of an <i>excavation</i>, <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>ed and un<a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>ed, shall be continuously maintained and <a href ="http://thehandyforce.com/guarantee/" title ="Guaranteed Handymand and Renovation Services">protected</a> from possible deterioration by <i>construction</i> activity or by the action of frost, rain and wind.</p> 
	  
      
	  
	  
	  
	  
    </div>