<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Backfilling
	  </h1>
      <p>
</p><p class="section-e"><b>4.2.5.8. Backfilling</b></p> <p class="subsection-e"><b>  (1) </b>Where an <i>excavation</i> is backfilled, the backfill shall be placed so as to,</p> <p class="clause-e">  (a) provide lateral support to the <i>soil</i> adjacent to the <i>excavation</i>, and</p> <p class="clause-e">  (b) prevent detrimental movements.</p> <p class="subsection-e">  <b>(2) </b>The material used as backfill or <i>fill</i> supporting a footing, <i>foundation</i> or a floor on <i>grade</i>shall be of a type that is not subject to detrimental volume change with changes in moisture content and temperature.</p> <p class="ruleb-e">4.2.6. Shallow foundations</p> 
	  
      
	  
	  
	  
	  
    </div>