<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Design of Shallow Foundations
	  </h1>
      <p>
</p><p class="section-e"><b>4.2.6.1. <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a> of Shallow <a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Toronto Basement renovator">foundation</a>s</b></p> <p class="subsection-e"><b>  (1) </b>The <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a> of <i>shallow <a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Toronto Basement renovator">foundation</a></i>s shall be in conformance with the requirements of Subsection 4.2.4. and this Subsection.</p> 
	  
      
	  
	  
	  
	  
    </div>