<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Area Limits for Wired Glass and Glass Block
	  </h1>
      <p>
</p><p class="section-e"><b>3.1.8.16. Area Limits for wired glass and glass Block</b></p> <p class="subsection-e"><b>  (1) </b>Except as permitted by Article 3.1.8.17., the maximum area of wired glass in a door used in the locations shown in Table 3.1.8.15. shall conform to the Table.</p> <p class="subsection-e"><b>  (2) </b>Except as permitted by Article 3.1.8.17., the maximum area of glass block and wired glass panels not in a door, used in the locations shown in Table 3.1.8.15., shall conform to the Table.</p> 
	  
      
	  
	  
	  
	  
    </div>