<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Incorrect Placement of Shallow Foundations
	  </h1>
      <p>
</p><p class="section-e"><b>4.2.6.3. Incorrect Placement of Shallow foundations</b></p> <p class="subsection-e">  <b>(1) </b>Where a <i>shallow foundation unit</i> has not been placed or located as indicated on the drawings,</p> <p class="clause-e">  (a) the error shall be corrected, or</p> <p class="clause-e">  (b) the design of the <i>foundation unit</i> shall be recalculated for the altered conditions by the <i>designer</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>