<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Damaged Shallow Foundations
	  </h1>
      <p>
</p><p class="section-e"><b>4.2.6.4. Damaged Shallow foundations</b></p> <p class="subsection-e">  <b>(1) </b>Where a <i>shallow foundation unit</i> is damaged,</p> <p class="clause-e">  (a) it shall be repaired, or</p> <p class="clause-e">  (b) the <i>design </i>of the <i>foundation unit</i> shall be recalculated for the damaged condition by the <i>designer</i>.</p> <p class="ruleb-e">4.2.7. Deep foundations</p> 
	  
      
	  
	  
	  
	  
    </div>