<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | General
	  </h1>
      <p>
</p><p class="section-e"><b>4.2.7.1. General</b></p> <p class="subsection-e"><b>  (1) </b>A <i>deep foundation unit</i> shall provide support for a <i>building</i> by transferring loads by end-bearing to a competent stratum at considerable depth below the structure, or by mobilizing resistance by adhesion or friction, or both, in the <i>soil</i> or <i>rock</i> in which it is placed.</p> 
	  
      
	  
	  
	  
	  
    </div>