<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | General
	  </h1>
      <p>
</p><p class="section-e"><b>4.2.7.1. General</b></p> <p class="subsection-e"><b>  (1) </b>A <i>deep <a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Toronto Basement renovator">foundation</a> unit</i> shall provide <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a> for a <i><a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Handyman Bathroom Toronto">building</a></i> by transferring loads by end-bearing to a competent stratum at considerable depth below the structure, or by mobilizing resistance by adhesion or friction, or both, in the <i><a href ="http://thehandyforce.com/decks/" title ="Deck builder in Toronto">soil</a></i> or <i>rock</i> in which it is placed.</p> 
	  
      
	  
	  
	  
	  
    </div>