<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Tolerance in Alignment and Location
	  </h1>
      <p>
</p><p class="section-e"><b>4.2.7.3. Tolerance in Alignment and Location</b></p> <p class="subsection-e"><b>  (1) </b>Permissible deviations from the design alignment and the location of the top of <i>deep</i> <i>foundation units</i> shall be determined by design analysis and shall be indicated on the drawings.</p> 
	  
      
	  
	  
	  
	  
    </div>