<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Tolerance in Alignment and Location
	  </h1>
      <p>
</p><p class="section-e"><b>4.2.7.3. Tolerance in Alignment and Location</b></p> <p class="subsection-e"><b>  (1) </b>Permissible deviations from the <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a> alignment and the location of the top of <i>deep</i> <i><a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Toronto Basement renovator">foundation</a> units</i> shall be determined by <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a> analysis and shall be indicated on the drawings.</p> 
	  
      
	  
	  
	  
	  
    </div>