<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Incorrect Alignment and Location
	  </h1>
      <p>
</p><p class="section-e"><b>4.2.7.4. Incorrect Alignment and Location</b></p> <p class="subsection-e"><b>  (1) </b>Where a <i>deep</i> <i><a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Toronto Basement renovator">foundation</a> unit</i> has not been placed within the permissible deviations referred to in Article 4.2.7.3., the condition of the <i><a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Toronto Basement renovator">foundation</a></i>shall be assessed by the <i><a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a>er</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>