<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Installation of Deep Foundations
	  </h1>
      <p>
</p><p class="section-e"><b>4.2.7.5. installation of Deep foundations</b></p> <p class="subsection-e">  <b>(1) </b><i>Deep</i> <i>foundation units</i> shall be installed in such a manner as not to impair,</p> <p class="clause-e">  (a) the strength of the <i>deep</i> <i>foundation units</i> and the properties of the <i>soil</i> or <i>rock</i>on or in which they are placed beyond the calculated or anticipated limits,</p> <p class="clause-e">  (b) the integrity of previously installed <i>deep</i> <i>foundation units</i>, or</p> <p class="clause-e">  (c) the integrity of neighbouring <i>buildings</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>