<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Damaged Deep Foundation Units
	  </h1>
      <p>
</p><p class="section-e"><b>4.2.7.6. Damaged Deep foundation Units</b></p> <p class="subsection-e">  <b>(1) </b>Where inspection shows that a <i>deep foundation unit</i> is damaged or not consistent with design or good engineering practice,</p> <p class="clause-e">  (a) such a unit shall be reassessed by the <i>designer</i>, and</p> <p class="clause-e">  (b) any necessary changes shall be made and action taken as required.</p> <p class="ruleb-e">4.2.8. Special foundations</p> 
	  
      
	  
	  
	  
	  
    </div>