<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Damaged Deep Foundation Units
	  </h1>
      <p>
</p><p class="section-e"><b>4.2.7.6. Damaged Deep <a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Toronto Basement renovator">foundation</a> Units</b></p> <p class="subsection-e">  <b>(1) </b>Where inspection shows that a <i>deep <a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Toronto Basement renovator">foundation</a> unit</i> is damaged or not consistent with <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a> or good engineering practice,</p> <p class="clause-e">  (a) such a unit shall be reassessed by the <i><a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a>er</i>, and</p> <p class="clause-e">  (b) any necessary changes shall be made and action taken as required.</p> <p class="ruleb-e">4.2.8. Special <a href ="http://thehandyforce.com/interior/basement-renovations/" title ="Toronto Basement renovator">foundation</a>s</p> 
	  
      
	  
	  
	  
	  
    </div>