<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Use of Existing Foundations
	  </h1>
      <p>
</p><p class="section-e"><b>4.2.8.2. Use of Existing foundations</b></p> <p class="subsection-e"><b>  (1) </b>Existing <i>foundations</i> may be used to support new or altered <i>buildings</i> provided they comply with all pertinent requirements of this Section.</p> <p class="ruleb-e">Section 4.3. design Requirements for Structural Materials</p> <p class="ruleb-e">4.3.1. wood</p> 
	  
      
	  
	  
	  
	  
    </div>