<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Temperature Rise and Area Limits Waived
	  </h1>
      <p>
</p><p class="section-e"><b>3.1.8.17. temperature Rise and Area Limits Waived</b></p> <p class="subsection-e"><b>  (1) </b>The temperature rise limits and glass area limits required by Articles 3.1.8.15. and 3.1.8.16. are waived for a <i>closure</i>between an <i>exit</i> enclosure and an enclosed vestibule or corridor provided,</p> <p class="clause-e">  (a) the vestibule or corridor is separated from the remainder of the <i>floor area</i> by a<i>fire separation</i> having a <i>fire-resistance rating</i> not less than 45 min,</p> <p class="clause-e">  (b) the <i>fire separation</i> required by Clause (a) contains no wired glass or glass block within 3 m of the <i>closure</i> into the <i>exit</i> enclosure, and</p> <p class="clause-e">  (c) the vestibule or corridor contains no <i>occupancy</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>