<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Design Basis for Wood
	  </h1>
      <p>
</p><p class="section-e"><b>4.3.1.1. <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a> Basis for <a href ="http://thehandyforce.com/interior/" title ="Handyman Services in Toronto">wood</a></b></p> <p class="subsection-e">  <b>(1) </b><i><a href ="http://thehandyforce.com/interior/" title ="Interior Handyman services in Toronto">building</a>s</i> and their structural members made of <a href ="http://thehandyforce.com/interior/" title ="Handyman Services in Toronto">wood</a> shall conform to CSA O86, "Engineering <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a> in <a href ="http://thehandyforce.com/interior/" title ="Handyman Services in Toronto">wood</a>".</p> 
	  
      
	  
	  
	  
	  
    </div>