<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Design Basis for Plain and Reinforced Masonry
	  </h1>
      <p>
</p><p class="section-e"><b>4.3.2.1. design Basis for Plain and Reinforced masonry</b></p> <p class="subsection-e">  <b>(1) </b><i>buildings</i> and their structural members made of plain and reinforced masonry shall conform to CSA S304.1, "design of masonry Structures".</p> <p class="ruleb-e">4.3.3. Plain, Reinforced and Prestressed Concrete</p> 
	  
      
	  
	  
	  
	  
    </div>