<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Design Basis for Plain and Reinforced Masonry
	  </h1>
      <p>
</p><p class="section-e"><b>4.3.2.1. <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a> Basis for Plain and Reinforced <a href ="http://thehandyforce.com/home-renovations-north-york/" title ="Brick repair in Toronto Handyman">masonry</a></b></p> <p class="subsection-e">  <b>(1) </b><i><a href ="http://thehandyforce.com/services/" title ="Find a Handyman in Toronto">building</a>s</i> and their structural members made of plain and reinforced <a href ="http://thehandyforce.com/home-renovations-north-york/" title ="Brick repair in Toronto Handyman">masonry</a> shall conform to CSA S304.1, "<a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a> of <a href ="http://thehandyforce.com/home-renovations-north-york/" title ="Brick repair in Toronto Handyman">masonry</a> Structures".</p> <p class="ruleb-e">4.3.3. Plain, Reinforced and Prestressed Concrete</p> 
	  
      
	  
	  
	  
	  
    </div>