<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Design Basis for Plain, Reinforced and Prestressed Concrete
	  </h1>
      <p>
</p><p class="section-e"><b>4.3.3.1. <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a> Basis for Plain, Reinforced and Prestressed Concrete</b></p> <p class="subsection-e">  <b>(1) </b><i><a href ="http://thehandyforce.com/exterior/" title ="Certified home renovator">building</a>s</i> and their structural members made of plain, reinforced or prestressed concrete shall conform to CAN/CSA-A23.3, "<a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a> of Concrete Structures".</p> <p class="ruleb-e">4.3.4. Steel</p> 
	  
      
	  
	  
	  
	  
    </div>