<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Steel Building Systems
	  </h1>
      <p>
</p><p class="section-e"><b>4.3.4.3. Steel <a href ="http://thehandyforce.com/flooring/" title ="Hardwood and engineered flooring installation">building</a> Systems</b></p> <p class="subsection-e">  <b>(1) </b>Steel <i>building </i>systems shall be manufactured by companies certified in accordance with the requirements of CSA A660, "Certification of Manufacturers of Steel Building Systems".</p> <p class="ruleb-e">4.3.5. Aluminum</p> 
	  
      
	  
	  
	  
	  
    </div>