<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Design Basis for Aluminium
	  </h1>
      <p>
</p><p class="section-e"><b>4.3.5.1. <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a> Basis for Aluminium</b></p> <p class="subsection-e"><b>  (1) </b><i><a href ="http://thehandyforce.com/drywall/" title ="Toronto Drywall Handyman Repair">building</a>s</i> and their structural members made of aluminum shall conform to CAN/CSA-S157 / S157.1, "Strength <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a> in Aluminum/Commentary on CSA S157-05, Strength <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a> in Aluminum", using the loads stipulated in Section 4.1., in accordance with limit states <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a> in Subsection 4.1.3.</p> <p class="ruleb-e">4.3.6. <a href ="http://thehandyforce.com/windows/" title ="Window fabrication in Toronto">glass</a></p> 
	  
      
	  
	  
	  
	  
    </div>