<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Design Basis for Aluminium
	  </h1>
      <p>
</p><p class="section-e"><b>4.3.5.1. design Basis for Aluminium</b></p> <p class="subsection-e"><b>  (1) </b><i>buildings</i> and their structural members made of aluminum shall conform to CAN/CSA-S157 / S157.1, "Strength design in Aluminum/Commentary on CSA S157-05, Strength design in Aluminum", using the loads stipulated in Section 4.1., in accordance with limit states design in Subsection 4.1.3.</p> <p class="ruleb-e">4.3.6. glass</p> 
	  
      
	  
	  
	  
	  
    </div>