<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Design Basis for Air-Supported Structures
	  </h1>
      <p>
</p><p class="section-e"><b>4.4.1.1. design Basis for Air-supported Structures</b></p> <p class="subsection-e"><b>  (1) </b>The structural design of <i>air-supported structures</i> shall conform to CSA S367, "Air-, Cable-, and Frame-Membrane supported Structures" using the loads stipulated in Section 4.1., in accordance with limit states design in Subsection 4.1.3.</p> <p class="ruleb-e">4.4.2. Parking Structures</p> 
	  
      
	  
	  
	  
	  
    </div>