<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Design Basis for Air-Supported Structures
	  </h1>
      <p>
</p><p class="section-e"><b>4.4.1.1. <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a> Basis for Air-<a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>ed Structures</b></p> <p class="subsection-e"><b>  (1) </b>The structural <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a> of <i>air-<a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>ed structures</i> shall conform to CSA S367, "Air-, Cable-, and Frame-Membrane <a href ="http://thehandyforce.com/homecareplan/" title ="Handyman in Toronto">support</a>ed Structures" using the loads stipulated in Section 4.1., in accordance with limit states <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a> in Subsection 4.1.3.</p> <p class="ruleb-e">4.4.2. Parking Structures</p> 
	  
      
	  
	  
	  
	  
    </div>