<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Guards over Retaining Walls
	  </h1>
      <p>
</p><p class="section-e"><b>4.4.3.1. Guards over Retaining walls</b></p> <p class="subsection-e">  <b>(1) </b>Every retaining wall that is designated in Sentence 1.3.1.1.(1) of Division A shall be protected by <i>guards</i> on all open sides where the public has access to open space at the top of the retaining wall.</p> <p class="ruleb-e">4.4.4. Anchor Systems on building Exterior</p> 
	  
      
	  
	  
	  
	  
    </div>