<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Exposure to Exterior Space or the Ground and Separation of Dissimilar Environments
	  </h1>
      <p>
</p><p class="section-e"><b>5.1.2.1. Exposure to exterior Space or the Ground and Separation of Dissimilar Environments</b></p> <p class="subsection-e">  <b>(1) </b>This Part applies to,</p> <p class="clause-e">  (a)  <i>building</i>materials, components and assemblies exposed to exterior space or the ground, including those separating interior space from exterior space or separating interior space from the ground,</p> <p class="clause-e">  (b)  <i>building</i>materials, components and assemblies separating environmentally dissimilar interior spaces, and</p> <p class="clause-e">  (c) site materials, components, assemblies and grading that may affect environmental loads on <i>building</i> materials, components and assemblies exposed to exterior space or the ground.</p> <p class="ruleb-e">5.1.3. Definitions</p> 
	  
      
	  
	  
	  
	  
    </div>