<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Requirements in other Parts of the Code
	  </h1>
      <p>
</p><p class="section-e"><b>5.1.5.1. Requirements in other Parts of the Code</b></p> <p class="subsection-e">  <b>(1) </b>Structural and fire safety requirements in other Parts of the Code shall apply.</p> <p class="ruleb-e">Section 5.2. Loads and Procedures</p> <p class="ruleb-e">5.2.1. Environmental Loads and <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a> Procedures</p> 
	  
      
	  
	  
	  
	  
    </div>