<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Exterior Environmental Loads
	  </h1>
      <p>
</p><p class="section-e"><b>5.2.1.1. exterior Environmental Loads</b></p> <p class="subsection-e">  <b>(1) </b>Above ground climatic loads shall be determined according to MMAH Supplementary Standard SB-1, "Climatic and Seismic Data".</p> <p class="subsection-e">  <b>(2) </b>Except as provided in Sentence (3), below ground exterior environmental loads not described in MMAH Supplementary Standard SB-1, "Climatic and Seismic Data", shall be determined from existing geological and hydrological data or from site tests.</p> <p class="subsection-e">  <b>(3) </b>Where local design and construction practice has shown <i>soil</i>temperature analysis to be unnecessary, <i>soil</i>temperatures need not be determined.</p> 
	  
      
	  
	  
	  
	  
    </div>