<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Environmental Load and Transfer Calculations
	  </h1>
      <p>
</p><p class="section-e"><b>5.2.1.3. Environmental Load and Transfer Calculations</b></p> <p class="subsection-e">  <b>(1) </b>Calculations related to the transfer of heat, air and moisture and the transmission of sound shall conform to good engineering practice such as that described in the ASHRAE Fundamentals Handbook.</p> <p class="subsection-e">  <b>(2) </b>For the purposes of any analysis conducted to indicate conformance to the thermal resistance levels required in Article 5.3.1.2., <i>soil</i>temperatures shall be determined based on annual average <i>soil</i>temperature, seasonal amplitude of variation and attenuation of variation with depth.</p> <p class="subsection-e">  <b>(3) </b>Wind load calculations shall conform to Subsection 4.1.7.</p> <p class="ruleb-e">5.2.2. Structural Loads and design Procedures</p> 
	  
      
	  
	  
	  
	  
    </div>