<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Design Procedures
	  </h1>
      <p>
</p><p class="section-e"><b>5.2.2.3. <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a> Procedures</b></p> <p class="subsection-e">  <b>(1) </b>Structural <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a> shall be carried out in accordance with Subsection 4.1.3. and other applicable requirements in Part 4.</p> <p class="ruleb-e">Section 5.3. Heat Transfer</p> <p class="ruleb-e">5.3.1. Thermal Resistance of Assemblies</p> 
	  
      
	  
	  
	  
	  
    </div>