<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Combustibility of Service Penetrations
	  </h1>
      <p>
</p><p class="section-e"><b>3.1.9.2. Combustibility of <a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">service</a> Penetrations</b></p> <p class="subsection-e"><b>  (1) </b>Except as permitted by Articles 3.1.9.3. and 3.1.9.4., <a href ="http://thehandyforce.com/plumbing/" title ="Plubing leak repair in Toronto">pipe</a>s, ducts, electrical <a href ="http://thehandyforce.com/electrical/" title ="Handyman electrial">outlet</a> boxes, totally enclosed raceways or other similar <a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">service</a> equipment that penetrate an assembly required to have a <i>fire-resistance rating</i> shall be <i>noncombustible</i> unless the assembly has been tested incorporating that <a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">service</a> equipment.</p> 
	  
      
	  
	  
	  
	  
    </div>