<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Accumulation and Disposal
	  </h1>
      <p>
</p><p class="section-e"><b>5.6.2.2. Accumulation and Disposal</b></p> <p class="subsection-e">  <b>(1) </b>Where water, snow or ice can accumulate on a <i>building</i>, provision shall be made to minimize the likelihood of hazardous conditions arising from such accumulation.</p> <p class="subsection-e">  <b>(2) </b>Where precipitation can accumulate on sloped or horizontal assemblies, provision shall be made for drainage conforming with Section 7.4.</p> <p class="subsection-e">  <b>(3) </b>Where downspouts are provided and are not connected to a sewer, provisions shall be made to,</p> <p class="clause-e">  (a) divert the water from the <i>building</i>, and</p> <p class="clause-e">  (b) prevent <i>soil</i>erosion.</p> <p class="subsection-e">  <b>(4) </b>Junctions between vertical assemblies, and sloped or horizontal assemblies, shall be designed and constructed to minimize the flow of water from the sloped or horizontal assembly onto the vertical assembly.</p> 
	  
      
	  
	  
	  
	  
    </div>