<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Solar Collector Systems
	  </h1>
      <p>
</p><p class="section-e"><b>5.6.2.3. Solar Collector Systems</b></p> <p class="subsection-e">  <b>(1) </b>A solar collector system is permitted to be installed above roofing materials conforming to Table 5.10.1.1.</p> <p class="ruleb-e">Section 5.7. surface Water</p> <p class="ruleb-e">5.7.1. Protection from surface Water</p> 
	  
      
	  
	  
	  
	  
    </div>