<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Prevention of Accumulation and Ingress
	  </h1>
      <p>
</p><p class="section-e"><b>5.7.1.1. Prevention of Accumulation and Ingress</b></p> <p class="subsection-e">  <b>(1) </b>Except as provided in Sentence (3), the <i>building </i>shall be located, the <i>building </i>site shall be graded or catch basins shall be installed so that <i>surface water</i>will not accumulate against the <i>building</i>.</p> <p class="subsection-e">  <b>(2) </b>Except as provided in Sentence (3), the <i>foundation </i>walls shall be constructed so that <i>surface water</i> will not,</p> <p class="clause-e">  (a) enter the <i>building</i>, or</p> <p class="clause-e">  (b) damage moisture susceptible materials.</p> <p class="subsection-e">  <b>(3) </b><i>Buildings</i> specifically designed to accommodate accumulation of water at the <i>building</i> or the ingress of water need not comply with Sentence (1) or Clause (2)(a).</p> <p class="ruleb-e">Section 5.8. Moisture in the Ground</p> <p class="ruleb-e">5.8.1. Foundation and Floor Drainage</p> 
	  
      
	  
	  
	  
	  
    </div>