<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Required Drainage
	  </h1>
      <p>
</p><p class="section-e"><b>5.8.1.1. Required drainage</b></p> <p class="subsection-e">  <b>(1) </b>Except where a wall or floor is subject to continuous hydrostatic pressure, or unless it can be shown to be unnecessary, the bottom of every exterior <i>foundation</i>wall and every floor-on-ground shall be provided with drainage.</p> 
	  
      
	  
	  
	  
	  
    </div>