<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Drainage Materials and Installation
	  </h1>
      <p>
</p><p class="section-e"><b>5.8.1.2. <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Professional East York Basement Renvator">drainage</a> Materials and <a href ="http://thehandyforce.com/insulation/" title ="Sprayfoam insulation in Toronto">installation</a></b></p> <p class="subsection-e">  <b>(1) </b><a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Professional East York Basement Renvator">drainage</a> shall be <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a>ed and installed to accommodate the <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Professional East York Basement Renvator">drainage</a> load.</p> <p class="ruleb-e">5.8.2. Protection from <a href ="http://thehandyforce.com/plumbing/" title ="Toronto Plumber">moisture</a> in the Ground</p> 
	  
      
	  
	  
	  
	  
    </div>