<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Sound Transmission Class
	  </h1>
      <p>
</p><p class="section-e"><b>5.9.1.1. Sound Transmission Class</b></p> <p class="subsection-e">  <b>(1) </b>Sound transmission class ratings shall be determined in accordance with ASTM E413, "Classification for Rating Sound insulationinsulation", using the results from measurements in accordance with,</p> <p class="clause-e">  (a) ASTM E90, "Laboratory Measurement of Airborne Sound Transmission Loss of building Partitions and Elements", or</p> <p class="clause-e">  (b) ASTM E336, "Measurement of Airborne Sound Attenuation Between Rooms in Buildings".</p> 
	  
      
	  
	  
	  
	  
    </div>