<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | General
	  </h1>
      <p>
</p><p class="section-e"><b>5.10.2.1. General</b></p> <p class="subsection-e">  (1) This Subsection applies to windows, doors and skylights, including their components, that separate,</p> <p class="clause-e">  (a) interior space from exterior space, or</p> <p class="clause-e">  (b) environmentally dissimilar interior spaces.</p> <p class="subsection-e">  (2) For the purpose of this Subsection, the term "skylight" refers to unit skylights, roof windows and tubular lighting devices.</p> <p class="subsection-e">  (3) Where a wired glass assembly is installed in a required <i>fire separation</i>, it need not conform to the requirements of this Subsection.</p> 
	  
      
	  
	  
	  
	  
    </div>