<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Structural Loads, Air Leakage and Water Penetration
	  </h1>
      <p>
</p><p class="section-e"><b>5.10.2.3. Structural Loads, Air Leakage and water Penetration</b></p> <p class="subsection-e">  (1) windows, doors, skylights and their components shall be designed and constructed in accordance with,</p> <p class="clause-e">  (a) Article 5.10.2.2., where they are covered in the scope of the standards listed in Sentence 5.10.2.2.(1), or</p> <p class="clause-e">  (b) Article 5.1.4.1. and Sections 5.4. and 5.6., in other cases.</p> 
	  
      
	  
	  
	  
	  
    </div>