<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Structural Loads, Air Leakage and Water Penetration
	  </h1>
      <p>
</p><p class="section-e"><b>5.10.2.3. Structural Loads, Air Leakage and <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> Penetration</b></p> <p class="subsection-e">  (1) <a href ="http://thehandyforce.com/windows/" title ="East York Window installer">window</a>s, doors, sky<a href ="http://thehandyforce.com/electrical/" title ="East York Electrician">light</a>s and their components shall be <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a>ed and constructed in accordance with,</p> <p class="clause-e">  (a) Article 5.10.2.2., where they are covered in the scope of the standards listed in Sentence 5.10.2.2.(1), or</p> <p class="clause-e">  (b) Article 5.1.4.1. and Sections 5.4. and 5.6., in other cases.</p> 
	  
      
	  
	  
	  
	  
    </div>