<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Scope
	  </h1>
      <p>
</p><p class="section-e"><b>6.1.1.1. Scope</b></p> <p class="subsection-e">  <b>(1) </b>The scope of this Part shall be as described in Subsection 1.1.2. of Division A.</p> <p class="subsection-e">  <b>(2) </b>Where the method of operation of an existing heating, ventilating or<i>air-conditioning</i> system is altered, the repair or component replacements that change the capacity or extent of safety of the system shall conform to this Code.</p> 
	  
      
	  
	  
	  
	  
    </div>