<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Application
	  </h1>
      <p>
</p><p class="section-e"><b>6.1.1.2. <a href ="http://thehandyforce.com/businesses/" title ="Business Services in Toronto">application</a></b></p> <p class="subsection-e">  <b>(1) </b>This Part applies to systems and equipment for heating, <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renovation inspiration">vent</a>ilating and <i>air-conditioning</i> <a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">service</a>s.</p> <p class="ruleb-e">Section 6.2. <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a> and <a href ="http://thehandyforce.com/insulation/" title ="Sprayfoam insulation in Toronto">installation</a></p> <p class="ruleb-e">6.2.1. General</p> 
	  
      
	  
	  
	  
	  
    </div>