<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Structural Movement
	  </h1>
      <p>
</p><p class="section-e"><b>6.2.1.3. Structural Movement</b></p> <p class="subsection-e">  <b>(1) </b>Mechanical systems and equipment shall be <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a>ed and installed to accommodate the maximum relative structural movement provided for in the <i>construction</i>of the <i><a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Bathroom General Contractor in Toronto">building</a></i>.</p> 
	  
      
	  
	  
	  
	  
    </div>