<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Fireplaces
	  </h1>
      <p>
</p><p class="section-e"><b>6.2.1.5. <a href ="http://thehandyforce.com/home-renovations-north-york/" title ="Toronto Handyman Services">fireplace</a>s</b></p> <p class="subsection-e"><b>  (1) </b><a href ="http://thehandyforce.com/home-renovations-north-york/" title ="Toronto Handyman Services">fireplace</a>s shall conform to the requirements of Section 9.22.</p> 
	  
      
	  
	  
	  
	  
    </div>