<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Openings through a Membrane Ceiling
	  </h1>
      <p>
</p><p class="section-e"><b>3.1.9.5. openings through a Membrane ceiling</b></p> <p class="subsection-e"><b>  (1) </b>A membrane ceiling forming part of an assembly assigned a <i>fire-resistance rating</i> on the basis of MMAH Supplementary Standard SB-2, "Fire Performance Ratings", is permitted to be penetrated by openings leading into ducts within the ceiling space provided,</p> <p class="clause-e">  (a) the ducts are sheet steel, and</p> <p class="clause-e">  (b) the amount of openings and their protection conform to the requirements of MMAH Supplementary Standard SB-2, "Fire Performance Ratings".</p> <p class="subsection-e"><b>  (2) </b><i>Fire stop flaps</i>in ceiling membranes required in Sentence (1) shall conform to CAN/ulc-S112.2, "Fire Test of ceiling Firestop Flap Assemblies".</p> 
	  
      
	  
	  
	  
	  
    </div>