<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Outside Design Conditions
	  </h1>
      <p>
</p><p class="section-e"><b>6.2.1.7. Outside <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a> Conditions</b></p> <p class="subsection-e"><b>  (1) </b>The outside conditions to be used in <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a>ing heating, <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renovation inspiration">vent</a>ilating and <i>air-conditioning</i> systems shall be determined in conformance with MMAH Supplementary Standard SB-1, "Climatic and Seismic Data".</p> 
	  
      
	  
	  
	  
	  
    </div>