<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Installation – General
	  </h1>
      <p>
</p><p class="section-e"><b>6.2.1.8. installation – General</b></p> <p class="subsection-e">  <b>(1) </b>Equipment requiring periodic maintenance and forming part of a heating, ventilating or <i>air-conditioning</i> system shall be installed with provision for access for inspection, maintenance, repair and cleaning.</p> <p class="subsection-e">  <b>(2) </b>Mechanical equipment shall be provided with guards to prevent injury.</p> <p class="subsection-e">  <b>(3) </b>Heating, ventilating or <i>air-conditioning</i> systems shall be protected from freezing if they may be adversely affected by freezing temperatures.</p> 
	  
      
	  
	  
	  
	  
    </div>