<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Expansion, Contraction and System Pressure
	  </h1>
      <p>
</p><p class="section-e"><b>6.2.1.9. Expansion, Contraction and System pressure</b></p> <p class="subsection-e"><b>  (1) </b>Heating and cooling systems shall be designed to allow for expansion and contraction of the heat transfer fluid and to maintain the system pressure within the rated working pressure limits of all components of the system.</p> 
	  
      
	  
	  
	  
	  
    </div>