<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Expansion, Contraction and System Pressure
	  </h1>
      <p>
</p><p class="section-e"><b>6.2.1.9. Expansion, Contraction and System <a href ="http://thehandyforce.com/plumbing/" title ="Increase water pressure with a Toronto Plumber">pressure</a></b></p> <p class="subsection-e"><b>  (1) </b>Heating and cooling systems shall be <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a>ed to allow for expansion and contraction of the heat transfer fluid and to maintain the system <a href ="http://thehandyforce.com/plumbing/" title ="Increase water pressure with a Toronto Plumber">pressure</a> within the rated working <a href ="http://thehandyforce.com/plumbing/" title ="Increase water pressure with a Toronto Plumber">pressure</a> limits of all components of the system.</p> 
	  
      
	  
	  
	  
	  
    </div>