<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Access Openings
	  </h1>
      <p>
</p><p class="section-e"><b>6.2.1.11. Access openings</b></p> <p class="subsection-e"><b>  (1) </b>Any covering of an access opening through which a person could enter shall be openable from the inside without the use of keys where there is a possibility of the opening being accidentally closed while the system or equipment is being serviced.</p> 
	  
      
	  
	  
	  
	  
    </div>