<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Combustible Tubing
	  </h1>
      <p>
</p><p class="section-e"><b>6.2.1.12. Combustible Tubing</b></p> <p class="subsection-e"><b>  (1) </b><i>Combustible</i>tubing for pneumatic controls may be used in <i>buildings</i>required to be of <i>noncombustible construction</i> provided it has an outside diameter not exceeding 10 mm.</p> <p class="ruleb-e">6.2.2. ventilation</p> 
	  
      
	  
	  
	  
	  
    </div>