<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Plenums
	  </h1>
      <p>
</p><p class="section-e"><b>3.1.9.6. Plenums</b></p> <p class="subsection-e"><b>  (1) </b>A <a href ="http://thehandyforce.com/drywall/" title ="Drywall repair and installation in Toronto">ceiling</a> assembly used as a <i>plenum</i>shall conform to Article 3.6.4.3.</p> <p class="ruleb-e">3.1.10. Fire<a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a>s</p> 
	  
      
	  
	  
	  
	  
    </div>