<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Hazardous Gases, Dusts or Liquids
	  </h1>
      <p>
</p><p class="section-e"><b>6.2.2.5. Hazardous Gases, Dusts or Liquids</b></p> <p class="subsection-e"><b>  (1) </b>Except as provided in Subsection 6.2.13., systems serving spaces that contain hazardous gases, dusts or liquids shall be designed, constructed and installed in conformance with the provisions of the Fire Code made under the <i>Fire Protection and Prevention Act, 1997</i>, or in the absence of requirements pertinent to such systems in the Fire Code, to good engineering practice such as is described in the publications of the National Fire Protection Association and in the CCBFC NRCC 53303, "National Fire Code of Canada".</p> <p class="subsection-e">  <b>(2) </b>When indoor piping for Class I <i>flammable liquids</i> is installed in a trench, the trench shall be,</p> <p class="clause-e">  (a) provided with positive ventilation to the doors, or</p> <p class="clause-e">  (b) designed to prevent the accumulation of flammable vapours.</p> 
	  
      
	  
	  
	  
	  
    </div>