<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Commercial Cooking Equipment
	  </h1>
      <p>
</p><p class="section-e"><b>6.2.2.6. Commercial Cooking Equipment</b></p> <p class="subsection-e">  <b>(1) </b>All commercial cooking equipment shall be provided with ventilation systems designed, constructed and installed to conform to nfpa 96, "ventilation Control and Fire Protection of Commercial Cooking Operations", except as required by Sentence 3.6.3.1.(1) and Article 3.6.4.2.</p> <p class="subsection-e">  <b>(2) </b>Fire protection systems for high efficiency, high temperature commercial cooking equipment using vegetable oil or animal fat shall conform to,</p> <p class="clause-e">  (a) ANSI/UL 300, "Fire Extinguishing Systems for Protection of Commercial Cooking Equipment", or</p> <p class="clause-e">  (b) ulc/ORD-C1254.6, "Fire Testing of Restaurant Cooking Area Fire Extinguishing System Units".</p> 
	  
      
	  
	  
	  
	  
    </div>