<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Crawl Spaces and Attic or Roof Spaces
	  </h1>
      <p>
</p><p class="section-e"><b>6.2.2.7. Crawl Spaces and <a href ="http://thehandyforce.com/renovations/" title ="Attic renovations in Toronto">attic</a> or Roof Spaces</b></p> <p class="subsection-e"><b>  (1) </b>Every crawl space and every <i><a href ="http://thehandyforce.com/renovations/" title ="Attic renovations in Toronto">attic</a> or roof space</i>shall be <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renovation inspiration">vent</a>ilated by natural or mechanical means.</p> <p class="ruleb-e">6.2.3. Air Duct Systems</p> 
	  
      
	  
	  
	  
	  
    </div>