<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Underground Ducts
	  </h1>
      <p>
</p><p class="section-e"><b>6.2.3.5. Underground Ducts</b></p> <p class="subsection-e">  <b>(1) </b>Underground ducts shall,</p> <p class="clause-e">  (a) be constructed and installed with a slope to provide interior drainage to all low points,</p> <p class="clause-e">  (b) not be connected directly to a sewer, and</p> <p class="clause-e">  (c) be installed and constructed of materials in conformance with ASHRAE Handbooks, SMACNA Manuals and the HRAI Digest.</p> <p class="subsection-e">  <b>(2) </b>A clean-out or pump-out connection shall be provided in an underground duct system at every low point of the duct system.</p> 
	  
      
	  
	  
	  
	  
    </div>