<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Smoke Detector Control
	  </h1>
      <p>
</p><p class="section-e"><b>6.2.3.7. Smoke <a href ="http://thehandyforce.com/electrical/" title ="Licensed electrician East York">detector</a> Control</b></p> <p class="subsection-e">  <b>(1) </b>Air handling systems shall incorporate <i>smoke <a href ="http://thehandyforce.com/electrical/" title ="Licensed electrician East York">detector</a></i> control where required by Article 3.2.4.13.</p> 
	  
      
	  
	  
	  
	  
    </div>