<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Make-up Air
	  </h1>
      <p>
</p><p class="section-e"><b>6.2.3.11. Make-up Air</b></p> <p class="subsection-e"><b>  (1) </b>In ventilating systems that exhaust air to the doors, provision shall be made for the admission of a supply of make-up air in sufficient quantity so that the operation of the exhaust system and other exhaust equipment or combustion equipment is not adversely affected.</p> <p class="subsection-e">  <b>(2) </b>Make-up air facilities required by Sentence (1) shall be interlocked with the exhaust devices they serve so that both operate together.</p> <p class="subsection-e">  <b>(3) </b>Where make-up air facilities are intended to introduce air directly from the doors to occupied parts of the <i>building </i>in winter, they shall incorporate means of tempering that air to maintain the indoor design temperature.</p> 
	  
      
	  
	  
	  
	  
    </div>