<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Air Washers and Evaporative Cooling Sections or Towers
	  </h1>
      <p>
</p><p class="section-e"><b>6.2.3.14. Air Washers and Evaporative Cooling Sections or Towers</b></p> <p class="subsection-e">  <b>(1) </b>The filter and water evaporation medium of every air washer and evaporative cooling section enclosed within a <i>building</i> shall be made of <i>noncombustible</i> material.</p> <p class="subsection-e"><b>  (2) </b>Sumps for air washer and evaporative cooling sections shall be constructed and installed so that they can be flushed and drained.</p> <p class="subsection-e">  <b>(3) </b>Evaporative cooling sections or towers shall comply with the requirements of nfpa 214, "water-Cooling Towers".</p> 
	  
      
	  
	  
	  
	  
    </div>