<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Fans and Associated Air Handling Equipment
	  </h1>
      <p>
</p><p class="section-e"><b>6.2.3.15. Fans and Associated Air Handling Equipment</b></p> <p class="subsection-e"><b>  (1) </b>Fans for heating, ventilating and <i>air-conditioning</i>systems shall be located and installed so that their operation,</p> <p class="clause-e">  (a) does not adversely affect the draft required for proper operation of fuel-fired <i>appliances</i>, and</p> <p class="clause-e">  (b) does not allow the air in the air duct system to be contaminated by air or gases from the <i>boiler</i>-room or <i>furnace</i>-room.</p> <p class="subsection-e">  <b>(2) </b>Fans and associated air handling equipment, such as air washers, filters and heating and cooling units, when installed on the roof or elsewhere outside the <i>building</i>, shall be of a type designed for door use.</p> 
	  
      
	  
	  
	  
	  
    </div>