<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Vibration Isolation Connectors
	  </h1>
      <p>
</p><p class="section-e"><b>6.2.3.16. Vibration Isolation Connectors</b></p> <p class="subsection-e"><b>  (1) </b>Vibration isolation connectors in air duct systems shall be <i>noncombustible</i>, except that <i>combustible</i>fabric connectors are permitted provided they,</p> <p class="clause-e">  (a) do not exceed 250 mm in length,</p> <p class="clause-e">  (b) comply with the flame-resistance requirements of CAN/ulc-S109, "Flame Tests of Flame-Resistant Fabrics and Films", and</p> <p class="clause-e">  (c) are not used in a location where they are exposed to heated air or radiation from heat sources that may cause the exposed surface to exceed a temperature of 120°C.</p> 
	  
      
	  
	  
	  
	  
    </div>