<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Tape
	  </h1>
      <p>
</p><p class="section-e"><b>6.2.3.17. Tape</b></p> <p class="subsection-e"><b>  (1) </b>Tape used for sealing joints in air ducts, <i>plenums</i>and other parts of air duct systems shall meet the flame-resistance requirements for fabric in CAN/<a href ="http://canada.ul.com/ulcstandards/" title ="ULC Standards">ulc</a>-S109, "Flame Tests of Flame-Resistant Fabrics and Films".</p> 
	  
      
	  
	  
	  
	  
    </div>