<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Application
	  </h1>
      <p>
</p><p class="section-e"><b>6.2.4.1. application</b></p> <p class="subsection-e">  <b>(1) </b>The requirements of this Subsection apply to the design, construction and installation of air duct distribution systems serving heating, ventilating and <i>air-conditioning</i> systems that serve individual <i>dwelling units</i> within the scope of Part 9.</p> <p class="Pnote-e">Note: On July 1, 2017, Sentence 6.2.4.1.(1) of Division B of the Regulation is amended by striking out "individual <i>dwelling units</i>" and substituting "a <i>house</i>or an individual <i>dwelling unit</i>". (See: O. Reg. 139/17, s. 51)</p> 
	  
      
	  
	  
	  
	  
    </div>