<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Adjustable Dampers and Balance Stops
	  </h1>
      <p>
</p><p class="section-e"><b>6.2.4.6. Adjustable Dampers and Balance Stops</b></p> <p class="subsection-e">  <b>(1) </b>All branch <i>supply ducts</i> for residential systems shall be equipped with volume control dampers at the boot to permit balancing or shall be fitted with a diffuser incorporating an adjustable and lockable volume control device that can be set in a fixed position.</p> 
	  
      
	  
	  
	  
	  
    </div>