<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Coverings, Linings and Insulation
	  </h1>
      <p>
</p><p class="section-e"><b>6.2.4.8. Coverings, Linings and insulationinsulation</b></p> <p class="subsection-e">  <b>(1) </b>Foamed plastic insulationinsulation may be used in a ceiling space that acts as a return air <i>plenum</i>, provided the foamed plastic insulationinsulation is protected from exposure to the <i>plenum</i> in accordance with Article 3.1.5.12.</p> <p class="subsection-e">  <b>(2) </b>Linings of ducts shall be installed so that they will not interfere with the operation of volume or balancing dampers.</p> 
	  
      
	  
	  
	  
	  
    </div>