<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Make-up Air
	  </h1>
      <p>
</p><p class="section-e"><b>6.2.4.12. Make-up Air</b></p> <p class="subsection-e"><b>  (1) </b>In <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renovation inspiration">vent</a>ilating systems that exhaust air to the <a href ="http://thehandyforce.com/exterior/" title ="Toronto Exterior Handyman">outdoor</a>ref ="http://thehandyforce.com/doors/" title ="Toronto Door installer">doors, provision shall be made for the admission of a supply of make-up air in sufficient quantity so that the operation of the exhaust system and other exhaust equipment or combustion equipment is not adversely affected.</p> 
	  
      
	  
	  
	  
	  
    </div>