<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Parapets
	  </h1>
      <p>
</p><p class="section-e"><b>3.1.10.4. Parapets</b></p> <p class="subsection-e"><b>  (1) </b>Except as permitted by Sentences (2) and 3.1.10.3.(2), a <i>firewall</i> shall extend above the roof surface to form a parapet not less than,</p> <p class="clause-e">  (a) 150 mm high for a <i>firewall</i> required to have a <i>fire-resistance rating</i> not less than 2 h, and</p> <p class="clause-e">  (b) 900 mm high for a <i>firewall</i> required to have a <i>fire-resistance rating</i> not less than 4 h.</p> <p class="subsection-e"><b>  (2) </b>A <i>firewall</i> that separates two <i>buildings</i> with roofs at different elevations need not extend above the upper roof surface to form a parapet, provided the difference in elevation between the roofs is more than 3 m.</p> 
	  
      
	  
	  
	  
	  
    </div>