<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Applicable Standard
	  </h1>
      <p>
</p><p class="section-e"><b>6.2.6.1. Applicable Standard</b></p> <p class="subsection-e"><b>  (1) </b>The <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a>, construction, <a href ="http://thehandyforce.com/insulation/" title ="Sprayfoam insulation in Toronto">installation</a> and material alteration of every in<a href ="http://thehandyforce.com/doors/" title ="Toronto Door installer">door</a> incinerator shall conform to <a href ="http://www.nfpa.org/" title ="National Fire Protection Agency">nfpa</a> 82, "Incinerators, Waste and Linen Handling Systems and Equipment".</p> <p class="ruleb-e">6.2.7. Unit Heaters</p> 
	  
      
	  
	  
	  
	  
    </div>