<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Clearances
	  </h1>
      <p>
</p><p class="section-e"><b>6.2.7.1. Clearances</b></p> <p class="subsection-e">  <b>(1) </b>Every <i>unit heater</i> using either steam or hot water as the heating medium shall be installed such that the clearances between the <i>appliance</i> and adjacent <i>combustible</i>material conform to Table 6.2.9.3.</p> <p class="ruleb-e">6.2.8. Radiators and Convectors</p> 
	  
      
	  
	  
	  
	  
    </div>