<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Lining or Backing
	  </h1>
      <p>
</p><p class="section-e"><b>6.2.8.1. Lining or Backing</b></p> <p class="subsection-e">  <b>(1) </b>Every steam or hot water radiator and convector located in a recess or concealed space or attached to the face of a wall of <i>combustible construction</i>shall be provided with a <i>noncombustible</i> lining or backing.</p> <p class="subsection-e">  <b>(2) </b>Every steam or hot water radiator and convector shall be installed to conform to the clearance requirements of Table 6.2.9.3.</p> <p class="ruleb-e">6.2.9. Piping for Heating and Cooling Systems</p> 
	  
      
	  
	  
	  
	  
    </div>