<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Piping Materials and Installation
	  </h1>
      <p>
</p><p class="section-e"><b>6.2.9.1. Piping Materials and installation</b></p> <p class="subsection-e"><b>  (1) </b>Piping shall be made from materials designed to withstand the effects of temperatures and pressures that may occur in the system.</p> <p class="subsection-e">  <b>(2) </b>Every pipe used in a heating or <i>air-conditioning</i> system shall be installed to allow for expansion and contraction due to temperature changes.</p> <p class="subsection-e"><b>  (3) </b>supports and anchors for piping in a heating or <i>air-conditioning</i> system shall be designed and installed to ensure that undue stress is not placed on the supporting structure.</p> 
	  
      
	  
	  
	  
	  
    </div>