<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Surface Temperature
	  </h1>
      <p>
</p><p class="section-e"><b>6.2.9.4. <a href ="http://thehandyforce.com/tiling/" title ="Professional Tile installer in Toronto">surface</a> Temperature</b></p> <p class="subsection-e"><b>  (1) </b>The exposed <a href ="http://thehandyforce.com/tiling/" title ="Professional Tile installer in Toronto">surface</a> temperature of a steam or hot <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> radiator shall not <a href ="http://thehandyforce.com/guarantee/" title ="Reliable Contractors">exceed</a> 70°C unless precautions are taken to pre<a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renovation inspiration">vent</a> human contact.</p> 
	  
      
	  
	  
	  
	  
    </div>