<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Protection
	  </h1>
      <p>
</p><p class="section-e"><b>6.2.9.5. Protection</b></p> <p class="subsection-e"><b>  (1) </b>Where a pipe carrying steam or hot water at a temperature above 120°C passes through a <i>combustible</i> floor, ceiling or wall, the construction shall be protected by a sleeve of metal or other <i>noncombustible</i> material not less than 50 mm larger in diameter than the pipe.</p> <p class="subsection-e">  <b>(2) </b>Unprotected steam or hot water pipes that pass through a storage space shall be covered with not less than 25 mm of <i>noncombustible</i>insulationinsulation to prevent direct contact with the material stored.</p> 
	  
      
	  
	  
	  
	  
    </div>