<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Piping in Shafts
	  </h1>
      <p>
</p><p class="section-e"><b>6.2.9.6. Piping in Shafts</b></p> <p class="subsection-e"><b>  (1) </b>Where piping for heating or <i>air-conditioning</i>systems is enclosed in a shaft, the requirements of Article 3.6.3.1. for shafts shall apply.</p> <p class="ruleb-e">6.2.10. Refrigerating Systems and Equipment for Air-Conditioning</p> 
	  
      
	  
	  
	  
	  
    </div>