<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Cooling Units
	  </h1>
      <p>
</p><p class="section-e"><b>6.2.10.1. Cooling Units</b></p> <p class="subsection-e"><b>  (1) </b>Where a cooling unit is combined with a fuel-fired <i>furnace</i> in the same duct system, the cooling unit shall be installed,</p> <p class="clause-e">  (a) in parallel with the heating <i>furnace</i>,</p> <p class="clause-e">  (b) upstream of the <i>furnace</i>, provided the <i>furnace</i>is designed for such application, or</p> <p class="clause-e">  (c) downstream of the <i>furnace</i>, provided the cooling unit is designed to prevent excessive temperature or pressure in the refrigeration system.</p> <p class="ruleb-e">6.2.11. Storage Bins</p> 
	  
      
	  
	  
	  
	  
    </div>