<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Storage Bins
	  </h1>
      <p>
</p><p class="section-e"><b>6.2.11.1. Storage Bins</b></p> <p class="subsection-e">  <b>(1) </b>service pipes passing through a storage bin for solid fuel shall be protected or so located as to avoid damage to the pipes.</p> <p class="subsection-e">  <b>(2) </b>Except for fuel-thawing pipes, every pipe designed to operate at a temperature of 50°C or above shall be located where fuel cannot be stored in contact with it.</p> <p class="subsection-e">  <b>(3) </b>A storage bin for solid fuel shall not be located above a sewer opening or drain opening.</p> <p class="subsection-e">  <b>(4) </b>Storage bins for solid fuel shall be designed and constructed so that the air temperature in the bin or the surface temperature of any part of the floor or walls is below 50°C.</p> 
	  
      
	  
	  
	  
	  
    </div>