<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Ash Storage Bins
	  </h1>
      <p>
</p><p class="section-e"><b>6.2.11.2. Ash Storage Bins</b></p> <p class="subsection-e">  <b>(1) </b>Every ash storage bin shall be constructed of <i>noncombustible</i>material.</p> <p class="subsection-e">  <b>(2) </b>Every opening in an ash storage bin shall be protected by a tight-fitting metal door with metal frame securely fastened to the bin.</p> <p class="ruleb-e">6.2.12. Carbon Monoxide Alarms</p> 
	  
      
	  
	  
	  
	  
    </div>