<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Application
	  </h1>
      <p>
</p><p class="section-e"><b>6.2.13.1. <a href ="http://thehandyforce.com/businesses/" title ="Business Services in Toronto">application</a></b></p> <p class="subsection-e">  <b>(1) </b>This Subsection applies to laboratories intended as a location where <i>flammable liquids</i> and <i>combustible liquids</i> are used in normal laboratory operations in quantities or in a manner that create a fire or explosion hazard.</p> 
	  
      
	  
	  
	  
	  
    </div>