<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | General Ventilation
	  </h1>
      <p>
</p><p class="section-e"><b>6.2.13.2. General ventilation</b></p> <p class="subsection-e">  <b>(1) </b>A laboratory shall be provided with continuous mechanical ventilation designed to ensure that flammable vapours,</p> <p class="clause-e">  (a) do not accumulate in the laboratory,</p> <p class="clause-e">  (b) are prevented from migrating to other parts of the <i>building</i>,</p> <p class="clause-e">  (c) do not accumulate in the ventilation system,</p> <p class="clause-e">  (d) are exhausted to the doors, and</p> <p class="clause-e">  (e) are not returned to the <i>building</i>.</p> <p class="subsection-e">  <b>(2) </b>A ventilation system required in this Subsection shall be provided with monitoring devices that,</p> <p class="clause-e">  (a) indicate that the ventilation system is in operation, and</p> <p class="clause-e">  (b) sound an alarm if the ventilation system is malfunctioning.</p> 
	  
      
	  
	  
	  
	  
    </div>