<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Power-Ventilated Enclosure
	  </h1>
      <p>
</p><p class="section-e"><b>6.2.13.3. Power-<a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renovation inspiration">vent</a>ilated Enclosure</b></p> <p class="subsection-e">  <b>(1) </b>A power-<a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renovation inspiration">vent</a>ilated enclosure required by the Fire Code made under the <i>Fire Protection and Pre<a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renovation inspiration">vent</a>ion Act, 1997</i> shall be <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a>ed and constructed to conform to Articles 6.2.13.4. and 6.2.13.5.</p> 
	  
      
	  
	  
	  
	  
    </div>