<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Requirement for Venting
	  </h1>
      <p>
</p><p class="section-e"><b>6.3.1.1. Requirement for <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Best Bathroom Renovations in Toronto">venting</a> ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renovation inspiration">venting</b></p> <p class="subsection-e"><b>  (1) </b>Except as provided in Articles 6.3.1.2. and 6.3.1.3., the products of combustion from solid fuel-burning <i>appliances</i>shall be <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renovation inspiration">vent</a>ed in conformance with the requirements in the applicable <i>appliance</i> <a href ="http://thehandyforce.com/insulation/" title ="Sprayfoam insulation in Toronto">installation</a> standards listed in Article 6.2.1.4.</p> 
	  
      
	  
	  
	  
	  
    </div>