<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Requirement for Venting
	  </h1>
      <p>
</p><p class="section-e"><b>6.3.1.1. Requirement for venting</b></p> <p class="subsection-e"><b>  (1) </b>Except as provided in Articles 6.3.1.2. and 6.3.1.3., the products of combustion from solid fuel-burning <i>appliances</i>shall be vented in conformance with the requirements in the applicable <i>appliance</i> installation standards listed in Article 6.2.1.4.</p> 
	  
      
	  
	  
	  
	  
    </div>