<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Masonry or Concrete Chimneys
	  </h1>
      <p>
</p><p class="section-e"><b>6.3.1.2. masonry or Concrete Chimneys</b></p> <p class="subsection-e"><b>  (1) </b>Rectangular <i>masonry or concrete chimneys</i>not more than 12 m in height shall conform to Part 9 if they serve,</p> <p class="clause-e">  (a)  <i>appliances </i>with a combined total rated heat output of 120 kW or less, or</p> <p class="clause-e">  (b) fireplaces.</p> <p class="subsection-e">  <b>(2) </b><i>masonry or concrete chimneys</i> other than those described in Sentence (1) shall be designed and installed in conformance with the appropriate requirements in nfpa 211, "Chimneys, fireplaces, Vents and Solid Fuel-Burning Appliances".</p> 
	  
      
	  
	  
	  
	  
    </div>