<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Metal Smoke Stacks
	  </h1>
      <p>
</p><p class="section-e"><b>6.3.1.3. Metal Smoke Stacks</b></p> <p class="subsection-e"><b>  (1) </b>Single <a href ="http://thehandyforce.com/painting/" title ="Toronto Painter">wall</a> metal smoke stacks shall be <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a>ed and installed in conformance with <a href ="http://www.nfpa.org/" title ="National Fire Protection Agency">nfpa</a> 211, "Chimneys, <a href ="http://thehandyforce.com/home-renovations-north-york/" title ="Toronto Handyman Services">fireplace</a>s, Vents and Solid Fuel-Burning Appliances".</p> 
	  
      
	  
	  
	  
	  
    </div>