<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Application
	  </h1>
      <p>
</p><p class="section-e"><b>7.1.2.1. application</b></p> <p class="subsection-e"><b>  (1) </b>Except as provided in Sentence (2), this Part applies to the design and <i>construction</i> of <i>plumbing</i>.</p> <p class="subsection-e"><b>  (2) </b>This Part does not apply to industrial process systems unless the industrial process system is interconnected with the <i>plumbing system</i>, in which case the interconnection shall be so designed and installed so that the <i>plumbing system</i> is protected against contamination or malfunction that may be caused by the industrial system.</p> <p class="ruleb-e">7.1.3. Definitions</p> 
	  
      
	  
	  
	  
	  
    </div>