<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Floor Drains
	  </h1>
      <p>
</p><p class="section-e"><b>7.1.4.2. floor Drains</b></p> <p class="subsection-e"><b>  (1) </b>Where gravity drainage to a <i>sanitary drainage system</i> is possible, a floor drain shall be installed in a basement forming part of a <i>dwelling unit</i>.</p> <p class="subsection-e"><b>  (2) </b>Where gravity drainage to a <i>sanitary drainage system</i> is not possible, the floor drain required by Sentence (1) may be connected to a <i>storm drainage system</i>, dry well or drainage ditch provided it is located where it can receive only <i>clear water waste</i> or <i>storm sewage</i>.</p> <p class="subsection-e"><b>  (3) </b>A floor drain shall be provided in a public laundry room, garbage room, incinerator room, <i>boiler</i> or heating room that is not located within a <i>dwelling unit</i>.</p> <p class="ruleb-e">7.1.5. service Connections</p> 
	  
      
	  
	  
	  
	  
    </div>