<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Combustible Projections
	  </h1>
      <p>
</p><p class="section-e"><b>3.1.10.7. Combustible Projections</b></p> <p class="subsection-e"><b>  (1) </b><i>Combustible</i>material shall not extend across the end of a <i>firewall</i>but is permitted to extend across a roof above a <i>firewall</i>that is terminated in conformance with Sentence 3.1.10.3.(2).</p> <p class="subsection-e"><b>  (2) </b>If <i>buildings</i> are separated by a <i>firewall</i>, <i>combustible</i>projections on the exterior of one <i>building</i>, including balconies, platforms, <i>canopies</i>, eave projections and stairs, that extend outward beyond the end of the <i>firewall</i>, shall not be permitted within 2.4 m of <i>combustible</i> projections and window or door openings of the adjacent <i>building</i>.</p> <p class="ruleb-e">3.1.11. Fire Blocks in Concealed Spaces</p> 
	  
      
	  
	  
	  
	  
    </div>