<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Sanitary Drainage Systems
	  </h1>
      <p>
</p><p class="section-e"><b>7.1.5.1. <a href ="http://thehandyforce.com/plumbing/" title ="East York Plumbing Repairs">sanitary</a> Drainage Systems</b></p> <p class="subsection-e"><b>  (1) </b>Every <i><a href ="http://thehandyforce.com/plumbing/" title ="East York Plumbing Repairs">sanitary</a> drainage system</i> shall be connected to a public <i><a href ="http://thehandyforce.com/plumbing/" title ="East York Plumbing Repairs">sanitary</a> sewer</i>, a public combined sewer or a <i>private sewage disposal system</i>.</p> <p class="subsection-e"><b>  (2) </b>A combined <i><a href ="http://thehandyforce.com/windows/" title ="East York Window installer">building</a> drain</i> or a combined <i>building sewer</i> shall not be installed.</p> 
	  
      
	  
	  
	  
	  
    </div>