<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Storm Drainage Systems
	  </h1>
      <p>
</p><p class="section-e"><b>7.1.5.2. Storm drainage Systems</b></p> <p class="subsection-e"><b>  (1) </b>Every <i>storm drainage system</i> shall be connected to a public <i>storm sewage</i> works, a public combined <i>sewage</i> works or a designated storm water disposal location but shall not be connected to a <i>sanitary sewage</i> works.</p> 
	  
      
	  
	  
	  
	  
    </div>