<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Storm Drainage Systems
	  </h1>
      <p>
</p><p class="section-e"><b>7.1.5.2. Storm <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Professional East York Basement Renvator">drainage</a> Systems</b></p> <p class="subsection-e"><b>  (1) </b>Every <i>storm <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Professional East York Basement Renvator">drainage</a> system</i> shall be connected to a public <i>storm sewage</i> works, a public combined <i>sewage</i> works or a <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a>ated storm <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> disposal location but shall not be connected to a <i><a href ="http://thehandyforce.com/plumbing/" title ="East York Plumbing Repairs">sanitary</a> sewage</i> works.</p> 
	  
      
	  
	  
	  
	  
    </div>