<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Private Sewers and Private Water Supply
	  </h1>
      <p>
</p><p class="section-e"><b>7.1.5.5. Private Sewers and Private water Supply</b></p> <p class="subsection-e"><b>  (1) </b><i>Private water supply</i> pipes shall be designed and installed according to MOE PIBS 6881e, "design Guidelines for Drinking-water Systems".</p> <p class="subsection-e"><b>  (2) </b><i>Private sewers</i>shall be designed and installed according to MOE PIBS 6879, "design Guidelines for Sewage Works".</p> <p class="ruleb-e">7.1.6. Location of Fixtures</p> 
	  
      
	  
	  
	  
	  
    </div>