<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Lighting and Ventilation Requirements
	  </h1>
      <p>
</p><p class="section-e"><b>7.1.6.1. <a href ="http://thehandyforce.com/electrical/" title ="Electrician in East York">lighting</a>="http://thehandyforce.com/electrical/" title ="East York Electrician">lighting and <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renovation inspiration">vent</a>ilation Requirements</b></p> <p class="subsection-e"><b>  (1) </b><i>Plumbing</i> <i>fixtures</i> shall not be installed in a room that is not <a href ="http://thehandyforce.com/electrical/" title ="East York Electrician">light</a>ed and <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renovation inspiration">vent</a>ilated in accordance with the appropriate requirements in Parts 3 and 9.</p> 
	  
      
	  
	  
	  
	  
    </div>