<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Accessibility
	  </h1>
      <p>
</p><p class="section-e"><b>7.1.6.2. Accessibility</b></p> <p class="subsection-e"><b>  (1) </b>Every <i>fixture</i>, <i>plumbing appliance</i>, <i>interceptor</i>, <i>cleanout</i>, valve, device or piece of equipment shall be so located that it is readily <i>accessible</i> for use, cleaning and maintenance.</p> <p class="ruleb-e">7.1.7. Accommodating Movement</p> 
	  
      
	  
	  
	  
	  
    </div>