<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Structural Movement
	  </h1>
      <p>
</p><p class="section-e"><b>7.1.7.1. Structural Movement</b></p> <p class="subsection-e">  <b>(1) </b><i>Plumbing</i> shall be <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a>ed and installed to accommodate the maximum relative structural movement provided for in the <i>construction</i> of the <i><a href ="http://thehandyforce.com/interior/basement-renovations/" title ="East York Basement Renovations">building</a></i>.</p> <p class="ruleb-e">Section 7.2. Materials and Equipment</p> <p class="ruleb-e">7.2.1. General</p> 
	  
      
	  
	  
	  
	  
    </div>