<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Exposure of Materials
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.1.1. Exposure of Materials</b></p> <p class="subsection-e"><b>  (1) </b>Where unusual conditions exist such as excessively corrosive <i><a href ="http://thehandyforce.com/decks/" title ="Deck builder in Toronto">soil</a></i> or <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a>, only materials suited for use in such locations shall be used.</p> <p class="subsection-e"><b>  (2) </b>Materials and equipment used in a <i><a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Professional East York Basement Renvator">drainage</a> system</i> where excessively corrosive wastes are present shall be suitable for the purpose.</p> 
	  
      
	  
	  
	  
	  
    </div>