<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Restrictions on Re-Use
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.1.2. Restrictions on Re-Use</b></p> <p class="subsection-e"><b>  (1) </b>Used materials and equipment, including <i>fixtures</i>, shall not be reused unless they meet the requirements of this Part for new materials and equipment and are otherwise satisfactory for their intended use.</p> <p class="subsection-e"><b>  (2) </b>Materials and equipment that have been used for a purpose other than the distribution of <i>potable</i> water shall not be subsequently used in a <i>potable</i> <i>water system</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>