<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Separation of Concealed Spaces
	  </h1>
      <p>
</p><p class="section-e"><b>3.1.11.1. Separation of Concealed Spaces</b></p> <p class="subsection-e"><b>  (1) </b>Concealed spaces in <a href ="http://thehandyforce.com/interior/" title ="Interior Handyman services in Toronto">interior</a> wall, <a href ="http://thehandyforce.com/drywall/" title ="Drywall repair and installation in Toronto">ceiling</a> and crawl spaces shall be separated from concealed spaces in <a href ="http://thehandyforce.com/exterior/" title ="Certified home renovator">exterior</a> walls and <i><a href ="http://thehandyforce.com/renovations/" title ="Attic renovations in Toronto">attic</a> or roof spaces</i> by <i>fire blocks</i> conforming to Article 3.1.11.7.</p> 
	  
      
	  
	  
	  
	  
    </div>