<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Withstanding Pressure
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.1.5. Withstanding pressure</b></p> <p class="subsection-e"><b>  (1) </b>Piping, fittings and joints used in pressure sewer, forcemain or sump pump discharge applications shall be capable of withstanding at least one and one-half times the maximum potential pressure.</p> <p class="ruleb-e">7.2.2. Fixtures</p> 
	  
      
	  
	  
	  
	  
    </div>