<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Withstanding Pressure
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.1.5. Withstanding <a href ="http://thehandyforce.com/plumbing/" title ="Increase water pressure with a Toronto Plumber">pressure</a></b></p> <p class="subsection-e"><b>  (1) </b>Piping, fittings and joints used in <a href ="http://thehandyforce.com/plumbing/" title ="Increase water pressure with a Toronto Plumber">pressure</a> sewer, forcemain or sump pump discharge <a href ="http://thehandyforce.com/businesses/" title ="Business Services in Toronto">application</a>s shall be capable of withstanding at least one and one-half times the maximum potential <a href ="http://thehandyforce.com/plumbing/" title ="Increase water pressure with a Toronto Plumber">pressure</a>.</p> <p class="ruleb-e">7.2.2. Fixtures</p> 
	  
      
	  
	  
	  
	  
    </div>