<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Surface Requirements
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.2.1. <a href ="http://thehandyforce.com/tiling/" title ="Professional Tile installer in Toronto">surface</a> Requirements</b></p> <p class="subsection-e"><b>  (1) </b>Except for the area <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a>ed to be slip proof in such <i>fixtures</i>, every exposed area of a <i>fixture</i>shall have a smooth, hard corrosion-resistant <a href ="http://thehandyforce.com/tiling/" title ="Professional Tile installer in Toronto">surface</a> that is free from flaws and blemishes that may interfere with cleaning.</p> 
	  
      
	  
	  
	  
	  
    </div>