<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Showers
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.2.3. showers</b></p> <p class="subsection-e"><b>  (1) </b>shower receptors shall be constructed and arranged so that water cannot leak through the walls or floor.</p> <p class="subsection-e"><b>  (2) </b>Not more than six shower heads shall be served by a single shower drain.</p> <p class="subsection-e"><b>  (3) </b>Where two or more shower heads are served by a shower drain, the floor shall be sloped and the drain located so that water from one head cannot flow over the area that serves another head.</p> <p class="subsection-e"><b>  (4) </b>Except for column showers, when a battery of shower heads is installed, the horizontal distance between two adjacent shower heads shall be at least 750 mm.</p> 
	  
      
	  
	  
	  
	  
    </div>