<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Water Closets in Public Washrooms
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.2.5. <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> Closets in Public <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Handyman Bathroom Toronto">washroom</a>s</b></p> <p class="subsection-e"><b>  (1) </b>Except for Eastern-Style toilets, where a <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> closet is installed in a <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Handyman Bathroom Toronto">washroom</a> for <i>public use</i> it shall be of the elongated type and provided with a seat of the open front type.</p> 
	  
      
	  
	  
	  
	  
    </div>