<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | T and Cross Fittings
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.4.1. T and Cross Fittings</b></p> <p class="subsection-e"><b>  (1) </b>A T fitting shall not be used in a <i><a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Professional East York Basement Renvator">drainage</a> system </i>except to connect a <i><a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renovation inspiration">vent</a> <a href ="http://thehandyforce.com/plumbing/" title ="Plubing leak repair in Toronto">pipe</a></i>.</p> <p class="subsection-e"><b>  (2) </b>A cross fitting shall not be used in a <i><a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Professional East York Basement Renvator">drainage</a> system</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>