<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Sanitary T Fittings
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.4.2. sanitary T Fittings</b></p> <p class="subsection-e"><b>  (1) </b>A double sanitary T fitting shall not be used to connect the <i>fixture drains</i> of two urinals where no <i>cleanout</i> fitting is provided above the connection.</p> <p class="subsection-e"><b>  (2) </b>No pipe fitting, joint or connection that would tend to intercept solids or reduce the flow through a pipe by more than 10 per cent shall be used in a <i>plumbing system</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>