<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Sanitary T Fittings
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.4.2. <a href ="http://thehandyforce.com/plumbing/" title ="East York Plumbing Repairs">sanitary</a> T Fittings</b></p> <p class="subsection-e"><b>  (1) </b>A double <a href ="http://thehandyforce.com/plumbing/" title ="East York Plumbing Repairs">sanitary</a> T fitting shall not be used to connect the <i>fixture drains</i> of two <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renovation ideas">urinal</a>s where no <i>cleanout</i> fitting is provided above the connection.</p> <p class="subsection-e"><b>  (2) </b>No <a href ="http://thehandyforce.com/plumbing/" title ="Plubing leak repair in Toronto">pipe</a> fitting, joint or connection that would tend to intercept solids or reduce the flow through a <a href ="http://thehandyforce.com/plumbing/" title ="Plubing leak repair in Toronto">pipe</a> by more than 10 per cent shall be used in a <i>plumbing system</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>