<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | 90° Elbows
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.4.3. 90° Elbows</b></p> <p class="subsection-e"><b>  (1) </b>Except as permitted in Sentences (2) and (3), 90° elbows of 4 in. <i>size</i> or less that have a centre-line radius that is less than the <i>size</i> of the pipe shall not be used to join two <i>soil</i> or <i>waste pipes</i>.</p> <p class="subsection-e"><b>  (2) </b>90° elbows of 4 in. <i>size</i> or less in <i>sanitary drainage systems</i> may be used,</p> <p class="clause-e">  (a) to change the direction of piping from horizontal to vertical, in the direction of flow,</p> <p class="clause-e">  (b) where a <i>trap arm</i> enters a wall, or</p> <p class="clause-e">  (c) to connect <i>trap arms</i> as permitted by Sentence 7.5.6.3.(2).</p> <p class="subsection-e">  <b>(3) </b>A 90° elbow that is part of the pre-engineered wastewater heat recovery system is permitted to have a centre-line radius that is less than the <i>size</i>of the pipe.</p> 
	  
      
	  
	  
	  
	  
    </div>