<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Asbestos-Cement Drainage Pipe and Fittings
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.5.1. Asbestos-cement Drainage pipe and Fittings</b></p> <p class="subsection-e"><b>  (1) </b>Except as provided in Sentence (2), asbestos-cement pipe and its fittings for use in a drain, waste or vent system shall conform to,</p> <p class="clause-e">  (a) CAN/cgsb-34.22, "Asbestos-cement Drain pipe", or</p> <p class="clause-e">  (b) CAN/CSA-B127.1, "Asbestos cement Drain, Waste and vent Fittings".</p> <p class="subsection-e"><b>  (2) </b>Asbestos-cement pipe and fittings used underground either outside a <i>building</i> or under a <i>building</i>shall conform to Sentence (1) or to,</p> <p class="clause-e">  (a) CAN/CGSB-34.9, "Asbestos-Cement Sewer Pipe",</p> <p class="clause-e">  (b) CAN/CGSB-34.23, "Asbestos-Cement House Connection Sewer Pipe", or</p> <p class="clause-e">  (c) CSA B127.2, "Components for Use in Asbestos-Cement Building Sewer Systems".</p> 
	  
      
	  
	  
	  
	  
    </div>