<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Fire Blocks between Nailing and Supporting Elements
	  </h1>
      <p>
</p><p class="section-e"><b>3.1.11.3. Fire Blocks between Nailing and supporting Elements</b></p> <p class="subsection-e"><b>  (1) </b>In a <i>building</i> required to be of <i>noncombustible construction</i>, a concealed space in which there is an exposed ceiling finish with a <i>flame-spread rating</i> more than 25, shall be provided with <i>fire blocks</i> conforming to Article 3.1.11.7. between wood nailing elements, so that the maximum area of the concealed space is not more than 2 m<sup>2</sup>.</p> <p class="subsection-e"><b>  (2) </b>In a <i>building</i> required to be of <i>noncombustible construction</i>, <i>fire blocks</i> conforming to Article 3.1.11.7. shall be provided in the concealed spaces created by the wood members permitted by Sentence 3.1.5.8.(2), so that the maximum area of a concealed space is not more than 10 m<sup>2</sup>.</p> 
	  
      
	  
	  
	  
	  
    </div>