<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Concrete Pipe and Fittings
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.5.3. Concrete pipe and Fittings</b></p> <p class="subsection-e"><b>  (1) </b>Concrete pipe shall conform to CAN/CSA-A257 Series, "Standards for Concrete pipe and Manhole Sections".</p> <p class="subsection-e"><b>  (2) </b>Joints with external elastomeric gaskets shall be made with corrosion resistant external band type flexible mechanical couplings that conform to CAN/CSA-B602, "Mechanical Couplings for Drain, Waste, and vent pipe and Sewer pipe".</p> <p class="subsection-e"><b>  (3) </b>Concrete fittings field fabricated from lengths of pipe shall not be used.</p> <p class="subsection-e"><b>  (4) </b>Concrete pipe shall not be used above ground inside a <i>building</i>.</p> <p class="subsection-e"><b>  (5) </b>Precast reinforced circular concrete manhole sections, catch basins and fittings shall conform to CAN/CSA-A257.4, "Precast Reinforced Circular Concrete Manhole Sections, Catch Basins, and Fittings".</p> 
	  
      
	  
	  
	  
	  
    </div>