<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Vitrified Clay Pipe and Fittings
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.5.4. Vitrified Clay pipe and Fittings</b></p> <p class="subsection-e"><b>  (1) </b>Vitrified clay pipe and fittings shall be certified to CSA A60.1-M, "Vitrified Clay pipe".</p> <p class="subsection-e"><b>  (2) </b>Couplings and joints for vitrified clay pipe shall be certified to CSA A60.3-M, "Vitrified Clay pipe Joints".</p> <p class="subsection-e"><b>  (3) </b>Vitrified clay pipe and fittings shall not be used except for an underground part of a <i>drainage system</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>