<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Polyethylene Pipe and Fittings
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.5.5. Polyethylene pipe and Fittings</b></p> <p class="subsection-e"><b>  (1) </b>Polyethylene water pipe, tubing and fittings shall be certified to, and have a pressure rating meeting the requirements of, Series 160 or a higher series of CAN/CSA-B137.1, "Polyethylene (PE) pipe, Tubing and Fittings for Cold water pressure Services".</p> <p class="subsection-e"><b>  (2) </b>Except as permitted in Sentence 7.2.5.7.(1), polyethylene water pipe shall not be used except for a<i> water service pipe</i>.</p> <p class="subsection-e"><b>  (3) </b>Butt fusion fittings for polyethylene pipe shall conform to ASTM D3261, "Butt Heat Fusion Polyethylene (PE) Plastic Fittings for Polyethylene (PE) Plastic pipe and Tubing".</p> 
	  
      
	  
	  
	  
	  
    </div>