<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Polyethylene Pipe Used Underground
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.5.6. Polyethylene <a href ="http://thehandyforce.com/plumbing/" title ="Plubing leak repair in Toronto">pipe</a> Used Underground</b></p> <p class="subsection-e"><b>  (1) </b>Polyethylene <a href ="http://thehandyforce.com/plumbing/" title ="Plubing leak repair in Toronto">pipe</a> used underground in a <i><a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Professional East York Basement Renvator">drainage</a> system</i> for rehabilitation of existing systems using trenchless technology shall conform to ASTM F714, "Polyethylene (PE) Plastic <a href ="http://thehandyforce.com/plumbing/" title ="Plubing leak repair in Toronto">pipe</a> (SDR-PR) Based on Outside Diameter" and shall be HDPE 3408, SDR 17 or heavier.</p> 
	  
      
	  
	  
	  
	  
    </div>