<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Crosslinked Polyethylene Pipe and Fittings
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.5.7. Crosslinked Polyethylene pipe and Fittings</b></p> <p class="subsection-e"><b>  (1) </b>Cross-linked polyethylene pipe and its associated fittings used in hot and cold <i>potable</i> <i>water</i><i>systems</i> shall be certified to CAN/CSA-B137.5, "Crosslinked Polyethylene (PEX) Tubing Systems for pressure Applications".</p> 
	  
      
	  
	  
	  
	  
    </div>