<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | PVC Pipe and Fittings
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.5.8. pvc pipe and Fittings</b></p> <p class="subsection-e"><b>  (1) </b>pvc water pipe, fittings and solvent cement shall be certified to CAN/CSA-B137.3, "Rigid Polyvinylchloride (pvc) pipe and Fittings for pressure Applications" or CAN/CSA-B137.2, "Polyvinylchloride (pvc) Injection-Moulded Gasketed Fittings for pressure Applications", and have a minimum pressure rating of 1 100 kPa.</p> <p class="subsection-e"><b>  (2) </b>pvc water pipe and fittings in Sentence (1) shall not be used in a hot <i>water system</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>