<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | CPVC Pipe, Fittings and Solvent Cements
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.5.9. Cpvc pipe, Fittings and Solvent cements</b></p> <p class="subsection-e"><b>  (1) </b>Cpvc hot and cold water pipe, fittings and solvent cements shall be certified to CAN/CSA-B137.6, "Chlorinated Polyvinylchloride (Cpvc) pipe, Tubing and Fittings for Hot and Cold water Distribution Systems".</p> <p class="subsection-e"><b>  (2) </b>The design temperature and design pressure of a Cpvc piping system shall conform to CAN/CSA-B137.6, "Chlorinated Polyvinylchloride (Cpvc) pipe, Tubing and Fittings for Hot and Cold water Distribution Systems".</p> 
	  
      
	  
	  
	  
	  
    </div>