<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Transition Solvent Cement
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.5.11. Transition Solvent cement</b></p> <p class="subsection-e"><b>  (1) </b>Solvent cement for transition joints shall conform to,</p> <p class="clause-e">  (a) CAN/CSA-B181.1, "Acrylonitrile-Butadiene-Styrene (ABS) Drain, Waste, and vent pipe and pipe Fittings", or</p> <p class="clause-e">  (b) CAN/CSA-B181.2, "Polyvinylchloride (pvc) and Chlorinated Polyvinylchloride (Cpvc) Drain, Waste, and vent pipe and pipe Fittings".</p> <p class="subsection-e"><b>  (2) </b>Transition solvent cement shall only be used for joining an ABS <i>plumbing system</i> to a pvc <i>plumbing system</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>