<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Fire Blocks between Vertical and Horizontal Spaces
	  </h1>
      <p>
</p><p class="section-e"><b>3.1.11.4. Fire Blocks between Vertical and Horizontal Spaces</b></p> <p class="subsection-e"><b>  (1) </b><i>Fire blocks</i>conforming to Article 3.1.11.7. shall be provided,</p> <p class="clause-e">  (a) at all interconnections between concealed vertical and horizontal spaces in interior coved ceilings, drop ceilings and soffits in which the exposed construction materials within the space have a <i>flame‑spread rating</i> more than 25, and</p> <p class="clause-e">  (b) at the end of each run and at each floor level in concealed spaces between stair stringers in which the exposed construction materials within the space have a <i>flame‑spread rating</i> more than 25.</p> 
	  
      
	  
	  
	  
	  
    </div>