<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Crosslinked Polyethylene/Aluminum/Polyethylene Composite Pipe and Fittings
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.5.14. Crosslinked Polyethylene/Aluminum/Polyethylene Composite <a href ="http://thehandyforce.com/plumbing/" title ="Plubing leak repair in Toronto">pipe</a> and Fittings</b></p> <p class="subsection-e"><b>  (1) </b>PEX/AL/PEX composite <a href ="http://thehandyforce.com/plumbing/" title ="Plubing leak repair in Toronto">pipe</a> and fittings used for <i>potable <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> systems </i>shall conform to CAN/CSA-B137.10, "Crosslinked Polyethylene/Aluminum/Crosslinked Polyethylene (PEX-AL-PEX) Composite <a href ="http://thehandyforce.com/plumbing/" title ="Increase water pressure with a Toronto Plumber">pressure</a>-<a href ="http://thehandyforce.com/plumbing/" title ="Plubing leak repair in Toronto">pipe</a> Systems".</p> 
	  
      
	  
	  
	  
	  
    </div>