<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Crosslinked Polyethylene/Aluminum/Polyethylene Composite Pipe and Fittings
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.5.14. Crosslinked Polyethylene/Aluminum/Polyethylene Composite pipe and Fittings</b></p> <p class="subsection-e"><b>  (1) </b>PEX/AL/PEX composite pipe and fittings used for <i>potable water systems </i>shall conform to CAN/CSA-B137.10, "Crosslinked Polyethylene/Aluminum/Crosslinked Polyethylene (PEX-AL-PEX) Composite pressure-pipe Systems".</p> 
	  
      
	  
	  
	  
	  
    </div>