<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Polypropylene Pipe and Fittings
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.5.15. Polypropylene <a href ="http://thehandyforce.com/plumbing/" title ="Plubing leak repair in Toronto">pipe</a> and Fittings</b></p> <p class="subsection-e"><b>  (1) </b>Polypropylene <a href ="http://thehandyforce.com/plumbing/" title ="Plubing leak repair in Toronto">pipe</a> and fittings used for hot and cold <i>potable <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> systems</i> shall conform to CAN/CSA-B137.11, "Polypropylene (PP-R) <a href ="http://thehandyforce.com/plumbing/" title ="Plubing leak repair in Toronto">pipe</a> and Fittings for <a href ="http://thehandyforce.com/plumbing/" title ="Increase water pressure with a Toronto Plumber">pressure</a> Applications".</p> <p class="ruleb-e">7.2.6. Ferrous <a href ="http://thehandyforce.com/plumbing/" title ="Plubing leak repair in Toronto">pipe</a> and Fittings</p> 
	  
      
	  
	  
	  
	  
    </div>