<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Polypropylene Pipe and Fittings
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.5.15. Polypropylene pipe and Fittings</b></p> <p class="subsection-e"><b>  (1) </b>Polypropylene pipe and fittings used for hot and cold <i>potable water systems</i> shall conform to CAN/CSA-B137.11, "Polypropylene (PP-R) pipe and Fittings for pressure Applications".</p> <p class="ruleb-e">7.2.6. Ferrous pipe and Fittings</p> 
	  
      
	  
	  
	  
	  
    </div>