<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Cast Iron Drainage and Vent Pipe and Fittings
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.6.1. Cast Iron drainage and vent pipe and Fittings</b></p> <p class="subsection-e"><b>  (1) </b>drainage piping, vent piping and fittings made of cast iron shall be certified to CAN/CSA-B70, "Cast Iron soil pipe, Fittings and Means of Joining".</p> <p class="subsection-e"><b>  (2) </b>Cast iron <i>soil pipe</i> and fittings shall not be used in a <i>water system</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>