<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Cast Iron Fittings for Asbestos-Cement Drainage Pipe
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.6.2. Cast Iron Fittings for Asbestos-cement Drainage pipe</b></p> <p class="subsection-e"><b>  (1) </b>Cast iron fittings designed for use with asbestos-cement pipe for drainage purposes shall conform to the applicable requirements of,</p> <p class="clause-e">  (a) CAN/CSA-B127.1, "Asbestos cement Drain, Waste and vent Fittings", or</p> <p class="clause-e">  (b) CSA B127.2-M, "Components for Use in Asbestos cement Building Sewer Systems".</p> 
	  
      
	  
	  
	  
	  
    </div>