<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Threaded Cast Iron Drainage Fittings
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.6.3. Threaded Cast Iron drainage Fittings</b></p> <p class="subsection-e"><b>  (1) </b>Threaded cast iron drainage fittings shall conform to ASME B16.12, "Cast Iron Threaded drainage Fittings".</p> <p class="subsection-e"><b>  (2) </b>Threaded cast iron drainage fittings shall not be used in a <i>water system</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>