<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Cast Iron Water Pipe
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.6.4. Cast Iron water pipe</b></p> <p class="subsection-e"><b>  (1) </b>Cast iron water pipes shall conform to ANSI/AWWA C151/A21.51, "Ductile-Iron pipe, Centrifugally Cast".</p> <p class="subsection-e"><b>  (2) </b>mortarp://thehandyforce.com/exterior/" title ="Exterior home repairs in Toronto">cement-mortar lining for cast iron water pipes shall conform to ANSI/AWWA C104/A21.4, "mortarp://thehandyforce.com/exterior/" title ="Exterior home repairs in Toronto">cement-Mortar Lining for Ductile-Iron pipe and Fittings".</p> <p class="subsection-e"><b>  (3) </b>Cast iron fittings for cast iron or ductile-iron water pipes shall conform to ANSI/AWWA C110/A21.10, "Ductile-Iron and Gray-Iron Fittings".</p> <p class="subsection-e"><b>  (4) </b>Rubber gasket joints for cast iron and ductile-iron pressure pipe for water piping shall conform to ANSI/AWWA C111/A21.11, "Rubber-Gasket Joints for Ductile-Iron pressure Pipe and Fittings".</p> 
	  
      
	  
	  
	  
	  
    </div>