<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Screwed Malleable Iron Water Fittings
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.6.6. Screwed Malleable Iron water Fittings</b></p> <p class="subsection-e"><b>  (1) </b>Screwed malleable iron water fittings shall conform to ASME B16.3, "Malleable Iron Threaded Fittings: Classes 150 and 300".</p> <p class="subsection-e"><b>  (2) </b>Screwed malleable iron water fittings used in a <i>water system</i> shall be mortarp://thehandyforce.com/exterior/" title ="Exterior home repairs in Toronto">cement-mortar lined or galvanized.</p> <p class="subsection-e"><b>  (3) </b>Screwed malleable iron water fittings shall not be used in a <i>drainage system</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>