<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Corrugated Steel Pipe and Couplings
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.6.8. Corrugated Steel pipe and Couplings</b></p> <p class="subsection-e"><b>  (1) </b>Corrugated steel pipe and couplings shall be certified to CAN/CSA-G401, "Corrugated Steel pipe Products".</p> <p class="subsection-e"><b>  (2) </b>Corrugated steel pipe shall only be used underground outside a <i>building</i> in a <i>storm drainage system</i>.</p> <p class="subsection-e"><b>  (3) </b>Couplings for corrugated steel pipe shall be constructed so that when installed they shall,</p> <p class="clause-e">  (a) maintain the pipe alignment,</p> <p class="clause-e">  (b) resist the separation of adjoining lengths of pipe,</p> <p class="clause-e">  (c) prevent root penetration, and</p> <p class="clause-e">  (d) prevent the infiltration of surrounding material.</p> 
	  
      
	  
	  
	  
	  
    </div>