<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Copper and Brass Pipe
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.7.1. <a href ="http://thehandyforce.com/plumbing/" title ="Plumbers in Toronto">copper</a> and Brass <a href ="http://thehandyforce.com/plumbing/" title ="Plubing leak repair in Toronto">pipe</a></b></p> <p class="subsection-e"><b>  (1) </b><a href ="http://thehandyforce.com/plumbing/" title ="Plumbers in Toronto">copper</a> pipe shall conform to ASTM B42, "Seamless <a href ="http://thehandyforce.com/plumbing/" title ="Plumbers in Toronto">copper</a> Pipe, Standard Sizes".</p> <p class="subsection-e"><b>  (2) </b>Brass <a href ="http://thehandyforce.com/plumbing/" title ="Plubing leak repair in Toronto">pipe</a> shall conform to ASTM B43, "Seamless Red Brass <a href ="http://thehandyforce.com/plumbing/" title ="Plubing leak repair in Toronto">pipe</a>, Standard Sizes".</p> 
	  
      
	  
	  
	  
	  
    </div>