<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Brass or Bronze Pipe Flanges and Flanged Fittings
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.7.2. Brass or Bronze <a href ="http://thehandyforce.com/plumbing/" title ="Plubing leak repair in Toronto">pipe</a> Flanges and Flanged Fittings</b></p> <p class="subsection-e"><b>  (1) </b>Brass or bronze <a href ="http://thehandyforce.com/plumbing/" title ="Plubing leak repair in Toronto">pipe</a> flanges and flanged fittings shall conform to ASME B16.24, "Cast <a href ="http://thehandyforce.com/plumbing/" title ="Plumbers in Toronto">copper</a> Alloy <a href ="http://thehandyforce.com/plumbing/" title ="Plubing leak repair in Toronto">pipe</a> Flanges and Flanged Fittings: Classes 150, 300, 600, 900, 1500 and 2500".</p> 
	  
      
	  
	  
	  
	  
    </div>