<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Brass or Bronze Pipe Flanges and Flanged Fittings
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.7.2. Brass or Bronze pipe Flanges and Flanged Fittings</b></p> <p class="subsection-e"><b>  (1) </b>Brass or bronze pipe flanges and flanged fittings shall conform to ASME B16.24, "Cast copper Alloy pipe Flanges and Flanged Fittings: Classes 150, 300, 600, 900, 1500 and 2500".</p> 
	  
      
	  
	  
	  
	  
    </div>