<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Brass or Bronze Threaded Water Fittings
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.7.3. Brass or Bronze Threaded water Fittings</b></p> <p class="subsection-e"><b>  (1) </b>Brass or bronze threaded water fittings shall conform to ASME B16.15, "Cast copper Alloy Threaded Fittings: Classes 125 and 250".</p> <p class="subsection-e"><b>  (2) </b>Brass or bronze threaded water fittings shall not be used in a <i>drainage system</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>