<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Solder-Joint Drainage Fittings
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.7.5. Solder-Joint drainage Fittings</b></p> <p class="subsection-e"><b>  (1) </b>Solder-joint fittings for <i>drainage systems</i>shall conform to,</p> <p class="clause-e">  (a) ASME B16.23, "Cast copper Alloy Solder Joint drainage Fittings: DWV", or</p> <p class="clause-e">  (b) ASME B16.29, "Wrought copper and Wrought copper Alloy Solder Joint drainage Fittings – DWV".</p> <p class="subsection-e"><b>  (2) </b>Solder-joint fittings for <i>drainage systems</i>shall not be used in a <i>water system</i>.</p> 
	  
      
	  
	  
	  
	  
    </div>