<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Solder-Joint Water Fittings
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.7.6. Solder-Joint water Fittings</b></p> <p class="subsection-e"><b>  (1) </b>Except as provided in Sentence (2), solder-joint fittings for <i>water systems</i> shall conform to,</p> <p class="clause-e">  (a) ASME B16.18, "Cast copper Alloy Solder Joint pressure Fittings", or</p> <p class="clause-e">  (b) ASME B16.22, "Wrought copper and copper Alloy Solder Joint pressure Fittings".</p> <p class="subsection-e"><b>  (2) </b>Solder-joint fittings for <i>water systems</i>not made by casting or the wrought process shall conform to the applicable requirements of ASME B16.18, "Cast copper Alloy Solder Joint pressure Fittings".</p> 
	  
      
	  
	  
	  
	  
    </div>