<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Flared-Joint Fittings for Copper Tube Water Systems
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.7.7. Flared-Joint Fittings for copper Tube water Systems</b></p> <p class="subsection-e"><b>  (1) </b>Flared-joint fittings for copper tube <i>water systems</i> shall conform to ASME B16.26, "Cast copper Alloy Fittings for Flared copper Tubes".</p> <p class="subsection-e"><b>  (2) </b>Flared-joint fittings for copper tube <i>water systems</i> not made by casting shall conform to the applicable requirements of ASME B16.26, "Cast copper Alloy Fittings for Flared copper Tubes".</p> 
	  
      
	  
	  
	  
	  
    </div>