<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Lead Waste Pipe and Fittings
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.7.8. Lead Waste <a href ="http://thehandyforce.com/plumbing/" title ="Plubing leak repair in Toronto">pipe</a> and Fittings</b></p> <p class="subsection-e"><b>  (1) </b>Lead <i>waste <a href ="http://thehandyforce.com/plumbing/" title ="Plubing leak repair in Toronto">pipe</a></i> and fittings shall not be used in a <i><a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> system</i> or for a <i><a href ="http://thehandyforce.com/windows/" title ="Window installer in Toronto">building</a></i> <i>sewer</i>.</p> <p class="subsection-e"><b>  (2) </b>When there is a change in <i>size</i> of a lead closet bend, the change shall be in the vertical section of the bend or made in such a manner that there shall be no retention of liquid in the bend.</p> <p class="ruleb-e">7.2.8. Corrosion Resistant Materials</p> 
	  
      
	  
	  
	  
	  
    </div>