<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Fire Blocks in Crawl Spaces
	  </h1>
      <p>
</p><p class="section-e"><b>3.1.11.6. Fire Blocks in Crawl Spaces</b></p> <p class="subsection-e"><b>  (1) </b>A crawl space that is not considered as a <i>basement</i>by Article 3.2.2.9. and in which sprinklers are not installed, shall be separated by construction conforming to Article 3.1.11.7. into compartments not more than 600 m<sup>2</sup> in area with no dimension more than 30 m.</p> 
	  
      
	  
	  
	  
	  
    </div>