<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Solder and Fluxes
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.9.2. Solder and Fluxes</b></p> <p class="subsection-e"><b>  (1) </b>Solders for solder joint fittings shall conform to ASTM B32, "Solder Metal" in accordance with the recommended use.</p> <p class="subsection-e"><b>  (2) </b>Solders and fluxes having a lead content in excess of 0.2 per cent shall not be used in a <i>potable</i> <i>water system</i>.</p> <p class="subsection-e"><b>  (3) </b>Fluxes for soldered joints shall conform to ASTM B813, "Liquid and Paste Fluxes for Soldering of copper and copper Alloy tube".</p> <p class="subsection-e"><b>  (4) </b>Brazing alloys shall conform to ANSI/AWS A5.8M/A5.8, "Specification for Filler Metals for Brazing and Brazed Welding", BCuP range.</p> <p class="ruleb-e">7.2.10. Miscellaneous Materials</p> 
	  
      
	  
	  
	  
	  
    </div>