<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Floor Flanges
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.10.1. floor Flanges</b></p> <p class="subsection-e"><b>  (1) </b>Brass floor flanges shall be certified to CSA B158.1, "Cast Brass Solder Joint drainage, Waste and vent Fittings".</p> <p class="subsection-e"><b>  (2) </b>ABS floor flanges shall be certified to CAN/CSA-B181.1, "Acrylonitrile-Butadiene-Styrene (ABS) Drain, Waste, and vent pipe and pipe Fittings".</p> <p class="subsection-e"><b>  (3) </b>pvc floor flanges shall be certified to CAN/CSA-B181.2, "Polyvinylchloride (pvc) and Chlorinated Polyvinylchloride (Cpvc) Drain, Waste, and vent pipe and pipe Fittings".</p> <p class="subsection-e"><b>  (4) </b>Cast iron, copper and aluminum floor flanges shall be suitable for the purpose.</p> 
	  
      
	  
	  
	  
	  
    </div>