<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Screws, Bolts, Nuts and Washers
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.10.2. Screws, Bolts, Nuts and Washers</b></p> <p class="subsection-e"><b>  (1) </b>Every screw, bolt, nut and washer shall be of materials that are resistant to corrosion, when used,</p> <p class="clause-e">  (a) to connect a water closet to a water closet flange,</p> <p class="clause-e">  (b) to anchor the water closet flange to the floor,</p> <p class="clause-e">  (c) to anchor the water closet to the floor, or</p> <p class="clause-e">  (d) to hold <i>cleanout</i>covers or floor drain grates.</p> 
	  
      
	  
	  
	  
	  
    </div>