<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Cleanout Fittings
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.10.3. Cleanout Fittings</b></p> <p class="subsection-e"><b>  (1) </b>Every plug, cap, nut or bolt that is intended to be removable from a ferrous fitting shall be of a non-ferrous material.</p> <p class="subsection-e"><b>  (2) </b>A <i>cleanout</i> fitting that as a result of normal maintenance operations cannot withstand the physical stresses of removal and reinstallation or cannot ensure a gas-tight seal shall not be installed.</p> <p class="subsection-e"><b>  (3) </b>A screw cap or test cap shall not be used as a <i>cleanout</i>plug or cover.</p> 
	  
      
	  
	  
	  
	  
    </div>