<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Mechanical Couplings
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.10.4. Mechanical Couplings</b></p> <p class="subsection-e"><b>  (1) </b>Groove and shoulder type mechanical <a href ="http://thehandyforce.com/plumbing/" title ="Plubing leak repair in Toronto">pipe</a> couplings shall conform to CSA B242, "Groove and Shoulder Type Mechanical <a href ="http://thehandyforce.com/plumbing/" title ="Plubing leak repair in Toronto">pipe</a> Couplings".</p> <p class="subsection-e"><b>  (2) </b>Mechanical Couplings for DWV and Sewer <a href ="http://thehandyforce.com/plumbing/" title ="Plubing leak repair in Toronto">pipe</a> shall be certified to CAN/CSA-B602, "Mechanical Couplings for Drain, Waste, and <a href ="http://thehandyforce.com/interior/bathroom-renovations/" title ="Toronto Bathroom renovation inspiration">vent</a> <a href ="http://thehandyforce.com/plumbing/" title ="Plubing leak repair in Toronto">pipe</a> and Sewer Pipe".</p> 
	  
      
	  
	  
	  
	  
    </div>