<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Mechanical Couplings
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.10.4. Mechanical Couplings</b></p> <p class="subsection-e"><b>  (1) </b>Groove and shoulder type mechanical pipe couplings shall conform to CSA B242, "Groove and Shoulder Type Mechanical pipe Couplings".</p> <p class="subsection-e"><b>  (2) </b>Mechanical Couplings for DWV and Sewer pipe shall be certified to CAN/CSA-B602, "Mechanical Couplings for Drain, Waste, and vent pipe and Sewer Pipe".</p> 
	  
      
	  
	  
	  
	  
    </div>