<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Supply and Waste Fittings
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.10.6. Supply and Waste Fittings</b></p> <p class="subsection-e"><b>  (1) </b>Supply fittings shall conform to ASME A112.18.1 / CSA B125.1, "Plumbing Supply Fittings" or CSA B125.3, "Plumbing Fittings".</p> <p class="subsection-e"><b>  (2) </b>Waste fittings shall conform to ASME A112.18.2 / CSA B125.2, "Plumbing Waste Fittings".</p> 
	  
      
	  
	  
	  
	  
    </div>