<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Linings and Coatings of Domestic Water Tanks
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.10.7. Linings and Coatings of Domestic <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> Tanks</b></p> <p class="subsection-e"><b>  (1) </b>Linings and coatings of domestic <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> tanks that come into contact with <i>potable</i> <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> shall be certified to NSF/ANSI 61, "Drinking <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> System Components - Health Effects".</p> 
	  
      
	  
	  
	  
	  
    </div>