<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Linings and Coatings of Domestic Water Tanks
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.10.7. Linings and Coatings of Domestic water Tanks</b></p> <p class="subsection-e"><b>  (1) </b>Linings and coatings of domestic water tanks that come into contact with <i>potable</i> water shall be certified to NSF/ANSI 61, "Drinking water System Components - Health Effects".</p> 
	  
      
	  
	  
	  
	  
    </div>