<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Direct Flush Valves
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.10.8. Direct flush Valves</b></p> <p class="subsection-e"><b>  (1) </b>Every direct flush valve shall,</p> <p class="clause-e">  (a) open fully and close positively under service pressure,</p> <p class="clause-e">  (b) complete its cycle of operation automatically,</p> <p class="clause-e">  (c) be provided with a means of regulating the volume of water that it discharges, and</p> <p class="clause-e">  (d) be provided with a <i>vacuum breaker</i> unless the <i>fixture</i>is designed so that <i>back-siphonage</i> cannot occur.</p> 
	  
      
	  
	  
	  
	  
    </div>