<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Direct Flush Valves
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.10.8. Direct <a href ="http://thehandyforce.com/plumbing/" title ="Toilet replacement in Toronto">flush</a> Valves</b></p> <p class="subsection-e"><b>  (1) </b>Every direct <a href ="http://thehandyforce.com/plumbing/" title ="Toilet replacement in Toronto">flush</a> valve shall,</p> <p class="clause-e">  (a) open fully and close positively under <a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">service</a> pressure,</p> <p class="clause-e">  (b) complete its cycle of operation automatically,</p> <p class="clause-e">  (c) be provided with a means of regulating the volume of <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> that it discharges, and</p> <p class="clause-e">  (d) be provided with a <i>vacuum breaker</i> unless the <i>fixture</i>is <a href ="http://thehandyforce.com/services/" title ="Custom renovations Toronto">design</a>ed so that <i>back-siphonage</i> cannot occur.</p> 
	  
      
	  
	  
	  
	  
    </div>