<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Relief Valves
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.10.11. Relief Valves</b></p> <p class="subsection-e"><b>  (1) </b><a href ="http://thehandyforce.com/insulation/" title ="Instulation Installtion in Toronto">temperature</a> relief, <a href ="http://thehandyforce.com/plumbing/" title ="Increase water pressure with a Toronto Plumber">pressure</a> relief, combined <a href ="http://thehandyforce.com/insulation/" title ="Instulation Installtion in Toronto">temperature</a> and pressure relief and vacuum relief valves shall conform to ANSI Z21.22 / CSA 4.4-M, "Relief Valves for Hot <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> Supply Systems".</p> 
	  
      
	  
	  
	  
	  
    </div>