<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Reducing Valves
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.10.12. Reducing Valves</b></p> <p class="subsection-e"><b>  (1) </b>Direct acting <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> <a href ="http://thehandyforce.com/plumbing/" title ="Increase water pressure with a Toronto Plumber">pressure</a> reducing valves for domestic <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> supply systems shall conform to CAN/CSA-B356, "<a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> <a href ="http://thehandyforce.com/plumbing/" title ="Increase water pressure with a Toronto Plumber">pressure</a> Reducing Valves for Domestic <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> Supply Systems".</p> 
	  
      
	  
	  
	  
	  
    </div>