<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Vent Pipe Flashing
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.10.14. vent pipe Flashing</b></p> <p class="subsection-e"><b>  (1) </b>Flashing fabricated on site for <i>vent pipes</i>shall be fabricated from,</p> <p class="clause-e">  (a) copper sheet at least 0.33 mm thick,</p> <p class="clause-e">  (b) aluminum sheet at least 0.48 mm thick,</p> <p class="clause-e">  (c) alloyed zinc sheet at least 0.35 mm thick,</p> <p class="clause-e">  (d) lead sheet at least 1.73 mm thick,</p> <p class="clause-e">  (e) galvanized steel sheet at least 0.33 mm thick, or</p> <p class="clause-e">  (f) polychloroprene (neoprene) at least 2.89 mm thick.</p> <p class="subsection-e"><b>  (2) </b>Prefabricated flashing for <i>vent pipes</i>shall be certified to CSA B272, "Prefabricated Self-Sealing Roof vent Flashings".</p> 
	  
      
	  
	  
	  
	  
    </div>