<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Water Hammer Arresters
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.10.15. <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> Hammer Arresters</b></p> <p class="subsection-e"><b>  (1) </b>Factory built <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> hammer arresters shall conform to ANSI/ASSE 1010, "<a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> Hammer Arresters".</p> 
	  
      
	  
	  
	  
	  
    </div>