<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Drinking Water Treatment Systems
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.10.17. Drinking <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> Treatment Systems</b></p> <p class="subsection-e"><b>  (1) </b>A drinking <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> treatment system or device shall be certified to CAN/CSA-B483.1, "Drinking <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> Treatment Systems".</p> <p class="ruleb-e">7.2.11. <a href ="http://thehandyforce.com/eves-and-gutters/" title ="Eves Trough Toronto">water</a> <a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">service</a> Pipes and Fire <a href ="http://thehandyforce.com/handyman/" title ="Toronto Handy Man">service</a> Mains</p> 
	  
      
	  
	  
	  
	  
    </div>