<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Tracer Wire
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.11.3. Tracer wire</b></p> <p class="subsection-e"><b>  (1) </b>Except as provided in Sentence (2), a 14 gauge TW solid copper light coloured plastic coated tracer wire shall be attached to every non-metallic <i>water service pipe</i> or <i>fire service main</i>.</p> <p class="subsection-e"><b>  (2) </b>Where a <i>water service pipe</i> or <i>fire service main</i> is detectable without the tracer wire referenced in Sentence (1), the tracer wire may be omitted.</p> 
	  
      
	  
	  
	  
	  
    </div>