<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Required Check Valve
	  </h1>
      <p>
</p><p class="section-e"><b>7.2.11.4. Required Check Valve</b></p> <p class="subsection-e"><b>  (1) </b>Where a <i>water service pipe</i> is supplied with water by more than one <i>drinking water system</i>, a <i>check valve</i> shall be installed at each connection with a <i>drinking water system</i>.</p> <p class="subsection-e"><b>  (2) </b>Where a <i>fire service main</i> is supplied with water by more than one source, a <i>check valve</i>shall be installed at each connection with a source of water.</p> <p class="ruleb-e">Section 7.3. Piping</p> <p class="ruleb-e">7.3.1. application</p> 
	  
      
	  
	  
	  
	  
    </div>