<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Solder Joints
	  </h1>
      <p>
</p><p class="section-e"><b>7.3.2.4. Solder Joints</b></p> <p class="subsection-e"><b>  (1) </b>Soldered joints shall be made in accordance with ASTM B828, "Making Capillary Joints by Soldering of <a href ="http://thehandyforce.com/plumbing/" title ="Plumbers in Toronto">copper</a> and <a href ="http://thehandyforce.com/plumbing/" title ="Plumbers in Toronto">copper</a> Alloy <a href ="http://thehandyforce.com/electrical/" title ="Upgrade knob and tube wiring in Toronto">tube</a> and Fittings".</p> 
	  
      
	  
	  
	  
	  
    </div>