<div class="content three_quarter"> 
      
      
	  
	  <h1>
The Ontario Building Code | Prohibition of Welding of Pipes and Fittings
	  </h1>
      <p>
</p><p class="section-e"><b>7.3.3.3. Prohibition of Welding of <a href ="http://thehandyforce.com/plumbing/" title ="Plubing leak repair in Toronto">pipe</a>s and Fittings</b></p> <p class="subsection-e"><b>  (1) </b>Cast iron <i><a href ="http://thehandyforce.com/decks/" title ="Deck builder in Toronto">soil</a> <a href ="http://thehandyforce.com/plumbing/" title ="Plubing leak repair in Toronto">pipe</a></i> and fittings shall not be welded.</p> <p class="subsection-e"><b>  (2) </b>Galvanized steel <a href ="http://thehandyforce.com/plumbing/" title ="Plubing leak repair in Toronto">pipe</a> and fittings shall not be welded.</p> 
	  
      
	  
	  
	  
	  
    </div>