<div class="content three_quarter">
    <!-- ################################################################################################ -->


    <h1>
        Section 11 of the Ontario Building Code
    </h1>
    <p>
    </p><ul>
    <li><a hx-post="/content/2228" title="Scope">11.1.1.1. - Scope</a></li>
    <li><a hx-post="/content/2229" title="Definitions">11.1.1.2. - Definitions</a></li>
    <li><a hx-post="/content/2230" title="Construction Index and Hazard Index">11.2.1.1. - Construction Index and Hazard Index</a></li>
    <li><a hx-post="/content/2231" title="Multiple Occupancies">11.2.1.2. - Multiple Occupancies</a></li>
    <li><a hx-post="/content/2232" title="Prohibition of Occupancy Combinations">11.2.1.3. - Prohibition of Occupancy Combinations</a></li>
    <li><a hx-post="/content/2233" title="Material Alteration or Repair of a Building System">11.3.1.1. - Material Alteration or Repair of a Building System</a></li>
    <li><a hx-post="/content/2234" title="New Building Systems and Extension of Existing Building Systems">11.3.1.2. - New Building Systems and Extension of Existing Building Systems</a></li>
    <li><a hx-post="/content/2235" title="Portion of Extended Buildings">11.3.2.1. - Portion of Extended Buildings</a></li>
    <li><a hx-post="/content/2236" title="Basic Renovation">11.3.3.1. - Basic Renovation</a></li>
    <li><a hx-post="/content/2237" title="Extensive Renovation">11.3.3.2. - Extensive Renovation</a></li>
    <li><a hx-post="/content/2238" title="Extension, Material Alteration or Repair">11.3.4.1. - Extension, Material Alteration or Repair</a></li>
    <li><a hx-post="/content/2239" title="Existing Septic Tanks">11.3.5.1. - Existing Septic Tanks</a></li>
    <li><a hx-post="/content/2240" title="Vertical Separations and Existing Sewage Sys">11.3.5.2. - Vertical Separations and Existing Sewage Sys</a></li>
    <li><a hx-post="/content/2241" title="Performance Level">11.4.1.1. - Performance Level</a></li>
    <li><a hx-post="/content/2242" title="Structural">11.4.2.1. - Structural</a></li>
    <li><a hx-post="/content/2243" title="Increase in Occupant Load">11.4.2.2. - Increase in Occupant Load</a></li>
    <li><a hx-post="/content/2244" title="Change of Major Occupancy">11.4.2.3. - Change of Major Occupancy</a></li>
    <li><a hx-post="/content/2245" title="Plumbing">11.4.2.4. - Plumbing</a></li>
    <li><a hx-post="/content/2246" title="Sewage Systems">11.4.2.5. - Sewage Systems</a></li>
    <li><a hx-post="/content/2247" title="Extension of Buildings of Combustible Construction">11.4.2.6. - Extension of Buildings of Combustible Construction</a></li>
    <li><a hx-post="/content/2248" title="General">11.4.3.1. - General</a></li>
    <li><a hx-post="/content/2249" title="Structural">11.4.3.2. - Structural</a></li>
    <li><a hx-post="/content/2250" title="Increase in Occupant Load">11.4.3.3. - Increase in Occupant Load</a></li>
    <li><a hx-post="/content/2251" title="Change in Major Occupancy">11.4.3.4. - Change in Major Occupancy</a></li>
    <li><a hx-post="/content/2252" title="Plumbing">11.4.3.5. - Plumbing</a></li>
    <li><a hx-post="/content/2253" title="Sewage Systems">11.4.3.6. - Sewage Systems</a></li>
    <li><a hx-post="/content/2254" title="Extension of Buildings of Combustible Construction">11.4.3.7. - Extension of Buildings of Combustible Construction</a></li>
    <li><a hx-post="/content/2255" title="Compliance Alternatives">11.5.1.1. - Compliance Alternatives</a></li>

</ul>
    <p></p>





</div>