<div class="content three_quarter">
    <!-- ################################################################################################ -->


    <h1>
        Section 1 of the Ontario Building Code
    </h1>
    <p>
    </p><ul>
    <li><a hx-post="/content/1149" title="Scope">8.1.1.1. - Scope</a></li>
    <li><a hx-post="/content/1150" title="Definitions">8.1.1.2. - Definitions</a></li>
    <li><a hx-post="/content/1151" title="Classification of Systems">8.1.2.1. - Classification of Systems</a></li>
    <li><a hx-post="/content/1152" title="Operation and Maintenance">8.1.2.2. - Operation and Maintenance</a></li>
    <li><a hx-post="/content/1153" title="Discharge">8.1.3.1. - Discharge</a></li>
    <li><a hx-post="/content/1154" title="Scope">8.2.1.1. - Scope</a></li>
    <li><a hx-post="/content/1155" title="Site Evaluation">8.2.1.2. - Site Evaluation</a></li>
    <li><a hx-post="/content/1156" title="Sewage System Design Flows">8.2.1.3. - Sewage System Design Flows</a></li>
    <li><a hx-post="/content/1157" title="Clearances">8.2.1.4. - Clearances</a></li>
    <li><a hx-post="/content/1158" title="Clearance Distances for Class 1, 2 and 3 Sewage Systems">8.2.1.5. - Clearance Distances for Class 1, 2 and 3 Sewage Systems</a></li>
    <li><a hx-post="/content/1159" title="Clearances for a Class 4 or 5 Sewage System">8.2.1.6. - Clearances for a Class 4 or 5 Sewage System</a></li>
    <li><a hx-post="/content/1160" title="Application">8.2.2.1. - Application</a></li>
    <li><a hx-post="/content/1161" title="Tanks">8.2.2.2. - Tanks</a></li>
    <li><a hx-post="/content/1162" title="Septic Tanks">8.2.2.3. - Septic Tanks</a></li>
    <li><a hx-post="/content/1163" title="Holding Tanks">8.2.2.4. - Holding Tanks</a></li>
    <li><a hx-post="/content/1164" title="Scope">8.3.1.1. - Scope</a></li>
    <li><a hx-post="/content/1165" title="Application">8.3.1.2. - Application</a></li>
    <li><a hx-post="/content/1166" title="Construction Requirements">8.3.2.1. - Construction Requirements</a></li>
    <li><a hx-post="/content/1167" title="Construction Requirements">8.3.3.1. - Construction Requirements</a></li>
    <li><a hx-post="/content/1168" title="Construction Requirements">8.3.4.1. - Construction Requirements</a></li>
    <li><a hx-post="/content/1169" title="Construction Requirements">8.3.5.1. - Construction Requirements</a></li>
    <li><a hx-post="/content/1170" title="Scope">8.4.1.1. - Scope</a></li>
    <li><a hx-post="/content/1171" title="Application">8.4.1.2. - Application</a></li>
    <li><a hx-post="/content/1172" title="Construction Requirements">8.4.2.1. - Construction Requirements</a></li>
    <li><a hx-post="/content/1173" title="Maximum Sewage Flow">8.4.2.2. - Maximum Sewage Flow</a></li>
    <li><a hx-post="/content/1174" title="Sizing">8.4.2.3. - Sizing</a></li>
    <li><a hx-post="/content/1175" title="Scope">8.5.1.1. - Scope</a></li>
    <li><a hx-post="/content/1176" title="Application">8.5.1.2. - Application</a></li>
    <li><a hx-post="/content/1177" title="Construction Requirements">8.5.2.1. - Construction Requirements</a></li>
    <li><a hx-post="/content/1178" title="Scope">8.6.1.1. - Scope</a></li>
    <li><a hx-post="/content/1179" title="General Requirements">8.6.1.2. - General Requirements</a></li>
    <li><a hx-post="/content/1180" title="Pumps and Siphons">8.6.1.3. - Pumps and Siphons</a></li>
    <li><a hx-post="/content/1181" title="Septic Tank Systems">8.6.2.1. - Septic Tank Systems</a></li>
    <li><a hx-post="/content/1182" title="Other Treatment Units">8.6.2.2. - Other Treatment Units</a></li>
    <li><a hx-post="/content/1183" title="Scope">8.7.1.1. - Scope</a></li>
    <li><a hx-post="/content/1184" title="Limitation on Installation">8.7.1.2. - Limitation on Installation</a></li>
    <li><a hx-post="/content/1185" title="General Requirements">8.7.2.1. - General Requirements</a></li>
    <li><a hx-post="/content/1186" title="Distribution Pipes within Leaching Beds">8.7.2.2. - Distribution Pipes within Leaching Beds</a></li>
    <li><a hx-post="/content/1187" title="Length of Distribution Pipe">8.7.3.1. - Length of Distribution Pipe</a></li>
    <li><a hx-post="/content/1188" title="Absorption Trenches">8.7.3.2. - Absorption Trenches</a></li>
    <li><a hx-post="/content/1189" title="Distribution Pipe">8.7.3.3. - Distribution Pipe</a></li>
    <li><a hx-post="/content/1190" title="Loading Requirements">8.7.4.1. - Loading Requirements</a></li>
    <li><a hx-post="/content/1191" title="Construction Requirements">8.7.4.2. - Construction Requirements</a></li>
    <li><a hx-post="/content/1192" title="Application">8.7.5.1. - Application</a></li>
    <li><a hx-post="/content/1193" title="Loading Requirements">8.7.5.2. - Loading Requirements</a></li>
    <li><a hx-post="/content/1194" title="Construction Requirements">8.7.5.3. - Construction Requirements</a></li>
    <li><a hx-post="/content/1195" title="Construction Requirements">8.7.6.1. - Construction Requirements</a></li>
    <li><a hx-post="/content/1196" title="Construction Requirements">8.7.7.1. - Construction Requirements</a></li>
    <li><a hx-post="/content/1197" title="General Requirements">8.7.8.1. - General Requirements</a></li>
    <li><a hx-post="/content/1198" title="Construction Requirements">8.7.8.2. - Construction Requirements</a></li>
    <li><a hx-post="/content/1199" title="Design Requirements">8.7.8.3. - Design Requirements</a></li>
    <li><a hx-post="/content/1200" title="Prohibited Installation">8.8.1.1. - Prohibited Installation</a></li>
    <li><a hx-post="/content/1201" title="Acceptable Installation">8.8.1.2. - Acceptable Installation</a></li>
    <li><a hx-post="/content/1202" title="Construction Requirements">8.8.2.1. - Construction Requirements</a></li>
    <li><a hx-post="/content/1203" title="Sizing of Holding Tanks">8.8.2.2. - Sizing of Holding Tanks</a></li>
    <li><a hx-post="/content/1204" title="Scope">8.9.1.1. - Scope</a></li>
    <li><a hx-post="/content/1205" title="General Requirements for Operation and Maintenance">8.9.1.2. - General Requirements for Operation and Maintenance</a></li>
    <li><a hx-post="/content/1206" title="Scope">8.9.2.1. - Scope</a></li>
    <li><a hx-post="/content/1207" title="General">8.9.2.2. - General</a></li>
    <li><a hx-post="/content/1208" title="Class 4 Sewage Systems">8.9.2.3. - Class 4 Sewage Systems</a></li>
    <li><a hx-post="/content/1209" title="Sampling of Treatment Units">8.9.2.4. - Sampling of Treatment Units</a></li>
    <li><a hx-post="/content/1210" title="Class 5 Sewage Systems">8.9.2.5. - Class 5 Sewage Systems</a></li>
    <li><a hx-post="/content/1211" title="Scope">8.9.3.1. - Scope</a></li>
    <li><a hx-post="/content/1212" title="General">8.9.3.2. - General</a></li>
    <li><a hx-post="/content/1213" title="Interceptors">8.9.3.3. - Interceptors</a></li>
    <li><a hx-post="/content/1214" title="Class 4 Sewage Systems">8.9.3.4. - Class 4 Sewage Systems</a></li>
    <li><a hx-post="/content/1215" title="Pressurized Distribution Systems">8.9.3.5. - Pressurized Distribution Systems</a></li>

</ul>
    <p></p>





</div>