<div class="content three_quarter">
    <!-- ################################################################################################ -->


    <h1>
        Section 6 of the Ontario Building Code
    </h1>
    <p>
    </p><ul>
    <li><a hx-post="/content/813" title="Scope">6.1.1.1. - Scope</a></li>
    <li><a hx-post="/content/814" title="Application">6.1.1.2. - Application</a></li>
    <li><a hx-post="/content/815" title="Good Engineering Practice">6.2.1.1. - Good Engineering Practice</a></li>
    <li><a hx-post="/content/816" title="Design Indoor Air Temperatures">6.2.1.2. - Design Indoor Air Temperatures</a></li>
    <li><a hx-post="/content/817" title="Structural Movement">6.2.1.3. - Structural Movement</a></li>
    <li><a hx-post="/content/818" title="Installation Standards">6.2.1.4. - Installation Standards</a></li>
    <li><a hx-post="/content/819" title="Fireplaces">6.2.1.5. - Fireplaces</a></li>
    <li><a hx-post="/content/820" title="Heat Recovery Ventilators">6.2.1.6. - Heat Recovery Ventilators</a></li>
    <li><a hx-post="/content/821" title="Outside Design Conditions">6.2.1.7. - Outside Design Conditions</a></li>
    <li><a hx-post="/content/822" title="Installation – General">6.2.1.8. - Installation – General</a></li>
    <li><a hx-post="/content/823" title="Expansion, Contraction and System Pressure">6.2.1.9. - Expansion, Contraction and System Pressure</a></li>
    <li><a hx-post="/content/824" title="Asbestos">6.2.1.10. - Asbestos</a></li>
    <li><a hx-post="/content/825" title="Access Openings">6.2.1.11. - Access Openings</a></li>
    <li><a hx-post="/content/826" title="Combustible Tubing">6.2.1.12. - Combustible Tubing</a></li>
    <li><a hx-post="/content/827" title="Required Ventilation">6.2.2.1. - Required Ventilation</a></li>
    <li><a hx-post="/content/828" title="Natural Ventilation">6.2.2.2. - Natural Ventilation</a></li>
    <li><a hx-post="/content/829" title="Ventilation of Storage and Repair Garages">6.2.2.3. - Ventilation of Storage and Repair Garages</a></li>
    <li><a hx-post="/content/830" title="Air Contaminants">6.2.2.4. - Air Contaminants</a></li>
    <li><a hx-post="/content/831" title="Hazardous Gases, Dusts or Liquids">6.2.2.5. - Hazardous Gases, Dusts or Liquids</a></li>
    <li><a hx-post="/content/832" title="Commercial Cooking Equipment">6.2.2.6. - Commercial Cooking Equipment</a></li>
    <li><a hx-post="/content/833" title="Crawl Spaces and Attic or Roof Spaces">6.2.2.7. - Crawl Spaces and Attic or Roof Spaces</a></li>
    <li><a hx-post="/content/834" title="Application">6.2.3.1. - Application</a></li>
    <li><a hx-post="/content/835" title="Materials in Air Duct Systems">6.2.3.2. - Materials in Air Duct Systems</a></li>
    <li><a hx-post="/content/836" title="Connections and Openings in Air Duct Systems">6.2.3.3. - Connections and Openings in Air Duct Systems</a></li>
    <li><a hx-post="/content/837" title="Duct Coverings, Linings, Adhesives and Insulation">6.2.3.4. - Duct Coverings, Linings, Adhesives and Insulation</a></li>
    <li><a hx-post="/content/838" title="Underground Ducts">6.2.3.5. - Underground Ducts</a></li>
    <li><a hx-post="/content/839" title="Fire Dampers">6.2.3.6. - Fire Dampers</a></li>
    <li><a hx-post="/content/840" title="Smoke Detector Control">6.2.3.7. - Smoke Detector Control</a></li>
    <li><a hx-post="/content/841" title="Exhaust Ducts and Outlets">6.2.3.8. - Exhaust Ducts and Outlets</a></li>
    <li><a hx-post="/content/842" title="Interconnection of Systems">6.2.3.9. - Interconnection of Systems</a></li>
    <li><a hx-post="/content/843" title="Ducts in Exits">6.2.3.10. - Ducts in Exits</a></li>
    <li><a hx-post="/content/844" title="Make-up Air">6.2.3.11. - Make-up Air</a></li>
    <li><a hx-post="/content/845" title="Supply, Return, Intake and Exhaust Air Openings">6.2.3.12. - Supply, Return, Intake and Exhaust Air Openings</a></li>
    <li><a hx-post="/content/846" title="Filters and Odour Removal Equipment">6.2.3.13. - Filters and Odour Removal Equipment</a></li>
    <li><a hx-post="/content/847" title="Air Washers and Evaporative Cooling Sections or Towers">6.2.3.14. - Air Washers and Evaporative Cooling Sections or Towers</a></li>
    <li><a hx-post="/content/848" title="Fans and Associated Air Handling Equipment">6.2.3.15. - Fans and Associated Air Handling Equipment</a></li>
    <li><a hx-post="/content/849" title="Vibration Isolation Connectors">6.2.3.16. - Vibration Isolation Connectors</a></li>
    <li><a hx-post="/content/850" title="Tape">6.2.3.17. - Tape</a></li>
    <li><a hx-post="/content/851" title="Construction and Installation of Ducts and Plenums">6.2.3.18. - Construction and Installation of Ducts and Plenums</a></li>
    <li><a hx-post="/content/852" title="Clearances of Ducts and Plenums">6.2.3.19. - Clearances of Ducts and Plenums</a></li>
    <li><a hx-post="/content/853" title="Return-Air System">6.2.3.20. - Return-Air System</a></li>
    <li><a hx-post="/content/854" title="Application">6.2.4.1. - Application</a></li>
    <li><a hx-post="/content/855" title="Duct Design">6.2.4.2. - Duct Design</a></li>
    <li><a hx-post="/content/856" title="Construction and Installation of Ducts and Plenums">6.2.4.3. - Construction and Installation of Ducts and Plenums</a></li>
    <li><a hx-post="/content/857" title="Warm-Air Supply Outlets">6.2.4.4. - Warm-Air Supply Outlets</a></li>
    <li><a hx-post="/content/858" title="Reserved">6.2.4.5. - Reserved</a></li>
    <li><a hx-post="/content/859" title="Adjustable Dampers and Balance Stops">6.2.4.6. - Adjustable Dampers and Balance Stops</a></li>
    <li><a hx-post="/content/860" title="Return-Air System">6.2.4.7. - Return-Air System</a></li>
    <li><a hx-post="/content/861" title="Coverings, Linings and Insulation">6.2.4.8. - Coverings, Linings and Insulation</a></li>
    <li><a hx-post="/content/862" title="Tape">6.2.4.9. - Tape</a></li>
    <li><a hx-post="/content/863" title="Clearances of Ducts and Plenums">6.2.4.10. - Clearances of Ducts and Plenums</a></li>
    <li><a hx-post="/content/864" title="Exhaust Ducts and Outlets">6.2.4.11. - Exhaust Ducts and Outlets</a></li>
    <li><a hx-post="/content/865" title="Make-up Air">6.2.4.12. - Make-up Air</a></li>
    <li><a hx-post="/content/866" title="Supply, Return, Intake and Exhaust Air Openings">6.2.4.13. - Supply, Return, Intake and Exhaust Air Openings</a></li>
    <li><a hx-post="/content/867" title="Air Filters and Equipment">6.2.4.14. - Air Filters and Equipment</a></li>
    <li><a hx-post="/content/868" title="Location of Appliances">6.2.5.1. - Location of Appliances</a></li>
    <li><a hx-post="/content/869" title="Appliances Installed Outside the Building">6.2.5.2. - Appliances Installed Outside the Building</a></li>
    <li><a hx-post="/content/870" title="Applicable Standard">6.2.6.1. - Applicable Standard</a></li>
    <li><a hx-post="/content/871" title="Clearances">6.2.7.1. - Clearances</a></li>
    <li><a hx-post="/content/872" title="Lining or Backing">6.2.8.1. - Lining or Backing</a></li>
    <li><a hx-post="/content/873" title="Piping Materials and Installation">6.2.9.1. - Piping Materials and Installation</a></li>
    <li><a hx-post="/content/874" title="Insulation and Coverings">6.2.9.2. - Insulation and Coverings</a></li>
    <li><a hx-post="/content/875" title="Clearances">6.2.9.3. - Clearances</a></li>
    <li><a hx-post="/content/876" title="Surface Temperature">6.2.9.4. - Surface Temperature</a></li>
    <li><a hx-post="/content/877" title="Protection">6.2.9.5. - Protection</a></li>
    <li><a hx-post="/content/878" title="Piping in Shafts">6.2.9.6. - Piping in Shafts</a></li>
    <li><a hx-post="/content/879" title="Cooling Units">6.2.10.1. - Cooling Units</a></li>
    <li><a hx-post="/content/880" title="Storage Bins">6.2.11.1. - Storage Bins</a></li>
    <li><a hx-post="/content/881" title="Ash Storage Bins">6.2.11.2. - Ash Storage Bins</a></li>
    <li><a hx-post="/content/882" title="Application">6.2.12.1. - Application</a></li>
    <li><a hx-post="/content/883" title="Location of Carbon Monoxide Alarms">6.2.12.2. - Location of Carbon Monoxide Alarms</a></li>
    <li><a hx-post="/content/884" title="Installation and Conformance to Standards">6.2.12.3. - Installation and Conformance to Standards</a></li>
    <li><a hx-post="/content/885" title="Application">6.2.13.1. - Application</a></li>
    <li><a hx-post="/content/886" title="General Ventilation">6.2.13.2. - General Ventilation</a></li>
    <li><a hx-post="/content/887" title="Power-Ventilated Enclosure">6.2.13.3. - Power-Ventilated Enclosure</a></li>
    <li><a hx-post="/content/888" title="Enclosure Exhaust Ventilation">6.2.13.4. - Enclosure Exhaust Ventilation</a></li>
    <li><a hx-post="/content/889" title="Enclosure Construction">6.2.13.5. - Enclosure Construction</a></li>
    <li><a hx-post="/content/890" title="Requirement for Venting">6.3.1.1. - Requirement for Venting</a></li>
    <li><a hx-post="/content/891" title="Masonry or Concrete Chimneys">6.3.1.2. - Masonry or Concrete Chimneys</a></li>
    <li><a hx-post="/content/892" title="Metal Smoke Stacks">6.3.1.3. - Metal Smoke Stacks</a></li>
    <li><a hx-post="/content/893" title="Reserved">6.3.1.4. - Reserved</a></li>
    <li><a hx-post="/content/894" title="Access Ladders">6.3.1.5. - Access Ladders</a></li>

</ul>
    <p></p>





</div>