<div class="content three_quarter">
    <!-- ################################################################################################ -->


    <h1>
        Section 12 of the Ontario Building Code
    </h1>
    <p>
    </p><ul>
    <li><a hx-post="/content/2256" title="Scope">12.1.1.1. - Scope</a></li>
    <li><a hx-post="/content/2257" title="Application">12.1.1.2. - Application</a></li>
    <li><a hx-post="/content/2258" title="Energy Efficiency Design Before January 1, 2017">12.2.1.1. - Energy Efficiency Design Before January 1, 2017</a></li>
    <li><a hx-post="/content/2259" title="Energy Efficiency Design After December 31, 2016">12.2.1.2. - Energy Efficiency Design After December 31, 2016</a></li>
    <li><a hx-post="/content/2260" title="Carbon Dioxide Equivalents">12.2.2.1. - Carbon Dioxide Equivalents</a></li>
    <li><a hx-post="/content/2261" title="Peak Electric Demand">12.2.3.1. - Peak Electric Demand</a></li>
    <li><a hx-post="/content/2262" title="Application">12.3.1.1. - Application</a></li>
    <li><a hx-post="/content/2263" title="Windows and Sliding Glass Doors">12.3.1.2. - Windows and Sliding Glass Doors</a></li>
    <li><a hx-post="/content/2264" title="Temperature Control in Dwelling Units">12.3.1.3. - Temperature Control in Dwelling Units</a></li>
    <li><a hx-post="/content/2265" title="Hot Water Piping Insulation">12.3.1.4. - Hot Water Piping Insulation</a></li>
    <li><a hx-post="/content/2266" title="Residential Furnaces After December 31, 2014">12.3.1.5. - Residential Furnaces After December 31, 2014</a></li>
    <li><a hx-post="/content/2267" title="Energy Supply for Kitchen and Laundry Facilities After December 31, 2014">12.3.1.6. - Energy Supply for Kitchen and Laundry Facilities After December 31, 2014</a></li>

</ul>
    <p></p>





</div>