<div class="content three_quarter">
    <!-- ################################################################################################ -->


    <h1>
        Section 5 of the Ontario Building Code
    </h1>
    <p>
    </p><ul>
    <li><a hx-post="/content/775" title="Scope">5.1.1.1. - Scope</a></li>
    <li><a hx-post="/content/776" title="Exposure to Exterior Space or the Ground and Separation of Dissimilar Environments">5.1.2.1. - Exposure to Exterior Space or the Ground and Separation of Dissimilar Environments</a></li>
    <li><a hx-post="/content/777" title="Reserved">5.1.3.1. - Reserved</a></li>
    <li><a hx-post="/content/778" title="Structural and Environmental Loads">5.1.4.1. - Structural and Environmental Loads</a></li>
    <li><a hx-post="/content/779" title="Resistance to Deterioration">5.1.4.2. - Resistance to Deterioration</a></li>
    <li><a hx-post="/content/780" title="Requirements in other Parts of the Code">5.1.5.1. - Requirements in other Parts of the Code</a></li>
    <li><a hx-post="/content/781" title="Exterior Environmental Loads">5.2.1.1. - Exterior Environmental Loads</a></li>
    <li><a hx-post="/content/782" title="Interior Environmental Loads">5.2.1.2. - Interior Environmental Loads</a></li>
    <li><a hx-post="/content/783" title="Environmental Load and Transfer Calculations">5.2.1.3. - Environmental Load and Transfer Calculations</a></li>
    <li><a hx-post="/content/784" title="Determination of Structural Loads and Effects">5.2.2.1. - Determination of Structural Loads and Effects</a></li>
    <li><a hx-post="/content/785" title="Determination of Wind Load">5.2.2.2. - Determination of Wind Load</a></li>
    <li><a hx-post="/content/786" title="Design Procedures">5.2.2.3. - Design Procedures</a></li>
    <li><a hx-post="/content/787" title="Required Resistance to Heat Transfer">5.3.1.1. - Required Resistance to Heat Transfer</a></li>
    <li><a hx-post="/content/788" title="Properties to Resist Heat Transfer or Dissipate Heat">5.3.1.2. - Properties to Resist Heat Transfer or Dissipate Heat</a></li>
    <li><a hx-post="/content/789" title="Location and Installation of Materials Providing Thermal Resistance">5.3.1.3. - Location and Installation of Materials Providing Thermal Resistance</a></li>
    <li><a hx-post="/content/790" title="Required Resistance to Air Leakage">5.4.1.1. - Required Resistance to Air Leakage</a></li>
    <li><a hx-post="/content/791" title="Air Barrier System Properties">5.4.1.2. - Air Barrier System Properties</a></li>
    <li><a hx-post="/content/792" title="Required Resistance to Vapour Diffusion">5.5.1.1. - Required Resistance to Vapour Diffusion</a></li>
    <li><a hx-post="/content/793" title="Vapour Barrier Properties and Installation">5.5.1.2. - Vapour Barrier Properties and Installation</a></li>
    <li><a hx-post="/content/794" title="Required Protection from Precipitation">5.6.1.1. - Required Protection from Precipitation</a></li>
    <li><a hx-post="/content/795" title="Installation of Protective Materials">5.6.1.2. - Installation of Protective Materials</a></li>
    <li><a hx-post="/content/796" title="Sealing and Drainage">5.6.2.1. - Sealing and Drainage</a></li>
    <li><a hx-post="/content/797" title="Accumulation and Disposal">5.6.2.2. - Accumulation and Disposal</a></li>
    <li><a hx-post="/content/798" title="Solar Collector Systems">5.6.2.3. - Solar Collector Systems</a></li>
    <li><a hx-post="/content/799" title="Prevention of Accumulation and Ingress">5.7.1.1. - Prevention of Accumulation and Ingress</a></li>
    <li><a hx-post="/content/800" title="Required Drainage">5.8.1.1. - Required Drainage</a></li>
    <li><a hx-post="/content/801" title="Drainage Materials and Installation">5.8.1.2. - Drainage Materials and Installation</a></li>
    <li><a hx-post="/content/802" title="Required Moisture Protection">5.8.2.1. - Required Moisture Protection</a></li>
    <li><a hx-post="/content/803" title="Protective Material and Component Properties">5.8.2.2. - Protective Material and Component Properties</a></li>
    <li><a hx-post="/content/804" title="Installation of Moisture Protection">5.8.2.3. - Installation of Moisture Protection</a></li>
    <li><a hx-post="/content/805" title="Sound Transmission Class">5.9.1.1. - Sound Transmission Class</a></li>
    <li><a hx-post="/content/806" title="Required Protection from Noise">5.9.1.2. - Required Protection from Noise</a></li>
    <li><a hx-post="/content/807" title="Compliance with Applicable Standards">5.10.1.1. - Compliance with Applicable Standards</a></li>
    <li><a hx-post="/content/808" title="General">5.10.2.1. - General</a></li>
    <li><a hx-post="/content/809" title="Applicable Standards">5.10.2.2. - Applicable Standards</a></li>
    <li><a hx-post="/content/810" title="Structural Loads, Air Leakage and Water Penetration">5.10.2.3. - Structural Loads, Air Leakage and Water Penetration</a></li>
    <li><a hx-post="/content/811" title="Heat Transfer">5.10.2.4. - Heat Transfer</a></li>
    <li><a hx-post="/content/812" title="Applicable Standards">5.10.3.1. - Applicable Standards</a></li>

</ul>
    <p></p>





</div>