<div class="content three_quarter">
    <!-- ################################################################################################ -->


    <h1>
        Section 4 of the Ontario Building Code
    </h1>
    <p>
    </p><ul>
    <li><a hx-post="/content/656" title="Scope">4.1.1.1. - Scope</a></li>
    <li><a hx-post="/content/657" title="Reserved">4.1.1.2. - Reserved</a></li>
    <li><a hx-post="/content/658" title="Design Requirements">4.1.1.3. - Design Requirements</a></li>
    <li><a hx-post="/content/659" title="Design Basis">4.1.1.4. - Design Basis</a></li>
    <li><a hx-post="/content/660" title="Loads and Effects">4.1.2.1. - Loads and Effects</a></li>
    <li><a hx-post="/content/661" title="Loads Not Listed">4.1.2.2. - Loads Not Listed</a></li>
    <li><a hx-post="/content/662" title="Definitions">4.1.3.1. - Definitions</a></li>
    <li><a hx-post="/content/663" title="Strength and Stability">4.1.3.2. - Strength and Stability</a></li>
    <li><a hx-post="/content/664" title="Fatigue">4.1.3.3. - Fatigue</a></li>
    <li><a hx-post="/content/665" title="Serviceability">4.1.3.4. - Serviceability</a></li>
    <li><a hx-post="/content/666" title="Deflection">4.1.3.5. - Deflection</a></li>
    <li><a hx-post="/content/667" title="Vibration">4.1.3.6. - Vibration</a></li>
    <li><a hx-post="/content/668" title="Dead Loads">4.1.4.1. - Dead Loads</a></li>
    <li><a hx-post="/content/669" title="Loads Due to Use of Floors and Roofs">4.1.5.1. - Loads Due to Use of Floors and Roofs</a></li>
    <li><a hx-post="/content/670" title="Uses Not Stipulated">4.1.5.2. - Uses Not Stipulated</a></li>
    <li><a hx-post="/content/671" title="Full and Partial Loading">4.1.5.3. - Full and Partial Loading</a></li>
    <li><a hx-post="/content/672" title="Loads for Occupancy Served">4.1.5.4. - Loads for Occupancy Served</a></li>
    <li><a hx-post="/content/673" title="Loads on Exterior Areas">4.1.5.5. - Loads on Exterior Areas</a></li>
    <li><a hx-post="/content/674" title="Loads for Dining Areas">4.1.5.6. - Loads for Dining Areas</a></li>
    <li><a hx-post="/content/675" title="More Than One Occupancy">4.1.5.7. - More Than One Occupancy</a></li>
    <li><a hx-post="/content/676" title="Variation with Tributary Area">4.1.5.8. - Variation with Tributary Area</a></li>
    <li><a hx-post="/content/677" title="Concentrated Loads">4.1.5.9. - Concentrated Loads</a></li>
    <li><a hx-post="/content/678" title="Sway Forces in Assembly Occupancies">4.1.5.10. - Sway Forces in Assembly Occupancies</a></li>
    <li><a hx-post="/content/679" title="Crane-Supporting Structures and Impact of Machinery and Equipment">4.1.5.11. - Crane-Supporting Structures and Impact of Machinery and Equipment</a></li>
    <li><a hx-post="/content/680" title="Bleachers">4.1.5.12. - Bleachers</a></li>
    <li><a hx-post="/content/681" title="Helicopter Landing Areas">4.1.5.13. - Helicopter Landing Areas</a></li>
    <li><a hx-post="/content/682" title="Loads on Guards">4.1.5.14. - Loads on Guards</a></li>
    <li><a hx-post="/content/683" title="Loads on Vehicle Guardrails">4.1.5.15. - Loads on Vehicle Guardrails</a></li>
    <li><a hx-post="/content/684" title="Loads on Walls Acting As Guards">4.1.5.16. - Loads on Walls Acting As Guards</a></li>
    <li><a hx-post="/content/685" title="Firewalls">4.1.5.17. - Firewalls</a></li>
    <li><a hx-post="/content/686" title="Specified Load Due to Rain or to Snow and Associated Rain">4.1.6.1. - Specified Load Due to Rain or to Snow and Associated Rain</a></li>
    <li><a hx-post="/content/687" title="Specified Snow Load">4.1.6.2. - Specified Snow Load</a></li>
    <li><a hx-post="/content/688" title="Full and Partial Loading">4.1.6.3. - Full and Partial Loading</a></li>
    <li><a hx-post="/content/689" title="Specified Rain Load">4.1.6.4. - Specified Rain Load</a></li>
    <li><a hx-post="/content/690" title="Specified Wind Load">4.1.7.1. - Specified Wind Load</a></li>
    <li><a hx-post="/content/691" title="Dynamic Effects of Wind">4.1.7.2. - Dynamic Effects of Wind</a></li>
    <li><a hx-post="/content/692" title="Full and Partial Loading">4.1.7.3. - Full and Partial Loading</a></li>
    <li><a hx-post="/content/693" title="Interior Walls and Partitions">4.1.7.4. - Interior Walls and Partitions</a></li>
    <li><a hx-post="/content/694" title="Analysis">4.1.8.1. - Analysis</a></li>
    <li><a hx-post="/content/695" title="Notation">4.1.8.2. - Notation</a></li>
    <li><a hx-post="/content/696" title="General Requirements">4.1.8.3. - General Requirements</a></li>
    <li><a hx-post="/content/697" title="Site Properties">4.1.8.4. - Site Properties</a></li>
    <li><a hx-post="/content/698" title="Importance Factor">4.1.8.5. - Importance Factor</a></li>
    <li><a hx-post="/content/699" title="Structural Configuration">4.1.8.6. - Structural Configuration</a></li>
    <li><a hx-post="/content/700" title="Methods of Analysis">4.1.8.7. - Methods of Analysis</a></li>
    <li><a hx-post="/content/701" title="Direction of Loading">4.1.8.8. - Direction of Loading</a></li>
    <li><a hx-post="/content/702" title="SFRS Force Reduction Factors, System Overstrength Factors, and General Restrictions">4.1.8.9. - SFRS Force Reduction Factors, System Overstrength Factors, and General Restrictions</a></li>
    <li><a hx-post="/content/703" title="Additional System Restrictions">4.1.8.10. - Additional System Restrictions</a></li>
    <li><a hx-post="/content/704" title="Equivalent Static Force Procedure for Structures Satisfying the Conditions of Article 4.1.8.7.">4.1.8.11. - Equivalent Static Force Procedure for Structures Satisfying the Conditions of Article 4.1.8.7.</a></li>
    <li><a hx-post="/content/705" title="Dynamic Analysis Procedure">4.1.8.12. - Dynamic Analysis Procedure</a></li>
    <li><a hx-post="/content/706" title="Deflections and Drift Limits">4.1.8.13. - Deflections and Drift Limits</a></li>
    <li><a hx-post="/content/707" title="Structural Separation">4.1.8.14. - Structural Separation</a></li>
    <li><a hx-post="/content/708" title="Design Provisions">4.1.8.15. - Design Provisions</a></li>
    <li><a hx-post="/content/709" title="Foundation Provisions">4.1.8.16. - Foundation Provisions</a></li>
    <li><a hx-post="/content/710" title="Site Stability">4.1.8.17. - Site Stability</a></li>
    <li><a hx-post="/content/711" title="Elements of Structures, Non-structural Components and Equipment">4.1.8.18. - Elements of Structures, Non-structural Components and Equipment</a></li>
    <li><a hx-post="/content/712" title="Application">4.2.1.1. - Application</a></li>
    <li><a hx-post="/content/713" title="Subsurface Investigation">4.2.2.1. - Subsurface Investigation</a></li>
    <li><a hx-post="/content/714" title="Field Review">4.2.2.2. - Field Review</a></li>
    <li><a hx-post="/content/715" title="Altered Subsurface Condition">4.2.2.3. - Altered Subsurface Condition</a></li>
    <li><a hx-post="/content/716" title="Wood">4.2.3.1. - Wood</a></li>
    <li><a hx-post="/content/717" title="Preservation Treatment of Wood">4.2.3.2. - Preservation Treatment of Wood</a></li>
    <li><a hx-post="/content/718" title="Plain and Reinforced Masonry">4.2.3.3. - Plain and Reinforced Masonry</a></li>
    <li><a hx-post="/content/719" title="Prevention of Deterioration of Masonry">4.2.3.4. - Prevention of Deterioration of Masonry</a></li>
    <li><a hx-post="/content/720" title="Concrete">4.2.3.5. - Concrete</a></li>
    <li><a hx-post="/content/721" title="Protection Against Chemical Attack">4.2.3.6. - Protection Against Chemical Attack</a></li>
    <li><a hx-post="/content/722" title="Steel">4.2.3.7. - Steel</a></li>
    <li><a hx-post="/content/723" title="Steel Piles">4.2.3.8. - Steel Piles</a></li>
    <li><a hx-post="/content/724" title="High Strength Steel Tendons">4.2.3.9. - High Strength Steel Tendons</a></li>
    <li><a hx-post="/content/725" title="Corrosion of Steel">4.2.3.10. - Corrosion of Steel</a></li>
    <li><a hx-post="/content/726" title="Design Basis">4.2.4.1. - Design Basis</a></li>
    <li><a hx-post="/content/727" title="Subsurface Investigation">4.2.4.2. - Subsurface Investigation</a></li>
    <li><a hx-post="/content/728" title="Identification">4.2.4.3. - Identification</a></li>
    <li><a hx-post="/content/729" title="Depth of Foundations">4.2.4.4. - Depth of Foundations</a></li>
    <li><a hx-post="/content/730" title="Sloping Ground">4.2.4.5. - Sloping Ground</a></li>
    <li><a hx-post="/content/731" title="Eccentric and Inclined Loads">4.2.4.6. - Eccentric and Inclined Loads</a></li>
    <li><a hx-post="/content/732" title="Dynamic Loading">4.2.4.7. - Dynamic Loading</a></li>
    <li><a hx-post="/content/733" title="Hydrostatic Uplift">4.2.4.8. - Hydrostatic Uplift</a></li>
    <li><a hx-post="/content/734" title="Groundwater Level Change">4.2.4.9. - Groundwater Level Change</a></li>
    <li><a hx-post="/content/735" title="Permafrost">4.2.4.10. - Permafrost</a></li>
    <li><a hx-post="/content/736" title="Swelling and Shrinking Soils">4.2.4.11. - Swelling and Shrinking Soils</a></li>
    <li><a hx-post="/content/737" title="Expanding and Deteriorating Rock">4.2.4.12. - Expanding and Deteriorating Rock</a></li>
    <li><a hx-post="/content/738" title="Construction on Fill">4.2.4.13. - Construction on Fill</a></li>
    <li><a hx-post="/content/739" title="Structural Design">4.2.4.14. - Structural Design</a></li>
    <li><a hx-post="/content/740" title="Design of Excavations">4.2.5.1. - Design of Excavations</a></li>
    <li><a hx-post="/content/741" title="Excavation Construction">4.2.5.2. - Excavation Construction</a></li>
    <li><a hx-post="/content/742" title="Supported Excavations">4.2.5.3. - Supported Excavations</a></li>
    <li><a hx-post="/content/743" title="Unsupported Excavations">4.2.5.4. - Unsupported Excavations</a></li>
    <li><a hx-post="/content/744" title="Control of Water Around Excavations">4.2.5.5. - Control of Water Around Excavations</a></li>
    <li><a hx-post="/content/745" title="Loss of Ground">4.2.5.6. - Loss of Ground</a></li>
    <li><a hx-post="/content/746" title="Protection and Maintenance at Excavations">4.2.5.7. - Protection and Maintenance at Excavations</a></li>
    <li><a hx-post="/content/747" title="Backfilling">4.2.5.8. - Backfilling</a></li>
    <li><a hx-post="/content/748" title="Design of Shallow Foundations">4.2.6.1. - Design of Shallow Foundations</a></li>
    <li><a hx-post="/content/749" title="Support of Shallow Foundations">4.2.6.2. - Support of Shallow Foundations</a></li>
    <li><a hx-post="/content/750" title="Incorrect Placement of Shallow Foundations">4.2.6.3. - Incorrect Placement of Shallow Foundations</a></li>
    <li><a hx-post="/content/751" title="Damaged Shallow Foundations">4.2.6.4. - Damaged Shallow Foundations</a></li>
    <li><a hx-post="/content/752" title="General">4.2.7.1. - General</a></li>
    <li><a hx-post="/content/753" title="Design for Deep Foundations">4.2.7.2. - Design for Deep Foundations</a></li>
    <li><a hx-post="/content/754" title="Tolerance in Alignment and Location">4.2.7.3. - Tolerance in Alignment and Location</a></li>
    <li><a hx-post="/content/755" title="Incorrect Alignment and Location">4.2.7.4. - Incorrect Alignment and Location</a></li>
    <li><a hx-post="/content/756" title="Installation of Deep Foundations">4.2.7.5. - Installation of Deep Foundations</a></li>
    <li><a hx-post="/content/757" title="Damaged Deep Foundation Units">4.2.7.6. - Damaged Deep Foundation Units</a></li>
    <li><a hx-post="/content/758" title="General">4.2.8.1. - General</a></li>
    <li><a hx-post="/content/759" title="Use of Existing Foundations">4.2.8.2. - Use of Existing Foundations</a></li>
    <li><a hx-post="/content/760" title="Design Basis for Wood">4.3.1.1. - Design Basis for Wood</a></li>
    <li><a hx-post="/content/761" title="Glue-Laminated Members">4.3.1.2. - Glue-Laminated Members</a></li>
    <li><a hx-post="/content/762" title="Termites">4.3.1.3. - Termites</a></li>
    <li><a hx-post="/content/763" title="Design Basis for Plain and Reinforced Masonry">4.3.2.1. - Design Basis for Plain and Reinforced Masonry</a></li>
    <li><a hx-post="/content/764" title="Design Basis for Plain, Reinforced and Prestressed Concrete">4.3.3.1. - Design Basis for Plain, Reinforced and Prestressed Concrete</a></li>
    <li><a hx-post="/content/765" title="Design Basis for Structural Steel">4.3.4.1. - Design Basis for Structural Steel</a></li>
    <li><a hx-post="/content/766" title="Design Basis for Cold Formed Steel">4.3.4.2. - Design Basis for Cold Formed Steel</a></li>
    <li><a hx-post="/content/767" title="Steel Building Systems">4.3.4.3. - Steel Building Systems</a></li>
    <li><a hx-post="/content/768" title="Design Basis for Aluminium">4.3.5.1. - Design Basis for Aluminium</a></li>
    <li><a hx-post="/content/769" title="Design Basis for Glass">4.3.6.1. - Design Basis for Glass</a></li>
    <li><a hx-post="/content/770" title="Design Basis for Air-Supported Structures">4.4.1.1. - Design Basis for Air-Supported Structures</a></li>
    <li><a hx-post="/content/771" title="Design Basis for Parking Structures">4.4.2.1. - Design Basis for Parking Structures</a></li>
    <li><a hx-post="/content/772" title="Guards over Retaining Walls">4.4.3.1. - Guards over Retaining Walls</a></li>
    <li><a hx-post="/content/773" title="Anchor Systems on Building Exterior">4.4.4.1. - Anchor Systems on Building Exterior</a></li>
    <li><a hx-post="/content/774" title="Liquid Manure Storage Tanks">4.4.5.1. - Liquid Manure Storage Tanks</a></li>

</ul>
    <p></p>





</div>