<div class="content three_quarter">
    <!-- ################################################################################################ -->


    <h1>
        section 10 of the Ontario Building Code
    </h1>
    <p>
    </p><ul>
    <li><a hx-post="/content/2219" title="Scope">10.1.1.1. - Scope</a></li>
    <li><a hx-post="/content/2220" title="Change in Major Occupancy">10.1.1.2. - Change in Major Occupancy</a></li>
    <li><a hx-post="/content/2221" title="Classification of Major Occupancy">10.2.1.1. - Classification of Major Occupancy</a></li>
    <li><a hx-post="/content/2222" title="Classification According to Construction and Occupancy">10.2.1.2. - Classification According to Construction and Occupancy</a></li>
    <li><a hx-post="/content/2223" title="Building Size and Construction">10.2.1.3. - Building Size and Construction</a></li>
    <li><a hx-post="/content/2224" title="General">10.3.1.1. - General</a></li>
    <li><a hx-post="/content/2225" title="General">10.3.2.1. - General</a></li>
    <li><a hx-post="/content/2226" title="Reduction in Performance Level">10.3.2.2. - Reduction in Performance Level</a></li>
    <li><a hx-post="/content/2227" title="Substitution">10.4.1.1. - Substitution</a></li>
</ul>
    <p></p>





</div>