<%- include('_partial/_header') -%>
<style>
.bg{background-image: linear-gradient(-60deg, rgb(0, 0, 0) 50%, rgb(255, 0, 0) 50%);}
p{
    color:#9f2020;
    margin: 0px;
}
</style>
<h1>Oops!<br>Page Not Found<br><p>404</p></h1> 
<%- include('_partial/_footer') -%> 