<%- include('_partial/_header') -%>
<style>
.bg{background-image: linear-gradient(-60deg, rgb(0, 0, 0) 50%, rgb(255, 0, 0) 50%);}
</style>
<h1>Oops! <span>404</span><br>Page Not Found</h1>
<%- include('_partial/_footer') -%>