</div>
<footer style="font-family: 'Kanit', sans-serif;
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Ubuntu', sans-serif; color: rgb(180, 179, 179); font-size: 20px;font-weight: bolder;">
Capstone Project | Group 17
</footer>
</body>

</html>
