
<span>If you see this page then you have successfully bypassed the WAF/or developed are foolish to disable it.</span>
</div>
<footer>
This is part of capsone project demonstration, Group 17;
</footer>
</body>

</html>
