<!DOCTYPE html>
<html>
<head>
    <title>CyberV</title>
    <!--credit for animation background: Sliding Diagonals Background Effect; Chris Smith; https://codepen.io/chris22smith/pen/RZogMa-->
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
    <script>
    </script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700&family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

        html {
            height: 100%;
        }

        body {
            margin: 0;
        }

        .bg {
            animation: slide 7s ease-in-out infinite alternate;
            background-image: linear-gradient(-60deg, rgb(0, 0, 0) 50%, rgb(123, 0, 255) 50%);
            bottom: 0;
            left: -50%;
            opacity: .5;
            position: fixed;
            right: -50%;
            top: 0;
            z-index: -1;
        }

        .bg2 {
            animation-direction: alternate-reverse;
            animation-duration: 7.5s;
        }

        .bg3 {
            animation-duration: 8s;
        }

        .content{ 
            padding: 2vmin;
            overflow: hidden;
            text-align: center;
            position: fixed;
            color: rgb(255, 255, 255);
            transform: translate(55%);
            min-height: 40%;
            height: fit-content;
            width: 40%;
            left: 50%;
            top: 50%;
            background: rgba(255, 255, 255, 0.1);
            border-radius: .25em;
            box-shadow: 0 5px 40px rgba(255, 255, 255, 0.1);
            box-sizing: border-box;
            border-right: 1px solid rgba(255, 255, 255, 0.2);
            border-left: 1px solid rgba(255, 255, 255, 0.2);
            z-index: 10;
            backdrop-filter: blur(13px);
            font-family: 'Recursive', sans-serif;     
            transform: translate(-50%, -50%);      
            display: flex;
            flex-direction: column;
            align-items:center;
        justify-content:center;
            font-size: 2em;
        }
        h1 {
            font-family: 'Recursive', sans-serif;
            font-size: 2.3em;
            font-weight: 500;
            margin: 0.3em;
        }

        span {
            font-family: 'Roboto Slab', serif;
            font-size: 0.4em;
            color: blue;
        }

        @keyframes slide {
            0% {
                transform: translateX(-25%);
            }

            100% {
                transform: translateX(25%);
            }
        }

        footer {
            width: 100%;
            height: 5vh;
            color: antiquewhite;
            position: absolute;
            bottom: 0px;
            left: 0px;
            text-align: center;
            font-size: 1.5em;
            position: absolute;
        }
        .logo{
            text-align: left;
            padding-left: 29px;
            font-size: 1.7em;
            font-family: 'Kanit', sans-serif;
            font-family: 'Noto Sans JP', sans-serif;
            color: aliceblue;
        }
    </style>
</head>

<body>

    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <div class="logo">
        <h3>CyberV</h3>
    </div>
    <div class="content">
